<template>
  <div id="reporteMovimientos" class="card">   
     <title-bar :title="title" :subtitle="subtitle"></title-bar>  
      <div class="card-body" >
    
           <div class="col-md-4" style="height:600px;">
                     
             <div class="col-md-12">
                 <label>Sucursal</label>
                  <select class="form-control" v-model="sucursal">
                   <option value="">Selecciona</option>
                  <option v-for="option in sucursales" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>                 
             </div>
              <div class="col-md-12">
                 <label>Departamento</label>
                  <select class="form-control" v-model="departamento" @change="getCategorias">
                   <option value="">Todos</option>
                  <option v-for="option in departamentos" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>                 
             </div>
             <div class="col-md-12">
                 <label>Categoria</label>
                  <select class="form-control" v-model="categoria" @change="getArticulos"> 
                   <option value="">Todos</option>
                  <option v-for="option in categorias" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>                 
             </div>
              <div class="col-md-12">
                 <label>Articulos</label>
                  <select class="form-control" v-model="articulo">
                   <option value="">Todos</option>
                  <option v-for="option in articulos" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>                 
             </div>
              <div class="col-md-6">
                 <label>Fecha De Inicio</label>
                 <input type="date" class="form-control" v-model="fechaInicio">
                <!--  <datepicker  v-model="fechaInicio" :format="customFormatter"  :language="es" :bootstrap-styling="true"></datepicker> -->
             </div>
             <div class="col-md-6">
                 <label>Fecha Fin</label>
                 <input type="date" class="form-control" v-model="fechaFin">
               <!--   <datepicker   v-model="fechaFin" :format="customFormatter"   :language="es" :bootstrap-styling="true"></datepicker> -->
             </div>
           

            <div class="col-md-12">
            
              <label>Exportar Reporte</label>
              <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
											<a class="btn btn-default"  @click="generaReporte(1)" role="button"><i class="bi bi-box-arrow-in-down"></i> PDF</a>
											<a class="btn btn-default"  @click="generaReporte(2)" role="button"><i class="bi bi-box-arrow-in-down"></i> XLS</a>
				<!-- 							<a class="btn btn-default-bright"  @click="generaReporte" role="button"></a> -->
							</div>
               
              
            </div> 
              
            
           </div>
           <div class="col-md-8" style="height:600px;">
               <iframe :src="url" allowfullscreen></iframe>
           </div>
           
      </div>      
  </div>
</template>
<script>
import axios from 'axios'
import moment from 'moment'
import global from '../../globals'
import Datepicker from 'vuejs-datepicker';
import titleBar from '../../components/titleBar'
import {en, es} from 'vuejs-datepicker/dist/locale'
import Vue from 'vue'
export default {
  name: 'reporteCortes',
  data () {
    return {      
        sucursal: '',  
        categoria:'',
        articulo: '',
        departamento:'',   
        sucursales: [], 
        departamentos: [],  
        categorias:[],
        articulos:[],
        fechaInicio: new Date(),
        fechaFin: new Date(),
        es: es,    
        url: '',
        title:'Reporte Movimiento de articulos',
        subtitle:'Reportes'      
    }
  },
  mounted () {
    this.getSucursales()  
    this.getDepartamentos()
  },
  components:{
    titleBar
  },
  methods: {      
    getSucursales() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
    },  
    getDepartamentos(){
        axios.get('/Departamento/GetDepartamento').then((res) => {        
        this.departamentos = res.data.GetDepartamentoResult
      })
    },   
    getCategorias () {
      let vm = this
      axios.get(`/Categoria/GetCategoria?departamentoId=${(this.departamento) ? this.departamento: 0 }&nombre=`).then((res) => {    
       vm.categorias =  res.data.GetCategoriaResult
      })
    },
    getArticulos () {
    let vm = this
      axios.get(`/Articulo/GetArticulo?upc=&nombre=&departamentoId=${(this.departamento)? this.departamento: 0 }&categoriaId=${(this.categoria)?this.categoria:0 }`).then((res) => {
       vm.articulos =  res.data.GetArticuloResult;
      })
    },
    generaReporte (tipo) {
       
       if(!this.sucursal){
          this.$snotify.error('Selecciona una sucursal ', '¡Atención!') 
          return
       }

       let params ={
           articuloId: (this.articulo) ? this.articulo:0,
           departamentoId : (this.departamento) ? this.departamento:0,
           categoriaId: (this.categoria) ? this.categoria:0,
           sucursalId: (this.sucursal) ?this.sucursal:0,
           fechaInicio:moment(this.fechaInicio).format('YYYY-MM-DD').replace('-','').replace('-','') ,
           tipoDescarga : tipo,         
           fechaFin:moment(this.fechaFin).format('YYYY-MM-DD').replace('-','').replace('-',''),
         
        }

       
          axios.post('/Reportes/GetReporteMovimientosArticuloResumen', params).then((res) => {

              if(tipo == 1){
                  this.url = global.URL_REPORTS + res.data.GetReporteMovimientosArticuloResumenResult
              }else{
                window.open(global.URL_REPORTS + res.data.GetReporteMovimientosArticuloResumenResult, '_self');
              }

           // this.url = global.URL_REPORTS + res.data.GetReporteMovimientosArticuloResumenResult
        }) 
       


           

        
  } 
}
}
</script>
<style scoped>
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 550px;
    border: 0;
}
</style>


