<template>
  <div id="reporteCortes" class="card"> 
     <title-bar :title="title" :subtitle="subtitle"></title-bar>     
      <div class="card-body">
          <div class="col-md-12">

           <div class="col-md-4" style="height:600px;" >   
            
             <div class="row">
                  <h5>Selecciona Rango de Fecha</h5>
             <div class="col-md-6">
                 <label>Fecha De Inicio</label>
                 <input type="date" v-model="fechaInicio" class="form-control input-sm">
                <!--  <datepicker  v-model="fechaInicio" :format="customFormatter"  :language="es" :bootstrap-styling="true"></datepicker> -->
             </div>
             <div class="col-md-6">
                 <label>Fecha Fin</label>
                <input type="date" v-model="fechaFin" class="form-control input-sm">
             </div>
             </div>
            <br>
             <div class="row">             
              
             <div class="col-md-12" >
                 <label>Sucursal</label>
                  <select class="form-control" v-model="sucursal" @change="getUsuarios()">
                   <option value="">--Todos--</option>
                  <option v-for="option in sucursales" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
                 
             </div>
            
            
            
           


             </div>
           <hr>
             <div class="row">

                 <div class="col-md-12">
            
              <label>Exportar Reporte</label>
              <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
											<a class="btn btn-default"  @click="generaReporte(1)" role="button"><i class="bi bi-box-arrow-in-down"></i> PDF</a>
											<a class="btn btn-default"  @click="generaReporte(2)" role="button"><i class="bi bi-box-arrow-in-down"></i> XLS</a>
				<!-- 							<a class="btn btn-default-bright"  @click="generaReporte" role="button"></a> -->
										</div>
               
              
            </div> 
               
             </div>


            
                       
            
           </div>
           <div class="col-md-8" style="height:600px;">
               <iframe :src="url" allowfullscreen></iframe>
           </div>
           </div>
      </div>      
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import {en, es} from 'vuejs-datepicker/dist/locale'
import global from '../../globals'
import titleBar from '../../components/titleBar'
import Vue from 'vue'
export default {
  name: 'reporteCortes',
  data () {
    return {
        fechaInicio: new Date(),
        fechaFin: new Date(),
        es: es,
        sucursal: '',
        cajero:'',
        sucursales: [],        
        url: '',
        tipo:1,
        title:'Reporte de Facturas',
        subtitle:'Reportes'
    }
  },
  mounted () {
    this.getSucursales()
  
   
  },
  methods: {
    customFormatter(date) {     
      return  moment(date).format('L')
    },
    getUsuarios () {
      let vm = this
       let sucursal = (this.sucursal) ? this.sucursal:0
       axios.get('/usuario/GetUsuario?sucursalId='+sucursal +'&tipoUsuarioId=0&login=&email=&usuarioId='+Vue.localStorage.get('USER_ID')).then( (res) => {
       vm.cajeros = res.data.GetUsuarioResult
      })    
    },
     getSucursales() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
     },    
    generaReporte (tipo) {

      let vm = this;
 

        let params ={
          tipoDescarga: vm.tipo,
          fechaInicio:moment(this.fechaInicio).format('YYYY-MM-DD').replace('-','').replace('-',''),
          fechaFin: moment(this.fechaFin).format('YYYY-MM-DD').replace('-','').replace('-',''),
          sucursalId:(vm.sucursal)? vm.sucursal:0,         
          status:'',
          usuarioId:Vue.localStorage.get('USER_ID')
        }
        axios.post('/Reportes/GetReporteFacturas', params).then((res) => {

            if(tipo == 1){
                  this.url = global.URL_REPORTS + res.data.GetReporteFacturasResult
              }else{
                window.open(global.URL_REPORTS + res.data.GetReporteFacturasResult, '_self');
              }
              
          })  
     
      }
    
  },
  components: {
    Datepicker,
    titleBar
  }
}
</script>
<style scoped>
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 550px;
    border: 0;
}
</style>

