<template>
  <div id="reporteCortes" class="card"> 
     <title-bar :title="title" :subtitle="subtitle"></title-bar>     
      <div class="card-body">
          <div class="col-md-12">

           <div class="col-md-4" style="height:600px;" >   
            
            
             <div class="row">       
                <div class="col-md-12"  >
                 <label>columnas</label>
                  <select class="form-control input-sm" v-model="columnas" >
                   <option value="1">1 columna</option>
                    <option value="2">2 columnas</option>
                    <option value="3">3 columnas</option>
                    <option value="4">4 columnas</option>
                 
                </select>                 
             </div>      
              <div class="col-md-12"  >
                 <label>Departamento</label>
                  <select class="form-control input-sm" v-model="departamento" @change="getCategorias">
                   <option value="">Todos</option>
                  <option v-for="option in departamentos" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>                 
             </div>
             <div class="col-md-12">
                 <label>Categoria</label>
                  <select class="form-control input-sm" v-model="categoria" @change="getArticulos"> 
                   <option value="">Todos</option>
                  <option v-for="option in categorias" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>                 
             </div>
              <div class="col-md-12" >
                 <label>Articulos</label>
                 <div class="col-md-12" style="overflow-y:scroll; max-height:100px;">
                 <table class="table">
                  <tr v-for="(option,index) in articulos"  :key="option.id">
                   
                    <td>{{option.nombre}}</td>
                     <td><button class="btn btn-xs btn-success" @click="add(option)"><i class="bi bi-plus-lg"></i> Agregar</button></td>
                   </tr>
                 </table>
                 </div>
             </div>
             <div class="col-md-12" >
                 <label>Articulos a Imprimir</label>
                 <div class="col-md-12" style="overflow-y:scroll; max-height:100px;">
                 <table class="table">
                  <tr v-for="option in selected"  :key="option.id">
                   
                    <td>{{option.nombre}}</td>
                     <td><button class="btn btn-xs btn-danger" @click="delete_item(index)">QUITAR</button></td>
                   </tr>
                 </table>
                 </div>
             </div>


             </div>
           <hr>
             <div class="row">

                 <div class="col-md-12">
            
              <label>Exportar Reporte</label>
              <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
											<a class="btn btn-default"  @click="generaReporte(1)" role="button"><i class="bi bi-box-arrow-in-down"></i> PDF</a>
										
				<!-- 							<a class="btn btn-default-bright"  @click="generaReporte" role="button"></a> -->
										</div>
               
              
            </div> 
               
             </div>


            
                       
            
           </div>
           <div class="col-md-8" style="height:600px;">
               <iframe :src="url" allowfullscreen></iframe>
           </div>
           </div>
      </div>      
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import {en, es} from 'vuejs-datepicker/dist/locale'
import global from '../../globals'
import titleBar from '../../components/titleBar'
import Vue from 'vue'

export default {
  name: 'reporteCortes',
  data () {
    return {
        fechaInicio: new Date(),
        fechaFin: new Date(),
        es: es,
        sucursal: '',
        cajero:'',
        sucursales: [],
        cajeros: [],
         departamentos: [],  
        categorias:[],
        articulos:[],
        selected:[],
          departamento:'',
        categoria:'',
        articulo:'',
        url: '',
        tipo:1,
        columnas:1,
        title:'Reporte de Artículos',
        subtitle:'Reportes'
    }
  },
  mounted () {
    this.getSucursales()
    this.getDepartamentos()
   
  },
  methods: {
    delete_item(index){
      this.selected.splice(index, 1);
    },
    add(item){
      this.selected.push(item)
    },
    customFormatter(date) {     
      return  moment(date).format('L')
    },
    getUsuarios () {
      let vm = this
       let sucursal = (this.sucursal) ? this.sucursal:0
       axios.get('/usuario/GetUsuario?sucursalId='+sucursal +'&tipoUsuarioId=0&login=&email=&usuarioId='+Vue.localStorage.get('USER_ID')).then( (res) => {
       vm.cajeros = res.data.GetUsuarioResult
      })    
    },
     getSucursales() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
     },  
      getDepartamentos(){
        axios.get('/Departamento/GetDepartamento').then((res) => {        
        this.departamentos = res.data.GetDepartamentoResult
      })
    },   
    getCategorias () {
      let vm = this
      axios.get(`/Categoria/GetCategoria?departamentoId=${(this.departamento) ? this.departamento: 0 }&nombre=`).then((res) => {    
       vm.categorias =  res.data.GetCategoriaResult
      })
    },
    getArticulos () {
    let vm = this
      axios.get(`/Articulo/GetArticulo?upc=&nombre=&departamentoId=${(this.departamento)? this.departamento: 0 }&categoriaId=${(this.categoria)?this.categoria:0 }`).then((res) => {
       vm.articulos =  res.data.GetArticuloResult;
      })
    },

    
    generaReporte (tipo) {

      let vm = this;
      
        axios.post('/Reportes/GetReporteArticulos',{ articulos:this.selected,op:this.columnas}).then((res) => {
           this.url = global.URL_REPORTS + res.data.GetReporteArticulosResult
            /* if(tipo == 1){
                  this.url = global.URL_REPORTS + res.data.GetCortesResult
              }else{
                window.open(global.URL_REPORTS + res.data.GetCortesResult, '_self');
              } */
              
          }) 

      }
      
     
      
    
  },
  components: {
    Datepicker,
    titleBar
    
  }
}
    
</script>
<style scoped>
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 550px;
    border: 0;
}
</style>

