<template>
  <div id="reporteCortes" class="card"> 
     <title-bar :title="title" :subtitle="subtitle"></title-bar>     
      <div class="card-body">
          <div class="col-md-12">

           <div class="col-md-4" style="height:600px;" >   
            
             <div class="row">
                  <h5>Selecciona Rango de Fecha</h5>
             <div class="col-md-6">
                 <label>Fecha De Inicio</label>
                 <input type="date" v-model="fechaInicio" class="form-control input-sm">
                <!--  <datepicker  v-model="fechaInicio" :format="customFormatter"  :language="es" :bootstrap-styling="true"></datepicker> -->
             </div>
             <div class="col-md-6">
                 <label>Fecha Fin</label>
                <input type="date" v-model="fechaFin" class="form-control input-sm">
             </div>
             </div>
            <br>
             <div class="row">


                <div class="col-md-12"><b>Selecciona una Opcion:</b></div>
              <div class="col-md-12">
                
                                  <label class="radio-inline radio-styled radio-primary"> 
                    <input type="radio" name="tipo" v-model="tipo" value="1" checked="" ><span>Reporte por sucursal</span> </label>         
                                 
             </div>
               <div class="col-md-12">   
                  <label class="radio-inline radio-styled radio-primary"> 
                    <input type="radio" name="tipo" v-model="tipo" value="2" checked="" ><span>Reporte por usuario</span> </label>              
             </div> 
            
              <div class="col-md-12">   
                  <label class="radio-inline radio-styled radio-primary"> 
                    <input type="radio" name="tipo" v-model="tipo" value="3" checked="" ><span>Reporte por artículo</span> </label>              
             </div>
              
             <div class="col-md-12" >
                 <label>Sucursal</label>
                  <select class="form-control" v-model="sucursal" @change="getUsuarios()">
                   <option value="">--Todos--</option>
                  <option v-for="option in sucursales" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
                 
             </div>
             <div class="col-md-12" v-if="tipo==2">
                 <label>Usuarios</label>
                  <select class="form-control" v-model="cajero">
                   <option value="">--Todos--</option>
                  <option v-for="option in cajeros" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
                 <br>
             </div>
              <div class="col-md-12"  v-if="tipo==3">
                 <label>Departamento</label>
                  <select class="form-control input-sm" v-model="departamento" @change="getCategorias">
                   <option value="">Todos</option>
                  <option v-for="option in departamentos" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>                 
             </div>            
             <div class="col-md-12" v-if="tipo==3">
                 <label>Categoria</label>
                  <select class="form-control input-sm" v-model="categoria" @change="getArticulos"> 
                   <option value="">Todos</option>
                  <option v-for="option in categorias" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>                 
             </div>
              <div class="col-md-12" v-if="tipo==3">
                 <label>Articulos</label>
                  <select class="form-control input-sm" v-model="articulo">
                   <option value="">Todos</option>
                  <option v-for="option in articulos" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>                 
             </div>


             </div>
           <hr>
             <div class="row">

                 <div class="col-md-12">
            
              <label>Exportar Reporte</label>
              <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
											<a class="btn btn-default"  @click="generaReporte(1)" role="button"><i class="bi bi-box-arrow-in-down"></i> PDF</a>
											<a class="btn btn-default"  @click="generaReporte(2)" role="button"><i class="bi bi-box-arrow-in-down"></i> XLS</a>
				<!-- 							<a class="btn btn-default-bright"  @click="generaReporte" role="button"></a> -->
										</div>
               
              
            </div> 
               
             </div>


            
                       
            
           </div>
           <div class="col-md-8" style="height:600px;">
               <iframe :src="url" allowfullscreen></iframe>
           </div>
           </div>
      </div>      
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import {en, es} from 'vuejs-datepicker/dist/locale'
import global from '../../globals'
import titleBar from '../../components/titleBar'
import Vue from 'vue'
export default {
  name: 'reporteCortes',
  data () {
    return {
        fechaInicio: new Date(),
        fechaFin: new Date(),
        es: es,
        sucursal: '',
        cajero:'',
        vendedorId:'',
        sucursales: [],
        vendedores:[],
        cajeros: [],
         departamentos: [],  
        categorias:[],
        articulos:[],
          departamento:'',
        categoria:'',
        articulo:'',
        url: '',
        tipo:1,
        title:'Cortes de ventas',
        subtitle:'Reportes'
    }
  },
  mounted () {
    this.getSucursales()
    this.getDepartamentos()
    this.obtenVendedores()
   
  },
  methods: {
    customFormatter(date) {     
      return  moment(date).format('L')
    },
     obtenVendedores(){
         axios.post('/Vendedor/GetVendedor',{op:0}).then((res) => {      
             this.vendedores= res.data.GetVendedorResult
         })
      },  
    getUsuarios () {
      let vm = this
       let sucursal = (this.sucursal) ? this.sucursal:0
       axios.get('/usuario/GetUsuario?sucursalId='+sucursal +'&tipoUsuarioId=0&login=&email=&usuarioId='+Vue.localStorage.get('USER_ID')).then( (res) => {
       vm.cajeros = res.data.GetUsuarioResult
      })    
    },
     getSucursales() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
     },  
      getDepartamentos(){
        axios.get('/Departamento/GetDepartamento').then((res) => {        
        this.departamentos = res.data.GetDepartamentoResult
      })
    },   
    getCategorias () {
      let vm = this
      axios.get(`/Categoria/GetCategoria?departamentoId=${(this.departamento) ? this.departamento: 0 }&nombre=`).then((res) => {    
       vm.categorias =  res.data.GetCategoriaResult
      })
    },
    getArticulos () {
    let vm = this
      axios.get(`/Articulo/GetArticulo?upc=&nombre=&departamentoId=${(this.departamento)? this.departamento: 0 }&categoriaId=${(this.categoria)?this.categoria:0 }`).then((res) => {
       vm.articulos =  res.data.GetArticuloResult;
      })
    },

    
    generaReporte (tipo) {

      let vm = this;
      if (vm.tipo == 1 || vm.tipo == 2 ){

        let params ={
          tipo: vm.tipo,
          fechaInicio:moment(this.fechaInicio).format('YYYY-MM-DD').replace('-','').replace('-',''),
          fechaFin: moment(this.fechaFin).format('YYYY-MM-DD').replace('-','').replace('-',''),
          sucursalId:(vm.sucursal)? vm.sucursal:0,
          usuarioId: (this.cajero) ? vm.cajero:0,
          tipoDescarga : tipo,
          usuario:Vue.localStorage.get('USER_ID')
        }
        axios.post('/Reportes/GetCortes', params).then((res) => {

            if(tipo == 1){
                  this.url = global.URL_REPORTS + res.data.GetCortesResult
              }else{
                window.open(global.URL_REPORTS + res.data.GetCortesResult, '_self');
              }
              
          }) 

      }
      if (vm.tipo == 3){


        let params = {
            fechaInicio:moment(this.fechaInicio).format('YYYY-MM-DD').replace('-','').replace('-',''),
            fechaFin: moment(this.fechaFin).format('YYYY-MM-DD').replace('-','').replace('-',''),
            usuario: Vue.localStorage.get('USER_ID'),
            sucursalId: (vm.sucursal)? vm.sucursal:0,
            departamentoId: (this.departamento)? this.departamento:0,
            categoriaId: (this.categoria)?this.categoria:0,
            articuloId: (this.articulo)? this.articulo:0,
            orden:this.orden,
            tipoDescarga: tipo,
            detalle: true
        }
        axios.post('/Reportes/GetReporteVentasByCajero', params).then((res) => {
            this.url = global.URL_REPORTS + res.data.GetReporteVentasByCajeroResult

            if(tipo == 1){
                  this.url = global.URL_REPORTS + res.data.GetReporteVentasByCajeroResult
              }else{
                window.open(global.URL_REPORTS + res.data.GetReporteVentasByCajeroResult, '_self');
              }
              
        })

      }
    
     
     
      }
    
  },
  components: {
    Datepicker,
    titleBar
  }
}
</script>
<style scoped>
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 550px;
    border: 0;
}
</style>

