<template>
  <div id="reporteCortes" class="card"> 
     <title-bar :title="title" :subtitle="subtitle"></title-bar>     
      <div class="card-body">
<div class="col-md-4">

  <div class="col-md-12" >
                 <label>Sucursal</label>
                  <select class="form-control" v-model="sucursal">
                   <option value="">--Todos--</option>
                  <option v-for="option in sucursales" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
                 
             </div>

<div class="col-md-12">
<label>Vendedor</label>
<select class="form-control" v-model="vendedorId"  name="vendedor" :class="(errors.has('vendedor')) ? 'is-invalid':'is-valid'">
<option value="">Selecciona</option>
<option v-for="option in vendedores" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
</select>
</div>

             <div class="col-md-12">
                  <h5>Selecciona Rango de Fecha</h5>
             <div class="col-md-6">
                 <label>Fecha De Inicio</label>
                 <input type="date" v-model="fechaInicio" class="form-control input-sm">
                <!--  <datepicker  v-model="fechaInicio" :format="customFormatter"  :language="es" :bootstrap-styling="true"></datepicker> -->
             </div>
             <div class="col-md-6">
                 <label>Fecha Fin</label>
                <input type="date" v-model="fechaFin" class="form-control input-sm">
             </div>
             </div>
<div class="col-md-12">
<br>
<br>
<label>Exportar Reporte</label>
<div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
<a class="btn btn-default"  @click="generaReporte(1)" role="button"><i class="bi bi-box-arrow-in-down"></i> PDF</a>
<a class="btn btn-default"  @click="generaReporte(2)" role="button"><i class="bi bi-box-arrow-in-down"></i> XLS</a>
<!-- 							<a class="btn btn-default-bright"  @click="generaReporte" role="button"></a> -->
</div>


</div> 
               
             </div>


            
                       
            
           
           <div class="col-md-8" style="height:600px;">
               <iframe :src="url" allowfullscreen></iframe>
           </div>
           </div>
      </div>      
  
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import {en, es} from 'vuejs-datepicker/dist/locale'
import global from '../../globals'
import titleBar from '../../components/titleBar'
import Vue from 'vue'
export default {
  name: 'reporteCortes',
  data () {
    return {        
        es: es,
        sucursal: '',
        vendedorId:'',   
        vendedores: [],
        url: '',        
        title:'Reporte de Ventas/Comisiones',
        subtitle:'Reportes',
        fechaInicio: new Date(),
        fechaFin: new Date(),
    }
  },
  mounted () {
    this.GetVendedores()
    this.getSucursales()   
  },
  methods: {
    getSucursales() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
     },  
     GetVendedores (){
      axios.post("/Vendedor/GetVendedor",{op:0}).then((res) => {
        
        this.vendedores = res.data.GetVendedorResult        
      })
    },
    generaReporte (tipo) {

        let params = {
            fechaInicio:moment(this.fechaInicio).format('YYYY-MM-DD').replace('-','').replace('-',''),
            fechaFin: moment(this.fechaFin).format('YYYY-MM-DD').replace('-','').replace('-',''),
            sucursalId: (this.sucursal)? this.sucursal:0,
            vendedorId: (this.vendedorId) ? this.vendedorId: 0,
            tipoventa: 0,
            status:0,           
            tipoDescarga: tipo,
            
        }
        axios.post('/Reportes/GetReporteCortesVendor', params).then((res) => {
            this.url = global.URL_REPORTS + res.data.GetReporteCortesVendorResult

            if(tipo == 1){
                  this.url = global.URL_REPORTS + res.data.GetReporteCortesVendorResult
              }else{
                window.open(global.URL_REPORTS + res.data.GetReporteCortesVendorResult, '_self');
              }
              
        })
      
    }
  },
  components: {
    Datepicker,
    titleBar
  }
}
</script>
<style scoped>
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 550px;
    border: 0;
}
</style>

