<template>
  <div id="reporteVentas" class="card">    
     <title-bar :title="title" :subtitle="subtitle"></title-bar>     
      <div class="card-body" > 
          <div class="col-md-12">
           <div class="col-md-4" style="height:900px;">
             <h3>Resumen de ventas</h3>     

              <div class="col-md-12" >
                 <label>Sucursal</label>
                  <select class="form-control" v-model="sucursal" @change="getUsuarios()">
                   <option value="">Selecciona</option>
                  <option v-for="option in sucursales" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
                 
             </div>   

             <h5>Selecciona Rango de Fecha</h5>
             <div class="col-md-6">
                 <label>Fecha De Inicio</label>
                 <input type="date" v-model="fechaInicio" class="form-control input-sm">
                <!--  <datepicker  v-model="fechaInicio" :format="customFormatter"  :language="es" :bootstrap-styling="true"></datepicker> -->
             </div>
             <div class="col-md-6">
                 <label>Fecha Fin</label>
                <input type="date" v-model="fechaFin" class="form-control input-sm">
             </div>               
             <div class="col-md-12">   

                <div class="col-md-12"> 
                  <label class="radio-inline radio-styled radio-primary"> 
                    <input type="radio" name="tipo" v-model="tipo" value="1" checked="" ><span>Resumen por sucursal</span> </label> </div>       
                  <div class="col-md-12"> 
                  <label class="radio-inline radio-styled radio-primary"> 
                    <input type="radio" name="tipo" v-model="tipo" value="2" checked="" ><span>Resumen por usuario</span> </label>
                    
                 </div> 
                  <div class="col-md-12"> 
                  <label class="radio-inline radio-styled radio-primary"> 
                    <input type="radio" name="tipo" v-model="tipo" value="3" checked="" ><span>Resumen por departamento</span> </label>
                    
                 </div>      
                 <div class="col-md-12"> 
                  <label class="radio-inline radio-styled radio-primary"> 
                    <input type="radio" name="tipo" v-model="tipo" value="4" checked="" ><span>Resumen por categoria</span> </label>
                    
                 </div>       
                 <div class="col-md-12"> 
                  <label class="radio-inline radio-styled radio-primary"> 
                    <input type="radio" name="tipo" v-model="tipo" value="5" checked="" ><span>Resumen por artículo</span> </label>
                    
                 </div>    
             </div>
              
            
             <div class="col-md-12" v-if="tipo==2">
                 <label>Cajeros</label>
                  <select class="form-control" v-model="cajero">
                   <option value="">Selecciona</option>
                  <option v-for="option in cajeros" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
                 <br>
             </div>
                       
             <div class="col-md-12">
              <br>
              <label>Generar Reporte</label>
              <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
											<a class="btn btn-default"  @click="generaReporte(1)" role="button"><i class="bi bi-box-arrow-in-down"></i> PDF</a>
											<a class="btn btn-default"  @click="generaReporte(2)" role="button"><i class="bi bi-box-arrow-in-down"></i> XLS</a>
				<!-- 							<a class="btn btn-default-bright"  @click="generaReporte" role="button"></a> -->
										</div>       
              
            </div>
           </div>
           <div class="col-md-8" style="height:600px;">
               <iframe :src="url" allowfullscreen></iframe>
           </div>
           </div>
      </div>      
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import {en, es} from 'vuejs-datepicker/dist/locale'
import global from '../../globals'
import titleBar from '../../components/titleBar'
import Vue from 'vue'
export default {
  name: 'reporteVentas',
  data () {
    return {
        fechaInicio: new Date(),
        fechaFin: new Date(),
        es: es,
        sucursal: '',
        orden:'1',
        cajero:'',
        sucursales: [],
        cajeros: [],
          departamentos: [],  
        categorias:[],
        articulos:[],
        url: '',
        tipo:1,
        departamento:'',
        categoria:'',
        articulo:'',
        detalle: true,
        title:'Resumen de Ventas',
        subtitle:'Reportes'
    }
  },
  mounted () {
    this.getSucursales()
      this.getDepartamentos()
  },
  methods: {
    customFormatter(date) {     
      return  moment(date).format('L')
    },
    getSucursales() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
    },
     getUsuarios () {
      let vm = this
       let sucursal = (this.sucursal) ? this.sucursal:0
       axios.get('/usuario/GetUsuario?sucursalId='+sucursal +'&tipoUsuarioId=0&login=&email=&usuarioId='+Vue.localStorage.get('USER_ID')).then( (res) => {
       vm.cajeros = res.data.GetUsuarioResult
      })    
    },
  
      getDepartamentos(){
        axios.get('/Departamento/GetDepartamento').then((res) => {        
        this.departamentos = res.data.GetDepartamentoResult
      })
    },   
    getCategorias () {
      let vm = this
      axios.get(`/Categoria/GetCategoria?departamentoId=${(this.departamento) ? this.departamento: 0 }&nombre=`).then((res) => {    
       vm.categorias =  res.data.GetCategoriaResult
      })
    },
    getArticulos () {
    let vm = this
      axios.get(`/Articulo/GetArticulo?upc=&nombre=&departamentoId=${(this.departamento)? this.departamento: 0 }&categoriaId=${(this.categoria)?this.categoria:0 }`).then((res) => {
       vm.articulos =  res.data.GetArticuloResult;
      })
    },
    generaReporte (resumen) {     

       if(this.tipo  == "1"){

          if(!this.sucursal) {
            this.$snotify.error('Selecciona una Sucursal', '¡Atención!') 
            return
        }

        let params = {
            fechaInicio:moment(this.fechaInicio).format('YYYY-MM-DD').replace('-','').replace('-',''),
            fechaFin: moment(this.fechaFin).format('YYYY-MM-DD').replace('-','').replace('-',''),
            sucursalId: this.sucursal,           
            tipoDescarga: resumen,
            detalle: this.detalle
        }
        axios.post('/Reportes/GetReporteVentasResumenSucursal', params).then((res) => {
           if(resumen == 1){
               this.url = global.URL_REPORTS + res.data.GetReporteVentasResumenSucursalResult
           }else{
             window.open(global.URL_REPORTS + res.data.GetReporteVentasResumenSucursalResult, '_self');
           }
            
        })

       }
       if(this.tipo  == "2"){ //usuario


        let params = {
            fechaInicio:moment(this.fechaInicio).format('YYYY-MM-DD').replace('-','').replace('-',''),
            fechaFin: moment(this.fechaFin).format('YYYY-MM-DD').replace('-','').replace('-',''),
            usuarioId: this.cajero,           
            tipoDescarga: resumen,
            detalle: this.detalle
        }
        axios.post('/Reportes/GetReporteVentasResumenUsuario', params).then((res) => {

           if(resumen == 1){
               this.url = global.URL_REPORTS + res.data.GetReporteVentasResumenUsuarioResult
           }else{
             window.open(global.URL_REPORTS + res.data.GetReporteVentasResumenUsuarioResult, '_self');
           }
           
        })

       }
        if(this.tipo  == "3"){ //usuario


        let params = {
            fechaInicio:moment(this.fechaInicio).format('YYYY-MM-DD').replace('-','').replace('-',''),
            fechaFin: moment(this.fechaFin).format('YYYY-MM-DD').replace('-','').replace('-',''),
            sucursalId: this.sucursal,
            departamentoId: 0,        
            tipoDescarga: resumen,
            detalle: this.detalle
        }
        axios.post('/Reportes/GetReporteVentasResumenDepartamento', params).then((res) => {
            
            if(resumen == 1){
               this.url = global.URL_REPORTS + res.data.GetReporteVentasResumenDepartamentoResult
           }else{
             window.open(global.URL_REPORTS + res.data.GetReporteVentasResumenDepartamentoResult, '_self');
           }
        })

       }

        if(this.tipo  == "4"){ //usuario


        let params = {
            fechaInicio:moment(this.fechaInicio).format('YYYY-MM-DD').replace('-','').replace('-',''),
            fechaFin: moment(this.fechaFin).format('YYYY-MM-DD').replace('-','').replace('-',''),
            sucursalId: this.sucursal,
            categoriaId: 0,        
            tipoDescarga: resumen,
            detalle: this.detalle
        }
        axios.post('/Reportes/GetReporteVentasResumenCategoria', params).then((res) => {
            

             if(resumen == 1){
               this.url = global.URL_REPORTS + res.data.GetReporteVentasResumenCategoriaResult
           }else{
             window.open(global.URL_REPORTS + res.data.GetReporteVentasResumenCategoriaResult, '_self');
           }
        })

       }
       if(this.tipo  == "5"){ //articulo


        let params = {
            fechaInicio:moment(this.fechaInicio).format('YYYY-MM-DD').replace('-','').replace('-',''),
            fechaFin: moment(this.fechaFin).format('YYYY-MM-DD').replace('-','').replace('-',''),
            sucursalId: this.sucursal,
            articuloId: 0,        
            tipoDescarga: resumen,
            detalle: this.detalle
        }
        axios.post('/Reportes/GetReporteVentasResumenArticulo', params).then((res) => {
          
             if(resumen == 1){
               this.url = global.URL_REPORTS + res.data.GetReporteVentasResumenArticuloResult
           }else{
             window.open(global.URL_REPORTS + res.data.GetReporteVentasResumenArticuloResult, '_self');
           }
            
        })

       }

       }
         

      
    
    
  },
  components: {
    Datepicker,
    titleBar
  }
}
</script>
<style scoped>
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 550px;
    border: 0;
}
</style>
                                        