<template>
  <div id="reporteTicket" class="card">  
     <title-bar :title="title" :subtitle="subtitle"></title-bar>  
      <div class="card-body" > 
          <div class="col-md-12">
           <div class="col-md-4" style="height:900px;">      

             <div class="row">
                   <div class="col-md-12">   

                <div class="col-md-6"> 
                  <label class="radio-inline radio-styled radio-primary"> 
                    <input type="radio" name="reporte" v-model="esCancelacion" value="1" checked="" ><span>Cancelaciones</span> </label> </div>          
                      <div class="col-md-6"> 
                  <label class="radio-inline radio-styled radio-primary"> 
                    <input type="radio" name="reporte" v-model="esCancelacion" value="0" checked="" ><span>Reimpresiones</span> </label> </div>                
             </div>

             </div>
             <div class="row">
                   <h5>Selecciona Rango de Fecha</h5>
             <div class="col-md-6">
                 <label>Fecha De Inicio</label>
                 <input type="date" v-model="fechaInicio" class="form-control input-sm">
                <!--  <datepicker  v-model="fechaInicio" :format="customFormatter"  :language="es" :bootstrap-styling="true"></datepicker> -->
             </div>
             <div class="col-md-6">
                 <label>Fecha Fin</label>
                <input type="date" v-model="fechaFin" class="form-control input-sm">
             </div>
           

             </div>
           <br>
           <div class="row">
                     <h5>Selecciona una opcion</h5>
             <div class="col-md-12">   

                <div class="col-md-6"> 
                  <label class="radio-inline radio-styled radio-primary"> 
                    <input type="radio" name="tipo" v-model="tipo" value="1" checked="" ><span>Reporte por sucursal</span> </label> </div>          
                      <div class="col-md-6"> 
                  <label class="radio-inline radio-styled radio-primary"> 
                    <input type="radio" name="tipo" v-model="tipo" value="2" checked="" ><span>Reporte por usuario</span> </label> </div>                
             </div>
              
             <div class="col-md-12" >
                 <label>Sucursal</label>
                  <select class="form-control" v-model="sucursal" @change="getUsuarios()">
                   <option value="">Selecciona</option>
                  <option v-for="option in sucursales" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
                 
             </div>
             <div class="col-md-12" v-if="tipo==2">
                 <label>Cajeros</label>
                  <select class="form-control" v-model="cajero">
                   <option value="">Selecciona</option>
                  <option v-for="option in cajeros" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
                 <br>
             </div>


           </div>
            <br>
            <div class="row">
                         <div class="col-md-12">
              <br>
              <label>Generar Reporte</label>
              <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
											<a class="btn btn-default"  @click="generaReporte(1)" role="button"><i class="bi bi-box-arrow-in-down"></i> PDF</a>
											<a class="btn btn-default"  @click="generaReporte(2)" role="button"><i class="bi bi-box-arrow-in-down"></i> XLS</a>
				<!-- 							<a class="btn btn-default-bright"  @click="generaReporte" role="button"></a> -->
										</div>
               
              
            </div> 


            </div>
             
           
         



                  
           </div>
           <div class="col-md-8" style="height:600px;">
               <iframe :src="url" allowfullscreen></iframe>
           </div>
           </div>
      </div>      
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import {en, es} from 'vuejs-datepicker/dist/locale'
import global from '../../globals'
import titleBar from '../../components/titleBar'
import Vue from 'vue'
export default {
  name: 'reporteTicket',
  data () {
    return {
        fechaInicio: new Date(),
        fechaFin: new Date(),
        es: es,
        sucursal: '',
        cajero:'',
        sucursales: [],
        cajeros: [],        
        url: '',
        tipo:1,
        title:'Cancelacion/Reimpresión de Tickets',
        subtitle:'Reportes',
        esCancelacion:1
       
    }
  },
  mounted () {
    this.getSucursales()
     
  },
  methods: {
    customFormatter(date) {     
      return  moment(date).format('L')
    },
    getSucursales() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
    },
     getUsuarios () {
      let vm = this
       let sucursal = (this.sucursal) ? this.sucursal:0
       axios.get('/usuario/GetUsuario?sucursalId='+sucursal +'&tipoUsuarioId=0&login=&email=&usuarioId='+Vue.localStorage.get('USER_ID')).then( (res) => {
       vm.cajeros = res.data.GetUsuarioResult
      })    
    },    
    generaReporte (tipoDescarga) {     

       
          if(!this.sucursal && this.tipo  == "1") {
            this.$snotify.error('Selecciona una Sucursal', '¡Atención!') 
            return
          }

          if(!this.cajero && this.tipo  == "2") {
            this.$snotify.error('Selecciona una usuario', '¡Atención!') 
            return
        }

        let params = {
            fechaInicio:moment(this.fechaInicio).format('YYYY-MM-DD').replace('-','').replace('-',''),
            fechaFin: moment(this.fechaFin).format('YYYY-MM-DD').replace('-','').replace('-',''),
            sucursalId: (this.sucursal)? this.sucursal:0,
            usuarioId: this.cajero ? this.cajero:0,           
            tipoDescarga: tipoDescarga,
            esCancelacion: this.esCancelacion
        }
        axios.post('/Reportes/GetReporteTickets', params).then((res) => {
          if(tipoDescarga == 1){
                  this.url = global.URL_REPORTS + res.data.GetReporteTicketsResult
              }else{
                window.open(global.URL_REPORTS + res.data.GetReporteTicketsResult, '_self');
              }
            
        })     
    }
    
  },
  components: {
    Datepicker,
    titleBar
  }
}
</script>
<style scoped>
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 550px;
    border: 0;
}
</style>