<template>
  <div id="reporteCortes" class="card">   
     <title-bar :title="title" :subtitle="subtitle"></title-bar>     
      <div class="card-body">
          <div class="col-md-12">
           <div class="col-md-4"  style="height:600px;"> 
             <div class="col-md-12"><b>Selecciona una Opcion:</b></div>
              <div class="col-md-12">
                
                                  <label class="radio-inline radio-styled radio-primary"> 
                    <input type="radio" name="tipo" v-model="tipo" value="1" checked="" ><span>Traspaso a vendedor</span> </label>         
                                 
             </div>
               <div class="col-md-12">   
                  <label class="radio-inline radio-styled radio-primary"> 
                    <input type="radio" name="tipo" v-model="tipo" value="2" checked="" ><span>Traspaso a Sucursal</span> </label>              
             </div>                       
             <div class="col-md-12">
                 <label>Sucursal</label>
                  <select class="form-control" v-model="sucursal">
                   <option value="">Selecciona</option>
                  <option v-for="option in sucursales" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
                 
             </div>
             <div class="col-md-12">              
                <label>Vendedor</label>
                <select class="form-control input-sm" v-model="vendedorId" v-validate="'required'" :disabled="detalle" name="vendedor" :class="(errors.has('vendedor')) ? 'is-invalid':'is-valid'">
                   <option value="">Selecciona</option>
                  <option v-for="option in vendedores" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>   
                <span v-show="errors.has('vendedor')" class="invalid-feedback">{{ errors.first('vendedor') }}</span>             
           </div>   
           <div class="col-md-12">
             <br>
                  <h5>Selecciona Rango de Fecha</h5>
             <div class="col-md-6">
                 <label>Fecha De Inicio</label>
                 <input type="date" v-model="fechaInicio" class="form-control input-sm">
                <!--  <datepicker  v-model="fechaInicio" :format="customFormatter"  :language="es" :bootstrap-styling="true"></datepicker> -->
             </div>
             <div class="col-md-6">
                 <label>Fecha Fin</label>
                <input type="date" v-model="fechaFin" class="form-control input-sm">
             </div>
             </div>
           <div class="col-md-12">
              <br>
              <br>
              <br>
              <br>
              <br>
              <label>Exportar Reporte</label>
              <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
											<a class="btn btn-default"   @click="generaReporte(1)" role="button"><i class="bi bi-box-arrow-in-down"></i> PDF</a>
											<a class="btn btn-default"  @click="generaReporte(2)" role="button"><i class="bi bi-box-arrow-in-down"></i> XLS</a>
				<!-- 							<a class="btn btn-default-bright"  @click="generaReporte" role="button"></a> -->
										</div>       
              
            </div>
           </div>
           <div class="col-md-8"  style="height:600px;">
               <iframe :src="url" allowfullscreen></iframe>
           </div>
           </div>
      </div>      
  </div>
</template>

<script>
import axios from 'axios'
import global from '../../globals'
import Vue from 'vue'
import moment from 'moment'
import titleBar from '../../components/titleBar'
export default {
  name: 'reporteCortes',
  data () {
    return {      
        sucursal: '',     
        sucursales: [],
        vendedores: [],
         departamentos: [],  
        categorias:[],
        departamento:'',
        vendedorId:'',
        categoria:'',       
        url: '',
        tipo:1,
        title:'Reporte de Traspaso',
        subtitle:'Reportes'       
    }
  },
  mounted () {
    this.getSucursales()
    this.obtenVendedores()
  
  },
  methods: {
    obtenVendedores(){
         axios.post('/Vendedor/GetVendedor',{op:0}).then((res) => {      
             this.vendedores= res.data.GetVendedorResult
         }); 
      },
     getSucursales() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
    },    
    generaReporte (tipoDescarga) {

        if(!this.sucursal){
           this.$snotify.error('Selecciona una sucursal', '¡Atención!')
           return
        }
        axios.post('/Reportes/GetReporteTraspaso', 
        {
          sucursalId: (this.sucursal)? this.sucursal:0,
          vendedorId: (this.vendedorId) ? this.vendedorId:0,
          tipo: this.tipo,
          tipoDescarga:tipoDescarga,
          fechaInicio:moment(this.fechaInicio).format('YYYY-MM-DD').replace('-','').replace('-',''),
          fechaFin: moment(this.fechaFin).format('YYYY-MM-DD').replace('-','').replace('-',''),
         }).then((res) => {
            if(tipoDescarga == 1){
                  this.url = global.URL_REPORTS + res.data.GetReporteTraspasoResult
              }else{
                window.open(global.URL_REPORTS + res.data.GetReporteTraspasoResult, '_self');
              }
            
        })    
  } 
},
components: {
    
    titleBar
  }
}
</script>
<style>
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 550px;
    border: 0;
}
</style>

