<template>
  <div id="reporteResurtido" class="card">   
     <title-bar :title="title" :subtitle="subtitle"></title-bar>     
      <div class="card-body">
          <div class="col-md-12">
           <div class="col-md-4"  style="height:600px;">                        
             <div class="col-md-12">
                 <label>Sucursal</label>
                  <select class="form-control" v-model="sucursal">
                   <option value="">Selecciona</option>
                  <option v-for="option in sucursales" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
                 
             </div>
              <div class="col-md-12">
                 <label>Departamento</label>
                  <select class="form-control input-sm" v-model="departamento" @change="getCategorias">
                   <option value="">Todos</option>
                  <option v-for="option in departamentos" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>                 
             </div>
             <div class="col-md-12">
                 <label>Categoria</label>
                  <select class="form-control input-sm" v-model="categoria" @change="getArticulos"> 
                   <option value="">Todos</option>
                  <option v-for="option in categorias" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>                 
             </div>
           <div class="col-md-12">
              <br>
              <label>Generar Reporte</label>
              <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
											<a class="btn btn-default"  @click="generaReporte(1)" role="button"><i class="bi bi-box-arrow-in-down"></i> PDF</a>
											<a class="btn btn-default"  @click="generaReporte(2)" role="button"><i class="bi bi-box-arrow-in-down"></i> XLS</a>
				<!-- 							<a class="btn btn-default-bright"  @click="generaReporte" role="button"></a> -->
										</div>       
              
            </div>
           </div>
           <div class="col-md-8"  style="height:600px;">
               <iframe :src="url" allowfullscreen></iframe>
           </div>
           </div>
      </div>      
  </div>
</template>

<script>
import axios from 'axios'
import global from '../../globals'
import Vue from 'vue'
import titleBar from '../../components/titleBar'
export default {
  name: 'reporteCortes',
  data () {
    return {      
        sucursal: '',     
        sucursales: [],
         departamentos: [],  
        categorias:[],
        departamento:'',
        categoria:'',       
        url: '',
        title:'Reporte de Resurtido',
        subtitle:'Reportes'       
    }
  },
  mounted () {
    this.getSucursales()
    this.getDepartamentos()
  
  },
  methods: {   
     getSucursales() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
    },
     getDepartamentos(){
        axios.get('/Departamento/GetDepartamento').then((res) => {        
        this.departamentos = res.data.GetDepartamentoResult
      })
    },   
    getCategorias () {
      let vm = this
      axios.get(`/Categoria/GetCategoria?departamentoId=${(this.departamento) ? this.departamento: 0 }&nombre=`).then((res) => {    
       vm.categorias =  res.data.GetCategoriaResult
      })
    },
    generaReporte (tipoDescarga) {

        if(!this.sucursal){
           this.$snotify.error('Selecciona una sucursal', '¡Atención!')
           return
        }
        axios.post('/Reportes/GetReporteResurtido', {sucursalId: (this.sucursal)? this.sucursal:0,departamentoId: (this.departamento) ? this.departamento:0 ,categoriaId: (this.categoria) ? this.categoria:0,tipoDescarga:tipoDescarga,articuloId:0 }).then((res) => {
            if(tipoDescarga == 1){
                  this.url = global.URL_REPORTS + res.data.GetReporteResurtidoResult
              }else{
                window.open(global.URL_REPORTS + res.data.GetReporteResurtidoResult, '_self');
              }
            
        })    
  } 
},
components: {
    
    titleBar
  }
}
</script>
<style>
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 550px;
    border: 0;
}
</style>

