<template>
  <div id="reporteVentas" class="card">    
      <div class="card-body" > 
          <div class="col-md-12">
           <div class="col-md-4" style="height:900px;">
             <h3>Historial ventas</h3>

               

             <h5>Selecciona Rango de Fecha</h5>
             <div class="col-md-6">
                 <label>Fecha De Inicio</label>
                 <input type="date" v-model="fechaInicio" class="form-control input-sm">
                <!--  <datepicker  v-model="fechaInicio" :format="customFormatter"  :language="es" :bootstrap-styling="true"></datepicker> -->
             </div>
             <div class="col-md-6">
                 <label>Fecha Fin</label>
                <input type="date" v-model="fechaFin" class="form-control input-sm">
             </div>
           
             
             <div class="col-md-12" >
                 <label>Ordenar por:</label>
            <select class="form-control input-sm" v-model="orden">
              <option value="">Selecciona</option>
             <!--  <option value="1">Fecha de Venta</option> -->
              <option value="1">Número Ventas</option>
              <option value="2">Departamento</option>
              <option value="3">Categoria</option>
              <option value="4">Artículo</option>    
              <option value="5">UPC</option>            
              <option value="6">Monto Vendido</option>                           
              <!--  <option value="6">Cajero</option>        --> 
            </select>
                 
             </div>
                
             <div class="col-md-12">   

                <div class="col-md-6"> 
                  <label class="radio-inline radio-styled radio-primary"> 
                    <input type="radio" name="tipo" v-model="tipo" value="1" checked="" ><span>Reporte por sucursal</span> </label> </div>          
                      <div class="col-md-6"> 
                  <label class="radio-inline radio-styled radio-primary"> 
                    <input type="radio" name="tipo" v-model="tipo" value="2" checked="" ><span>Reporte por usuario</span> </label> </div>                
             </div>
              
             <div class="col-md-12" >
                 <label>Sucursal</label>
                  <select class="form-control" v-model="sucursal" @change="getUsuarios()">
                   <option value="">Selecciona</option>
                  <option v-for="option in sucursales" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
                 
             </div>
             <div class="col-md-12" v-if="tipo==2">
                 <label>Cajeros</label>
                  <select class="form-control" v-model="cajero">
                   <option value="">Selecciona</option>
                  <option v-for="option in cajeros" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
                 <br>
             </div>
             <div class="col-md-12 text-center">
                 	<label class="checkbox-inline checkbox-styled">
							<input type="checkbox" id="soloInternet"
                            v-model="detalle"			                           	                                       
				                            class=" filled-in chk-col-amber" >				                                         
							<span>Reporte Detallado</span>
						</label>
             </div>
             
            <div class="col-md-6">
              <br>
              <br>
              <button class="btn btn-e
              default btn-block" @click="generaReporte(1)"> <i class="bi bi-box-arrow-in-down"></i>Generar Reporte</button>
            </div>
              <div class="col-md-6">
              <br>
              <br>
              <button class="btn btn-default btn-block" @click="generaReporte(2)"> <i class="bi bi-box-arrow-in-down"></i> Generar Reporte excel</button>
            </div>
           </div>
           <div class="col-md-8" style="height:600px;">
               <iframe :src="url" allowfullscreen></iframe>
           </div>
           </div>
      </div>      
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import {en, es} from 'vuejs-datepicker/dist/locale'
import global from '../../globals'
import Vue from 'vue'
export default {
  name: 'reporteVentas',
  data () {
    return {
        fechaInicio: new Date(),
        fechaFin: new Date(),
        es: es,
        sucursal: '',
        orden:'1',
        cajero:'',
        sucursales: [],
        cajeros: [],
          departamentos: [],  
        categorias:[],
        articulos:[],
        url: '',
        tipo:0,
        departamento:'',
        categoria:'',
        articulo:'',
        detalle: true
    }
  },
  mounted () {
    this.getSucursales()
      this.getDepartamentos()
  },
  methods: {
    customFormatter(date) {     
      return  moment(date).format('L')
    },
    getSucursales() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
    },
     getUsuarios () {
      let vm = this
       let sucursal = (this.sucursal) ? this.sucursal:0
       axios.get('/usuario/GetUsuario?sucursalId='+sucursal +'&tipoUsuarioId=0&login=&email=&usuarioId='+Vue.localStorage.get('USER_ID')).then( (res) => {
       vm.cajeros = res.data.GetUsuarioResult
      })    
    },
  
      getDepartamentos(){
        axios.get('/Departamento/GetDepartamento').then((res) => {        
        this.departamentos = res.data.GetDepartamentoResult
      })
    },   
    getCategorias () {
      let vm = this
      axios.get(`/Categoria/GetCategoria?departamentoId=${(this.departamento) ? this.departamento: 0 }&nombre=`).then((res) => {    
       vm.categorias =  res.data.GetCategoriaResult
      })
    },
    getArticulos () {
    let vm = this
      axios.get(`/Articulo/GetArticulo?upc=&nombre=&departamentoId=${(this.departamento)? this.departamento: 0 }&categoriaId=${(this.categoria)?this.categoria:0 }`).then((res) => {
       vm.articulos =  res.data.GetArticuloResult;
      })
    },
    generaReporte (resumen) {     

       if(this.tipo  == "1"){

          if(!this.sucursal) {
            this.$snotify.error('Selecciona una Sucursal', '¡Atención!') 
            return
        }

        let params = {
            fechaInicio:moment(this.fechaInicio).format('YYYY-MM-DD').replace('-','').replace('-',''),
            fechaFin: moment(this.fechaFin).format('YYYY-MM-DD').replace('-','').replace('-',''),
            sucursalId: this.sucursal,
            departamentoId: (this.departamento)? this.departamento:0,
            categoriaId: (this.categoria)?this.categoria:0,
            articuloId: (this.articulo)? this.articulo:0,
            orden:this.orden,
            tipoDescarga: resumen,
            detalle: this.detalle
        }
        axios.post('/Reportes/GetReporteVentasBySucursal', params).then((res) => {
            this.url = global.URL_REPORTS + res.data.GetReporteVentasBySucursalResult
        })

       }else{

        if(!this.cajero) {
            this.$snotify.error('Selecciona una usuario', '¡Atención!') 
            return
        }

        let params = {
            fechaInicio:moment(this.fechaInicio).format('YYYY-MM-DD').replace('-','').replace('-',''),
            fechaFin: moment(this.fechaFin).format('YYYY-MM-DD').replace('-','').replace('-',''),
            usuarioId: this.cajero,
            departamentoId: (this.departamento)? this.departamento:0,
            categoriaId: (this.categoria)?this.categoria:0,
            articuloId: (this.articulo)? this.articulo:0,
            orden:this.orden,
            tipoDescarga: resumen,
            detalle: this.detalle
        }
        axios.post('/Reportes/GetReporteVentasByCajero', params).then((res) => {
            this.url = global.URL_REPORTS + res.data.GetReporteVentasByCajeroResult 
        }) 

       }
         

      
    }
    
  },
  components: {
    Datepicker
  }
}
</script>
<style scoped>
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 550px;
    border: 0;
}
</style>
                                        