<template>
  <div id="reporteVentas" class="card">    
    <title-bar :title="title" :subtitle="subtitle"></title-bar>     
      <div class="card-body">
          <div class="col-md-12">
           <div class="col-md-4">
            
            <div class="row">
                      <h5>Selecciona Rango de Fecha</h5>
             <div class="col-md-6">
                 <label>Fecha De Inicio</label>
                 <input type="date" v-model="fechaInicio" class="form-control">
                 
             </div>
             <div class="col-md-6">
                 <label>Fecha Fin</label>
                 <input type="date" v-model="fechaFin" class="form-control">                
             </div>

            </div>
            <br>
            <div class="row">
                <h5>Selecciona una opción</h5>
                <div class="col-md-12">
                
                                  <label class="radio-inline radio-styled radio-primary"> 
                    <input type="radio" name="tipo" v-model="tipo" value="1" checked="" ><span>Reporte por sucursal</span> </label>         
                                 
             </div>
               <div class="col-md-12">   
                  <label class="radio-inline radio-styled radio-primary"> 
                    <input type="radio" name="tipo" v-model="tipo" value="2" checked="" ><span>Reporte por usuario</span> </label>              
             </div>       
            
             <div class="col-md-12" >
                 <label>Sucursal</label>
                  <select class="form-control" v-model="sucursal" @change="getUsuarios">
                   <option value="">Selecciona</option>
                  <option v-for="option in sucursales" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
                 
             </div>
               <div class="col-md-12" v-if="tipo==2">
                 <label>Cajeros</label>
                  <select class="form-control" v-model="cajero">
                   <option value="">Selecciona</option>
                  <option v-for="option in cajeros" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
                 
             </div>  



            </div>
            <hr>
            <div class="row">

               <div class="col-md-12">              
              <label>Generar Reporte</label>
              <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
											<a class="btn btn-default"  @click="generaReporte(1)" role="button"><i class="bi bi-box-arrow-in-down"></i> PDF</a>
											<a class="btn btn-default"  @click="generaReporte(2)" role="button"><i class="bi bi-box-arrow-in-down"></i> XLS</a>
		
								</div>
               
              
            </div>

            </div>
     
                           
                
           </div>
           <div class="col-md-7">
               <iframe :src="url" allowfullscreen></iframe>
           </div>
           </div>
      </div>      
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import {en, es} from 'vuejs-datepicker/dist/locale'
import global from '../../globals'
import titleBar from '../../components/titleBar'
import Vue from 'vue'
export default {
  name: 'reporteVentas',
  data () {
    return {
        fechaInicio: new Date(),
        fechaFin: new Date(),
        es: es,
        sucursal: '',
        cajero:'',
        sucursales: [],
        cajeros: [],
        url: '',
        tipo:1,
        title:'Reporte Salida Efectivo',
        subtitle:'Reportes'
    }
  },
  mounted () {
    this.getSucursales()
    this.getUsuarios()
  },
  methods: {  
    getSucursales() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
    },
    getUsuarios () {
      let vm = this
       let sucursal = (this.sucursal) ? this.sucursal:0
       axios.get('/usuario/GetUsuario?sucursalId='+sucursal +'&tipoUsuarioId=0&login=&email=&usuarioId='+Vue.localStorage.get('USER_ID')).then( (res) => {
       vm.cajeros = res.data.GetUsuarioResult
      })    
    },
    generaReporte (tipoDescarga) {    
       let vm = this
        if(this.tipo == 1 && !this.sucursal){
            this.$snotify.error('Selecciona una sucursal', '¡Atención!')
            return
        }
        if(this.tipo == 2 && !this.cajero){
             this.$snotify.error('Selecciona un usuario', '¡Atención!')
             return
        }

        let params = {
            fechaInicio:moment(this.fechaInicio).format('YYYY-MM-DD').replace('-','').replace('-',''),
            fechaFin: moment(this.fechaFin).format('YYYY-MM-DD').replace('-','').replace('-',''),
            usuarioId: (this.cajero)?this.cajero:0,
            sucursalId: (this.sucursal)?this.sucursal:0,
            op: this.tipo,
            tipoDescarga:tipoDescarga
        }
        axios.post('/Reportes/GetReporteSalidaEfectivo', params).then((res) => { 

            if(tipoDescarga == 1){
                  vm.url = global.URL_REPORTS + res.data.GetReporteSalidaEfectivoResult
                //  console.log(global.URL_REPORTS + res.data.GetReporteSalidaEfectivoResult)
              }else{
                window.open(global.URL_REPORTS + res.data.GetReporteSalidaEfectivoResult, '_self');
              }
        }) 

      
    }
    
  },
  components: {
    Datepicker,
    titleBar
  }
}
</script>
<style>
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 550px;
    border: 0;
}
</style>

