<template>
  <div id="reporteRecepcion" class="card">   
     <title-bar :title="title" :subtitle="subtitle"></title-bar>     
      <div class="card-body">
          <div class="col-md-12">
           <div class="col-md-4"  style="height:600px;">                        
             <div class="col-md-12">
                 <label>Sucursal</label>
                  <select class="form-control" v-model="sucursal">
                   <option value="">Selecciona</option>
                  <option v-for="option in sucursales" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
                 
             </div>
              <div class="col-md-12">
                 <label>Departamento</label>
                  <select class="form-control input-sm" v-model="departamento" @change="getCategorias">
                   <option value="">Todos</option>
                  <option v-for="option in departamentos" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>                 
             </div>
             <div class="col-md-12">
                 <label>Categoria</label>
                  <select class="form-control input-sm" v-model="categoria" @change="getArticulos"> 
                   <option value="">Todos</option>
                  <option v-for="option in categorias" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>                 
             </div>
             <div class="col-md-12">
                 <label>Articulos</label>
                  <select class="form-control input-sm" v-model="articulo"  @change="getArticulos">
                   <option value="">Todos</option>
                  <option v-for="option in articulos" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>                 
             </div>
             <h5>Selecciona Rango de Fecha</h5>
             <div class="col-md-6">
                 <label>Fecha De Inicio</label>
                 <input type="date" v-model="fechaInicio" class="form-control input-sm">
                <!--  <datepicker  v-model="fechaInicio" :format="customFormatter"  :language="es" :bootstrap-styling="true"></datepicker> -->
             </div>
             <div class="col-md-6">
                 <label>Fecha Fin</label>
                <input type="date" v-model="fechaFin" class="form-control input-sm">
             </div>
             
           <div class="col-md-12">
              <br>
              <label>Generar Reporte</label>
              <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
											<a class="btn btn-default"  @click="generaReporte(1)" role="button"><i class="bi bi-box-arrow-in-down"></i> PDF</a>
											<a class="btn btn-default"  @click="generaReporte(2)" role="button"><i class="bi bi-box-arrow-in-down"></i> XLS</a>
				<!-- 							<a class="btn btn-default-bright"  @click="generaReporte" role="button"></a> -->
										</div>       
              
            </div>
           </div>
           <div class="col-md-8"  style="height:600px;">
               <iframe :src="url" allowfullscreen></iframe>
           </div>
           </div>
      </div>      
  </div>
</template>

<script>
import axios from 'axios'
import global from '../../globals'
import Vue from 'vue'
import titleBar from '../../components/titleBar'
import moment from 'moment'
export default {
  name: 'reporteCortes',
  data () {
    return {      
        sucursal: '',     
        sucursales: [],
         departamentos: [],  
        categorias:[],
        departamento:'',
        categoria:'',
        articulo:'',
        articulos:[],  
        url: '',
        title:'Reporte de Recepción de Material',
        subtitle:'Reportes',
        fechaInicio: new Date(),
        fechaFin: new Date(),   
    }
  },
  mounted () {
    this.getSucursales()
    this.getDepartamentos()
  
  },
  methods: {   
     getSucursales() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
    },
     getDepartamentos(){
        axios.get('/Departamento/GetDepartamento').then((res) => {        
        this.departamentos = res.data.GetDepartamentoResult
      })
    },   
    getCategorias () {
      let vm = this
      axios.get(`/Categoria/GetCategoria?departamentoId=${(this.departamento) ? this.departamento: 0 }&nombre=`).then((res) => {    
       vm.categorias =  res.data.GetCategoriaResult
      })
    },
    getArticulos () {
    let vm = this
      axios.get(`/Articulo/GetArticulo?upc=&nombre=&departamentoId=${(this.departamento)? this.departamento: 0 }&categoriaId=${(this.categoria)?this.categoria:0 }`).then((res) => {
       vm.articulos =  res.data.GetArticuloResult;
      })
    },
    generaReporte (tipoDescarga) {

        if(!this.fechaInicio || !this.fechaFin){
            this.$snotify.error('Ingresa un rango de fechas válido', '¡Atención!')
            return
        }

        let params ={
          sucursalId: (this.sucursal)? this.sucursal:0,
          departamentoId: (this.departamento) ? this.departamento:0 ,
          categoriaId: (this.categoria) ? this.categoria:0,
          tipoDescarga:tipoDescarga,
          articuloId:(this.articulo) ? this.articulo:0,
          proveedorId:0,
           fechaInicio:moment(this.fechaInicio).format('YYYY-MM-DD').replace('-','').replace('-',''),
            fechaFin: moment(this.fechaFin).format('YYYY-MM-DD').replace('-','').replace('-',''),
        }
        axios.post('/Reportes/GetReporteRecepcion', params).then((res) => {
            if(tipoDescarga == 1){
                  this.url = global.URL_REPORTS + res.data.GetReporteRecepcionResult
              }else{
                window.open(global.URL_REPORTS + res.data.GetReporteRecepcionResult, '_self');
              }
            
        })    
  } 
},
components: {
    
    titleBar
  }
}
</script>
<style>
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 550px;
    border: 0;
}
</style>

