<template>
  <div id="reporteCortes" class="card"> 
     <title-bar :title="title" :subtitle="subtitle"></title-bar>     
      <div class="card-body">
<div class="col-md-4">
<div class="col-md-12">
<label>Vendedor</label>
<select class="form-control" v-model="vendedorId"  name="vendedor" :class="(errors.has('vendedor')) ? 'is-invalid':'is-valid'">
<option value="">Selecciona</option>
<option v-for="option in vendedores" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
</select>
</div>
<div class="col-md-12">

<label>Exportar Reporte</label>
<div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
<a class="btn btn-default"  @click="generaReporte(1)" role="button"><i class="bi bi-box-arrow-in-down"></i> PDF</a>
<a class="btn btn-default"  @click="generaReporte(2)" role="button"><i class="bi bi-box-arrow-in-down"></i> XLS</a>
<!-- 							<a class="btn btn-default-bright"  @click="generaReporte" role="button"></a> -->
</div>


</div> 
               
             </div>


            
                       
            
           
           <div class="col-md-8" style="height:600px;">
               <iframe :src="url" allowfullscreen></iframe>
           </div>
           </div>
      </div>      
  
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import {en, es} from 'vuejs-datepicker/dist/locale'
import global from '../../globals'
import titleBar from '../../components/titleBar'
import Vue from 'vue'
export default {
  name: 'reporteCortes',
  data () {
    return {        
        es: es,       
        vendedores: [],
        url: '',        
        title:'Reporte Cartera de Clientes',
        subtitle:'Reportes'
    }
  },
  mounted () {
    this.GetVendedores()
  
   
  },
  methods: {
     GetVendedores (){
      axios.post("/Vendedor/GetVendedor",{op:0}).then((res) => {
        
        this.vendedores = res.data.GetVendedorResult        
      })
    },
    generaReporte (tipo) {

      let vm = this;
 

        let params ={
          tipoDescarga: tipo,
          vendedorId: (this.vendedorId) ? this.vendedorId:0, 
           op:0, 
           op2:0, 
           op3:0, 
           op4:'',  
           op5:''
        }
        axios.post('/Reportes/GetReporteClientes', params).then((res) => {

            if(tipo == 1){
                  this.url = global.URL_REPORTS + res.data.GetReporteClientesResult
              }else{
                window.open(global.URL_REPORTS + res.data.GetReporteClientesResult, '_self');
              }
              
          })  
     
      }
    
  },
  components: {
    Datepicker,
    titleBar
  }
}
</script>
<style scoped>
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 550px;
    border: 0;
}
</style>

