<template>
<div class="devolucion">
    <title-bar :title="title" :subtitle="subtitle"></title-bar>
    <div class="card">
       <div class="card-body">
      <div class="row">

          <div class="col-md-4">
          <div class="col-md-12">
            <label for="">Sucursal</label>                
                <select class="form-control input-sm" :disabled="detalle" v-model="sucursalId"  name="sucursal" @change="cantidadInventario=0">
                   <option value="">Todas</option>
                  <option v-for="option in sucursales" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>    
          </div>
            <div class="col-md-12">              
                <label>Departamento</label>
                <select class="form-control input-sm" :disabled="detalle" v-model="departamentoId" name="departamento" @change="getCategorias">
                   <option value="">Selecciona</option>
                  <option v-for="option in departamentos" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
           </div>
            <div class="col-md-12">              
                <label>Categoria</label>
                <select class="form-control input-sm" :disabled="detalle" v-model="categoriaId" name="categoria" @change="getArticulos">
                   <option value="">Selecciona</option>
                  <option v-for="option in categorias" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>             
           </div>
              
            
        </div>   
        <div class="col-md-4">
          <div class="col-md-12">              
                <label>Articulo</label>
                <select class="form-control input-sm" :disabled="detalle" v-model="articuloId" name="categoria" @change="getInventario">
                   <option value="">Selecciona</option>
                  <option v-for="option in articulos" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>             
           </div>
           <div class="col-md-6">              
                <label>Cantidad En Inventario</label>
               <input type="number" v-model="cantidadInventario" :disabled="true" class="form-control">      
           </div>
           <div class="col-md-6">              
                <label>Cantidad</label>
               <input type="number" v-model="cantidad" class="form-control">      
           </div>
           <div class="col-md-12">
             <br>
             <button class="btn btn-default btn-sm" :disabled="detalle"  @click="agregaArticulo">Agregar Articulo </button>
           </div>
        </div> 


      </div>
      <hr>
      <div class="row">  
         <div class="col-md-4">
           <label class="text-center text-primary">Articulos Agregados</label>
             <table class="table">
                <thead>
                  <th>UPC</th>
                  <th>Articulo</th>
                  <th>Cantidad</th>
                  <th>Opciones</th>
                </thead>
                <tbody>
                  <tr v-for=" (x, index) in articulos_orden" :key="x.articuloId">
                    <td>{{x.upc}}</td>
                    <td>{{x.nombre}}</td>
                    <td>{{x.cantidad}}</td>
                    <td><button class="btn btn-xs btn-danger" :disabled="detalle" @click="Elimina(index)" >Eliminar</button></td>
                  </tr>
                </tbody>
             </table>


        </div>        
        <div class="col-md-4">
              <br>
             <div class="col-md-12">
             <label>Observaciones</label>
              <textarea 
              placeholder="Ingresa una breve observación del cambio de estatus"
              name="" id="" rows="2" :disabled="detalle" v-model="observaciones" class="form-control" >
              </textarea>
           </div>
           <div class="col-md-12">              
                <label>Estatus  que se cambiaran los articulos</label>
                <select class="form-control input-sm" v-model="estatusId" name="estatus" :disabled="detalle">
                   <option value="">Selecciona</option>
                  <option v-for="option in estatus" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>             
           </div>


        </div>
        


      </div>
    
   
      
      </div>    
    
    </div>
        <div class="card" style="margin-top:-25px;">
          <div class="card-body text-right">

             <button class="btn btn-success " @click="guardar" :disabled="detalle">Guardar </button>
       <router-link class="btn btn-default" to="/gestioninventario"> <i class="bi bi-x-lg"></i> Cancelar</router-link>
            </div>
          </div>

    </div>
   
</template>
<script>
import titleBar from '../../components/titleBar'
import tablecomponent from '../../components/table'
import { EventBus } from '../../../event-bus'
import modalcancelaproceso from '../../components/modals/modal_cancelaProceso'
import axios from 'axios'
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import Vue from 'vue';
import {en, es} from 'vuejs-datepicker/dist/locale'
export default {
  name: 'recepciones',
  data () {
    return {     
      title : 'Gestion de Inventario',
      subtitle : 'Procesos',
      sucursales: [],
        departamentos: [],
      categorias:[],
      articulos:[],
      estatus:[],
      articulos_orden:[],
      sucursalId:'',
      departamentoId:'',
      categoriaId:'',
      articuloId:'',
      estatusId:'',
      cantidadInventario:0,
      detalle:false
    }
  },
  mounted () {
    this.getSucursal()  
    this.getDepartamentos()
    this.getCategorias() 
    this.getEstatus()

     if(this.$route.params.id) {
        this.detalle = true
        this.title = "Gestion de Inventario  #" + this.$route.params.id;
        this.getTarea(this.$route.params.id)
     }

  },  
  methods: {
    getTarea(id){
      let vm= this
       axios.get("/Tarea/GetTareaById?id="+ id).then(res => {
        let tarea = res.data.GetTareaByIdResult;
        console.log(res)
         vm.observaciones = tarea.observaciones;
         vm.sucursalId = tarea.sucursalId;         
          axios.get("/Tarea/GetTareaDetalle?id="+ id).then(res => {
             vm.articulos_orden = res.data.GetTareaDetalleResult;
          })
         
      });
     
    },
    getSucursal () {
     axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
    },    
    getDepartamentos () {
      let vm = this
      axios.get('/Departamento/GetDepartamento').then((res) => {       
        vm.departamentos = res.data.GetDepartamentoResult
      })
    },
    getCategorias () {
      let vm = this
      axios.get(`/Categoria/GetCategoria?departamentoId=${(this.departamentoId) ? this.departamentoId: 0 }&nombre=`).then((res) => {    
       vm.categorias =  res.data.GetCategoriaResult
      })
    },
     getArticulos () {  
      let vm = this   
      axios.get(`/Articulo/GetArticulo?upc=&nombre=&departamentoId=${(this.departamentoId)? this.departamentoId: 0 }&categoriaId=${(this.categoriaId)?this.categoriaId:0 }`).then((res) => {
       vm.articulos =res.data.GetArticuloResult
      })
    },
    getEstatus(){
      let vm = this   
      axios.get(`/Estatus/GetEstatus`).then((res) => {
       vm.estatus =res.data.GetEstatusResult
      })
    },
    getInventario(){
      let vm = this
      let params = {
        sucursalId:(this.sucursalId)?this.sucursalId:0 ,
        articuloId:(this.articuloId)? this.articuloId: 0,
        estatusId:  1
      }
      axios.post(`/Articulo/GetInventarioArticulo`,params).then((res) => {
       vm.cantidadInventario =res.data.GetInventarioArticuloResult
      })
      

    },
    Elimina(index){
        this.articulos_orden.splice(index , 1)
    },
    agregaArticulo(){   
      if (this.cantidad > this.cantidadInventario){
         this.$snotify.error('La cantidad ingresada es mayor a la cantidad en inventario', '¡Atención!') 
        return 
      }
      
      if(this.articulos_orden.some((el) => { return el.articuloId === this.articuloId})) {
         this.$snotify.error('El articulo ya fue agregado a la orden', '¡Atención!') 
        return 
      }
     let art = this.articulos.filter(x=> x.id == this.articuloId)[0];

      let obj= {
        upc: art.upc,
        nombre:art.nombre,
        articuloId: this.articuloId,
        cantidad: this.cantidad,
        precio:0,
        tipoMonedaId:0
      }
      this.articulos_orden.push(obj)

      this.cantidad = 0;
      this.cantidadInventario=0
      this.articuloId = '';
    },
    guardar(){

      let tarea = {
      usuarioId:Vue.localStorage.get('USER_ID'),
      sucursalId: this.sucursalId,
      observaciones:this.observaciones
      }

      let params = {
        tarea: tarea,
        detalle: this.articulos_orden,
        estatus: this.estatusId
      }
     axios.post('Tarea/GetCambioEstatusNuevo',params).then((res)=> {
        this.$snotify.success('Orden creada correctamente', '¡Atención!') 
           this.$router.push({ path: `/gestioninventario` }) 

     });

    }
  },
  components: {
    titleBar,
    tablecomponent,
    Datepicker,
    modalcancelaproceso
  }

}
</script>
<style>
.input-cantidad{
  width: 80px;
}
</style>
