<template>
<div class="devolucion card">
    <title-bar :title="title" :subtitle="subtitle"></title-bar>
    <div class="card-body">
        <div class="col-md-12">
          <div class="col-md-3">
            <label for="">Sucursal</label>                
                <select class="form-control input-sm" v-model="sucursalId"  name="sucursal">
                   <option value="">Todas</option>
                  <option v-for="option in sucursales" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>    
          </div>
          <div class="col-md-2">
             <label>Fecha</label>
             <input type="date" v-model="fechaInicio" class="form-control input-sm" >
                 
            </div>         
          <div class="col-md-2">
            <label for="">Número Orden</label>
             <input type="number" v-model.number="id" class="form-control input-sm"  >
          </div>
          <div class="col-md-2">
            <br>
            <button class="btn btn-sm btn-default" @click="getRecepciones"> <i class="bi bi-search"></i> Buscar</button>
          </div>
          <div class="col-md-2">
            <br>
           <button class="btn btn-success"><router-link to="/recepcion/nuevo"> <i class="bi bi-plus-lg"></i> Nueva Recepción</router-link></button>
          </div>
        </div>          
         <div class="col-md-12 text-right">
           <table class="table">
      <thead>
        <th class="text-left" ># Folio</th>
        <th class="text-left" >Fecha</th>
        <th class="text-left" >Estatus</th>
        <th class="text-left" >Sucursal</th>
         <th class="text-left" >Proveedor</th>
        <th class="text-left">Opciones</th>
        <th class="text-left">Documentos</th>
      </thead>
      <tbody>
         <tr v-for="item in data" :key="item.id" @click="selectedRow(item)" >
           <td class="text-left" >{{item.id}}</td>
            <td class="text-left" >{{item.fechaFormato}}</td>
             <td class="text-left" >{{item.status}}</td>
              <td class="text-left" >{{item.sucursal.nombre}}</td> 
               <td class="text-left" >{{item.proveedor.nombre}}</td>         
            <td class="text-left" v-show="(actions.detalle)?true:false">
                <router-link class="btn btn-default btn-sm" v-bind:to="'/recepcion/consulta/' + item.id"><i class="bi bi-eye"></i> Consultar</router-link>        
              <button type="button" v-if="item.status != 'CANCELADA'" v-show="(actions.cancelar)?true:false" @click="cancela(item)" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Cancelar</button>
            </td>
            <td class="text-left">

              <button type="button" @click="imprimir(item)" class="btn btn-default btn-sm"><i class="bi bi-printer"></i> Imprimir</button>
              <button type="button" @click="documentos(item)" class="btn btn-default btn-sm"><i class="bi bi-files-alt"></i> Documentos </button>
            </td>
         </tr>
      </tbody>
  </table>
       </div>
       <div class="row ">
 <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item "  :class="{ 'disabled':(currentPage==1)}">
      <a class="page-link" href="#" tabindex="-1"   @click="previous()"   >Anterior</a>
    </li>
     <li class="page-item" :key="value" v-for="value in totalPages" :class="{ 'active':(currentPage==value)}">
        <a class="page-link"  href="#" @click="paginate(value)" >{{value}}</a>
    </li>
    <li class="page-item" :class="{ 'disabled':(currentPage==totalPages)}" >
      <a class="page-link" href="#"  @click="next()">Siguiente</a>
    </li>
  </ul>
</nav>
    </div>
      </div>   

       <modal name="modal-cancelaProceso" :width="400" :height="200" :clickToClose="false" >
      <modalcancelaproceso :id="IdCancelar" :mensaje="'¿Estas seguro de cancelar esta recepción de artículos ? #'+ IdCancelar"></modalcancelaproceso>      
   </modal>
   <modal name="modal-reporte" :width="800" :height="800" :clickToClose="true" >
      <modalreporte :src="src" ></modalreporte>      
   </modal>
   <modal name="modal-archivos" :width="600" :height="800" :clickToClose="true" >
      <modalarchivos :tareaId="IdArchivos" ></modalarchivos>      
   </modal>

</div>
</template>
<script>
import titleBar from '../../components/titleBar'
import tablecomponent from '../../components/table'
import { EventBus } from '../../../event-bus'
import modalcancelaproceso from '../../components/modals/modal_cancelaProceso'
import modalreporte from '../../components/modals/modal_imprimeReporte'
import modalarchivos from '../../components/modals/modal_archivostarea'
import axios from 'axios'
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import {en, es} from 'vuejs-datepicker/dist/locale'
import global from '../../globals'
import Vue from 'vue'
export default {
  name: 'recepciones',
  data () {
    return {     
      title : 'Recepción de Mercancia',
      subtitle : 'Procesos',
      sucursales: [],         
       es: es,      
          id: 0,
          fechaInicio: '01/01/1900',
          fechaFin:'01/01/2100',
          tipo:1,
          sucursalId: '',
          status:'', 
          totalPages: 0,
      total: 0,
      currentPage: 0,
      data: [],    
      actions: {
        editar: true,
        cancelar: true,
        imprimir:true,
        detalle:true
      },
      IdCancelar:0,
      IdArchivos:0,
      src:''

    }
  },
  mounted () {
    
    this.getRecepciones()
   /*   EventBus.$on('editar', data => {       
       this.$router.push({ path: `/recepcion/edita/${data.id}` }) 
    }) */
    
    EventBus.$on('CIERRA_CANCELA_PROCESO', data => {     
       this.$modal.hide('modal-cancelaProceso')
    })
      EventBus.$on('CANCELA_PROCESO', id => {     
       this.$modal.hide('modal-cancelaProceso')
       this.cancelar(id)
    })

     EventBus.$on('CLOSE_REPORTE', id => {     
       this.$modal.hide('modal-reporte')
     
    })

     EventBus.$on('CLOSE_TAREAS', id => {     
       this.$modal.hide('modal-archivos')
     
    })

    
     
    this.getSucursales()

    
  },  
   beforeDestroy(){
EventBus.$off('CIERRA_CANCELA_PROCESO')
EventBus.$off('CANCELA_PROCESO')
    EventBus.$off('CLOSE_REPORTE')
    EventBus.$off('CLOSE_TAREAS')
  },
  methods: {
    documentos(item){
      this.IdArchivos=item.id;
     this.$modal.show('modal-archivos')
    },
    cancela(item){
      this.IdCancelar=item.id;
       this.$modal.show('modal-cancelaProceso')

    },
    imprimir(item){
      axios.post('/Reportes/GetReporteDetalleTarea', {Id: item.id}).then((res)=> {
         this.src = global.URL_REPORTS + res.data.GetReporteDetalleTareaResult
        this.$modal.show('modal-reporte')  
       })

    },
    customFormatter(date) {     
      return  moment(date).format('L')
    },
    asignaFecha () {
     if (this.fechaInicio) {
       this.fechaFin = this.fechaInicio
     }
     else{
       this.fechaFin = '01/01/2100'
     }
    },
    cancelar(id) {
      let params = {
        id: id,
        usuarioId:Vue.localStorage.get('USER_ID')
      }
      axios.post('/Tarea/GetCancelaRecepcion',params).then((res) => {

        if(res.data.GetCancelaRecepcionResult.ErrorCode == 0){

           this.$snotify.success('Recepción cancelada correctamente', '¡Atención!')
           this.getRecepciones()
        }else{
             this.$snotify.error(res.data.GetCancelaRecepcionResult.Message, '¡Atención!') 
        }
         
        this.sucursales = res.data.GetSucursalResult      
      })       
    },
    getRecepciones () {      
        let vm = this  
                 
        if (!this.fechaInicio){
         this.fechaInicio = '01/01/1900'
         this.fechaFin =  '01/01/2020'
      }
        
      let  params = {
          id: (this.id)? this.id:0,
          fechaInicio:moment(this.fechaInicio).format('YYYY-MM-DD').replace('-','').replace('-',''),
          fechaFin:moment(this.fechaFin).format('YYYY-MM-DD').replace('-','').replace('-',''),
          tipo:1,
          sucursalId: (this.sucursalId) ? this.sucursalId:0,
          status:'',
          usuarioId:Vue.localStorage.get('USER_ID')
      }       
   
      axios.post('/Tarea/GetTarea', JSON.stringify(params)).then((res) => {    
        console.log(res)
        vm.data =res.data.GetTareaResult    
      })

    },
   getSucursales() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
    }

  },
  components: {
    titleBar,
    tablecomponent,
    Datepicker,
    modalcancelaproceso,
    modalreporte,
    modalarchivos
  }

}
</script>
<style>
.input-cantidad{
  width: 80px;
}
</style>
