<template>
<div class="recepcionNueva">
 <!--  <form novalidate  @submit.prevent="validate"> -->
    <title-bar :title="title" :subtitle="subtitle"></title-bar>
    <div class="card">
       <div class="card-body"> 
      
        <div class="col-md-4 formulario-recepcion">
            <div class="col-md-12">
              <p><label>Fecha Recepción: </label> {{(this.tarea.fechaFormato) ? this.tarea.fechaFormato:'POR ASIGNAR'  }} </p> 
              <p><label>Estatus Actual: {{ (this.tarea.status) ? this.tarea.status: 'POR ASIGNAR'}} </label> </p> 
              <p><label>Usuario:</label> {{(this.tarea.usuario)? this.tarea.usuario.nombre: 'POR ASIGNAR' }} </p> 
            </div>
            <div class="col-md-12">              
                <label>Elige Sucursal en que se recibirá la mercancia</label>
                <select class="form-control input-sm" v-model="tarea.sucursalId" v-validate="'required'"  name="sucursal" :disabled="tarea.id > 0 || detalle"
                 :class="(errors.has('sucursal')) ? 'is-invalid':'is-valid'">
                   <option value="">Selecciona</option>
                  <option v-for="option in sucursales" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>    
                <span v-show="errors.has('sucursal')" class="invalid-feedback">{{ errors.first('sucursal') }}</span>         
           </div>
            <div class="col-md-12">              
                <label>Elige Vendedor</label>
                <select class="form-control input-sm" v-model="tarea.vendedorId" v-validate="'required'" :disabled="detalle" name="vendedor" :class="(errors.has('vendedor')) ? 'is-invalid':'is-valid'">
                   <option value="">Selecciona</option>
                  <option v-for="option in vendedores" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>   
                <span v-show="errors.has('vendedor')" class="invalid-feedback">{{ errors.first('vendedor') }}</span>             
           </div>
             <div class="col-md-12">              
                <label>Observaciones</label>
                <textarea class="form-control input-sm" :disabled="detalle" v-model="tarea.observaciones"></textarea>
           </div>
        </div>
        <div class="col-md-8">
        <div class="col-md-12">
           <articuloinventario :sucursalId="this.tarea.sucursalId" :vendedorId="this.tarea.vendedorId" :tipo="'S'" />
        </div>
        <div class="col-md-12 tbl-recepcion">
            <table class="table">
            <thead>
                <th>UPC</th>
                <th>ARTICULO</th>
                <th>CANTIDAD</th>
                <th>UNIDAD</th>
                     
                <td></td>
            </thead>
            <tbody>
                <tr v-for="(x, index) in articulos" :key="x.id">
                    <td>{{x.upc}}</td>
                    <td>{{x.nombre}}</td>
                    <td><input class="rec-input-cant" type="number" :disabled="true" v-model.number="x.cantidad" @input="actualizaMontos" ></td>
                    <td>{{x.unidad.nombre}}</td>
                <td>
                    <button class="btn btn-danger btn-sm" type="button" :disabled="detalle"  @click="muestraPregunta(x,index)" ><i class="bi bi-trash"></i></button>
                </td>                   
                </tr>
            </tbody>
         </table>
        </div>         
         <div class="col-md-12">
             <div class="col-md-6">
                 <b>Cant. Articulos</b> {{this.cantRecepcion}}
             </div>
             <div class="col-md-6">
                  <b>Total Recepción</b> {{this.totalRecepcion | currency}}
             </div>
          
         </div>
        </div>
       
    </div> 

    </div>

         <div class="card" style="margin-top:-25px;">
          <div class="card-body text-right">

           <button class="btn btn-success" @click="validate" type="button" :disabled="detalle"> <i class="bi bi-box-arrow-down"></i> Guardar</button>
                       <router-link class="btn btn-default" to="/traspaso"> <i class="bi bi-x-lg"></i> Cancelar</router-link>
            </div>
          </div>
   
 <modal name="elimina-articulo" :width="300"  :height="200" >
   <div class="row">
        <div class="col-md-12 text-center" >
          <h3 class="text-center text-danger">Atención</h3>
          <h4 ><b>{{mensaje}}</b> </h4>
        </div>
       
   </div>
   <hr>
 <div class="row">
   <div class="col-md-4 col-md-offset-4">
       <button class="btn btn-danger btn-sm " @click="Afirmacion(1)">Eliminar</button>
   </div>
    <div class="col-md-4">
       <button class="btn btn-default btn-sm" @click="$modal.hide('elimina-articulo')">Cancelar</button> 
    </div>
 </div>
 </modal> 
<modal name="modal_recepcion-cantidad" :width="400"  :height="250" >
      <modalrecepcioncantidad
      :articuloId="articuloId_rec"
      :nombre="nombre_rec"
      :articulo="articulo_rec"
      :cantidad="articulo_rec_cant"
      :cant_max="articulo_rec_cant_max"
      ></modalrecepcioncantidad>
</modal>
<!-- </form>     --> 
</div>
</template>
<script>
import Vue from 'vue'
import titleBar from '../../components/titleBar'
import tablecomponent from '../../components/table'
import { EventBus } from '../../../event-bus'
import articuloinventario from '../../components/busquedaArticuloInventario'
import modalrecepcioncantidad from '../../components/modals/modal_recepcionCantidad.vue'
import axios from 'axios'
export default {
  name: 'recepcionNueva',
  data () {
    return { 
      nombre_rec:'',
      articulo_rec_cant:0,
      articuloId_rec:0,
      articulo_rec:'',
      cantRecepcion: 0,
      totalRecepcion: 0,     
      mensaje: '',
      selected: {},
      observaciones: '',
      sucursales: [],
      proveedores: [],
      articulos : [],
      vendedores:[],
      detalle:false,
      title : 'Nuevo Traspaso a Vendedor',
      subtitle : 'Procesos',
      tarea : {
          id: 0,
          usuarioId: Vue.localStorage.get('USER_ID'),
          observaciones: '',
          sucursalId: '',
          proveedorId: 0,
          vendedorId:''
      }
    }
  },
  mounted () {
    if(this.$route.params.id){
      this.tarea.id = this.$route.params.id
      this.getRecepcion(this.tarea.id)
      this.title = 'Consultar Traspaso #' + this.tarea.id
      this.detalle = true
    }
    this.getSucursales()
    this.obtenProveedores()

    EventBus.$on('save_modal_recepcionCantidad', data => {
       
       if(!this.articulos.some((el) => { return el.id === data.id})){
       data.cantidad = data.cantidad
       data.precio = 0
       data.articuloId = data.id
       this.articulos.push(data)
       }
       else{
          this.articulos.map((item) => {
              if(item.id === data.id) item.cantidad=parseFloat(data.cantidad)
          })
       }
       this.actualizaMontos()
       this.$modal.hide('modal_recepcion-cantidad')  
    })

    EventBus.$on('BUSQUEDA_UPC', data => {
      console.log(data)
        
      this.nombre_rec=data.nombre,
      this.articuloId_rec=data.id
      this.articulo_rec =data
      this.articulo_rec_cant_max= data.cantidad
       if(this.articulos.some((el) => { return el.id === data.id})){
         console.log(this.articulos.filter(x=> x.id == data.id ))
         this.articulo_rec_cant =this.articulos.filter(x=> x.id == data.id )[0].cantidad
       }else{
         this.articulo_rec_cant=1
       }
    
       this.$modal.show('modal_recepcion-cantidad')
      /*   console.log(data)
       */
     });
    },
  methods: {
      actualizaMontos () {
       this.obtenTotal()
       this.obtenCantRecepcion()
      },
      getRecepcion(id){
          let vm = this
         axios.get('/Tarea/GetTareaById?id=' + id )
         .then((res)=> {
           vm.tarea =  res.data.GetTareaByIdResult
           /* vm.tarea.observaciones = obj.observaciones
           vm.tarea.sucursalId = obj.sucursalId
           vm.tarea.proveedorId = obj.proveedorId */
            axios.get('/Tarea/GetTareaDetalle?id=' + id )
            .then((res)=> {
                vm.articulos = res.data.GetTareaDetalleResult
                vm.actualizaMontos()
            })
           
         })
      },
      obtenCantRecepcion () {
       let vm = this
       vm.cantRecepcion = 0
       this.articulos.forEach((i) => {
          if (!isNaN(i.cantidad) )  vm.cantRecepcion = vm.cantRecepcion + i.cantidad          
       })
      },
      obtenProveedores(){
         axios.post('/Vendedor/GetVendedor',{op:0}).then((res) => {      
             this.vendedores= res.data.GetVendedorResult
         }); 
      },
      obtenTotal () {
        let vm = this
        vm.totalRecepcion = 0
       this.articulos.forEach((i) => {
          if (!isNaN(i.precio) )  vm.totalRecepcion = vm.totalRecepcion + (i.precio * i.cantidad )        
       })
      },
      validate () {
      let vm = this
       this.$validator.validateAll().then(result => {   
         console.log(result)    
        if (result) {
            
        if ( vm.articulos.length == 0) return this.$snotify.error('Ingresa al menos un articulo para continuar', '¡Atención!')

        if (vm.tarea.id > 0){

           axios.post('/Tarea/UpdateRecepcionTarea',{tarea : this.tarea,'detalle': vm.articulos })
            .then((res)=> {
               
               
                   vm.$snotify.success('La recepción de mercancia se editó correctamente', '¡Atención!')
                   vm.$router.push('/traspaso')
              
             })                

            } else {

            axios.post('/Tarea/AddTraspasoVendedor',{tarea : vm.tarea,detalle: vm.articulos})
            .then((res)=> {
               let tareaId = res.data.AddTareaResult
              
                   vm.$snotify.success('La recepción de mercancia se realizo correctamente', '¡Atención!')
                   vm.$router.push('/traspaso')
                           

            })
            
        }           
           
        }
       })
      },
    getSucursales() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
    },
    Afirmacion () {
        this.articulos.splice(this.selected , 1)
        this.actualizaMontos()
       this.$modal.hide('elimina-articulo')     
    },
    muestraPregunta (articulo,index) {
        this.selected = index
        this.mensaje='¿Estas seguro de eliminar el siguiente artículo de la recepción? ' + articulo.nombre
        this.$modal.show('elimina-articulo');
    }    
  },
  components: {
    titleBar,
    tablecomponent,
    articuloinventario,
    modalrecepcioncantidad
  }

}
</script>
<style>
.rec-input-cant{
  width: 80px;
}
.rec-input-prec{
    width: 80px;
}
.tbl-recepcion{
    height: 300px;
    overflow: scroll;
}
.formulario-recepcion{
    margin-top: 25px;
}
</style>
