<template>
<div id="modal_productosat">
    <div class="row">
       <div class="col-md-12">
           <input type="text" 
           placeholder="Ingresa una descripción"
           class="form-control" v-model="search" @change="getArticuloSAT()">
       </div>
        <div class="col-md-12">
            <label> Coincidencias:</label>
            <div class="col-md-12" id="tablaCoincidencias" style="max-height: 180px;  overflow-y: scroll;">

                 <table class="table">
                <thead>
                    <th>Codigo</th>
                     <th>Producto</th>
                     <th>seleccionar</th>
                </thead>
                <tbody>
                    <tr v-for="x in articulos" :key="x.key">
                        <td>{{x.key}}</td>
                        <td>{{x.description}}</td>
                        <td><button @click="selecciona(x)" class="btn btn-info btn-xs">seleccionar </button></td>
                    </tr>
                </tbody>
            </table>
            </div>
           
        </div>
    </div>
    <button class="btn btn-default closeticket" @click="close">Salir</button>
</div>
</template>
<script>
import { EventBus } from '../../../event-bus'
import axios from 'axios'
export default {
  name: 'modal_productosat',
  props: ['src'],
  data () {
    return {
        articulos:[],
        search:''
    }
  },  
  methods: {  
    close (){    
        EventBus.$emit('close_modal_productosat')
    },
    getArticuloSAT(){
      let vm = this
        
         axios.post('/Factura/GetCatalogoProductosSAT?search=' +  vm.search).then((res) => {
           vm.articulos= res.data.GetCatalogoProductosSATResult                  
        })

    }, 
    selecciona(x){
        console.log(x)
        EventBus.$emit('save_modal_productosat',x.key)
    }  
  } 
}
</script>
<style>
#modal_productosat{
padding: 10px;
}
.closeticket{
position:absolute;
bottom:10px;
right: 10px;
}
</style>