<template>
<div id="imprimeticketpago">
    <iframe class="frameticket" :src="srcticket"></iframe>
    <button class="btn btn-default closeticket" @click="close">Salir</button>
</div>
</template>
<script>
import { EventBus } from '../../../event-bus'
export default {
  name: 'imprimeticketpago',
  props: ['srcticket'],
  data () {
    return {}
  },  
  methods: {  
    close(){
     // alert('salir')
        EventBus.$emit('CLOSE_TICKET_PAGO')
    }     
  } 
}
</script>
<style>
.frameticket{
  width: 100%;
  height: 100vh;
  position: relative;
}
.closeticket{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 60px;
    height: 50px;
}
</style>