<template>

<div class="archivos">   
    <div class="card">
      <div class="card-head card-head-xs style-primary">
										<header>Adjuntar Archivos Tarea # {{tareaId}}</header>
										<div class="tools">
											<a @click="close" class="btn btn-icon-toggle btn-close"><i class="fa fa-close"></i></a>
										</div>
									</div>

                      <div class="col-md-12">
<label>Archivo
        <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
      </label>
        <button v-on:click="submitFile()" class="btn btn-success btn-sm">Guardar Documento</button>
      

    </div>
    <div class="col-md-12">
        <table class="table">
            <thead>
             <th>Nombre de Archivo</th>
             <th>Acciones</th>
            </thead>
            <tbody>
                <tr v-for="x in archivos" :key="x.id">
                    <td>{{x.nombre}}</td>
                    <td><button class="btn btn-default btn-xs" @click="ver(x)">Ver</button></td>
                     <td><button class="btn btn-danger btn-xs" @click="eliminar(x)">Eliminar</button></td>
                </tr>
            </tbody>
           
        </table>
        
    </div>
    <div class="col-md-12" v-if="showimage" >
      <img :src="srcimage" width="300px" height="300px">
    </div>
    <div class="col-md-12" v-if="showpdf" >
     <iframe :src="pdf" width="500" height="500"></iframe>
    </div>  


</div>
</div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios'
import { EventBus } from "../../../event-bus";
import global from '../../globals'
export default {
  name: 'archivos',
  template: '#archivos',
  props: ['tareaId'],
  data: function() {
    return {  
        tareaId: 0,
        file: '',   
        archivos:[] ,
        srcimage:'',         
        showimage:false,
        showpdf:false
    }
  }, 
  mounted(){
    this.getDocumentos()
  },
  methods: {
      getDocumentos (){
         let vm=this
         axios.post(global.URL_DOCUMENTOS + '/Archivo/GetFileTarea',{tareaId: this.tareaId}).then(function(res){
           // console.log(res)
           vm.archivos =res.data.GetFileTareaResult
         })
      },
      ver(item){
        console.log(global.URL_DOCUMENTOS_TAREAS + item.archivo)
        if(item.tipo == 1){
          this.showpdf =false
          this.showimage =true
          this.srcimage = global.URL_DOCUMENTOS_TAREAS + item.archivo
        }
        if(item.tipo == 2){
           this.showpdf =true
            this.showimage =false
           this.pdf = global.URL_DOCUMENTOS_TAREAS + item.archivo
        }

      },
      close () {
        EventBus.$emit('CLOSE_TAREAS')
      },
      eliminar(item){
        let vm = this;
          axios.post(global.URL_DOCUMENTOS + '/Archivo/DeleteImagenesTarea',{id: item.id}).then(function(res){
           // console.log(res)
           vm.getDocumentos();
         })
      },
      obtenDatos(value){         
          this.tareaId = value
      } ,
      handleFileUpload(){
        this.file = this.$refs.file.files[0];
      },
      submitFile(){
            let vm= this;
            let formData = new FormData();           
            formData.append('file', this.file);
            formData.append('tipo',1);
            formData.append('TareaId',this.tareaId);
                   
            axios.post(global.URL_DOCUMENTOS + '/Archivo/saveFileTarea',
                formData,
                {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
              }
            ).then(function(){     
             vm.getDocumentos();
              
        })
        .catch(function(){        
        });
      },
  },
  components: {   
  }
};
</script>

<style>

</style>
