<template>
<div class="cancelaVenta">
   <p class="cv-titulo">¿Estas seguro de Cancelar la venta No. ? {{ventaId}}</p>
    <button class="btn btn-danger btn-lg" @click="cancelar">Cancelar Venta</button> 
    
</div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios'
import { EventBus } from "../../../event-bus";
export default {
  name: 'cancelaVenta',
  template: '#cancelaVenta',
  props: ['ventaId'],
  data: function() {
    return {           
      userId: Vue.localStorage.get('USER_ID')
    };
  }, 
  methods: {
      cancelar () {
        let params = {
          'ventaId': this.ventaId,
          'usuarioId': this.userId,
          'motivoId':1000
        }
        console.log(params)
       axios.post('/Venta/GetCancelaVenta', params)
        .then((res) => {

            this.$snotify.success('La venta se canceló correctamente', '¡Atención!')
            EventBus.$emit("CANCELA_VENTA");
        }) 
      }
  },
  components: {   
  }
};
</script>

<style>
.cancelaVenta{
    display: flex;
    justify-content: center;
    flex-direction: column;  
    align-items: center;  
    padding: 20px;
    height: 180px;
    background: #5d014c;
   
}
.cv-titulo{
    font-size: 20px;
    font-weight: bolder;
    color: white;
   
    text-align: center;
}

</style>
