<template>
<div id="modal_precioCredito">
   <h3 class="text-center">Elige La mensualidad y costo del artículo</h3>
   <table class="table">
                    <thead>
                      <th>Descripcion </th>
                      <th>Monto</th>
                         <th>opciones</th>
                    </thead>
                    <tbody>
                      <tr v-for="item in preciosCredito" :key="item.id">
                        <td>{{item.descripcion}}</td>
                        <td>{{item.precio |currency}}</td>
                       <td><button class="btn btn-block btn-default-dark" type="button" @click="eligePlazo(item)">Elegir</button></td>
                      </tr>
                    </tbody>
                  </table>
    
</div>
</template>
<script>
import { EventBus } from '../../../event-bus'
import axios from 'axios'
import {Money} from 'v-money'
export default {
  name: 'modal_precioCredito',
  props: ['ventaId','articuloId'],
  data () {
    return {
       preciosCredito:[]
    }
  }, 
  beforeDestroy() {  
},
  mounted(){  
      axios.post('/Articulo/GetArticuloPrecioCredito',{articuloId:this.articuloId ,ventaId:this.ventaId}).then((res) => {
               this.preciosCredito = res.data.GetArticuloPrecioCreditoResult;  
        })   
  },
  methods: {  
    
    close (){    
        EventBus.$emit('close_modal_precioCredito')
    },
    eligePlazo(item){     
        var data = {
            ventaId:this.ventaId,
            articuloId:this.articuloId,
            precio:item.precio,
            mes:item.mes
        }
        EventBus.$emit('accept_modal_precioCredito',data)
    }    
  },
  components:{
      Money
  }
}
</script>
<style>
#modal_productosat{
padding: 10px;
}
.closeticket{
position:absolute;
bottom:10px;
right: 10px;
}
</style>