<template>
<div class="autoriza">
     <div class="col-md-8 col-md-offset-2">
         <div class="col-md-12">
            <h3>Se Requiere Autorización</h3>
         </div>
        <div class="col-md-12">
            <b>Usuario</b>
            <input type="text"  class="form-control" v-model="usuario">
        </div>
        <div class="col-md-12">
             <b>Password</b>
              <input type="password"  class="form-control" v-model="password">
        </div>
        <div class="col-md-6">
            <br>
           <button class="btn btn-success btn-block" @click="autoriza">Autorizar</button>
        </div>
        <div class="col-md-6">
            <br>
           <button class="btn btn-default btn-block" @click="salir">Cancelar</button>
        </div>
     </div>
</div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios'
import { EventBus } from "../../../event-bus";
export default {
  name: 'autoriza',
  template: '#autoriza',  
  data: function() {
    return {  
        usuario: '',   
        password: ''               
    }
  }, 
  methods: {
      salir () {          
             EventBus.$emit("NO_AUTORIZADO");
      },
      autoriza () {   
          let params = {
              op:0, 
              email:this.usuario,
              password:this.password
          }
            axios.post('/Venta/GetAutorizaCancelacionVenta', params)
        .then((res) => {
            if(res.data.GetAutorizaCancelacionVentaResult ) {
              EventBus.$emit("AUTORIZADO");
               
            }else{
                 this.$snotify.error('El usuario y contraseña  proporcionadas no pueden autorizar la acción', '¡Atención!')
                
            }
            
            
        }) 
           
      }    
  },
  components: {   
  }
};
</script>

<style>
</style>
