<template>
<div class="consultaprecio" >

  <div class="row">
   <input type="text" 
      class="form-control" 
      v-model="upc" 
      id="txt"
      autocomplete="off" 
      placeholder="Escanea articulo o ingresa clave de articulo" 
      v-on:keydown.enter.prevent="getArticulo">
    </div>
    <hr>
    <div class="row">
          <h3>Nombre:{{nombre}}</h3>
          <h4>Descripción:{{descripcion}}</h4>
          <h3>Precio: {{precio | currency}}</h3>

    </div>
</div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios'
import { EventBus } from "../../../event-bus";
export default {
  name: 'consultaprecio',
  template: '#consultaprecio', 
  data: function() {
    return {           
    upc:'',
    nombre:'',
    descripcion:'',
    precio:''
    };
  }, 
  mounted(){
    document.getElementById("txt").focus();
  },
  methods: {
      getArticulo() {
            this.nombre='',
          this.descripcion='',
           this.precio=''  
      axios.get('/Articulo/GetArticuloUPC?upc=' + this.upc).then((res) => {       
          if(res.data.GetArticuloUPCResult){
             console.log(res.data)
             this.nombre =  res.data.GetArticuloUPCResult.nombre
             this.precio =  res.data.GetArticuloUPCResult.precioLista
             this.descripcion =  res.data.GetArticuloUPCResult.descripcion
          }
          else{
           this.$snotify.error('No se encontró ningun artículo con la clave proporcionada', '¡Atención!')
          }          
          this.upc = ''; 
        
      })
       
    }
  },
  components: {  
       
  }
};
</script>

<style>
.consultaprecio{
    padding: 50px;
}
</style>
