<template>
<div id="modal_abono">
    <div class="col-md-12 text-center">
         <h3>{{mensaje}}</h3>
    </div>
   <div class="row">
    <div class="col-md-12">
       
            <div class="col-md-12">
                <label>Fecha de Abono</label>
                <input type="date" v-model="fecha" class="form-control">
            </div>
            <div class="col-md-12">
                <label>Monto</label>
                 <money v-model="monto" class="form-control " v-bind="money" v-validate="'required'" name="monto"  ></money>    
                   <span v-show="errors.has('monto')" class="invalid-feedback">{{ errors.first('monto') }}</span>          
            </div>
            <div class="col-md-12">
                <label>Notas u Observaciones</label>
               <textarea class="form-control" v-model="observaciones">

               </textarea>
            </div>
    </div>
   </div>
   <hr>
   <div class="row">
       <div class="col-md-12">
        <div class="col-md-4 col-md-offset-4">
            <button class="btn btn-success" @click="aceptar">Aceptar</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-default" @click="close">Salir</button>
        </div>       
    </div>

   </div>
    
    
</div>
</template>
<script>
import { EventBus } from '../../../event-bus'
import axios from 'axios'
import {Money} from 'v-money'
export default {
  name: 'modal_abono',
  props: ['ventaId','totalpagar'],
  data () {
    return {
        monto:0,
        fecha:'',
        observaciones:'',
         money: {
          decimal: '.',
          thousands: ',',
          prefix: '$ ',
          suffix: '',
          precision: 2,
          masked: false /* doesn't work with directive */
        },
    }
  },  
  mounted(){
     
     this.mensaje = 'Ingresa el monto abonado'
    
    
  },
  methods: {  
    
    close (){    
        EventBus.$emit('close_modal_abono')
    },
    aceptar(){      
        console.log(this.monto,this.totalpagar)
        if(this.monto > this.totalpagar){
            this.$snotify.error('El monto maximo a abonar es $' + this.totalpagar, '¡Atención!') 
            return
        }else{ 
            let data = {            
            ventaId:this.ventaId,
            monto:this.monto,
            fecha:this.fecha,
            observaciones:this.observaciones
            }
          console.log(data)
          EventBus.$emit('accept_modal_abono',data)
        }
        
    }    
  },
  components:{
      Money
  }
}
</script>
<style>
#modal_productosat{
padding: 10px;
}
.closeticket{
position:absolute;
bottom:10px;
right: 10px;
}
</style>