<template>
<div id="modal_motivo">
    <div class="col-md-12">
         <h4>{{mensaje}}</h4>
    </div>
   
    <div class="col-md-12">
       <select class="form-control" v-model="motivoId">
           <option value="" > selecciona </option>
             <option v-for="option in motivos" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
       </select>  
       <br>
    </div>

    <div class="col-md-12">
        <div class="col-md-3 col-md-offset-6">
            <button class="btn btn-success" @click="aceptar">Aceptar</button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-default" @click="close">Salir</button>
        </div>       
    </div>
    
</div>
</template>
<script>
import { EventBus } from '../../../event-bus'
import axios from 'axios'
export default {
  name: 'modal_motivo',
  props: ['tipo','ventaId'],
  data () {
    return {
        motivos:[],
        motivoId:'',
        mensaje: ''   
    }
  },  
  mounted(){
      if (this.tipo == 'R') {
          this.mensaje = 'Selecciona el motivo de la reimpresión'
      }
      if (this.tipo == 'C') {
           this.mensaje = 'Selecciona el motivo de la cancelación'
      }
     this.getmotivos()
  },
  methods: {  
    getmotivos () {
     let tp = (this.tipo) ? this.tipo: ''
      axios.get('/Motivo/GetMotivo?tipo=' + tp).then((res) => {
        this.motivos  = res.data.GetMotivoResult
      })
    },
    close (){    
        EventBus.$emit('close_modal_motivo')
    },
    aceptar(){      
        let data = {
            motivoId:this.motivoId,
            tipo:this.tipo,
            ventaId:this.ventaId
        }
        EventBus.$emit('accept_modal_motivo',data)
    }    
  } 
}
</script>
<style>
#modal_productosat{
padding: 10px;
}
.closeticket{
position:absolute;
bottom:10px;
right: 10px;
}
</style>