<template>
<div id="enviaticket">
    <h3>Enviar Ticket</h3>
    <label for="">Ingresa Correo Electrónico</label>
    <input type="text" class="form-control" v-model="correo" placeholder="aaa@aaa.com">
    <br>
    <br>
    <button class="btn btn-block btn-default-dark" @click="enviar" ><i class="fa fa-send"></i> Enviar</button>
    <button class="btn btn-block btn-default" @click="close" > No Enviar</button>
</div>
</template>
<script>
import { EventBus } from '../../../event-bus'
import axios from 'axios'
export default {
  name: 'enviaticket',
  props: ['ventaId'],
  data () {
    return {
        correo:''
    }
  },  
  methods: {
      enviar(){
      let params ={
          ventaId:this.ventaId,
          email_enviar:this.correo
      }
      axios.post('/SistemaGeneral/EnviarTicket',params).then((res) => {       
          if(res.data.EnviarTicketResult.ErrorCode > 0){
               this.$snotify.error(res.data.EnviarTicketResult.Message, '¡Error!')
               EventBus.$emit('CLOSE_ENVIOTICKET')
          }else{
              this.$snotify.success('El email se envió correctamente', '¡Atención!')
              EventBus.$emit('CLOSE_ENVIOTICKET')
          }
         
      })

      },
      close(){
          EventBus.$emit('CLOSE_ENVIOTICKET')
      }
  } 
}
</script>
<style>
.frameticket{
  width: 100%;
  height: 100vh;
  position: relative;
}
.closeticket{
position:absolute;
top:10px;
right: 10px;
}
#enviaticket{
    padding: 20px;
}
</style>