<template>
<div id="modal_abono">
    <div class="col-md-12 text-center">
         <h3>{{mensaje}}</h3>
    </div>
   <div class="row">
    <div class="col-md-12">
       
            <div class="col-md-12">
                <label>Monto Total del crédito</label>                
                 <money v-model="totalpagar" class="form-control" disabled v-bind="money" v-validate="'required'" name="monto"  ></money>    
            </div>
            <div class="col-md-6">
                <label>Porcentaje A Descontar %</label>
                <input type="number" class="form-control" v-model="porcentaje" @change="calculaDescuento" @input="calculaDescuento">      
            </div>
            <div class="col-md-6">
                <label>Monto Descontado</label>
                <money v-model="monto_descuento" class="form-control" disabled v-bind="money" v-validate="'required'" name="monto"  ></money> 
               <!--  <input type="number" class="form-control" v-model="monto_descuento" disabled> -->
            </div>
            <div class="col-md-12">
                <label>Notas u Observaciones</label>
               <textarea class="form-control" v-model="observaciones">
               </textarea>
            </div>
    </div>
   </div>
   <hr>
   <div class="row">
       <div class="col-md-12">
        <div class="col-md-4 col-md-offset-4">
            <button class="btn btn-success" @click="aceptar">Aceptar</button>
        </div>
        <div class="col-md-4">
            <button class="btn btn-default" @click="close">Salir</button>
        </div>       
    </div>

   </div>
    
    
</div>
</template>
<script>
import { EventBus } from '../../../event-bus'
import axios from 'axios'
import {Money} from 'v-money'
import Vue from 'vue'
export default {
  name: 'modal_descuento',
  props: ['ventaId','totalpagar'],
  data () {
    return {
        porcentaje: 0,
        monto_descuento:0,
        monto:0,
        fecha:'',
        observaciones:'',
         money: {
          decimal: '.',
          thousands: ',',
          prefix: '$ ',
          suffix: '',
          precision: 2,
          masked: false /* doesn't work with directive */
        },
    }
  },  
  mounted(){
     
     this.mensaje = 'Ingresa el porcentaje a Descontar'
    
    
  },
  methods: {  
    calculaDescuento () {
        if(this.porcentaje >= 0){
           let porcentaje  = (  this.porcentaje / 100 ) * this.totalpagar
           this.monto_descuento = Math.round( porcentaje );
        }
    },
    close (){    
        EventBus.$emit('close_modal_descuento')
    },
    aceptar(){      
        console.log(this.monto,this.totalpagar)
        if(this.monto > this.totalpagar){
            this.$snotify.error('El monto maximo a abonar es $' + this.totalpagar, '¡Atención!') 
            return
        }else{ 
            let data = {            
            ventaId:this.ventaId,
            monto:this.monto_descuento,
            usuarioId:Vue.localStorage.get('USER_ID'),
            porcentaje:this.porcentaje,
            observaciones:this.observaciones
            }
          console.log(data)
          EventBus.$emit('accept_modal_descuento',data)
        }
        
    }    
  },
  components:{
      Money
  }
}
</script>
<style>
#modal_productosat{
padding: 10px;
}
.closeticket{
position:absolute;
bottom:10px;
right: 10px;
}
</style>