<template>
<div id="modal_recepcionCantidad">
    <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h4>Recibir {{nombre}}</h4>
                <label>Ingresa Cantidad</label>
                <input type="number" id="txtcantidad" 
                in="0" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                v-model="cantidad_rec" class="form-control">
            </div>
    </div>
    <hr>
    <div class="row text-center">
        <div class="col-md-12">
            <div class="col-md-6">
                 <button class="btn btn-primary btn-sm " type="button" @click="aceptar"><i class="bi bi-box-arrow-down"></i> Aceptar</button>
            </div>
             <div class="col-md-6">
                  <button class="btn btn-default btn-sm closeticket" type="button" @click="close">Salir</button>
             </div>
        </div>
        
    </div>
   
</div>
</template>
<script>
import { EventBus } from '../../../event-bus'
import axios from 'axios'
export default {
  name: 'modal_recepcionCantidad',
  props: ['articuloId','nombre','articulo','cantidad','cant_max'],
  data () {
    return {
        unidades:[],
        cantidad_rec:1
    }
  }, 
  mounted(){
       document.getElementById("txtcantidad").focus();
      this.cantidad_rec=this.cantidad    
      let vm = this
      window.addEventListener("keydown", function(event) {
       console.log(event )
      if(event.code == "Enter" ){
          var art  = vm.articulo
           if(this.cantidad_rec == 0){
             this.$snotify.error('La cantidad de traspaso tiene que ser mayor a 0', '¡Atención!')
            return
           }
           if(this.cantidad_rec > this.cant_max){
            this.$snotify.error('La cantidad maxima que se puede traspasar es de '+ this.cant_max, '¡Atención!')
            return
          }
          art.cantidad = vm.cantidad_rec
          EventBus.$emit('save_modal_recepcionCantidad',art)
      }     
     
    });
  },
  methods: {  
    close (){    
        EventBus.$emit('close_modal_recepcionCantidad')
    },
     aceptar(){
        console.log('articulo',this.articulo)
        console.log('cant_rec',this.cantidad_rec)
        console.log('cant_rec',this.cant_max)
          var art  = this.articulo
          if(this.cantidad_rec == 0){
             this.$snotify.error('La cantidad de traspaso tiene que ser mayor a 0', '¡Atención!')
            return
           }
          if(this.cantidad_rec > this.cant_max){
            this.$snotify.error('La cantidad maxima que se puede traspasar es de '+ this.cant_max, '¡Atención!')
            return
          }
          art.cantidad =this.cantidad_rec
          EventBus.$emit('save_modal_recepcionCantidad',art)
      
    }  
  } 
}
</script>
<style>
#modal_recepcionCantidad{
padding: 10px;
}

</style>