<template>

<div class="cancelasalida">
    <div class="col-md-12">

       <div class="col-md-12 text-center">
          <h3>{{mensaje}}</h3>
          <br>
       </div>
       <div class="col-md-6">
            <button class="btn btn-danger btn-block" @click="si">Si, Cancelar</button> 
       </div>
       <div class="col-md-6">
            <button class="btn btn-dafault btn-block" @click="no">No </button>   
           
       </div>

    </div>
  
    
    
</div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios'
import { EventBus } from "../../../event-bus";
export default {
  name: 'cancelasalida',
  template: '#cancelasalida',
  props: ['id', 'mensaje'],
  data: function() {
    return {  
        idProceso: 0               
    }
  }, 
  methods: {
      si () {          
           EventBus.$emit('confirm_cancela_salida' , this.id)
      },
      no () {          
           EventBus.$emit('close_cancela_salida')
      },
      obtenDatos(value){         
          this.idProceso = value
      }    
  },
  components: {   
  }
};
</script>

<style>

</style>
