<template>
<div id="imprimeReporte">
    <iframe class="frameticket" :src="src"></iframe>
    <button class="btn btn-default closeticket" @click="close">Salir</button>
</div>
</template>
<script>
import { EventBus } from '../../../event-bus'
export default {
  name: 'imprimeReporte',
  props: ['src'],
  data () {
    return {}
  },  
  methods: {  
    close (){    
        EventBus.$emit('CLOSE_REPORTE')
    }     
  } 
}
</script>
<style>
.frameticket{
  width: 100%;
  height: 100vh;
  position: relative;
}
.closeticket{
position:absolute;
top:150px;
right: 10px;
}
</style>