<template>
    <div>
        <div class="col-md-12 titulo-modal">
            <h4>Buscar Cliente</h4>
        </div>
        <div class="col-md-12">
            <clientefiltro/>
        </div> 
        <div class="col-md-12 tblbusqueda" style="overflow-y: scroll;
    height: 300px;">
            <table class="table">
                <thead>                    
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Telefono</th>
                    <th>OPciones</th>
                </thead>
                <tbody> 
                    <tr v-for="x in clienteList" :key="x.id" >
                       
                        <td>{{x.nombre}} {{x.apellidos}}</td>
                        <td>{{x.colonia}} {{x.calle}} #{{x.numero}}</td>
                        <td>{{x.telefono}}</td>
                        <td><button type="button" class="btn btn-success btn-sm " @click="setCliente(x);"> <i class="fa fa-check"></i> Seleccionar</button></td>
                    </tr>
                </tbody>
              
            </table>
        </div>
          <div class="col-md-12 text-right">
              <br>
                    <button class="btn btn-default" type="button" @click="closeModal();"> Salir</button>
          </div>
    </div>
</template>
<script>
    import Vue from 'vue';
    import axios from 'axios';
    import { EventBus } from "../../../event-bus";
    import  clientefiltro  from '../filtros/cliente.filtro'
    export default {
        name: 'busquedaCliente',
        template: '#busquedaCliente',
        props: ['ventaId'],
        data: function() {
            return {           
                userId: Vue.localStorage.get('USER_ID'),
                clienteList: []
            };
        },
        mounted() {
            EventBus.$on("CLIENTE_FILTRO", data => {
                this.clienteList = data
            });
        },
        methods:{
            setCliente(ClienteObj){
                EventBus.$emit('SETCLIENTE', ClienteObj);
                this.closeModal();
            },
            closeModal(){
                this.$modal.hide('busqueda-cliente')
            }
        },
        components: {
            clientefiltro
        }
    };
</script>
<style>
</style>