<template>
<div id="eligesucursal" class="eligesucursal">   
          <span v-show="true">Selecciona la Sucursal en la que cobraras</span>
          <select class="form-control input-lg"  v-show="true" v-model="sucursal"  name="sucursal">
                   <option value="">Selecciona</option>
                  <option v-for="option in sucursales" :key="option.id" :value="option.id">{{option.nombre}}</option>
   </select>
   <button class="btn btn-danger btn-lg" @click="elige">Elegir sucursal</button>   
</div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import { EventBus } from "../../../event-bus";
export default {
  name: "eligesucursal",
  template: "#eligesucursal",
  props: ["ventaId"],
  data: function() {
    return {
      sucursal: "",
      sucursales: [],
      userId: Vue.localStorage.get("USER_ID")
    };
  },
  mounted() {
    this.getSucursalesUsuario();
  },
  methods: {
    elige() {
      if (this.sucursal > 0) {
        let suc = this.sucursales.filter(i => i.id == this.sucursal);
        Vue.localStorage.set("USER_SUCURSAL", this.sucursal);
        Vue.localStorage.set("USER_SUCURSAL_NOMBRE", suc[0].nombre);

        EventBus.$emit("INICIA_VENTA");
      }
    },
    getSucursalesUsuario() {
      let vm = this;
      axios.get("/usuario/GetSucursalUsuario?id=" + this.userId).then(res => {
        console.log(res);
        vm.sucursales = res.data.GetSucursalUsuarioResult;
      });
    }
  }
};
</script>

<style>
.eligesucursal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.eligesucursal span {
  font-size: 18px;
  margin: 20px;
}
</style>