<template>
  <div id="articuloNuevo" >
 <modal name="modal-productosat" :width="500" :height="300" :clickToClose="true">
    <listaarticulosat></listaarticulosat>
</modal>

 <form novalidate  @submit.prevent="validate">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
      <div class="card">
         <div class="card-body">
             <vue-tabs>
    <v-tab title="Datos Generales" >
 

          <div class="col-md-12">
            <div class="col-md-5 ">
             <div class="col-md-8">
            <label>UPC/SKU</label>
            <input type="text" v-model="articulo.upc" 
            v-on:keyup.enter="existsUPC"
            v-on:blur="existsUPC"            
            v-validate="'required'" name="upc" :class="(errors.has('upc')) ? 'is-invalid':'is-valid'" class="form-control" placeholder="Ingresa o escanea el codigo de barras (UPC)">
            <span v-show="errors.has('upc')" class="invalid-feedback">{{ errors.first('upc') }}</span>
          </div>
          <div class="col-md-4">
            <br>
            <button type="button" class="btn btn-info btn-sm" @click="generaCodigo()"> Genera Código </button>
          </div>

          <div class="col-md-12">
            <label>Nombre</label>
            <input style="text-transform:uppercase;" type="text" v-model="articulo.nombre" v-validate="'required'" name="nombre" :class="(errors.has('nombre')) ? 'is-invalid':'is-valid'" class="form-control" placeholder="Ingresa Nombre del artículo">
            <span v-show="errors.has('nombre')" class="invalid-feedback">{{ errors.first('nombre') }}</span>
          </div>
          <div class="col-md-12">
            <label>Descripcion</label>
            <textarea v-model="articulo.descripcion" rows="5" v-validate="'required'" name="descripcion" :class="(errors.has('descripcion')) ? 'is-invalid':'is-valid'" class="form-control" placeholder="Ingresa descripción del artículo">
            </textarea>      
            <span v-show="errors.has('descripcion')" class="invalid-feedback">{{ errors.first('descripcion') }}</span>
          </div>
         
        
          


            </div>
            <div class="col-md-5">
                <div class="col-md-6">
            <label>Precio</label>
             <money v-model="articulo.precioLista" class="form-control " v-bind="money" v-validate="'required'" name="precioLista"  placeholder="Ingresa precioLista"></money>    
             <span v-show="errors.has('precioLista')" class="invalid-feedback">{{ errors.first('precioLista') }}</span>
          </div>
          <div class="col-md-3">
                <label>Estatus</label><br>
                  <div class="pretty p-svg p-curve">
                  <input type="checkbox" v-model="articulo.activo" />
                  <div class="state p-success">
                  <!-- svg path -->
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                  </svg>
                  <label>Activo</label>
                  </div>
                  </div>
              </div>

               <div class="col-md-3">
                <label>Venta a credito</label><br>
                  <div class="pretty p-svg p-curve">
                  <input type="checkbox" v-model="articulo.credito" />
                  <div class="state p-success">
                  <!-- svg path -->
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                  </svg>
                  <label>si</label>
                  </div>
                  </div>
              </div>

            <div class="col-md-12">
                <label>Categoria</label>
                <select class="form-control" v-model="articulo.categoriaId" v-validate="'required'" name="categoria" :class="(errors.has('categoria')) ? 'is-invalid':'is-valid'">
                   <option value="">Selecciona</option>
                  <option v-for="option in categorias" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
                <span v-show="errors.has('categoria')" class="invalid-feedback">{{ errors.first('categoria') }}</span>
              </div>

               <div class="col-md-12">
                <label>Unidad</label>
                <select class="form-control" v-model="articulo.unidadId" v-validate="'required'" name="unidad" :class="(errors.has('unidad')) ? 'is-invalid':'is-valid'">
                   <option value="">Selecciona</option>
                  <option v-for="option in unidades" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
                <span v-show="errors.has('unidad')" class="invalid-feedback">{{ errors.first('unidad') }}</span>
              </div>

        <!--     <div class="col-md-6" v-if="!this.$route.params.id">
            <label>Cantidad Inicial</label>

            <input type="number" v-model.number="articulo.cantidad" v-validate="'required'" name="cantidad" min="1" :class="(errors.has('cantidad')) ? 'is-invalid':'is-valid'" class="form-control" placeholder="Ingresa cantidad">
            <span v-show="errors.has('cantidad')" class="invalid-feedback">{{ errors.first('cantidad') }}</span>
            </div> -->

          <div class="col-md-6">
            <label>Minimo Inventario</label>

            <input type="number" v-model.number="articulo.minInventario" v-validate="'required'" name="minInventario" :class="(errors.has('minInventario')) ? 'is-invalid':'is-valid'" class="form-control" placeholder="Ingresa cantidad">
            <span v-show="errors.has('minInventario')" class="invalid-feedback">{{ errors.first('minInventario') }}</span>
            </div>

            <div class="col-md-4" v-if="facturacion">
                 Catálogos SAT
                 <input type="text" :disabled="false" v-model="articulo.sat_clvProdServ" class="form-control">
            </div>
            <div class="col-md-2" v-if="facturacion">
              <label></label>
                <button type="button" @click="$modal.show('modal-productosat')" class="btn btn-default btn-sm "><i class="bi bi-search"></i> Buscar</button>
                 
            </div>
           <!--  <div class="col-md-6">
              Descarga Codigo de Barras / UPC
            </div> -->
            <div class="col-md-6">
              <br>
              <button type="button" @click="dowloadUPC()" class="btn btn-default btn-sm"><i class="fa fa-download"></i> Descarga codigo barras</button>
            </div>
            <div class="col-md-6">
              <br>
              <button type="button" @click="dowloadUPCDetalle()" class="btn btn-default-bright btn-sm"><i class="fa fa-download"></i> Descarga Detalle Producto</button>
            </div>
            </div>
            
          </div>
             
       
    </v-tab>
     <v-tab title="Precio a Credito" v-if="articulo.id > 0 && articulo.credito">
        <div class="col-md-12 text-center">
                <h4>Precio del Articulo segun mensualidades</h4>
          </div>
           <div class="col-md-6 col-md-offset-3">

             <div class="col-md-4">
               <label>Selecciona Mensualidad</label>
              <select class="form-control" v-model="mensualidad"  name="mensualidad" :class="(errors.has('mensualidad')) ? 'is-invalid':'is-valid'">
                   <option value="">Selecciona</option>
                  <option v-for="option in mensualidades" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
             </div>
            <div class="col-md-4">
               <label>Precio</label>
             <money v-model="precioCredito" class="form-control " v-bind="money" v-validate="'required'" name="precioCredito"  placeholder="Ingresa Precio"></money>    
            
            </div>
            <div class="col-md-4">
              <br>
              <button class="btn btn-success btn-sm" type="button" @click="AgregaPrecioCredito"><i class="bi bi-plus-lg"></i> Agregar Precio</button>
            </div>

           </div>
           <div class="col-md-6 col-md-offset-3"> 
<table class="table">
                    <thead>
                      <th>Descripcion </th>
                      <th>Monto</th>
                      
                    </thead>
                    <tbody>
                      <tr v-for="item in preciosCredito" :key="item.id">
                        <td>{{item.descripcion}}</td>
                        <td>{{item.precio |currency}}</td>
                       
                      </tr>
                    </tbody>
                  </table>
             </div>
           
          

      </v-tab>
     <v-tab title="Especificaciones" v-if="articulo.id > 0">

         <div class="row">
              <div class="col-md-12 text-center">
                <h4>Especificaciones del Artículo</h4>
              </div>
               <div class="col-md-3 col-md-offset-3">
                  <select class="form-control" v-model="caracteristica"  name="caracteristica" >
                   <option value="">Selecciona</option>
                  <option v-for="option in caracteristicas" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
               </div>
                <div class="col-md-3">
                <input type="text" class="form-control" v-model="desc_caracteristica">
               </div>
               <div class="col-md-3">
                 <button class="btn btn-warning btn-sm" type="button" @click="AddCaracteristicasArticulo()"> <i class="bi bi-plus-lg"></i> Agregar</button>
               </div>
               <div class="col-md-12">
                  <table class="table">
                    <thead>
                      <th>Especificación</th>
                      <th>Valor</th>
                        <th>Acciones</th>
                    </thead>
                    <tbody>
                      <tr v-for="item in caracteristicas_articulo" :key="item.id">
                        <td>{{item.nombre}}</td>
                        <td>{{item.valor}}</td>
                        <td><button type="button" class="btn btn-danger btn-sm" @click="DeleteCaracteristicasArticulo(item.id)">Eliminar</button></td>
                      </tr>
                    </tbody>
                  </table>


               </div>

               
         </div>
      

     </v-tab>
     <v-tab title="Archivos" icon="fa fa-file-image-o" v-if="articulo.id > 0">

        
                      <div class="col-md-12">
<label>Archivo
        <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
      </label>
        <button type="button" v-on:click="submitFile()" class="btn btn-success btn-sm">Guardar Documento</button>
      

    </div>
    <div class="col-md-12">
        <table class="table">
            <thead>
             <th>Nombre de Archivo</th>
             <th>Acciones</th>
            </thead>
            <tbody>
                <tr v-for="x in archivos" :key="x.id">
                    <td>{{x.nombre}}</td>
                    <td><button type="button" class="btn btn-default btn-xs" @click="ver(x)"><i class="bi bi-eye"></i> Ver</button></td>
                     <td><button type="button" class="btn btn-danger btn-xs" @click="eliminar(x)"><i class="bi bi-trash"></i> Eliminar</button></td>
                </tr>
            </tbody>
           
        </table>
        
    </div>
    <div class="col-md-12" v-if="showimage" >
      <img :src="srcimage" width="500px" height="300px">
    </div>
    <div class="col-md-12" v-if="showpdf" >
     <iframe :src="pdf" width="800" height="500"></iframe>
    </div>  

     </v-tab>
            </vue-tabs>

       
         
       </div>

      </div>
      
         <div class="card" style="margin-top:-25px;">
          <div class="card-body text-right">

                <button class="btn btn-success" type="submit"> <i class="bi bi-box-arrow-down"></i> Guardar</button>
                       <router-link class="btn btn-default" to="/articulo"> <i class="bi bi-x-lg"></i> Cancelar</router-link>
          </div>
       </div>  
    <!--     <gallery></gallery> -->
         </form>
  </div>

</template>

<script>
import titleBar from '../../components/titleBar'
import gallery from '../../components/gallery'
import global from '../../globals'
import axios from 'axios'
import { EventBus } from '../../../event-bus'
import listaarticulosat  from '../../components/modals/modal_productosat'
import { Money } from "v-money";
export default {
  name: 'articuloNuevo',
  data () {
    return {
      archivos:[],
      srcimage:'',         
        showimage:false,
        showpdf:false,
      tabledata: [],
      title: 'Nuevo Artículo',
      subtitle: 'Catálogos',
      categorias:[],
      articulosat:'',
      options: [],
      item: {
        value: '',
        text: ''
      },
       caracteristicas:[],
       caracteristicas_articulo:[],
      unidades:[],  
      mensualidad:'', 
      precioCredito:0,
      preciosCredito:[],
      mensualidades:[
        {'id':3 ,'nombre':'3 MESES'},
        {'id':5 ,'nombre':'5 MESES'},
        {'id':8 ,'nombre':'8 MESES'},
        {'id':9 ,'nombre':'9 MESES'},
        {'id':12 ,'nombre':'12 MESES'}
      ],
      catalogosat:[],
       money: {
          decimal: '.',
          thousands: ',',
          prefix: '$ ',
          suffix: '',
          precision: 2,
          masked: false
        },
        desc_caracteristica:'',
      articulo: {
       id:0,
       nombre: '',
       precioLista:0,
       categoriaId: '',
       activo:true,
       descripcion:'',
       upc:'',
       unidadId: '',
       minInventario:0,
       credito: false,
       stockSeguro:0,
       cantidad:0,
       sat_clvProdServ:''
      },
      facturacion:false,
     caracteristica:''
    }
  },
  mounted () {
  let vm = this
  EventBus.$on('save_modal_productosat', data => {
      console.log('save_modal_productosat',data)
      vm.articulo.sat_clvProdServ = data
      vm.$modal.hide('modal-productosat')  
   });

  EventBus.$on('close_modal_productosat', data => {      
      vm.$modal.hide('modal-productosat')  
   });
   

    this.getCaracteristicas();    
    this.getCategorias();
    this.getUnidades()
    this.getDocumentos()
    this.ActivaFacturacion()
    if(this.$route.params.id) {
      this.getArticulo(this.$route.params.id)   
           
      this.title = 'Editar artículo'
    }
    else {
      this.title = 'Nuevo artículo'
    } 
  

  
  },
  methods: {   
    AgregaPrecioCredito(){
       let vm = this
          let params = {
            articuloId:this.articulo.id,
            mes:this.mensualidad,
            precio:this.precioCredito
          }
         axios.post('/Articulo/AddArticuloPrecioCredito',params).then((res) => {
          this.GetArticuloPrecioCredito();         
           this.$snotify.success('El Precio se Guardo correctamente', '¡Correcto!')  
        })
    },
    GetArticuloPrecioCredito(){
       axios.post('/Articulo/GetArticuloPrecioCredito',{articuloId:this.articulo.id}).then((res) => {
               this.preciosCredito = res.data.GetArticuloPrecioCreditoResult;  
        })
    },
    ActivaFacturacion(){
      let vm = this;
      axios.get('SistemaGeneral/GetSistemaGeneral').then(function(res){
        console.log('res',res.data.GetSistemaGeneralResult.facturacion)
         vm.facturacion = res.data.GetSistemaGeneralResult.facturacion;        
      });
    },
    DeleteCaracteristicasArticulo(id){
      let vm = this
          let params = {
            id:id
          }
         axios.post('/Articulo/DeleteCaracteristicaArticulo',params).then((res) => {
           vm.getCaracteristicasArticulo();           
        })

    },
     generaCodigo (){
       axios.get('/Articulo/GenerateRandomCode').then((res) => {
           this.articulo.upc = res.data.GenerateRandomCodeResult
        })
     },
     AddCaracteristicasArticulo(){
       let vm= this
          let params = {
            articuloId:this.articulo.id,
            caracteristicaId:this.caracteristica,
            valor: this.desc_caracteristica

          }
         axios.post('/Articulo/AddCaracteristicaArticulo',params).then((res) => {
           vm.getCaracteristicasArticulo();
           vm.desc_caracteristica= ''
            // res.data.AddCaracteristicaArticuloResult
        })

    },
    getCaracteristicas(){

         axios.get('/Caracteristica/GetCaracteristica').then((res) => {
      
            this.caracteristicas=  res.data.GetCaracteristicaResult
        })

    },
    getCaracteristicasArticulo(){
          let params = {
            articuloId:this.articulo.id
          }
         axios.post('/Articulo/GetCaracteristicaArticulo',params).then((res) => {
      
            this.caracteristicas_articulo=  res.data.GetCaracteristicaArticuloResult
        })

    },
    getCategorias(){
        let vm=this;
        axios.get('/Categoria/GetCategoria?departamentoId=0&nombre=').then(function(res){
            vm.categorias=res.data.GetCategoriaResult;
        })
   },
   getUnidades(){
       let vm=this;
        axios.get('/Unidad/GetUnidad').then(function(res){
            vm.unidades=res.data.GetUnidadResult;
        })
   },
   getArticulo(id){
      let vm=this
      axios.get('/Articulo/GetArticuloById?id='+ id).then(function(res){
      vm.articulo=res.data.GetArticuloByIdResult;
      vm.getCaracteristicasArticulo();
      vm.GetArticuloPrecioCredito();
      });
   },
    validate () {
      this.$validator.validateAll().then(result => {
       
        if (result) {

          if(this.articulo.id > 0){
             this.articulo.nombre = this.articulo.nombre.toUpperCase()
            axios.post('/Articulo/UpdateArticulo',{'articulo': this.articulo}).then((res)=>{
             if(this.facturacion){
               axios.post('/Factura/UpdateProductoFactura',{'id': this.articulo.id}).then( (res) => {
                     if (res.data.UpdateProductoFacturaResult.key == "0"){
                       this.$snotify.error(res.data.UpdateProductoFacturaResult.description, 'Atención')
                     }else{
                       this.$snotify.success('El Artículo se sincronizó con facturapi', '¡Correcto!')
                     }
                     
              })
             }
              
            this.$snotify.success('El Artículo se editó en el sistema', '¡Correcto!')
            this.$router.push('/articulo')
           })

          }
          else {
            this.articulo.nombre = this.articulo.nombre.toUpperCase()
            axios.post('/Articulo/AddArticulo',{'articulo': this.articulo}).then( (res) => {
             this.$snotify.success('El Artículo se registró en el sistema', '¡Correcto!')
            this.$router.push('/articulo')
                 
                 if (this.facturacion){
                    axios.post('/Factura/AddProductoFactura',{'id': res.data.AddArticuloResult}).then( (res) => {
                     this.$snotify.success('El Artículo se sincronizó con facturapi', '¡Correcto!')
                 })
                 }
                 
                
           })

          }
        }
      })
    },
    existsUPC(){
      let vm= this;
      axios.get('/Articulo/GetexisteUPC?upc=' + this.articulo.upc + '&id='+ this.articulo.id).then((res) => {
       
        if(res.data.GetexisteUPCResult){
          vm.articulo.upc = '';
           this.$snotify.error('Ya existe un articulo registrado con ese código ', '¡Atención!')
        }else{
          this.getInfo(vm.articulo.upc)
        }
        
      })
    },
    getInfo(upc){

     if( this.articulo.id == 0 && upc != ''){
         axios.get('https://world.openfoodfacts.org/api/v0/product/'+upc+'.json').then((res) => {
           if(res.data.status == 1){
             console.log(res.data.product)
             this.articulo.nombre  = res.data.product.product_name + ' ' + res.data.product.quantity 
             
           }
         })
     }
    },
     getDocumentos (){
         let vm=this
         axios.post(global.URL_DOCUMENTOS + '/Archivo/GetFileArticulo',{articuloId: this.$route.params.id }).then(function(res){
           // console.log(res)
           vm.archivos =res.data.GetFileArticuloResult
         })
      },
      ver(item){
        console.log(global.URL_DOCUMENTOS_ARTICULOS + item.archivo)
        if(item.tipo == 1){
          this.showpdf =false
          this.showimage =true
          this.srcimage = global.URL_DOCUMENTOS_ARTICULOS + item.archivo
        }
        if(item.tipo == 2){
           this.showpdf =true
            this.showimage =false
           this.pdf = global.URL_DOCUMENTOS_ARTICULOS + item.archivo
        }

      },
      eliminar(item){
        let vm = this;
          axios.post(global.URL_DOCUMENTOS + '/Archivo/DeleteFilesArticulo',{id: item.id}).then(function(res){
           // console.log(res)
           vm.getDocumentos();
         })
      },
        handleFileUpload(){
        this.file = this.$refs.file.files[0];
      },
      dowloadUPC(){
        axios.post(global.URL_DOCUMENTOS + '/Archivo/GetDescargaCodigoBarras',{upc: this.articulo.upc,op:0}).then(function(res){
        var a = document.createElement("a"); //Create <a>
        a.href = "data:image/png;base64," + res.data.GetDescargaCodigoBarrasResult; //Image Base64 Goes here
        a.download = "Image.png"; //File name Here
        a.click(); //Downloaded file
          
         })
     
      },
      dowloadUPCDetalle() {
         axios.post(global.URL_DOCUMENTOS + '/Archivo/GetDescargaCodigoBarrasDescripcion',{id: this.articulo.id}).then(function(res){
        var a = document.createElement("a"); //Create <a>
        a.href = "data:image/png;base64," + res.data.GetDescargaCodigoBarrasDescripcionResult; //Image Base64 Goes here
        a.download = "Image.png"; //File name Here
        a.click(); //Downloaded file
          
         })        
      },
      submitFile(){
            let vm= this;
            let formData = new FormData();           
            formData.append('file', this.file);
            formData.append('tipo',1);
            formData.append('articuloId',this.articulo.id);
                   
            axios.post(global.URL_DOCUMENTOS + '/Archivo/saveFileArticulo',
                formData,
                {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
              }
            ).then(function(){     
             vm.getDocumentos();
              
        })
        .catch(function(){        
        });
      },
  },
  components: {
    titleBar,
    Money ,
    gallery,
    listaarticulosat
  }
}
</script>

<style>

</style>
