<template>
  <div id="cajas" class="card">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
      <div class="card-body">
        <div class="col-md-10">
<articulofiltro></articulofiltro>
        </div>
         
      
         <div class="col-md-2 text-right">
           <br>
           <router-link class="btn btn-success" v-show="actions.agregar" to="/articulo/nuevo"> <i class="bi bi-plus-lg"></i> Nuevo articulo</router-link>
         </div>
        <!--  <div class="col-md-2">
            <label>Descargar Listado de precios </label>
            <button class="btn btn-default" @click="ReporteArticuloDescuento(1)">PDF</button>
            <button class="btn btn-default" @click="ReporteArticuloDescuento(2)">Excel</button>
         </div> -->
          <div class="col-md-12 table-responsive">
              <tablecomponent  :headers="headers"  :tabledata="tabledata" :actions="actions"></tablecomponent>
          </div>
        
       
      </div>      
  </div>
</template>

<script>
import titleBar from '../../components/titleBar'
import tablecomponent from '../../components/table'
import articulofiltro from '../../components/filtros/articulo.filtro'
import { EventBus } from '../../../event-bus'
import axios from 'axios'
import global from '../../globals'
import Vue from "vue";
export default {
  name: 'cajas',
  data () {
    return {
      tabledata: [],
      departamentos: [],
      categorias:[],
      upc: '',
      nombre: '',
      departamentoId: '',
      categoriaId: '',
      title: 'Catálogo de Artículos',
      subtitle: 'Catálogos',
      headers: [
        'Id',
        'UPC',
        'Nombre',  
        'Precio' ,        
        'Categoria',
        'Departamento',
        'Activo',
      ],
      actions: {
        agregar:true,
        editar: true        
      }
    }
  },

  mounted () {  
    this.permissions()
      let vm = this
    EventBus.$on('editar', data => {     
       this.$router.push({ path: `/articulo/edita/${data.id}` }) 
    })
    EventBus.$on("FILTRO_ARTICULOS", data => {
      vm.tabledata = []
     data.forEach(function(element) {
          let obj = {
           id: element.id,
            upc: element.upc,
           nombre:element.nombre, 
           precio: element.precio,
           Categoria:element.categoria.nombre,
           Departamento:element.categoria.departamento.nombre,
           Activo:(element.activo)? 'Si':'No'
        }          
          vm.tabledata.push(obj)
      })
    })
  },
  methods: {
    ReporteArticuloDescuento(tipo){
       let params ={
          tipoDescarga: tipo,
          
        }
        axios.post('/Reportes/ReporteArticuloDescuento', params).then((res) => {

            if(tipo == 1){
                 // this.url = global.URL_REPORTS + res.data.ReporteArticuloDescuentoResult
                 window.open(global.URL_REPORTS + res.data.ReporteArticuloDescuentoResult, '_blank');
              }else{
                window.open(global.URL_REPORTS + res.data.ReporteArticuloDescuentoResult, '_blank');
              }
              
          })  
     
      

    },
    permissions(){
          let params = {
        tipoUsuario: Vue.localStorage.get("USER_TYPE"),
        componente:this.$route.name
      }
       axios.post('/Usuario/GetPermisoAccesoUsuario',params).then((res) => {
            let result =res.data.GetPermisoAccesoUsuarioResult          
            if(result.Consultar == false){            
               this.$router.push('dashboard')               
            }            
            this.actions.editar =result.Editar
             this.actions.agregar =result.Editar
        })
    }
  },
  components: {
    titleBar,
    tablecomponent,
    articulofiltro
  }

}
</script>

<style>

</style>
