<template>
  <div id="bancos" class="card">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
      <div class="card-body">
        
         <div class="col-md-12 text-right">
            <router-link class="btn btn-success" 
             v-show="actions.agregar"
            to="/banco/nuevo"> <i class="bi bi-plus-lg"></i> Nuevo banco</router-link>
         </div>
         <div class="col-md-12">
          <tablecomponent  
          :headers="headers"  
          :tabledata="tabledata" 
          :actions="actions"
          :search-label="'Buscar Banco'"
          :filter-options="'nombre'"
          ></tablecomponent>
       </div>
      </div>
  </div>
</template>

<script>
import Vue from 'vue'
import titleBar from '../../components/titleBar'
import tablecomponent from '../../components/table'
import { EventBus } from '../../../event-bus'
import axios from 'axios'
export default {
  name: 'bancos',
  data () {
    return {
      tabledata: [],
      title: 'Catálogo de bancos',
      subtitle: 'Catálogos',
      headers: [
        'Id',        
        'Nombre',
        'Activo'        
      ],
      actions: {
        editar: true,
         filter: true,
           agregar:true,
      }
    }
  },
  mounted () {
    this.permissions()
   this.getBanco()
   EventBus.$on('editar', data => {  
       console.log(data)
       this.$router.push({ path: `/banco/edita/${data.id}` }) 
    })
  },
  methods: {
    getBanco () {
      let vm = this
      axios.get('/Banco/GetBanco').then((res) => {
        console.log(res)
        res.data.GetBancoResult.forEach(function(el) {
          let obj= {
            id: el.id,
            nombre: el.nombre,
            activo: (el.activo)?'Activo':'No Activo'
          }
          vm.tabledata.push(obj)
        })
      })
    },
     permissions(){
          let params = {
        tipoUsuario: Vue.localStorage.get("USER_TYPE"),
        componente:this.$route.name
      }
       axios.post('/Usuario/GetPermisoAccesoUsuario',params).then((res) => {
            let result =res.data.GetPermisoAccesoUsuarioResult          
            if(result.Consultar == false){            
               this.$router.push('dashboard')               
            }            
            this.actions.editar =result.Editar
             this.actions.agregar =result.Crear
        })
    }
  },
  components: {
    titleBar,
    tablecomponent
  }

}
</script>

<style>

</style>
