<template>
  <div id="caracteristicaNueva">
    <form novalidate  @submit.prevent="validate">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
       <div class="card">
          <div class="card-body">
            <div class="col-md-5 col-md-offset-3">
               
               <div class="row">
                <label>Nombre</label>
                <input type="text" v-model="caracteristica.nombre" v-validate="'required'" name="nombre" :class="(errors.has('nombre')) ? 'is-invalid':'is-valid'"  class="form-control" placeholder="Ingresa contraseña">
                <span v-show="errors.has('nombre')" class="invalid-feedback">{{ errors.first('nombre') }}</span>
              </div>
              <div class="row">
                <label>Estatus</label><br>
                  <div class="pretty p-svg p-curve">
                  <input type="checkbox" v-model="caracteristica.activo" />
                  <div class="state p-success">
                  <!-- svg path -->
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                  </svg>
                  <label>Activo</label>
                  </div>
                  </div>
              </div>

          
                 
           
            </div>   
            
                   
          </div>
       </div>
         <div class="card" style="margin-top:-25px;">
          <div class="card-body text-right">

             <button class="btn btn-success" type="submit"> <i class="bi bi-box-arrow-down"></i> Guardar</button>
                  <router-link to="/caracteristica" class="btn btn-default"> <i class="bi bi-x-lg"></i> Cancelar</router-link>
            </div>
          </div>
  
         </form>
  </div>
</template>

<script>
import titleBar from '../../components/titleBar'
import axios from 'axios'
export default {
  name: 'caracteristicaNueva',
  data () {
    return {
      tabledata: [],
      title: 'Nueva Caracteristica',
      subtitle: 'Catálogos',
      caracteristica: {
        id: 0,
        nombre: '',
        activo: true
      }
    }
  },
  mounted (){
  if(this.$route.params.id) {
    this.getCaracteristica(this.$route.params.id)
    this.title = 'Editar Caracteristica'
  }
  else {
    this.title = 'Nuevo Caracteristica'
  }

  },
  methods: {
    validate () {
      this.$validator.validateAll().then(result => {
        if (result) {

            if(this.caracteristica.id > 0){

                axios.post('/Caracteristica/UpdateCaracteristica',{ caracteristica: this.caracteristica }).then((res)=>{
                  this.$snotify.success('La Caracteristica se editó correctamente', '¡Atención!')
                  this.$router.push('/caracteristica')
                })

            } else {

                axios.post('/Caracteristica/AddCaracteristica', JSON.stringify({caracteristica: this.caracteristica})).then((res)=>{
                  this.$snotify.success('La Caracteristica se guardó correctamente', '¡Atención!')
                  this.$router.push('/caracteristica')
                })

            }
        }
      })
  },
   getCaracteristica (id) {
     axios.get('/Caracteristica/GetCaracteristicaById?id=' + id).then( (res) => {
       this.caracteristica = res.data.GetCaracteristicaByIdResult    
     })
  }
  },
  components: {
    titleBar
  }
}
</script>

<style>

</style>
