<template>
  <div id="categoria">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
      <div class="card">
         <div class="card-body">
           <div class="col-md-2">              
                <label>Departamento</label>
                <select class="form-control input-sm" v-model="departamentoId" name="categoria" @change="getCategorias">
                   <option value="">Selecciona</option>
                  <option v-for="option in departamentos" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>             
           </div>     
           <div class="col-md-3">              
                <label>Nombre</label>
                 <input type="text" v-on:keyup="getCategorias" v-model="nombre" class="form-control input-sm" name="nombre">         
           </div>          
         
          <div class="row">
         <div class="col-md-12 text-right">
           <router-link to="/categoria/nuevo"
            v-show="actions.agregar"
            class="btn btn-success"> <i class="bi bi-plus-lg"></i> Nueva Categoria</router-link>
         </div>
          <tablecomponent  :headers="headers"  :tabledata="tabledata" :actions="actions"></tablecomponent>
       </div>
       </div>
      </div>      
  </div>
</template>

<script>
import titleBar from '../../components/titleBar'
import tablecomponent from '../../components/table'
import { EventBus } from '../../../event-bus'
import axios from 'axios'
import Vue from 'vue'
export default {
  name: 'categoria',
  data () {
    return {
      tabledata: [],
      title: 'Catálogo de Categorias',
      subtitle: 'Catálogos',
      departamentoId: '',
      nombre:'',
      headers: [
        'Id',
        'Nombre',
        'Descripcion',
        'Departamento',        
      ],
      actions: {
        editar: true,
        agregar:true,
      }
    }
  },
  mounted () {
    this.permissions()
    this.getDepartamentos()
    this.getCategorias()
    EventBus.$on('editar', data => {  
       console.log(data)
       this.$router.push({ path: `/categoria/edita/${data.id}` }) 
    })
  },
  methods: {
    getCategorias () {
      let vm = this
      vm.tabledata = []
      axios.get(`/Categoria/GetCategoria?departamentoId=${(this.departamentoId) ? this.departamentoId: 0 }&nombre=${this.nombre}`).then((res) => {       
        res.data.GetCategoriaResult.forEach(function(element) {
          let obj = {
           id: element.id,
           nombre:element.nombre,
           descripcion: element.descripcion,
           departamentoId: (element.departamento)?element.departamento.nombre: ''
          }          
          vm.tabledata.push(obj)
        })
      })
    },
    getDepartamentos () {
      let vm = this
      axios.get('/Departamento/GetDepartamento').then((res) => {       
        vm.departamentos = res.data.GetDepartamentoResult
      })
    },
     permissions(){
          let params = {
        tipoUsuario: Vue.localStorage.get("USER_TYPE"),
        componente:this.$route.name
      }
       axios.post('/Usuario/GetPermisoAccesoUsuario',params).then((res) => {
            let result =res.data.GetPermisoAccesoUsuarioResult          
            if(result.Consultar == false){            
               this.$router.push('dashboard')               
            }            
            this.actions.editar =result.Editar
             this.actions.agregar =result.Crear
        })
    }
  },
  components: {
    titleBar,
    tablecomponent
  }

}
</script>

<style>

</style>
