<template>
  <div id="categoriaNuevo">
    <form novalidate  @submit.prevent="validate">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
         <div class="card">
           <div class="card-body">
             
           <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="row">
                <label>Nombre de categoria </label>
                <input type="text" v-model="categoria.nombre" v-validate="'required'" name="nombre" :class="(errors.has('nombre')) ? 'is-invalid':'is-valid'"  class="form-control" placeholder="">
                <span v-show="errors.has('nombre')" class="invalid-feedback">{{ errors.first('nombre') }}</span>
              </div>
              <div class="row">
                <label>Descripcion</label>
                <input type="text" v-model="categoria.descripcion" v-validate="'required'" name="descripcion" :class="(errors.has('descripcion')) ? 'is-invalid':'is-valid'"  class="form-control" placeholder="">
                <span v-show="errors.has('descripcion')" class="invalid-feedback">{{ errors.first('descripcion') }}</span>
              </div>
              <div class="row">
                <label>Departamento</label>
                <select class="form-control" v-model="categoria.departamentoId" v-validate="'required'" name="departamento" :class="(errors.has('departamento')) ? 'is-invalid':'is-valid'">
                   <option value="">Selecciona</option>
                  <option v-for="option in departamentos" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
                <span v-show="errors.has('departamento')" class="invalid-feedback">{{ errors.first('departamento') }}</span>
              </div>
              <div class="row">
                <label>Estatus de categoria</label><br>
                  <div class="pretty p-svg p-curve">
                  <input type="checkbox" v-model="categoria.activo" />
                  <div class="state p-success">
                  <!-- svg path -->
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                  </svg>
                  <label>Activo</label>
                  </div>
                  </div>
              </div>
             
           </div>
         </div>         
      
           </div>
         
    </div>
      <div class="card" style="margin-top:-25px;">
          <div class="card-body text-right">

             <button class="btn btn-success" type="submit"> <i class="bi bi-box-arrow-down"></i> Guardar</button>
                       <router-link to="/categoria" class="btn btn-default" > <i class="bi bi-x-lg"></i> Cancelar</router-link>
          </div>
       </div>      
       </form>   
  </div>
</template>

<script>
import titleBar from '../../components/titleBar'
import axios from 'axios'
export default {
  name: 'categoriaNuevo',
  data () {
    return {
      tabledata: [],
      title: 'Nueva categoria',
      subtitle: 'Catálogos',
      departamentos: [],
      categoria: {
        id: 0,
        nombre: '',
        descripcion: '',
        activo: true,
        departamentoId: ''
      }
    }
  },
  mounted () {
  if(this.$route.params.id) {
    this.getCategoria(this.$route.params.id)
    this.title = 'Editar Categoria'
  }
  else {
    this.title = 'Nueva Categoria'
  } 
    this.getDepartamentos()
  },
  methods: {
    validate () {
      this.$validator.validateAll().then(result => {
        if (result) {

          if( this.categoria.id > 0 ){
          axios.post('/Categoria/UpdateCategoria', JSON.stringify({categoria: this.categoria})).then((res) => {
            this.$snotify.success('La categoria se guardó correctamente', '¡Correcto!')
            this.$router.push('/categoria')
          })

          }else{
           axios.post('/Categoria/AddCategoria', JSON.stringify({categoria: this.categoria})).then((res) => {
            this.$snotify.success('La categoria se guardó correctamente', '¡Correcto!')
            this.$router.push('/categoria')
           })
          }

         
        }
      })
    },
    getDepartamentos () {
      let vm = this
      axios.get('/Departamento/GetDepartamento').then((res) => {       
        this.departamentos = res.data.GetDepartamentoResult
      })
    },
     getCategoria ( id) {
        axios.get('/Categoria/GetCategoriaById?id=' + id).then((res) => {       
        this.categoria = res.data.GetCategoriaByIdResult
      })
    }
  },
  components: {
    titleBar
  }
}
</script>

<style>

</style>
