<template>
  <div id="clienteNuevo">
    
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
       <div class="card">

               <div class="card-body">

    <vue-tabs>

    <v-tab title="Datos Generales" >
        <form novalidate  @submit.prevent="validate">
           
           <div class="row">
            <div class="col-md-12">

          <div class="col-md-3">
            <label>Nombre(s) de cliente</label>
            <input type="text" v-model="cliente.nombre" v-validate="'required'" name="nombre" :class="(errors.has('nombre')) ? 'is-invalid':'is-valid'" class="form-control" placeholder="Ingresa Nombre">
            <span v-show="errors.has('nombre')" class="invalid-feedback">{{ errors.first('nombre') }}</span>
          </div>
          <div class="col-md-3">
            <label>Apellidos</label>
            <input type="text" v-model="cliente.apellidos" v-validate="'required'" name="nombre" :class="(errors.has('nombre')) ? 'is-invalid':'is-valid'" class="form-control" placeholder="Ingresa Apellidos">
            <span v-show="errors.has('nombre')" class="invalid-feedback">{{ errors.first('nombre') }}</span>
          </div>
          <div class="col-md-3">
            <label>Email</label>
            <input type="text" v-model="cliente.email" v-validate="'email'" data-vv-as="email" name="email" :class="(errors.has('email')) ? 'is-invalid':'is-valid'" class="form-control" placeholder="Ingresa email">
            <span v-show="errors.has('email')" class="invalid-feedback">{{ errors.first('email') }}</span>
          </div>


          <div class="col-md-3">
            <label>Telefono</label>
            <input type="text" v-model="cliente.telefono" v-validate="'required|digits:10' "  name="telefono" :class="(errors.has('telefono')) ? 'is-invalid':'is-valid'" class="form-control" placeholder="Ingresa telefono">
            <span v-show="errors.has('telefono')" class="invalid-feedback">{{ errors.first('telefono') }}</span>
          </div>
         
            <div class="col-md-2">
                <label>Calle</label>
              <input type="text" v-model="cliente.calle" v-validate="'required'" name="calle" :class="(errors.has('calle')) ? 'is-invalid':'is-valid'" class="form-control" placeholder="Ingresa calle">
              <span v-show="errors.has('calle')" class="invalid-feedback">{{ errors.first('calle') }}</span>
            </div>
            <div class="col-md-2">
              <label>Número</label>
              <input type="number" v-model="cliente.numero" v-validate="'required'" name="numero" :class="(errors.has('numero')) ? 'is-invalid':'is-valid'" class="form-control">
              <span v-show="errors.has('numero')" class="invalid-feedback">{{ errors.first('numero') }}</span>
            </div>
            <div class="col-md-2">
              <label>Número interior</label>
              <input type="text" v-model="cliente.numeroInt"  name="numero" class="form-control">
            </div>
            
            
          

        
            <div class="col-md-3">
                <label>Colonia</label>
              <input type="text" v-model="cliente.colonia" v-validate="'required'" name="colonia" :class="(errors.has('colonia')) ? 'is-invalid':'is-valid'" class="form-control" placeholder="Ingresa colonia">
              <span v-show="errors.has('colonia')" class="invalid-feedback">{{ errors.first('colonia') }}</span>
            </div>
            <div class="col-md-3">
              <label>Codigo Postal</label>
              <input type="number" v-model.number="cliente.cp" v-validate="'required|digits:5'" name="codigopostal" :class="(errors.has('codigopostal')) ? 'is-invalid':'is-valid'" class="form-control">
              <span v-show="errors.has('codigopostal')" class="invalid-feedback">{{ errors.first('codigopostal') }}</span>
            </div>
          
          
          
          <div class="col-md-3">
            <label>Ciudad</label>
            <input type="text" v-model="cliente.ciudad" v-validate="'required'" name="ciudad" :class="(errors.has('ciudad')) ? 'is-invalid':'is-valid'" class="form-control" placeholder="Ingresa Nombre">
            <span v-show="errors.has('ciudad')" class="invalid-feedback">{{ errors.first('ciudad') }}</span>
          </div>

          <div class="col-md-3">
            <label>Estado</label>
            <input type="text" v-model="cliente.estado" v-validate="'required'" name="estado" :class="(errors.has('estado')) ? 'is-invalid':'is-valid'" class="form-control" placeholder="Ingresa estado">
            <span v-show="errors.has('estado')" class="invalid-feedback">{{ errors.first('estado') }}</span>
          </div>

          <div class="col-md-3">
            <label>Vendedor</label>
            <select class="form-control" v-model="cliente.vendedorId"  name="vendedor" :class="(errors.has('vendedor')) ? 'is-invalid':'is-valid'">
                   <option value="">Selecciona</option>
                  <option v-for="option in vendedores" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
          </div>

            </div>
            
          </div>
          <hr>
          <div class="row">

            <div class="col-md-6">

              <div class="col-md-12">
                <label>Entre Calles</label>
                <input type="text" class="form-control " v-model="cliente.entrecalles">
              </div>
               <div class="col-md-12">
                   <label>Referencias</label>
                   <textarea class="form-control "  v-model="cliente.referencia" rows="5">
                   </textarea>
              </div>
              <div class="col-md-6">
                 <label>Latitud</label>
                <input type="text" class="form-control" v-model="cliente.latitud">
              </div>
              <div class="col-md-6">
                 <label>Longitud</label>
                <input type="text" class="form-control" v-model="cliente.longitud">
              </div>
            </div>
            <div class="col-md-6">

               <div class="col-md-12">
            <div class="search">
            <input type="text"
            class="form-control"
            placeholder="Encontrar Domicilio"
             v-model="searchAddressInput" v-on:change="searchLocation()">
            </div>
   
            <GmapMap
  :center="{lat:cliente.latitud, lng:cliente.longitud}"
  :zoom="15"
  map-type-id="terrain"
  style="width: 500px; height: 300px"
>


  <GmapMarker   
     :key="0"
    :position="{lat:cliente.latitud, lng:cliente.longitud}"
    :clickable="true"
    :draggable="true"
    @click="center={lat:cliente.latitud, lng:cliente.longitud}"
  />
</GmapMap>


          </div>

            </div>

               

          </div>
          <hr>        
         <div class="row">

         <div class="col-md-6">
            <label>Nombre Fiscal o Razón Social del cliente</label>
            <input type="text" v-model="cliente.razonSocial" v-validate="'required'" name="razonSocial" :class="(errors.has('razonSocial')) ? 'is-invalid':'is-valid'" class="form-control" placeholder="Ingresa Razón social">
            <span v-show="errors.has('razonSocial')" class="invalid-feedback">{{ errors.first('razonSocial') }}</span>
          </div>

          <div class="col-md-6">
            <label>RFC</label>
            <input type="text" v-model="cliente.rfc" v-validate="'required'" name="rfc" :class="(errors.has('rfc')) ? 'is-invalid':'is-valid'" class="form-control" placeholder="Ingresa RFC">
            <span v-show="errors.has('rfc')" class="invalid-feedback">{{ errors.first('rfc') }}</span>
          </div>
             

         </div>
       
       <div class="card" >
          <div class="card-body text-right">

                 <button class="btn btn-success " type="submit"> <i class="bi bi-box-arrow-down"></i> Guardar</button>
                       <router-link class="btn btn-default" to="/cliente"> <i class="bi bi-x-lg"></i> Cancelar</router-link>
          </div>
       </div> 
       </form>
       
    </v-tab>
     <v-tab title="Expediente cliente" v-if="cliente.id > 0" >

        <div class="col-md-4">
          <h4>Archivos del Cliente</h4>
                              <div class="col-md-12">
<label>Archivo
        <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
      </label>
        <button type="button" v-on:click="submitFile()" class="btn btn-success btn-sm"><i class="fa fa-save"></i> Guardar Documento</button>
      

    </div>
    <div class="col-md-12">
        <table class="table">
            <thead>
             <th>Nombre de Archivo</th>
             <th>Acciones</th>
            </thead>
            <tbody>
                <tr v-for="x in archivos" :key="x.id">
                    <td>{{x.nombre}}</td>
                    <td><button type="button" class="btn btn-default btn-xs" @click="ver(x)"><i class="bi bi-eye"></i> Ver</button></td>
                     <td><button type="button" class="btn btn-danger btn-xs" @click="eliminar(x)"><i class="bi bi-trash"></i> Eliminar</button></td>
                </tr>
            </tbody>
           
        </table>
        
    </div>
   
        </div>
    <div class="col-md-8">

 <div class="col-md-12" v-if="showimage" >
      <img :src="srcimage" width="800px" height="700px">
    </div>
    <div class="col-md-12" v-if="showpdf" >
     <iframe :src="pdf" width="800" height="700"></iframe>
    </div>  
        </div>

     </v-tab>
       </vue-tabs>
  </div>
   </div>
   </div>
</template>

<script>
import titleBar from "../../components/titleBar";
import axios from "axios";
import global from '../../globals'
export default {
  name: "clienteNuevo",
  data() {
    return {
      tabledata: [],
      markers: [],
      vendedores: [],
      title: "Nuevo Cliente",
      subtitle: "Catálogos",
      facturacion: false,
      searchAddressInput: "",
      currentLocation: { lat: 0, lng: 0 },
       archivos:[],
      srcimage:'',         
        showimage:false,
        showpdf:false,
      cliente: {
        id: 0,
        nombre: "",
        apellidos: "",
        rfc: "",
        cp: 0,
        colonia: "",
        calle: "",
        numero: 0,
        ciudad: "",
        estado: "",
        email: "",
        razonSocial: "",
        telefono: "",
        entrecalles: "",
        referencia: "",
        latitud: 0,
        longitud: 0,
        vendedorId: 0,
      },
    };
  },
  mounted() {
    this.geolocation();
    this.GetVendedores();
    this.ActivaFacturacion();
    if (this.$route.params.id) {
      this.getCliente(this.$route.params.id);
      this.getDocumentos()
      this.title = "Editar Cliente";
    } else {
      this.title = "Nuevo Cliente";
    }
  },
  methods: {
    getDocumentos (){
         let vm=this
         axios.post(global.URL_SERVICE + '/Archivo/GetFileCliente',{clienteId: this.$route.params.id }).then(function(res){
           // console.log(res)
           vm.archivos =res.data.GetFileClienteResult
         })
      },
      ver(item){       
        if(item.tipo == 1){
          this.showpdf =false
          this.showimage =true
          this.srcimage = global.URL_DOCUMENTOS_CLIENTES + '/'+ item.tareaId+'/' +item.archivo
        }
        if(item.tipo == 2){
           this.showpdf =true
            this.showimage =false
           this.pdf = global.URL_DOCUMENTOS_CLIENTES + '/'+ item.tareaId+'/' +item.archivo
        }

      },
      eliminar(item){
        let vm = this;
          axios.post(global.URL_SERVICE + '/Archivo/DeleteFilesCliente',{id: item.id}).then(function(res){
           // console.log(res)
           vm.getDocumentos();
         })
      },
        handleFileUpload(){
        this.file = this.$refs.file.files[0];
      },
      submitFile(){
            if(!this.file){
              this.$snotify.error(
                         "Seleccione un archivo para continuar",
                          "¡Atención!"
                        );
            }
            let vm= this;
            let formData = new FormData();           
            formData.append('file', this.file);
            formData.append('tipo',1);
            formData.append('clienteId',this.cliente.id);
                   
            axios.post(global.URL_DOCUMENTOS + '/Archivo/saveFileCliente',
                formData,
                {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
              }
            ).then(function(){     
              vm.$snotify.success(
                          "El archivo se guardo correctamente",
                          "¡Correcto!"
                        );
             vm.getDocumentos();
              
        })
        .catch(function(){        
        });
      },
    GetVendedores() {
      axios.post("/Vendedor/GetVendedor", { op: 0 }).then((res) => {
        this.vendedores = res.data.GetVendedorResult;
      });
    },
    searchLocation() {
      var geocoder = new google.maps.Geocoder();
      geocoder.geocode(
        { address: this.searchAddressInput },
        (results, status) => {
          if (status === "OK") {
            this.cliente.latitud = results[0].geometry.location.lat();
            this.cliente.longitud = results[0].geometry.location.lng();
          }
        }
      );
    },
    geolocation() {
      navigator.geolocation.getCurrentPosition((position) => {
        console.log(position);

        (this.cliente.latitud = position.coords.latitude),
          (this.cliente.longitud = position.coords.longitude);

        //this.markers.push(this.currentLocation)
      });
    },
    getCliente() {
      axios
        .get("/Cliente/GetClienteById?id=" + this.$route.params.id)
        .then((res) => {
          let cli = res.data.GetClienteByIdResult;
          cli.longitud = cli.longitud == "" ? 0 : parseFloat(cli.longitud);
          cli.latitud = cli.latitud == "" ? 0 : parseFloat(cli.latitud);
          this.cliente = cli;

          console.log(res);
        });
    },
    ActivaFacturacion() {
      let vm = this;
      axios.get("SistemaGeneral/GetSistemaGeneral").then(function (res) {
        console.log("res", res.data.GetSistemaGeneralResult.facturacion);
        vm.facturacion = res.data.GetSistemaGeneralResult.facturacion;
      });
    },
    validate() {
      this.$validator.validateAll().then((result) => {
        console.log(result);
        if (result) {
          if (this.cliente.id > 0) {
            axios
              .post("/Cliente/UpdateCliente", { cliente: this.cliente })
              .then((res) => {
                this.$snotify.success(
                  "El cliente se editó en el sistema",
                  "¡Correcto!"
                );
                this.$router.push("/cliente");

                if (this.facturacion) {
                  axios
                    .post("/Factura/UpdateClienteFactura", {
                      id: this.cliente.id,
                    })
                    .then((res) => {
                      if (res.data.UpdateClienteFacturaResult.key == "0") {
                        this.$snotify.success(
                          res.data.UpdateClienteFacturaResult.description,
                          "¡Atención!"
                        );
                      } else {
                        this.$snotify.success(
                          "El cliente se sincronizó facturapi",
                          "¡Correcto!"
                        );
                      }
                    });
                }
              });
          } else {
            axios
              .post("/Cliente/AddCliente", { cliente: this.cliente })
              .then((res) => {

                this.$snotify.success(
                  "El cliente se registro en el sistema",
                  "¡Correcto!"
                );
                this.$router.push({ name: 'clienteEdita', params: { id: res.data.AddClienteResult } })
                location.reload()
                //this.$router.push("/cliente/"+ res.data.AddClienteResult);
                if (this.facturacion) {
                  axios
                    .post("/Factura/AddClienteFactura", {
                      id: res.data.AddClienteResult,
                    })
                    .then((res) => {
                      if (res.data.AddClienteFacturaResult.key == "0") {
                        this.$snotify.success(
                          res.data.AddClienteFacturaResult.description,
                          "¡Atención!"
                        );
                      } else {
                        this.$snotify.success(
                          "El cliente se registro facturapi",
                          "¡Correcto!"
                        );
                      }
                    });
                }
              });
          }
        }
      });
    },
  },
  components: {
    titleBar,
  },
};
</script>

<style>
</style>
