<template>
  <div id="cajas" class="card">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
       <div class="card-body">
         <div class="col-md-12 ">
          <div class="col-md-2">
            <label>Nombre y Apellidos</label>
             <input type="text" class="form-control" v-model="nombre">
           </div>
           <div class="col-md-2">
             <br>
             <button class="btn btn-default btn-sm" @click="getCliente"><i class="fa fa-search"></i> Buscar</button>
           </div>
           <div class="col-md-2">
              <label>RFC</label>
             <input type="text" class="form-control" v-model="rfc">
           </div>
           <div class="col-md-2">
             <br>
             <button class="btn btn-default btn-sm" @click="getCliente"><i class="fa fa-search"></i> Buscar</button>
           </div>
            <div class="col-md-2">
               <router-link class="btn btn-success"
             v-show="actions.agregar"
             to="/cliente/nuevo"><i class="bi bi-plus-lg"></i> Nuevo cliente</router-link>
           </div>
           
         </div>
          <tablecomponent  :headers="headers"  
          :tabledata="tabledata" :actions="actions"
           :search-label="''"
          :filter-options="'nombre'"
          ></tablecomponent>
       </div>
  </div>
</template>

<script>
import titleBar from '../../components/titleBar'
import tablecomponent from '../../components/table'
import { EventBus } from '../../../event-bus'
import axios from 'axios'
import Vue from 'vue'
export default {
  name: 'cajas',
  data () {
    return {
      tabledata: [],
      title: 'Catálogo de clientes',
      subtitle: 'Catálogos',
      nombre:'',
      rfc:'',
      headers: [
        'Id',
        'Nombre',
        'Apellidos',
        'Razón Social',
        'RFC',
        'Email',
        'Telefono'
      ],
      actions: {
        editar: true,
         agregar:true,
         filter:false
      }
    }
  },
  mounted () {
    this.permissions()
    this.getCliente()
    EventBus.$on('editar', data => {  
       console.log(data)
       this.$router.push({ path: `/cliente/edita/${data.id}` }) 
    })
  },
  methods: {
    getCliente () {

      let vm = this
      let params = {
        op:0,
        rfc:this.rfc,
        nombre:this.nombre
      }
      vm.tabledata= []
      axios.post('/Cliente/GetCliente',params).then((res) => {
        console.log(res)
        res.data.GetClienteResult.forEach(function(el) {
          let obj = {
            id: el.id,
            nombre: el.nombre,
            apellidos: el.apellidos,
            razon: el.razonSocial,
            rfc: el.rfc,
            email: el.email,
            telefono: el.telefono
          }
          vm.tabledata.push(obj)
        });
      })
    },
     permissions(){
          let params = {
        tipoUsuario: Vue.localStorage.get("USER_TYPE"),
        componente:this.$route.name
      }
       axios.post('/Usuario/GetPermisoAccesoUsuario',params).then((res) => {
            let result =res.data.GetPermisoAccesoUsuarioResult          
            if(result.Consultar == false){            
               this.$router.push('dashboard')               
            }            
            this.actions.editar =result.Editar
             this.actions.agregar =result.Crear
        })
    }
  },
  components: {
    titleBar,
    tablecomponent
  }

}
</script>

<style>

</style>
