<template>
  <div id="departamentoNuevo">
        <form novalidate  @submit.prevent="validate">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
         <div class="card">
           <div class="card-body">
          
           <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="row">
                <label>Nombre </label>
                <input type="text" v-model="departamento.nombre" v-validate="'required'" name="nombre" :class="(errors.has('nombre')) ? 'is-invalid':'is-valid'"  class="form-control" placeholder="">
                <span v-show="errors.has('nombre')" class="invalid-feedback">{{ errors.first('nombre') }}</span>
              </div>
               <div class="row">
                <label>Descripcion</label>
                <input type="text" v-model="departamento.descripcion" v-validate="'required'" name="descripcion" :class="(errors.has('descripcion')) ? 'is-invalid':'is-valid'"  class="form-control" placeholder="">
                <span v-show="errors.has('descripcion')" class="invalid-feedback">{{ errors.first('descripcion') }}</span>
              </div>         
              <div class="row">
                <label>Estatus del departamento</label><br>
                  <div class="pretty p-svg p-curve">
                  <input type="checkbox" v-model="departamento.activo" />
                  <div class="state p-success">
                  <!-- svg path -->
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                  </svg>
                  <label>Activo</label>
                  </div>
                  </div>
              </div>
             
           </div>
         </div>         
   

           </div>
           
     
         
    </div>   
    
              <div class="card" style="margin-top:-25px;">
          <div class="card-body text-right">

            <button class="btn btn-success " type="submit"> <i class="bi bi-box-arrow-down"></i> Guardar</button>
                       <router-link to="/departamento" class="btn btn-default"> <i class="bi bi-x-lg"></i> Cancelar</router-link>
          </div>
       </div>    
                        
                 
       </form>
        
  </div>
</template>

<script>
import titleBar from '../../components/titleBar'
import axios from 'axios'
export default {
  name: 'departamentoNuevo',
  data () {
    return {
      tabledata: [],
      title: '',
      subtitle: 'Catálogos',   
      departamento: {
        id: 0,
        nombre: '',
        descripcion: '',
        activo: true
      }
    }
  },
  mounted () {
  if(this.$route.params.id) {
    this.getDepartamento(this.$route.params.id)
    this.title = 'Editar Departamento'
  }
  else {
    this.title = 'Nuevo Departamento'
  } 
  },
  methods: {
    validate () {
      this.$validator.validateAll().then(result => {
        if (result) {
           if(this.departamento.id >  0) {

          axios.post('/Departamento/UpdateDepartamento', JSON.stringify({departamento: this.departamento})).then((res) => {
             this.$snotify.success('El departamento se editó correctamente', '¡Correcto!')
            this.$router.push('/departamento')
           })

           }
           else{
             axios.post('/Departamento/AddDepartamento', JSON.stringify({departamento: this.departamento})).then((res) => {
            this.$snotify.success('El departamento se guardó correctamente', '¡Correcto!')
            this.$router.push('/departamento')
           })

           }
           
        }
      })
    },
    getDepartamento (id) {
        axios.get('/Departamento/GetDepartamentoById?id=' + id).then((res) => {
            this.departamento = res.data.GetDepartamentoByIdResult;
        })
    }
  },
  components: {
    titleBar
  }
}
</script>
