<template>
  <div id="cajas">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
      <div class="card">
          <div class="card-body">
         <div class="col-md-12 text-right">
            <router-link class="btn btn-success" 
            v-show="actions.agregar"
            to="/departamento/nuevo"> <i class="bi bi-plus-lg"></i> Nuevo Departamento</router-link>
         </div>
          <tablecomponent 
           :headers="headers"
           :tabledata="tabledata" 
           :actions="actions"
          :search-label="'Buscar departamento'"
          :filter-options="'nombre'"
           ></tablecomponent>
       </div>
      </div>      
  </div>
</template>

<script>
import titleBar from '../../components/titleBar'
import tablecomponent from '../../components/table'
import { EventBus } from '../../../event-bus'
import axios from 'axios'
import Vue from 'vue'
export default {
  name: 'cajas',
  data () {
    return {
      tabledata: [],
      title: 'Catálogo de Departamentos',
      subtitle: 'Catálogos',
      headers: [
        'Id',
        'Nombre',
        'Descripcion'      
      ],
      actions: {
        editar: true,
        filter: true,
        agregar:true,
      }
    }
  },
  mounted () {
    this.permissions()
    this.getDepartamentos();
    EventBus.$on('editar', data => {
       this.$router.push({ path: `/departamento/edita/${data.id}` }) 
    })
  },
  methods: {
    getDepartamentos () {
      let vm = this
      axios.get('/Departamento/GetDepartamento').then((res) => {
        res.data.GetDepartamentoResult.forEach(function(element) {
          let obj = {
           id: element.id,
           nombre:element.nombre,
           descripcion: element.descripcion
          }
          vm.tabledata.push(obj)
        })
      })
    },
     permissions(){
          let params = {
        tipoUsuario: Vue.localStorage.get("USER_TYPE"),
        componente:this.$route.name
      }
       axios.post('/Usuario/GetPermisoAccesoUsuario',params).then((res) => {
            let result =res.data.GetPermisoAccesoUsuarioResult          
            if(result.Consultar == false){            
               this.$router.push('dashboard')               
            }            
            this.actions.editar =result.Editar
             this.actions.agregar =result.Crear
        })
    }
  },
  components: {
    titleBar,
    tablecomponent
  }

}
</script>