<template>
  <div id="motivos" class="card">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
      <div class="card-body">
        <div class="col-md-4">
                <label>Tipo de Motivo</label>
                <select class="form-control" v-model="tipo" name="tipo" @change="getMotivos">
                   <option value="">Selecciona</option>
                  <option   value="C">Cancelación de Ticket</option>
                  <option value="R">Reimpresion de Ticket</option>
                  <option value="D">Devolucion de Ticket</option>                   
                </select>
                
          </div>
        
         <div class="col-md-12 text-right">
            <router-link 
             v-show="actions.agregar"
             class="btn btn-success" to="/motivo/nuevo"> <i class="bi bi-plus-lg"></i> Nuevo Motivo</router-link>
         </div>
         <div class="col-md-12">
          <tablecomponent  :headers="headers"  :tabledata="tabledata" :actions="actions"></tablecomponent>
       </div>
      </div>
  </div>
</template>

<script>
import titleBar from '../../components/titleBar'
import tablecomponent from '../../components/table'
import { EventBus } from '../../../event-bus'
import axios from 'axios'
import Vue from 'vue'
export default {
  name: 'bancos',
  data () {
    return {
      tabledata: [],
      title: 'Catálogo de Motivos',
      subtitle: 'Catálogos',
      tipo:'C',
      headers: [
        'Id',        
        'Nombre',
        'Activo'        
      ],
      actions: {
        editar: true,
        agregar:true,
      }
    }
  },
  mounted () {
    this.permissions()
   this.getMotivos()
   EventBus.$on('editar', data => {  
       console.log(data)
       this.$router.push({ path: `/motivo/edita/${data.id}` }) 
    })
  },
  methods: {
    getMotivos () {
      let vm = this
       vm.tabledata = []
      let tp = (this.tipo) ? this.tipo: 0 
      axios.get('/Motivo/GetMotivo?tipo=' + tp).then((res) => {
        console.log(res)
        res.data.GetMotivoResult.forEach(function(el) {
          let obj= {
            id: el.id,
            nombre: el.nombre,
            activo: (el.activo)? 'Activo':'No Activo'
          }
          vm.tabledata.push(obj)
        })
      })
    },
     permissions(){
          let params = {
        tipoUsuario: Vue.localStorage.get("USER_TYPE"),
        componente:this.$route.name
      }
       axios.post('/Usuario/GetPermisoAccesoUsuario',params).then((res) => {
            let result =res.data.GetPermisoAccesoUsuarioResult          
            if(result.Consultar == false){            
               this.$router.push('dashboard')               
            }            
            this.actions.editar =result.Editar
             this.actions.agregar =result.Crear
        })
    }
  },
  components: {
    titleBar,
    tablecomponent
  }

}
</script>

<style>

</style>
