<template>
  <div id="nuevoMotivo" >
    <form novalidate  @submit.prevent="validate">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
      <div class="card">
          <div class="card-body">
       
            
           <div class="col-md-12">
            <div class="col-md-6 col-md-offset-3">
              <div class="col-md-12">
                <label>Nombre de motivo </label>
                <input type="text" v-model="motivo.nombre" v-validate="'required'" name="nombre" :class="(errors.has('nombre')) ? 'is-invalid':'is-valid'"  class="form-control" placeholder="">
                <span v-show="errors.has('nombre')" class="invalid-feedback">{{ errors.first('nombre') }}</span>
              </div>
             
              <div class="col-md-12">
                <label>Tipo de Motivo</label>
                <select class="form-control" v-model="motivo.tipo" v-validate="'required'" name="tipo" :class="(errors.has('tipo')) ? 'is-invalid':'is-valid'">
                   <option value="">Selecciona</option>
                  <option value="C">Cancelación de Ticket</option>
                  <option value="R">Reimpresion de Ticket</option>
                  <option value="D">Devolucion de Ticket</option>
                </select>
                <span v-show="errors.has('tipo')" class="invalid-feedback">{{ errors.first('tipo') }}</span>
              </div>
              <div class="col-md-12">
                <label>Estatus</label><br>
                  <div class="pretty p-svg p-curve">
                  <input type="checkbox" v-model="motivo.activo" />
                  <div class="state p-success">
                  <!-- svg path -->
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                  </svg>
                  <label>Activo</label>
                  </div>
                  </div>
              </div>
              
           </div>
         </div>         


       
      </div>

      </div>
         <div class="card" style="margin-top:-25px;">
          <div class="card-body text-right">

          <button class="btn btn-success" type="submit"> <i class="bi bi-box-arrow-down"></i> Guardar</button>
           <router-link class="btn btn-default" to="/motivo"> <i class="bi bi-x-lg"></i> Cancelar</router-link>
            </div>
          </div>
          </form>
  </div>
</template>

<script>
import titleBar from '../../components/titleBar'
import tablecomponent from '../../components/table'
import { EventBus } from '../../../event-bus'
import axios from 'axios'
export default {
  name: 'nuevoMotivo',
  data () {
    return {      
      title: 'Nuevo Motivo',
      subtitle: 'Catálogos',
      motivo: {
          id: 0,
          nombre: '',
          tipo:'',
          activo:true
      }
    }
  },
  mounted () {
   if(this.$route.params.id) {
    this.getMotivo(this.$route.params.id)
    this.title = 'Editar Motivo'
  }
  else {
    this.title = 'Nuevo Motivo'
  }
  },
  methods: {
    validate () {
      this.$validator.validateAll().then(result => {
        if (result) {
          if(this.motivo.id > 0 ) {

          axios.post('/Motivo/UpdateMotivo', JSON.stringify({motivo: this.motivo}))
           .then((res) => {           
             this.$snotify.success('El motivo se editó correctamente', '¡Correcto!')
             this.$router.push('/motivo')
           })

          }else {

            axios.post('/Motivo/AddMotivo', JSON.stringify({motivo: this.motivo}))
           .then((res) => {           
             this.$snotify.success('El motivo se guardó correctamente', '¡Correcto!')
             this.$router.push('/motivo')
           })

          }
           
        }
      })
    },
    getMotivo (id) {
       axios.post('/Motivo/GetMotivoById?id='+ id, JSON.stringify({motivo: this.motivo}))
       .then((res) => {
         this.motivo = res.data.GetMotivoByIdResult
       })
    }
  },
  components: {
    titleBar,
    tablecomponent
  }

}
</script>

<style>

</style>
