<template>
    <div>
           <div class="card ">
              <title-bar :title="title" :subtitle="subtitle"></title-bar>

	<div class="card-body">
         <div class="col-md-6 col-md-offset-3">           
               <div class="col-md-12 form-group">
				         <span>Tipo de Usuario</span>
                <select class="form-control text-capitalize" v-model="tipoUsuario" @change="getModulosUsuario()" v-validate="'required'" name="tipoUsuario" :class="(errors.has('tipoUsuario')) ? 'is-invalid':'is-valid'">
                   <option value="">Selecciona</option>
                  <option v-for="option in ListatipoUsuarios" :key="option.Id" v-bind:value="option.Id" >{{option.Nombre}}</option>
                </select>                
                <i v-show="errors.has('principal.tipoUsuario')" class="fa fa-warning"> </i>
                <span v-show="errors.has('principal.tipoUsuario')" class="help is-danger text-danger"> El campo tipo Usuario es obligatorio</span>
                </div>
         </div>
        <div class="col-md-6 col-md-offset-3" v-if="tipoUsuario > 0">
            <ul class="list divider-full-bleed">
            <li class="tile" v-for="m in modulos" :key="m.Id">
               <table class="table">
                   <thead>
                       <tr>
                           <td colspan="4"><h4 class="text-center text-primary">   <b>{{m.nombre}}</b></h4></td>
                       </tr>
                       <tr>
                           <th width="40%" class="text-left">Modulo</th>
                            <th width="15%" class="text-center">Acceso</th>
                           <th width="15%" class="text-center">Agregar</th>
                           <th  width="15%" class="text-center">Editar</th>
                           <th width="15%"  class="text-center">Eliminar</th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr v-for="sm in m.SubModulos" :key="sm.Id">
                         <td class="text-left">{{sm.nombre}}</td>
                         <td class="text-center">
                             
                             
                            <div class="pretty p-svg p-curve">
                  <input type="checkbox" v-model="sm.Consultar" />
                  <div class="state p-success">
                  <!-- svg path -->
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                  </svg>
                  <label></label>
                  </div>
                  </div>
                             
                        </td>
                         <td class="text-center">
                           
                            <div class="pretty p-svg p-curve">
                  <input type="checkbox" v-model="sm.Crear" />
                  <div class="state p-success">
                  <!-- svg path -->
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                  </svg>
                  <label></label>
                  </div>
                  </div>                           
                        </td>
                         <td class="text-center">

                            <div class="pretty p-svg p-curve">
                  <input type="checkbox" v-model="sm.Editar" />
                  <div class="state p-success">
                  <!-- svg path -->
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                  </svg>
                  <label></label>
                  </div>
                  </div>

                         </td>
                         <td class="text-center">

                           <div class="pretty p-svg p-curve">
                  <input type="checkbox" v-model="sm.Eliminar" />
                  <div class="state p-success">
                  <!-- svg path -->
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                  </svg>
                  <label></label>
                  </div>
                  </div>
   

                         </td>
                       </tr>
                   </tbody>
               </table>                
                
            </li>
        
        </ul>
   
        </div>
       <div class="col-md-6 col-md-offset-3 text-center" v-if="tipoUsuario > 0">
           <button class="btn btn-block btn-success" @click="guardar()">Guardar Configuración</button>
       </div>
     
               
	</div>
	</div>
</div>
    </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import titleBar from '../../components/titleBar'
export default {
  name: "addVendedores",
  data() {
    return {
      token: Vue.localStorage.get("token"),
      title: 'Configuración del Sistema',
      subtitle:'Permisos',
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      },
      modulos: [],
      ListatipoUsuarios: [],
      modulosUsuario: [],
      tipoUsuario: ""
    };
  },
  mounted() {
    this.getModulos();
    this.getTiposUsuario();
  },
  methods: {
    getModulos() {
      let vm = this;
      axios.get("/Usuario/GetModulos", this.header).then(res => {
        vm.modulos = res.data.GetModulosResult;
        vm.modulos.forEach(i => {
          i.SubModulos.forEach(is => {
            vm.match(is);
          });
        });
      });
    },
    getModulosUsuario() {
       this.modulos =[]
      this.modulosUsuario=[]
      if (this.tipoUsuario > 0) {
        let vm = this;
        let body = {
          tipoUsuario: this.tipoUsuario,
          op: 2
        };
        axios
          .post("/Usuario/GetObtenModulosUsuario", body, this.header)
          .then(res => {
            res.data.GetObtenModulosUsuarioResult.forEach(element => {
              element.SubModulos.forEach(s => {
                vm.modulosUsuario.push(s);
              });
            });
            vm.getModulos();
          });
      }
    },
    match(item) {
      let result = this.modulosUsuario.filter(i => i.Id == item.Id);
      console.log(result);
      if (result.length > 0) {
        item.Crear = result[0].Crear ? result[0].Crear : false;
        item.Editar = result[0].Editar ? result[0].Editar : false;
        item.Eliminar = result[0].Eliminar ? result[0].Eliminar : false;
        item.Consultar = result[0].Consultar ? result[0].Consultar : false;
      }
    },
    guardar() {
      console.log("Guardado", this.modulos);
      let vm = this;
      let body = {
        modulos: this.modulos,
        tipoUsuario: this.tipoUsuario
      };
      axios.post("/Usuario/GetGuardaPermisos", body, this.header).then(res => {
        console.log(res);
       // vm.ListatipoUsuarios = res.data.GetTiposUsuarioResult;
        this.$snotify.success("Permisos Configurados Correctamente");
      });
    },
    getTiposUsuario() {
      let vm = this;
     
      axios.get("/Usuario/GetTiposUsuario", this.header).then(res => {
        console.log(res);
        vm.ListatipoUsuarios = res.data.GetTiposUsuarioResult;
        vm.tipoUsuario = vm.ListatipoUsuarios[0].Id
        vm.getModulosUsuario();
        //.filter(
        // i => i.Activo == true
        //);
      });
    }
  },
  components: {
    titleBar       
  }
};
</script>
