<template>
  <div id="cajas">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
      <div class="card">
          <div class="card-body">
         <div class="col-md-12 text-right">
           <router-link class="btn btn-success" v-show="actions.agregar" to="/proveedor/nuevo">
            <i class="bi bi-plus-lg"></i> Nuevo Proveedor</router-link>
         </div>
          <tablecomponent  
          :headers="headers"  
          :tabledata="tabledata" 
          :actions="actions"
           :search-label="'Buscar proveedor'"
          :filter-options="'nombre'"
          ></tablecomponent>
       </div>
      </div>      
  </div>
</template>

<script>
import titleBar from '../../components/titleBar'
import tablecomponent from '../../components/table'
import { EventBus } from '../../../event-bus'
import axios from 'axios'
import Vue from 'vue'
export default {
  name: 'proveedores',
  data () {
    return {
      tabledata: [],
      title: 'Catálogo de Proveedores',
      subtitle: 'Catálogos',
      headers: [
        'Id',
        'Nombre',
        'Telefono',
        'Dirección', 
        'Contacto'  
      ],
      actions: {
        agregar:true,
        editar: true,
        filter:true
      }
    }
  },
  mounted () {
    this.permissions()
    this.getProveedor();
    EventBus.$on('editar', data => {  
       console.log(data)
       this.$router.push({ path: `/proveedor/edita/${data.id}` }) 
    })
  },
  methods: {
    getProveedor () {
      let vm = this
      axios.get('/Proveedor/GetProveedor').then((res) => {
        console.log(res)
        res.data.GetProveedorResult.forEach(function(element) {
          let obj = {
           id: element.id,
           nombre:element.nombre,
           telefono: element.telefono,
           direccion: element.direccion,
           contacto: element.contacto

          }          
          vm.tabledata.push(obj)
        })
      })
    },
       permissions(){
          let params = {
        tipoUsuario: Vue.localStorage.get("USER_TYPE"),
        componente:this.$route.name
      }
       axios.post('/Usuario/GetPermisoAccesoUsuario',params).then((res) => {
            let result =res.data.GetPermisoAccesoUsuarioResult          
            if(result.Consultar == false){            
               this.$router.push('dashboard')               
            }            
            this.actions.editar =result.Editar
             this.actions.agregar =result.Crear
        })
    }
  },
  components: {
    titleBar,
    tablecomponent
  }

}
</script>

<style>

</style>
