<template>
  <div id="proveedorNuevo">
       <form novalidate  @submit.prevent="validate">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
         <div class="card">
         <div class="card-body">
         
           <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="row">
                <label>Nombre de proveedor </label>
                <input type="text" v-model="proveedor.nombre" v-validate="'required'" name="nombre" :class="(errors.has('nombre')) ? 'is-invalid':'is-valid'"  class="form-control" placeholder="">
                <span v-show="errors.has('nombre')" class="invalid-feedback">{{ errors.first('nombre') }}</span>
              </div>
              <div class="row">
                <label>Telefono</label>
                <input type="text" v-model="proveedor.telefono" v-validate="'required|digits:10' "  name="telefono" :class="(errors.has('telefono')) ? 'is-invalid':'is-valid'"  class="form-control" placeholder="">
                <span v-show="errors.has('telefono')" class="invalid-feedback">{{ errors.first('telefono') }}</span>
              </div>
              <div class="row">
                <label>Dirección</label>
                <input type="text" v-model="proveedor.direccion" v-validate="'required'" name="direccion" :class="(errors.has('direccion')) ? 'is-invalid':'is-valid'"  class="form-control" placeholder="">
                <span v-show="errors.has('direccion')" class="invalid-feedback">{{ errors.first('direccion') }}</span>
              </div>
              <div class="row">
                <label>Contacto</label>
                <input type="text" v-model="proveedor.contacto" v-validate="'required'" name="contacto" :class="(errors.has('contacto')) ? 'is-invalid':'is-valid'"  class="form-control" placeholder="">
                <span v-show="errors.has('contacto')" class="invalid-feedback">{{ errors.first('contacto') }}</span>
               
              </div>
              <div class="row">
                <label>Estatus de proveedor</label><br>
                  <div class="pretty p-svg p-curve">
                  <input type="checkbox" v-model="proveedor.activo" />
                  <div class="state p-success">
                  <!-- svg path -->
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                  </svg>
                  <label>Activo</label>
                  </div>
                  </div>
              </div>
             
           </div>
         </div>         
   
         </div>
        
    </div>     
     <div class="card" style="margin-top:-25px;">
          <div class="card-body text-right">

               <button class="btn btn-success" type="submit"> <i class="bi bi-box-arrow-down"></i> Guardar</button>
                       <router-link  class="btn btn-default " to="/proveedor"> <i class="bi bi-x-lg"></i> Cancelar</router-link>
            </div>
          </div>  
             </form>
  </div>
</template>

<script>
import titleBar from '../../components/titleBar'
import axios from 'axios'
export default {
  name: 'ProveedorNuevo',
  data () {
    return {
      tabledata: [],
      title: '',
      subtitle: 'Catálogos',
      departamentos: [],
      proveedor: {
        id: 0,
        nombre: '',
        telefono: '',
        direccion: '',
        contacto: '',
        activo : true
      }
    }
  },
  mounted () {
  if(this.$route.params.id) {
    this.getProveedorById(this.$route.params.id)
    this.title = 'Editar Proveedor'
  }
  else {
    this.title = 'Nuevo Proveedor'
  }   
  },
  methods: {
    validate () {
      this.$validator.validateAll().then(result => {
        if (result) {
          if (this.proveedor.id > 0) {
            axios.post('/Proveedor/UpdateProveedor', JSON.stringify({proveedor: this.proveedor}))
            .then((res) => {            
             this.$snotify.success('El proveedor se editó correctamente', '¡Correcto!')
             this.$router.push('/proveedor')
           })

          }else{
            axios.post('/Proveedor/AddProveedor', JSON.stringify({proveedor: this.proveedor}))
            .then((res) => {            
             this.$snotify.success('El proveedor se guardó correctamente', '¡Correcto!')
             this.$router.push('/proveedor')
           })

          }
        }
      })
    },
    getProveedorById (id) {
      let vm = this
      axios.get('/Proveedor/GetProveedorById?id=' + this.$route.params.id).then((res) => {
        this.proveedor = res.data.GetProveedorByIdResult
      })
    }
  },
  components: {
    titleBar
  }
}
</script>