<template>
  <div id="usuarios" class="card">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
      <div class="card-body">
       <div class="col-md-12">
         <div class="col-md-12 text-right">
            <router-link class="btn btn-success "
             v-show="actions.agregar"
             to="/sucursal/nuevo"><i class="bi bi-plus-lg"></i> Nueva sucursal</router-link>
         </div>
          <tablecomponent  
          :headers="headers"  
          :tabledata="tabledata" 
          :actions="actions"
           :search-label="'Buscar Sucursal'"
          :filter-options="'nombre'"
          ></tablecomponent>
       </div>
      </div>
  </div>
</template>

<script>
import titleBar from '../../components/titleBar'
import tablecomponent from '../../components/table'
import { EventBus } from '../../../event-bus'
import axios from 'axios'
import Vue from 'vue'
export default {
  name: 'sucursales',
  data () {
    return {
      tabledata: [],
      title: 'Catálogo de sucursales',
      subtitle: 'Catálogos',
      headers: [
        'Id',
        'nombre',
        'Telefono',
        'Email',
        'Calle',
        'colonia'
      ],
      actions: {
        editar: true,
        filter:true,
          agregar:true,
      }
    }
  },
  mounted () {
    this.getSucursales()
    this.permissions()
     EventBus.$on('editar', data => {  
       console.log(data)
       this.$router.push({ path: `/sucursal/edita/${data.id}` }) 
    })
  },
  methods: {
    getSucursales () {
      let vm = this
      
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then((res) => {
        console.log(res)
        res.data.GetSucursalResult.forEach(function(element) {
          let obj = {
            id: element.id,
            nombre: element.nombre,
            telefono: element.telefono,
            email: element.email,
            calle: element.calle,
            colonia: element.colonia
          }
          vm.tabledata.push(obj)          
        })
        
      })
    },
    permissions(){
          let params = {
        tipoUsuario: Vue.localStorage.get("USER_TYPE"),
        componente:this.$route.name
      }
       axios.post('/Usuario/GetPermisoAccesoUsuario',params).then((res) => {
            let result =res.data.GetPermisoAccesoUsuarioResult          
            if(result.Consultar == false){            
               this.$router.push('dashboard')               
            }            
            this.actions.editar =result.Editar
             this.actions.agregar =result.Crear
        })
    }
  },
  components: {
    titleBar,
    tablecomponent
  }

}
</script>

<style>

</style>
