<template>
  <div id="sucursalNuevo" >
     <form  @submit.prevent="validate" novalidate>
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
      <div class="card">
         <div class="card-body">
       
          <div class="row">

            <div class="col-md-5 col-md-offset-1">
          <div class="col-md-12">
            <label>Nombre de sucursal</label>
            <input type="text" v-model="sucursal.nombre" v-validate="'required'" name="nombre" :class="(errors.has('nombre')) ? 'is-invalid':'is-valid'" class="form-control" placeholder="Ingresa Nombre">
            <span v-show="errors.has('nombre')" class="invalid-feedback">{{ errors.first('nombre') }}</span>
          </div>
          <div class="col-md-12">
            <div class="col-md-8">
                <label>Calle</label>
              <input type="text" v-model="sucursal.calle" v-validate="'required'" name="calle" :class="(errors.has('calle')) ? 'is-invalid':'is-valid'" class="form-control" placeholder="Ingresa calle">
              <span v-show="errors.has('calle')" class="invalid-feedback">{{ errors.first('calle') }}</span>
            </div>
            <div class="col-md-4">
              <label>Número</label>
              <input type="number" v-model.number="sucursal.numero" v-validate="'required'" name="numero" :class="(errors.has('numero')) ? 'is-invalid':'is-valid'" class="form-control">
              <span v-show="errors.has('numero')" class="invalid-feedback">{{ errors.first('numero') }}</span>
            </div>
            
          </div>

          <div class="col-md-12">
            <div class="col-md-8">
                <label>Colonia</label>
              <input type="text" v-model="sucursal.colonia" v-validate="'required'" name="colonia" :class="(errors.has('colonia')) ? 'is-invalid':'is-valid'" class="form-control" placeholder="Ingresa colonia">
              <span v-show="errors.has('colonia')" class="invalid-feedback">{{ errors.first('colonia') }}</span>
            </div>
            <div class="col-md-4">
              <label>Codigo Postal</label>
              <input type="number" v-model.number="sucursal.cp" v-validate="'required'" name="codigopostal" :class="(errors.has('codigopostal')) ? 'is-invalid':'is-valid'" class="form-control">
              <span v-show="errors.has('codigopostal')" class="invalid-feedback">{{ errors.first('codigopostal') }}</span>
            </div>
          </div>
          
          
        </div>
        <div class="col-md-5">
          <div class="col-md-6">
            <label>Ciudad</label>
            <input type="text" v-model="sucursal.ciudad" v-validate="'required'" name="ciudad" :class="(errors.has('ciudad')) ? 'is-invalid':'is-valid'" class="form-control" placeholder="Ingresa Nombre">
            <span v-show="errors.has('ciudad')" class="invalid-feedback">{{ errors.first('ciudad') }}</span>
          </div>
          <div class="col-md-6">
            <label>Estado</label>
            <input type="text" v-model="sucursal.estado" v-validate="'required'" name="estado" :class="(errors.has('estado')) ? 'is-invalid':'is-valid'" class="form-control" placeholder="Ingresa Nombre">
            <span v-show="errors.has('estado')" class="invalid-feedback">{{ errors.first('estado') }}</span>
          </div>
           <div class="col-md-6">
            <label>Telefono</label>
            <input type="text" v-model="sucursal.telefono" v-validate="'required|digits:10' "  name="telefono" :class="(errors.has('telefono')) ? 'is-invalid':'is-valid'" class="form-control" placeholder="Ingresa Nombre">
            <span v-show="errors.has('telefono')" class="invalid-feedback">{{ errors.first('telefono') }}</span>
          </div>

          <div class="col-md-6">
            <label>Email</label>
            <input type="text" v-model="sucursal.email" v-validate="'email'" data-vv-as="email" name="email" :class="(errors.has('email')) ? 'is-invalid':'is-valid'" class="form-control" placeholder="Ingresa Nombre">
            <span v-show="errors.has('email')" class="invalid-feedback">{{ errors.first('email') }}</span>
          </div>

          <div class="col-md-6">
            <label>Serie</label>
            <input type="text" v-model="sucursal.serie" v-validate="'required'" name="serie" :class="(errors.has('serie')) ? 'is-invalid':'is-valid'" class="form-control" placeholder="Ingresa serie">
            <span v-show="errors.has('serie')" class="invalid-feedback">{{ errors.first('serie') }}</span>
          </div>

           </div>
          </div>
       
       
      </div>

      </div>
     
        <div class="card" style="margin-top:-25px;" >
          <div class="card-body text-right">

                 <button class="btn btn-success" type="submit"> <i class="bi bi-box-arrow-down"></i> Guardar</button>
                      <router-link class="btn btn-default " to="/sucursal"> <i class="bi bi-x-lg"></i> Cancelar</router-link>
          </div>
       </div> 
        </form>
  </div>
</template>

<script>
import axios from 'axios'
import titleBar from '../../components/titleBar'
export default {
  name: 'sucursalNuevo',
  data () {
    return {
      tabledata: [],
      title: 'Nueva sucursal',
      subtitle: 'Catálogos',
      sucursal: {
        id:0 ,
        nombre: '',
        calle: '',
        numero: 0,
        colonia: '',
        cp: 0,
        ciudad: '',
        estado: '',
        telefono: '',
        email: '',
        serie: ''
      }
    }
  },
  mounted () {
  if(this.$route.params.id) {
    this.getSucursal(this.$route.params.id)
    this.title = 'Editar Sucursales'
  }
  else {
    this.title = 'Nueva Sucursal'
  } 
  },
  methods: {
    validate () {
      this.$validator.validateAll().then(result => {
        if(result) {
          if (this.sucursal.id > 0) {

          axios.post('/sucursal/UpdateSucursal', JSON.stringify({'sucursal': this.sucursal} ))
          .then((res) => {           
           this.$snotify.success('La sucursal se editó correctamente', '¡Correcto!')
            this.$router.push('/sucursal')
            })

          }else {
            axios.post('/sucursal/AddSucursal', JSON.stringify({'sucursal': this.sucursal} )).then((res) => {           
            this.$snotify.success('La sucursal se guardó correctamente', '¡Correcto!')
             this.$router.push('/sucursal')
           })
          }          
      }        
      })
    },
     getSucursal (id) {
      axios.get('/Sucursal/GetSucursalById?id='+ id).then((res) => {
        this.sucursal = res.data.GetSucursalByIdResult
        console.log(res)
      })
    }
  },
  components: {
    titleBar
  }
}
</script>

<style>

</style>
