
<template>
<div>
   <div class="card " style="margin-top:20px;">
	 <title-bar :title="title" :subtitle="subtitle"></title-bar>
	<div class="card-body">
	
      <div class="col-md-12">
        <div class="col-md-3 col-md-offset-9" style="margin-top:5px;">
        <!-- <button  class="btn btn-success"><i class="bi bi-plus-lg"></i> Agregar</button>-->
        <router-link v-if="actions.agregar" class="btn btn-success pull-right" to="tipoUsuario/nuevo">
<i class="bi bi-plus-lg"></i> Nuevo
        </router-link>
      </div>
      </div>

				<div class="col-md-12" >
       
         <tablecomponent  
         :headers="headers"  
         :tabledata="tabledata" 
         :actions="actions"
         :search-label="'Buscar Tipo de usuario'"
         :filter-options="'descripcion'"
         >
         </tablecomponent>	
	</div>
</div>

</div>
</div>
</template>
<script>
import Vue from "vue";
import titleBar from '../../components/titleBar'
import axios from "axios";
import tablecomponent from "../../components/table.vue";
import { EventBus } from '../../../event-bus'
export default {
  name: "app_amenitie",
  data() {
    return {
      title:'Tipos de Usuario',
      subtitle:'Configuración',
      headers: ["#", "Descripcion", "Estatus"],
      actions: {
        editar: true,
         filter: true,
         agregar:true,
      },
      tabledata: [],
      token: Vue.localStorage.get("token"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      }
    };
  },
  mounted() {
    this.permissions()
    this.getTiposUsuario();
    EventBus.$on("editar", data => {
      this.$router.push({ path: `/tipoUsuario/edita/${data.id}` });
    });
  },

  methods: {
     permissions(){
          let params = {
        tipoUsuario: Vue.localStorage.get("USER_TYPE"),
        componente:this.$route.name
      }
       axios.post('/Usuario/GetPermisoAccesoUsuario',params).then((res) => {
            let result =res.data.GetPermisoAccesoUsuarioResult          
            if(result.Consultar == false){            
               this.$router.push('dashboard')               
            }            
            this.actions.editar =result.Editar
             this.actions.agregar =result.Crear
             this.actions.cancelar =result.Eliminar
        })
    },
    getTiposUsuario() {
      let vm = this;
      axios.get("/Usuario/GetTiposUsuario", this.header).then(res => {
        res.data.GetTiposUsuarioResult.forEach(el => {
          let obj = {
            id: el.Id,
            descripcion: el.Nombre,
            activio: el.Activo ? "Activo" : "Inactivo"
          };
          vm.tabledata.push(obj);
        });
      });
    }
  },
  components: {
    tablecomponent,
    titleBar
  }
};
</script>