<template>
  <div id="usuarios" class="card">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
      <div class="card-body">
       <div class="col-md-12">
         <div class="col-md-12 text-right">
            <router-link class="btn btn-success "
              v-show="actions.agregar"
             to="/tiposalida/nuevo"><i class="bi bi-plus-lg"></i> Nuevo</router-link>
         </div>
          <tablecomponent  
          :headers="headers"  
          :tabledata="tabledata" 
          :actions="actions"
           :search-label="'Buscar tipo salida'"
          :filter-options="'nombre'"
          ></tablecomponent>
       </div>
      </div>
  </div>
</template>

<script>
import titleBar from '../../components/titleBar'
import tablecomponent from '../../components/table'
import { EventBus } from '../../../event-bus'
import axios from 'axios'
import Vue from 'vue'
export default {
  name: 'tiposalida',
  data () {
    return {
      tabledata: [],
      title: 'Catálogo de Tipo de Salida',
      subtitle: 'Catálogos',
      headers: [
        'Id',
        'Descripción',
        'Estatus',
        'Requiere Aut.'      
      ],
      actions: {
        editar: true,
        filter:true,
          agregar:true,
      }
    }
  },
  mounted () {
     this.permissions()
    this.getTipos()
     EventBus.$on('editar', data => {
       console.log(data)
       this.$router.push({ path: `/tiposalida/edita/${data.id}` }) 
    })
  },
  methods: {
    getTipos () {
      let vm = this
      axios.get('/tipoSalidaEfectivo/GettipoSalidaEfectivo').then((res) => {
        console.log(res)
        res.data.GettipoSalidaEfectivoResult.forEach(function(element) {
          let obj = {
            id: element.id,
            descripcion: element.descripcion,
            activo: (element.activo)?'Activo':'No Activo',
            requiereAutorizacion: (element.requiereAutorizacion)? 'Si':'No',
          
          }
          vm.tabledata.push(obj)          
        })
        
      })
    },
     permissions(){
          let params = {
        tipoUsuario: Vue.localStorage.get("USER_TYPE"),
        componente:this.$route.name
      }
       axios.post('/Usuario/GetPermisoAccesoUsuario',params).then((res) => {
            let result =res.data.GetPermisoAccesoUsuarioResult          
            if(result.Consultar == false){            
               this.$router.push('dashboard')               
            }            
            this.actions.editar =result.Editar
             this.actions.agregar =result.Crear
        })
    }
  },
  components: {
    titleBar,
    tablecomponent
  }

}
</script>

<style>

</style>
