<template>
  <div id="tiposalidaNuevo" >
     <form  @submit.prevent="validate" novalidate>
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
      <div class="card">
        <div class="card-body">
       
         <div class="col-md-6 col-md-offset-3">

               <div class="row">
                <label>Descripcion</label>
                <input type="text" v-model="tipo.descripcion" v-validate="'required'" name="descripcion" :class="(errors.has('descripcion')) ? 'is-invalid':'is-valid'"  class="form-control" placeholder="">
                <span v-show="errors.has('descripcion')" class="invalid-feedback">{{ errors.first('descripcion') }}</span>
              </div>         
              <div class="row">
                <label>Estatus</label><br>
                  <div class="pretty p-svg p-curve">
                  <input type="checkbox" v-model="tipo.activo" />
                  <div class="state p-success">
                  <!-- svg path -->
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                  </svg>
                  <label>Activo</label>
                  </div>
                  </div>
              </div>
              <div class="row">
                <label>¿Requiere Autorización?</label><br>
                  <div class="pretty p-svg p-curve">
                  <input type="checkbox" v-model="tipo.requiereAutorizacion" />
                  <div class="state p-success">
                  <!-- svg path -->
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                  </svg>
                  <label>Si requiere</label>
                  </div>
                  </div>
              </div>

         </div>
          
   
      </div>
        </div>
           <div class="card" style="margin-top:-25px;">
          <div class="card-body text-right">

              <button class="btn btn-success" type="submit"> <i class="bi bi-box-arrow-down"></i> Guardar</button>
                      <router-link class="btn btn-default " to="/tiposalida"> <i class="bi bi-x-lg"></i> Cancelar</router-link>
            </div>
          </div>
           </form>
  </div>
</template>

<script>
import axios from 'axios'
import titleBar from '../../components/titleBar'
export default {
  name: 'sucursalNuevo',
  data () {
    return {
      tabledata: [],
      title: 'Nueva ',
      subtitle: 'Catálogos',
      tipo: {
        id:0 ,
       descripcion:'',
       activo: true,
       requiereAutorizacion: true
      }
    }
  },
  mounted () {
  if(this.$route.params.id) {
    this.getTipo(this.$route.params.id)
    this.title = 'Editar Tipo de Salida'
  }
  else {
    this.title = 'Nuevo Tipo de Salida'
  } 
  },
  methods: {
    validate () {
      this.$validator.validateAll().then(result => {
        if(result) {
          if (this.tipo.id > 0) {

          axios.post('/tipoSalidaEfectivo/UpdatetipoSalidaEfectivo', JSON.stringify({'tipoSalidaEfectivo': this.tipo} ))
          .then((res) => {           
           this.$snotify.success('El tipo de salida se editó correctamente', '¡Correcto!')
            this.$router.push('/tiposalida')
            })

          }else {
            axios.post('/tipoSalidaEfectivo/AddtipoSalidaEfectivo', JSON.stringify({'tipoSalidaEfectivo': this.tipo} )).then((res) => {           
            this.$snotify.success('El tipo de salida se guardó correctamente', '¡Correcto!')
             this.$router.push('/tiposalida')
           })
          }          
      }        
      })
    },
     getTipo (id) {
      axios.get('/tipoSalidaEfectivo/GettipoSalidaEfectivoById?id='+ id).then((res) => {
        this.tipo = res.data.GettipoSalidaEfectivoByIdResult
        console.log(res)
      })
    }
  },
  components: {
    titleBar
  }
}
</script>

<style>

</style>
