<template>
  <div id="tipoUsuarioNuevo" class="card">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
      <div class="card-body">
        <form  @submit.prevent="validate" novalidate>
          <div class="col-md-4 col-md-offset-4">

        

          <div class="col-md-12">
            <label>Nombre</label>
            <input type="text" v-model="tipoUsuario.Nombre" v-validate="'required'" name="nombre" :class="(errors.has('nombre')) ? 'is-invalid':'is-valid'" class="form-control" placeholder="Ingresa Nombre">
            <span v-show="errors.has('nombre')" class="invalid-feedback">{{ errors.first('nombre') }}</span>
          </div>

        <div class="col-md-12">
            <label>Estatus</label><br>
             <div class="pretty p-svg p-curve">
        <input type="checkbox" v-model="tipoUsuario.Activo" />
        <div class="state p-success">
            <!-- svg path -->
            <svg class="svg svg-icon" viewBox="0 0 20 20">
                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
            </svg>
            <label>Activo</label>
        </div>
    </div>
          </div>

           <div class="col-md-12">
            <label>Ventas </label><br>
             <div class="pretty p-svg p-curve">
        <input type="checkbox" v-model="tipoUsuario.ReimprimeTicket" />
        <div class="state p-success">
            <!-- svg path -->
            <svg class="svg svg-icon" viewBox="0 0 20 20">
                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
            </svg>
            <label>Reimprime Ticket</label>
        </div>
    </div>
      <div class="pretty p-svg p-curve">
        <input type="checkbox" v-model="tipoUsuario.CancelaVenta" />
        <div class="state p-success">
            <!-- svg path -->
            <svg class="svg svg-icon" viewBox="0 0 20 20">
                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
            </svg>
            <label>Cancela Venta</label>
        </div>
    </div>
          </div>

           </div>
        
          <div class="col-md-12 text-right">
                 <div class="form-options">
                        <button class="btn btn-success" type="submit"> 
<i class="fa fa-hdd-o" aria-hidden="true"></i>
  Guardar</button>
                      <router-link class="btn btn-default " to="/tipoUsuario"> 
<i class="fa fa-window-close" aria-hidden="true"></i> Cancelar</router-link>
                 </div>
            </div>
        </form>
      </div>
  </div>
</template>

<script>
import axios from 'axios'
import titleBar from '../../components/titleBar'
export default {
  name: 'sucursalNuevo',
  data () {
    return {
      tabledata: [],
      title: 'Nuevo Tipo de Usuario',
      subtitle: 'Catálogos',
      tipoUsuario: {
        Id:0 ,
        Nombre: '',
        Activo: true,
        CancelaVenta:false,
        ReimprimeTicket:false       
      }
    }
  },
  mounted () {
  if(this.$route.params.id) {
    this.getTipoUsuario(this.$route.params.id)
    this.title = 'Edita tipo de Usuario'
  }
  else {
    this.title = 'Nuevo Tipo de Usuario'
  } 
  },
  methods: {
    validate () {
      this.$validator.validateAll().then(result => {
        if(result) {
          if (this.$route.params.id > 0) {

          axios.post('/Usuario/UpdateTiposUsuario', JSON.stringify({'obj': this.tipoUsuario} ))
          .then((res) => {           

             if (res.data.UpdateTiposUsuarioResult == -1 ){
               this.$snotify.error('El Nombre de tipo de usuario ya se encuentra registrado', 'Error')
            }
            else{

                this.$snotify.success('El tipo de usuario se editó correctamente', '¡Correcto!')
                  this.$router.push('/tipoUsuario')
            }
           
            })

          }else {
            axios.post('/Usuario/AddTiposUsuario', JSON.stringify({'obj': this.tipoUsuario} )).then((res) => {          

            if (res.data.AddTiposUsuarioResult == -1 ){
               this.$snotify.error('El Nombre de tipo de usuario ya se encuentra registrado', 'Error')
            }else{
              this.$snotify.success('El tipo de usuario se guardó correctamente', '¡Correcto!')
             this.$router.push('/tipoUsuario')
            }
            
           })
          }          
      }        
      })
    },
     getTipoUsuario (id) {
      axios.get('/Usuario/GetTipoUsuarioById?id='+ id).then((res) => {
        this.tipoUsuario = res.data.GetTipoUsuarioByIdResult
        console.log(res)
      })
    }
  },
  components: {
    titleBar
  }
}
</script>

<style>

</style>
