<template>
  <div id="departamentoNuevo">
     <modal name="modal-unidadsat" :width="500" :height="300" :clickToClose="true">
    <listaunidadsat></listaunidadsat>
</modal>
       <form novalidate  @submit.prevent="validate">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
         <div class="card">
           <div class="card-body">
           
           <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="row">
                <label>Nombre </label>
                <input type="text" v-model="unidad.nombre" v-validate="'required'" name="nombre" :class="(errors.has('nombre')) ? 'is-invalid':'is-valid'"  class="form-control" placeholder="">
                <span v-show="errors.has('nombre')" class="invalid-feedback">{{ errors.first('nombre') }}</span>
              </div>  
             <div class="row" v-if="facturacion">
              <label>Unidad de Medida SAT</label>
               <div class="col-md-8">
                 Catálogos SAT
                 <input type="text" :disabled="false" v-model="unidad.sat_clvUnidad" class="form-control">
            </div>
            <div class="col-md-4">
              <label></label>
                <button type="button" @click="$modal.show('modal-unidadsat')" class="btn btn-default btn-xs "><i class="bi bi-search"></i> Buscar</button>
                 
            </div>

          
          </div>             
              <div class="row">
                <label>Estatus</label><br>
                  <div class="pretty p-svg p-curve">
                  <input type="checkbox" v-model="unidad.activo" />
                  <div class="state p-success">
                  <!-- svg path -->
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                  </svg>
                  <label>Activo</label>
                  </div>
                  </div>
              </div>
            
           </div>
         </div>         
     

           </div>
         
    </div>  
      <div class="card" style="margin-top:-25px;">
          <div class="card-body text-right">

                <button class="btn btn-success " type="submit"> <i class="bi bi-box-arrow-down"></i> Guardar</button>
                       <router-link to="/unidad" class="btn btn-default"> <i class="bi bi-x-lg"></i> Cancelar</router-link>
          </div>
       </div>   
        </form>      
  </div>
</template>

<script>
import { EventBus } from '../../../event-bus'
import titleBar from '../../components/titleBar'
import listaunidadsat  from '../../components/modals/modal_unidadsat'
import axios from 'axios'
export default {
  name: 'departamentoNuevo',
  data () {
    return {
      tabledata: [],
      unidades_sat:[],
      title: '',
      subtitle: 'Catálogos',
      facturacion:false,   
      unidad: {
        id: 0,
        nombre: '',      
        activo: true,
        sat_clvUnidad:''
      }
    }
  },
  mounted () {
    let vm =this
    this.ActivaFacturacion()
   EventBus.$on('save_modal_unidadsat', data => {
      
      vm.unidad.sat_clvUnidad = data
      vm.$modal.hide('modal-unidadsat')  
   });
  if(this.$route.params.id) {
    this.getDepartamento(this.$route.params.id)
    this.title = 'Editar Unidad'
  }
  else {
    this.title = 'Nuevo Unidad'
  } 
  },
  methods: {
    ActivaFacturacion(){
      let vm = this;
      axios.get('SistemaGeneral/GetSistemaGeneral').then(function(res){
        console.log('res',res.data.GetSistemaGeneralResult.facturacion)
         vm.facturacion = res.data.GetSistemaGeneralResult.facturacion;        
      });
    },
    validate () {
      this.$validator.validateAll().then(result => {
        if (result) {
           if(this.unidad.id >  0) {

          axios.post('/Unidad/UpdateUnidad', JSON.stringify({unidad: this.unidad})).then((res) => {
             this.$snotify.success('La unidad se editó correctamente', '¡Correcto!')
            this.$router.push('/unidad')
           })

           }
           else{
             axios.post('/Unidad/AddUnidad', JSON.stringify({unidad: this.unidad})).then((res) => {
            this.$snotify.success('La unidad se guardó correctamente', '¡Correcto!')
            this.$router.push('/unidad')
           })

           }
           
        }
      })
    },    
    getDepartamento (id) {
        axios.get('/Unidad/GetUnidadById?id=' + id).then((res) => {
            this.unidad = res.data.GetUnidadByIdResult;
        })
    }
  },
  components: {
    titleBar,
    listaunidadsat
  }
}
</script>
