<template>
  <div id="usuarios" class="card">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
      <div class="card-body">
         <div class="col-md-2">
           <label>Sucursal</label>
                <select class="form-control input-sm" v-model="sucursal"    @change="getUsuarios">
                   <option value=""> -- Selecciona  -- </option>
                  <option v-for="option in sucursales"  v-bind:value="option.id"  :key="option.id">{{option.nombre}}</option>
                </select>

         </div>

           <div class="col-md-2">
           <label>Tipo de Usuario</label>
                <select class="form-control input-sm" v-model="tipoUsuario"    @change="getUsuarios">
                   <option value=""> -- Selecciona  -- </option>
                  <option v-for="option in tipoUsuarios"  v-bind:value="option.id" :key="option.id">{{option.Nombre}}</option>
            </select>

         </div>
          <div class="col-md-2">
           <label>Login de acceso</label>
              <input type="text" class="form-control input-sm" v-model="login" name="login" >
         </div>
         <div class="col-md-2">
           <label>Correo Electrónico</label>
              <input type="text" class="form-control input-sm" v-model="email" name="email" >
         </div>
         <div class="col-md-2">
            <br>
            <button class="btn btn-default btn-sm" @click="getUsuarios"><i class="bi bi-search"></i> Buscar</button>
         </div>
         <div class="col-md-2 text-right">
           <button class="btn btn-success "  v-if="actions.agregar" type="button" ><router-link to="/usuario/nuevo"><i class="bi bi-plus-lg"></i>
  Nuevo usuario</router-link></button> 
         </div>
         <div class="col-md-12">
          <tablecomponent  :headers="headers"  :tabledata="tabledata" :actions="actions"></tablecomponent>
          </div>
      </div>
       
  </div>
</template>

<script>
import titleBar from '../../components/titleBar'
import tablecomponent from '../../components/table'
import { EventBus } from '../../../event-bus'
import axios from 'axios'
import Vue from 'vue'
export default {
  name: 'usuarios',
  data () {
    return {
      tabledata: [],
      title: 'Catálogo de usuarios',
      subtitle: 'Catálogos',
      sucursal:'',
      tipoUsuario:'',
      sucursales: [],
      tipoUsuarios: [],
      login: '',
      email: '',
      headers: [
        'Id',
        'Email',
        'Login',
        'Nombre',
        'Tipo usuario',
        'Status'        
      ],
      actions: {
        editar: true,
        agregar:true,
      }
    }
  },
  mounted () {
       this.permissions()
    this.getUsuarios()
    this.getSucursales()
    this.getTiposUsuario()
     EventBus.$on('editar', data => {  
       console.log(data)
       this.$router.push({ path: `/usuario/edita/${data.id}` }) 
    })
  },
  methods: {
    getUsuarios() {
     
      let vm =this;
       vm.tabledata = []      
       let sucursal = (this.sucursal) ? this.sucursal:0
       let tipo = (this.tipoUsuario) ? this.tipoUsuario:0

      axios.get('/usuario/GetUsuario?sucursalId='+sucursal +'&tipoUsuarioId='+tipo + '&login='+ this.login + '&email='+this.email+'&usuarioId='+Vue.localStorage.get('USER_ID')).then( (res) => {
        res.data.GetUsuarioResult.forEach((item) => {
          let obj = {
            id: item.id,
            email: item.email,
            login:item.login,
            nombre: item.nombre,
            tipoUsuario: item.RoltipoUsuario.Nombre,
            activo:(item.activo)? 'Activo':'Inactivo',
            
          }
          vm.tabledata.push(obj)
        })
      })
    },
    getSucursales() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
    },
    getTiposUsuario() {
      let vm = this;
      axios.get("/Usuario/GetTiposUsuario", this.header).then(res => {
       this.tipoUsuarios = res.data.GetTiposUsuarioResult
      });
    },
     permissions(){
          let params = {
        tipoUsuario: Vue.localStorage.get("USER_TYPE"),
        componente:this.$route.name
      }
       axios.post('/Usuario/GetPermisoAccesoUsuario',params).then((res) => {
            let result =res.data.GetPermisoAccesoUsuarioResult          
            if(result.Consultar == false){            
               this.$router.push('dashboard')               
            }            
            this.actions.editar =result.Editar
             this.actions.agregar =result.Crear
             this.actions.cancelar =result.Eliminar
        })
    }
  },
  components: {
    titleBar,
    tablecomponent
  }

}
</script>

<style>

</style>
