<template>
  <div id="usuarios" class="card">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
      <div class="card-body">
        <form novalidate  @submit.prevent="validate">
        <div class="row">
        <div class="col-md-4">
          
          <div class="col-md-12">
            <label>Nombre de usuario</label>
            <input type="text" v-model="usuario.nombre" v-validate="'required'" name="nombre" :class="(errors.has('nombre')) ? 'is-invalid':'is-valid'" class="form-control" >
            <span v-show="errors.has('nombre')" class="invalid-feedback">{{ errors.first('nombre') }}</span>
          </div>
          <div class="col-md-12">
            <label>Inicio de Sesión</label>
            <input type="text" v-model="usuario.login" v-validate="'required'" name="login"  class="form-control" >
            <span v-show="errors.has('login')" class="invalid-feedback">{{ errors.first('login') }}</span>
           
          </div>
          <div class="col-md-12">
            <label>Correo Electronico</label>
            <input type="text" v-model="usuario.email" v-validate="'required'" name="email"  class="form-control" >
            <span v-show="errors.has('email')" class="invalid-feedback">{{ errors.first('email') }}</span>
           
          </div>
         
       
          <div class="col-md-12">
            <label>Estatus del usuario</label><br>
             <div class="pretty p-svg p-curve">
        <input type="checkbox" v-model="usuario.activo" />
        <div class="state p-success">
            <!-- svg path -->
            <svg class="svg svg-icon" viewBox="0 0 20 20">
                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
            </svg>
            <label>Activo</label>
        </div>
    </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
            <label>Tipo de usuario</label>
            <select class="form-control" tiposUsuario v-model="usuario.tipoUsuario" v-validate="'required'" name="tipoUsuario" :class="(errors.has('tipoUsuario')) ? 'is-invalid':'is-valid'" >
              <option value="" >-- seleciona --</option>    
              <option v-for="option in tiposUsuario" :key="option.Id" v-bind:value="option.Id"  >{{option.Nombre}}</option>    
                       
            </select>
            <span v-show="errors.has('tipoUsuario')" class="invalid-feedback">{{ errors.first('tipoUsuario') }}</span>
            <p class="text-muted"><b>Nota:</b >Dependiendo el tipo de usuario tendras acceso a diferentes  procesos</p>
          </div>
         
           <div class="col-md-12">
            <label>Contraseña</label>
            <input type="password" v-model="usuario.password" :required="this.usuario.id == 0"  name="password" :class="(errors.has('password')) ? 'is-invalid':'is-valid'" class="form-control" >
            <span v-show="errors.has('password')" class="invalid-feedback">{{ errors.first('password') }}</span>
          </div>
          <div class="col-md-12">
            <label>Ingresa nuevamente tu contraseña</label>
            <input type="password" v-model="usuario.validatePassword" :required="this.usuario.id == 0"  name="validatePassword" :class="(errors.has('validatePassword')) ? 'is-invalid':'is-valid'"  class="form-control" >
            <span v-show="errors.has('validatePassword')" class="invalid-feedback">{{ errors.first('validatePassword') }}</span>
          </div>

        </div>
        <div class="col-md-4">
         
        
            <div class="col-md-8">
              <label>Sucursal</label>
                <select class="form-control" v-model="sucursal"  name="sucursal">
                   <option value=""> -- Selecciona  -- </option>
                  <option v-for="option in sucursalesDispobibles" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
            </div>
               <div class="col-md-4">
                 <br>
                 <button type="button" class="btn btn-info btn-sm" @click="agregaSuc"><i class="fas fas-plus"></i> Agregar</button>
               </div>
          
          <div class="col-md-12">
            <table class="table">
              <thead>
                <th>Sucursal</th>
                <th>Opciones</th>
              </thead>
              <tbody>
                <tr v-for="(s, index) in sucursalesUsuario" :key="s.id">
                  <td>{{s.nombre}}</td>
                  <td>
                    <button type="button" class="btn btn-xs  btn-danger" @click="eliminaSucursal(index)">
                    <i class="far fa-trash-alt"></i> Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
         <!--    <br>
           
            <div class="lista">
             
             <ul>
                
                <li v-for="(s, index) in sucursalesUsuario" :key="s.id">
                  <span>{{s.nombre}}</span>
                  
                </li>               
              </ul> 

            </div> -->
          </div>
        </div> 
       
       </div>
       <div class="col-md-12">
         <div class="col-md-6 col-md-offset-6">
           <div class="col-md-6">             
           </div>
           <div class="col-md-6">
             <button class="btn btn-success btn-xl " type="submit"><i class="fa fa-hdd-o" aria-hidden="true"></i> Guardar</button>
             <button class="btn btn-default btn-xl " type="button"><router-link to="/usuario"><i class="fa fa-window-close" aria-hidden="true"></i>  Cancelar</router-link></button>
             
           </div>
         </div>
       </div>
        </form>
      </div>
  </div>
</template>

<script>
import titleBar from "../../components/titleBar";
import axios from "axios";

import Vue from 'vue'

export default {
  name: "usuarios",
  data() {
    return {
      usuario: {
        nombre: "",
        login:"",
        email: "",
        activo: true,
        tipoUsuario: '',
        password: "",
        validatePassword: "",
        id: 0
      },
      sucursal: "",
      sucursales: [],
      tiposUsuario:[],
      sucursalesUsuario: [],
      sucursalesDispobibles:[],
      title: "Nuevo usuario",
      subtitle: "Catálogos"
    };
  },
  mounted() {
    if (this.$route.params.id) {
      this.getUsuario(this.$route.params.id);
      this.title = "Editar Usuario";
    } else {
      this.title = "Nuevo Usuario";
    }
    this.getSucursales();
    this.getSucursalesDispobibles();
    this.getTiposUsuario();
  },
  methods: {
    getUsuario(id) {
      axios.post("/usuario/GetUsuarioById?id=" + id).then(res => {
        this.usuario = res.data.GetUsuarioByIdResult; 
        this.usuario.password ='';       
        this.getSucursalesUsuario();
      });
    },
     getTiposUsuario() {
      let vm = this;
      axios.get("/Usuario/GetTiposUsuario", this.header).then(res => {
       vm.tiposUsuario =  res.data.GetTiposUsuarioResult;
      });
    },
    getSucursalesUsuario() {
      axios
        .get("/usuario/GetSucursalUsuario?id=" + this.usuario.id)
        .then(res => {
          this.sucursalesUsuario = res.data.GetSucursalUsuarioResult;
        });
    },
    eliminaSucursal(index) {
      this.sucursalesUsuario.splice(index, 1);
    },
    getSucursalesDispobibles() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursalesDispobibles = res.data.GetSucursalResult;
      });
    },
    getSucursales() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ 0).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
    },
    agregaSuc() {
      let vm = this;
      if (this.sucursal) {
         console.log(this.sucursal)
          console.log(this.sucursales)
        let result = this.sucursales.filter(i => i.id == vm.sucursal);
        console.log(result)
        this.sucursalesUsuario.push(result[0]);
      
      }
    },
    validate() {
      this.$validator.validateAll().then(result => {
         
         if(this.usuario.password.length ==0 && this.usuario.id == 0){
           this.$snotify.error(
                "Asigna una contraseña para iniciar sesión",
                "¡Atención!"
            );
  

           if(this.usuario.password != this.usuario.validatePassword){

            this.$snotify.error(
                "La contraseña  tienen que ser idénticas",
                "¡Atención!"
            );
         

        }
  return;

         }

        

        if(this.sucursalesUsuario.length == 0){
           this.$snotify.error(
                "Relacione una sucursal al usuario",
                "¡Atención!"
            );
           return;
        }

        if (result) {
          let request = {
            usuario: this.usuario,
            sucursales: this.sucursalesUsuario
          };
          if (this.usuario.id == 0) {
            axios.post("/usuario/AddUsuario", request).then(res => {   
                     
              this.Message(res.data.AddUsuarioResult.ErrorCode,res.data.AddUsuarioResult.Message)
            if(res.data.AddUsuarioResult.ErrorCode == 0){
                this.$router.push("/usuario");
              }  
            });
          } else {
            axios.post("/usuario/UpdateUsuario", request).then(res => {
              this.Message(res.data.UpdateUsuarioResult.ErrorCode,res.data.UpdateUsuarioResult.Message)
              if(res.data.UpdateUsuarioResult.ErrorCode == 0){
                this.$router.push("/usuario");
              }  
             
            });
          }
        }
      });
    },
    Message(ErrorCode,Message){

      if(ErrorCode > 0){

        this.$snotify.error(
        Message,
        "¡Atención!"
      );

      }else{

      this.$snotify.success(
        Message,
        "¡Atención!"
      );

      }

    }
  },
  components: {
    titleBar
    
    
  }
};
</script>

<style>

</style>
