<template>
  <div id="usuarios" class="card">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
      <div class="card-body">
       <div class="col-md-12">
         <div class="col-md-12 text-right">
            <router-link class="btn btn-success "
             v-show="actions.agregar"
             to="/vendedor/nuevo"><i class="bi bi-plus-lg"></i> Nuevo vendedor</router-link>
         </div>
          <tablecomponent  
          :headers="headers"  
          :tabledata="tabledata" 
          :actions="actions"
           :search-label="'Buscar Vendedor'"
          :filter-options="'nombre'"
          ></tablecomponent>
       </div>
      </div>
  </div>
</template>

<script>
import titleBar from '../../components/titleBar'
import tablecomponent from '../../components/table'
import { EventBus } from '../../../event-bus'
import axios from 'axios'
import Vue from 'vue'
export default {
  name: 'vendedores',
  data () {
    return {
      tabledata: [],
      title: 'Catálogo de vendedores',
      subtitle: 'Catálogos',
      headers: [
        'Id',
        'Nombre',
        'Dirección',
        'Estatus'
      ],
      actions: {
        editar: true,
        filter:true,
          agregar:true,
      }
    }
  },
  mounted () {
    this.getVendedores()
    this.permissions()
     EventBus.$on('editar', data => {  
       console.log(data)
       this.$router.push({ path: `/vendedor/edita/${data.id}` }) 
    })
  },
  methods: {
    getVendedores () {
      let vm = this
      
      axios.post("/Vendedor/GetVendedor",{op:0}).then((res) => {
        console.log(res)
        res.data.GetVendedorResult.forEach(function(element) {
          let obj = {
            id: element.id,
            nombre: element.nombre,
            direccion: element.domicilio,
            estatus: (element.activo)? 'Activo':'No Activo'
          }
          vm.tabledata.push(obj)          
        })
        
      })
    },
    permissions(){
          let params = {
        tipoUsuario: Vue.localStorage.get("USER_TYPE"),
        componente:this.$route.name
      }
       axios.post('/Usuario/GetPermisoAccesoUsuario',params).then((res) => {
            let result =res.data.GetPermisoAccesoUsuarioResult          
            if(result.Consultar == false){            
               this.$router.push('dashboard')               
            }            
            this.actions.editar =result.Editar
             this.actions.agregar =result.Crear
        })
    }
  },
  components: {
    titleBar,
    tablecomponent
  }

}
</script>

<style>

</style>
