


<template>
  <div id="bancos" class="card">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
      <div class="card-body">
        <div class="row">
             <div class="col-md-2">
           <label>Sucursal</label>
                <select class="form-control input-sm" v-model="sucursal"    @change="getCierres();getUsuarios()">
                   <option value=""> -- Selecciona  -- </option>
                  <option v-for="option in sucursales"  v-bind:value="option.id"  :key="option.id">{{option.nombre}}</option>
                </select>

         </div>
           <div class="col-md-2">
                 <label>Fecha</label>
                 <input  type="date" v-model="fechaInicio"  class="form-control">
             </div>           
           
            <div class="col-md-2">
              <label>Nombre del Cliente</label>
              <input type="text" class="form-control" v-model="cliente">
            </div>
             <div class="col-md-2">
              <label># Folio</label>
              <input type="text" class="form-control" v-model="id">
            </div>
            
            <div class="col-md-2">
              <br>
              <button class="btn btn-sm btn-default" @click="getCierres" ><i class="bi bi-search"></i> Buscar</button>
            </div>
             <div class="col-md-2 text-right">
              <button v-if="actions.agregar" class="btn btn-success"><router-link to="/abono/nuevo"> <i class="bi bi-plus-lg-circle" aria-hidden="true"></i> Nueva Abono</router-link></button>
            </div>
        </div>
        <div class="row">        
          <tablecomponent  :headers="headers"  :tabledata="tabledata" :actions="actions"></tablecomponent>
       </div>
      </div>
    <modal name="modal-cancela" :width="350" :height="180" :clickToClose="true" >
      <cancelasalida :id="idCancela" :mensaje="'¿Estas seguro de cancelar la salida  ? #' + idCancela"></cancelasalida>      
   </modal>
   
  </div>
</template>

<script>
import Vue from 'vue'
import titleBar from '../../components/titleBar'
import tablecomponent from '../../components/table'
import imprimeticket from '../../components/imprimeTicket'
import cancelasalida from '../../components/modals/modal_cancelaSalida'
import modalreporte from '../../components/modals/modal_imprimeReporte'
import { EventBus } from '../../../event-bus'
import axios from 'axios'
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import {en, es} from 'vuejs-datepicker/dist/locale'
import global from '../../globals'
export default {
  name: 'ventas',
  data () {
    return {
      tabledata: [],  
      cajeros : [],
      sucursales:[],
      title: 'Listado de Abonos',
      subtitle: 'Ventas',
      srcticket: '',
      es: es,
      sucursal:'',
      fechaInicio: '01/01/1900',        
      usuarioId: '',
      id:0,      
      idCancela: 0,
      headers: [
        '# Folio',        
        'Fecha', 
         'Estatus',
         'Monto' ,     
        'Sucursal',
        'Cliente',
        'Observaciones'      
      ],
      actions: {
        editar:true,
        cancelar:true,
        agregar:true,
      }
    }
  },
   beforeDestroy(){
   
  },
  mounted () {
  this.permissions()
  this.getSucursales()
  this.getCierres()  
  
  },
  methods: {   
    permissions(){
          let params = {
        tipoUsuario: Vue.localStorage.get("USER_TYPE"),
        componente:this.$route.name
      }
       axios.post('/Usuario/GetPermisoAccesoUsuario',params).then((res) => {
            let result =res.data.GetPermisoAccesoUsuarioResult          
            if(result.Consultar == false){            
               this.$router.push('dashboard')               
            }            
            this.actions.editar =result.Editar
             this.actions.agregar =result.Editar
        })
    },
      getSucursales() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
    },
    customFormatter(date) {     
      return  moment(date).format('L')
    },
     getUsuarios () {
      let vm = this
       let sucursal = (this.sucursal) ? this.sucursal:0
       axios.get('/usuario/GetUsuario?sucursalId='+sucursal +'&tipoUsuarioId=0&login=&email=&usuarioId=' + Vue.localStorage.get('USER_ID')).then( (res) => {
       vm.cajeros = res.data.GetUsuarioResult
      })    
    }, 
    getCierres () {
      this.tabledata = []    
      let vm = this
     
      let params ={
        id:0,
        fecha: '',
        sucursalId:0,
        cliente:'',
        usuarioId:0        
      }
      axios.post('/venta/GetAbonos',params)
      .then((res) => {
        console.log(res)
         res.data.GetAbonosResult.forEach(function(el) {
           let obj= {
            id:el.id,
            fecha:el.fecha,
            status:el.status,
            monto:el.monto,
            sucursal:'',
            cliente:'',
            observaciones:el.observaciones
          }
          vm.tabledata.push(obj) 
        }) 
      }
    
      )}
  },
  components: {
    titleBar,
    tablecomponent,
    imprimeticket,
    Datepicker ,
    cancelasalida,
  }

}
</script>

<style>

</style>
