<template>
<div class="salidaEfectivo card">
    <title-bar :title="title" :subtitle="subtitle"></title-bar>
    <div class="card-body">
    

        <div class="row">
            <div class="col-md-3">
            <label>Seleccionar Cliente para Abonar </label><br>
            <a class="btn btn-default-bright" role="button" @click="muestraBusquedaCliente()"><i class="fa fa-user-o" aria-hidden="true"></i> Buscar cliente </a>
            </div>
            <div class="col-md-6">
                <h3>Nombre del Cliente:  {{cliente.nombre}} {{cliente.apellidos}}</h3>
                <h4>Dirección:  calle: {{cliente.calle}} #{{cliente.numero}} ,{{cliente.colonia}}, {{cliente.ciudad}}</h4>
                <h4>Teléfono: {{cliente.telefono}}</h4>

            </div>
            
        </div>
        <div class="row">
            <h3>Ventas pendientes por saldar</h3>
            <table class="table table-bordered">
                <thead>
                    <th>Folio</th>
                    <th>Estatus</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Descuento</th>
                    <th>Total Abonado</th>
                    <th>Por Pagar</th>
                    <th>Observaciones</th>
                    <th>Acciones</th>
                     <th>Descuento</th>
                </thead>
                <tbody>
                    <tr v-for="x in ventas" v-bind:key="x.id"  v-if="x.Pago==false" >
                        <td>{{x.folio}}</td>
                        <td>{{x.estatus}}</td>
                        <td>{{x.Fecha}}</td>
                        <td>{{x.totalVenta | currency}}</td>
                        <td>{{x.descuento | currency}}</td>
                        <td>{{x.totalAbonado | currency}}</td>
                        <td>{{x.totalRestante | currency }}</td>
                         <td>{{x.observaciones}}</td>
                        <td>
                            <button :disabled="x.estatus == 'SALDADO'" type="button" class="btn btn-sm btn-primary" @click="abonar(x.ventaId,x.totalRestante)"> <i class="fa fa-money" aria-hidden="true"></i> Pagar</button> 
                            <button type="button" class="btn btn-info btn-sm" @click="verAbonos(x.ventaId)"> <i class="bi bi-eye" aria-hidden="true"></i> ver pagos</button> 
                            
                            
                        </td>
                        <td>
                          <button :disabled="x.estatus == 'SALDADO'" type="button" class="btn btn-success btn-sm" @click="descontar(x.ventaId,x.totalVenta)"> <i class="fa fa-money" aria-hidden="true"></i> Aplicar Descuento</button>
                          </td>                      
                    </tr>
                </tbody>
            </table>
            <div class="col-md-12" style="overflow-y: scroll;
    height: 300px;">
            <table class="table" v-show="muestraPagos">
                <thead>
                    <th>Folio</th>
                    <th>Estatus</th>
                    <th>Fecha de Pago</th>                    
                    <th>Total Abonado</th>
                    <th>Capturado por</th>   
                    <th>Notas u Observaciones</th> 
                     <th>Opciones</th>                 
                </thead>
                <tbody>
                    <tr v-for="x in pagos" v-bind:key="x.id">
                        <td>{{x.folio}}</td>
                        <td>{{x.estatus}}</td>
                        <td>{{x.Fecha}}</td>
                        <td>{{x.totalAbonado | currency}}</td>
                        <td>{{x.usuario}}</td>
                        <td>{{x.observaciones}}</td>
                        <td> 
                          <button class="btn btn-default btn-sm" @click="imprimePago(x.idPago)"><i class="bi bi-print"></i>imprimir</button>
                          <button class="btn btn-danger btn-sm" @click="eliminapago(x.idPago,x.ventaId)"><i class="bi bi-trash"></i>Eliminar</button> </td>
                    </tr>
                </tbody>
            </table>
           </div>
        </div>
        <hr>
        <div class="row text-right">           
            <router-link to="/abonos" class="btn btn-default"> <i class="bi bi-x-lg"></i> Cancelar</router-link>
        </div>


     
    


    </div>
    <modal name="busqueda-cliente" :width="800"  :height="500" :clickToClose="true">
    <busquedaCliente :ventaId="ventaId"></busquedaCliente>
</modal> 
  <modal name="modal-abono" :width="350"  :height="400" :clickToClose="true">
    <modalabono :ventaId="ventaId" :totalpagar="totalpagar"></modalabono>
</modal> 
  <modal name="modal-descuento" :width="350"  :height="400" :clickToClose="true">
    <modaldescuento :ventaId="ventaId" :totalpagar="totalpagar"></modaldescuento>
</modal> 
<modal name="modal-ticket" :width="400" :height="700" :clickToClose="false" >
  <imprimeticketpago :srcticket="srcticket"></imprimeticketpago>      
</modal>
</div>
</template>
<script>
import titleBar from '../../components/titleBar'
import busquedaCliente from '../../components/modals/modal_busquedaCliente'
import modalabono from '../../components/modals/modal_abono.vue'
import modaldescuento from '../../components/modals/modal_descuento.vue'
import imprimeticketpago from '../../components/modals/modal_ticket_pago.vue'
import { EventBus } from '../../../event-bus'
import {Money} from 'v-money'
import axios from 'axios'
import global from '../../globals'
import Vue from 'vue'

export default {
  name: 'salidaEfectivo',
  data () {
    return {
     cajeros:[],
      usuarios:[],    
      sucursales:[], 
      cliente:{},
      ventas:[],
      pagos:[],
      ventaId:0,
      totalpagar:0,
      srcticket:'',
      muestraPagos:false,
      title : 'Registro de Pagos',
      subtitle : 'Ventas',
        money: {
          decimal: '.',
          thousands: ',',
          prefix: '$ ',
          suffix: '',
          precision: 2,
          masked: false /* doesn't work with directive */
        },
        
    }
  },
 beforeDestroy(){
    EventBus.$off('accept_modal_abono')
    EventBus.$off('close_modal_abono')
    EventBus.$off('close_modal_descuento')
    EventBus.$off('accept_modal_descuento')
  },
  mounted () {
   EventBus.$on("CLOSE_TICKET_PAGO", data => {
     
      this.$modal.hide('modal-ticket')
    });

EventBus.$on("close_modal_abono", data => {
     this.$modal.hide('modal-abono');
     // EventBus.$off('accept_modal_abono')
    //EventBus.$off('close_modal_abono')
 });
 EventBus.$on("close_modal_descuento", data => {
     this.$modal.hide('modal-descuento');
     // EventBus.$off('accept_modal_abono')
    //EventBus.$off('close_modal_abono')
 });

 
  EventBus.$on("accept_modal_descuento", data => {
   
  axios.post('/Venta/AddDescuentoVenta',data).then((res)=> {
     this.$modal.hide('modal-descuento');
      this.$snotify.success('El descuento  se aplico correctamente', '¡Atención!') 
      this.getVentas();
          
    })

  })

 EventBus.$on("accept_modal_abono", data => {
     this.$modal.hide('modal-abono');
     console.log('se recibieron datos',data)
     let params= {
         fecha:data.fecha,
         usuarioId: Vue.localStorage.get('USER_ID'),
         ventaId:data.ventaId,
         monto:data.monto,
         observaciones:data.observaciones,
    
     }
     axios.post('/Venta/AddAbono',{'abono':params}).then((res)=> {
             if (res.data.AddAbonoResult > 0){
                 this.$snotify.success('El abono se guardo correctamente', '¡Atención!') 
                 this.imprimePago(res.data.AddAbonoResult)
                 let params = {
                  clienteId: this.cliente.id, 
                  fecha:'', 
                  status: '', 
                  sucursalId:0
                  }
                  axios.post('/Venta/GetVentacreditoLista',params).then((res)=> {                
                  this.ventas = res.data.GetVentacreditoListaResult
                    this.verAbonos(data.ventaId)
                  })
                
             }else{

                  this.$snotify.error('Ocurrio un error al guardar el pago', '¡Atención!') 
             }
     })   

 });

    EventBus.$on("SETCLIENTE", data => {
      console.log(data);
      this.cliente = data;
      this.getVentas();
      this.muestraPagos = false;
    });
 
  },  
  methods: { 
    imprimePago (id) {
       this.$modal.show('modal-ticket')
       axios.post('/Reportes/GetReporteTicketPago',{'pagoId': id }).then((res) => {
             this.srcticket = global.URL_REPORTS + res.data.GetReporteTicketPagoResult      
             
         });
   
    },
      eliminapago(id,idventa){
       let params= {
         id:id,
         usuarioId: Vue.localStorage.get('USER_ID')        
       }
        axios.post('/Venta/DeleteAbono',params).then((res)=> {
           this.$snotify.success('El abono se cancelo correctamente', '¡Atención!') 
           this.getVentas()
           this.muestraPagos = false;
            
         })

      },
    abonar(id,totalpagar){

        console.log(id,totalpagar)
        this.ventaId = id
        this.totalpagar =totalpagar
        console.log(this.ventaId)
        this.$modal.show('modal-abono');
        
    },
    descontar(id,totalVenta) {
      this.ventaId = id
      this.totalpagar =totalVenta
      this.$modal.show('modal-descuento');
    },
    getVentas(){
        let params = {
            clienteId: this.cliente.id, 
            fecha:'', 
            status: '', 
             sucursalId:0
        }
        axios.post('/Venta/GetVentacreditoLista',params).then((res)=> {
            console.log(res)
            this.ventas = res.data.GetVentacreditoListaResult
            
         })
    },   
    verAbonos(id){
       this.pagos=  this.ventas.filter(x => x.ventaId == id  && x.Pago == true )
       this.muestraPagos = true;
    },
  muestraBusquedaCliente () {
        this.$modal.show('busqueda-cliente');
    }

  
    
  },
  components: {
    titleBar,
    Money,
    busquedaCliente,
    modalabono,
    modaldescuento,
    imprimeticketpago
  }
}
</script>
<style>
.input-cantidad{
  width: 80px;
}
</style>
