<template>
  <div id="reporteCortes" class="card">  
    <title-bar :title="title" :subtitle="subtitle"></title-bar>  
      <div class="card-body">
         
          <div class="col-md-12">
           <div class="col-md-4" style="height:600px;" >
           
             
             <div class="col-md-12">
                 <label>Fecha</label>
                 <input type="date"  class="form-control" v-model="fechaInicio"> 
                
             </div>
              <div class="col-md-12">
           <label>Sucursal</label>
                <select class="form-control input-sm" v-model="sucursal"    @change="getUsuarios()">
                   <option value=""> -- Selecciona  -- </option>
                  <option v-for="option in sucursales"  v-bind:value="option.id"  :key="option.id">{{option.nombre}}</option>
                </select>

         </div> 
                        
              <div class="col-md-12">
                 <label>Cajeros</label>
                  <select class="form-control" v-model="cajero">
                   <option value="">Selecciona</option>
                  <option v-for="option in cajeros" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>                 
             </div> 
                       
            <div class="col-md-12">
              <button class="btn btn-info btn-block" @click="generaReporte">Generar Reporte</button>
            </div>
           </div>
           <div class="col-md-8" style="height:600px;">
               <iframe :src="url" allowfullscreen></iframe>
           </div>
           </div>
      </div>      
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import {en, es} from 'vuejs-datepicker/dist/locale'
import titleBar from '../../components/titleBar'
import global from '../../globals'
export default {
  name: 'reporteCortes',
  data () {
    return {
        fechaInicio: new Date(),      
        es: es,      
        cajero:'',
        sucursal: '', 
        sucursales:[],     
        cajeros: [],
        url: '',
        title:'Arqueo de Ventas',
        subtitle:'Ventas'
    }
  },
  mounted () { 
    this.getSucursales()
  },
  methods: {
     getSucursales() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
     }, 
    customFormatter(date) {     
      return  moment(date).format('L')
    },
   
      getUsuarios () {
      let vm = this
       let sucursal = (this.sucursal) ? this.sucursal:0
       axios.get('/usuario/GetUsuario?sucursalId='+sucursal +'&tipoUsuarioId=0&login=&email=&usuarioId='+Vue.localStorage.get('USER_ID')).then( (res) => {
       vm.cajeros = res.data.GetUsuarioResult
      })    
    },
    generaReporte () {
       let params = {
            fecha:moment(this.fechaInicio).format('YYYY-MM-DD').replace('-','').replace('-',''),
            usuarioId: this.cajero          
        }
        axios.post('/Reportes/GetReporteArqueo', params).then((res) => {
            this.url = global.URL_REPORTS + res.data.GetReporteArqueoResult
        }) 
    }
    
  },
  components: {
    Datepicker,
    titleBar
  }
}
</script>
<style scoped>
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 550px;
    border: 0;
}
</style>

