<template>
  <div id="bancos" class="card">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
      <div class="card-body">
        <div class="row">
             <div class="col-md-2">
           <label>Sucursal</label>
                <select class="form-control input-sm" v-model="sucursal"    @change="getCierres();getUsuarios()">
                   <option value=""> -- Selecciona  -- </option>
                  <option v-for="option in sucursales"  v-bind:value="option.id"  :key="option.id">{{option.nombre}}</option>
                </select>

         </div>
          <div class="col-md-2">
              <label>Cajero</label>
              <select class="form-control" v-model="usuarioId" @change="getUsuarios()">
                  <option value="">Selecciona</option>
                  <option v-for="option in cajeros" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
              </select>
            </div>
           <div class="col-md-2">
                 <label>Fecha</label>
                 <input type="date" v-model="fechaInicio" class="form-control">                 
             </div>
            
           
            <div class="col-md-2">
              <label># Folio</label>
              <input type="text" class="form-control" v-model="id">
            </div>
            
            <div class="col-md-2">
              <br>
              <button class="btn btn-sm btn-default" @click="getCierres" ><i class="bi bi-search"></i> Buscar</button>
            </div>
             <div class="col-md-2">
              <button v-if="actions.agregar" class="btn btn-success"><router-link to="/cierreventa/nuevo"> <i class="bi bi-plus" aria-hidden="true"></i> Nuevo Cierre</router-link></button>
            </div>
        </div>
        <div class="row">        
          <tablecomponent  :headers="headers"  :tabledata="tabledata" :actions="actions"></tablecomponent>
       </div>
      </div>
    <modal name="modal-cancela" :width="350" :height="180" :clickToClose="true" >
      <modalcancela :id="idCancela" :mensaje="'¿Estas seguro de cancelar el proceso ? #' + idCancela"></modalcancela>      
   </modal>
    <modal name="modal-reporte" :width="800" :height="800" :clickToClose="true" >
      <modalreporte :src="src" ></modalreporte>      
   </modal>
  </div>
</template>

<script>
import Vue from 'vue'
import titleBar from '../../components/titleBar'
import tablecomponent from '../../components/table'
import imprimeticket from '../../components/imprimeTicket'
import modalcancela from '../../components/modals/modal_cancelaProceso'
import modalreporte from '../../components/modals/modal_imprimeReporte'
import { EventBus } from '../../../event-bus'
import axios from 'axios'
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import {en, es} from 'vuejs-datepicker/dist/locale'
import global from '../../globals'
export default {
  name: 'ventas',
  data () {
    return {
      tabledata: [],  
      sucursal:'',
      sucursales:[],
      cajeros : [],
      title: 'Listado de Cierre de Ventas',
      subtitle: 'Ventas',
      srcticket: '',
      es: es,
      fechaInicio: '01/01/1900',       
      usuarioId: '',
      id:0,   
      src: '',   
      idCancela: 0,
      headers: [
        '# Folio',        
        'Fecha', 
         'Estatus',       
        'Usuario' ,
         'Total'        
      ],
      actions: {
        editar:true,
        imprimir: true,
        cancelar:true,
        agregar:true,
      }
    }
  },
   beforeDestroy(){
    EventBus.$off('editar')
    EventBus.$off('cancelar')
EventBus.$off('imprimir')
EventBus.$off('CANCELA_PROCESO')

    
  },
  mounted () {
   this.permissions()
   this.getSucursales()
  this.getCierres()  
   let vm = this
   EventBus.$on('editar', data => {  
       console.log(data)
       if(data.Estatus == 'CANCELADO'){
          this.$snotify.error('El estatus actual de la entrega parcial no permite editar', '¡Atención!') 
        return
       }
       this.$router.push({ path: `/cierreventa/edita/${data.id}` }) 
    })
    EventBus.$on('cancelar', data => {
        console.log(data);
       vm.idCancela =  data.id
       if(data.estatus == 'CANCELADO'){
          this.$snotify.error('El estatus actual del proceso no permite cancelar', '¡Atención!') 
        return
       } 
        vm.$modal.show('modal-cancela')   
         
     }) 
       EventBus.$on('imprimir', data => {
       
        axios.post('/Reportes/GetReporteCierreVenta', {id: data.id}).then((res)=> {
         vm.src = global.URL_REPORTS + res.data.GetReporteCierreVentaResult
        vm.$modal.show('modal-reporte')  
       })
         
      }) 
     EventBus.$on('CANCELA_PROCESO', id => {        
      axios.post('/CierreVenta/DeleteCierreVenta',{
        id:id,
        usuarioId: Vue.localStorage.get('USER_ID')
      })
      .then((res) => {

        if(res.data.DeleteCierreVentaResult.ErrorCode == 0){
          this.$snotify.success('El proceso se canceló correctamente', '¡Atención!') 
        vm.$modal.hide('modal-cancela')   
        this.getCierres()
        }else{
          vm.$modal.hide('modal-cancela')  
           this.$snotify.error(res.data.DeleteCierreVentaResult.Message, '¡Atención!') 

        }
          
      })      
    })  
  },
  methods: {   
    customFormatter(date) {     
      return  moment(date).format('L')
    },
   getUsuarios () {
      let vm = this
       let sucursal = (this.sucursal) ? this.sucursal:0
       axios.get('/usuario/GetUsuario?sucursalId='+sucursal +'&tipoUsuarioId=0&login=&email=&usuarioId='+Vue.localStorage.get('USER_ID')).then( (res) => {
       vm.cajeros = res.data.GetUsuarioResult
      })    
    },
     getSucursales() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
     },    
     permissions(){
          let params = {
        tipoUsuario: Vue.localStorage.get("USER_TYPE"),
        componente:this.$route.name
      }
       axios.post('/Usuario/GetPermisoAccesoUsuario',params).then((res) => {
            let result =res.data.GetPermisoAccesoUsuarioResult          
            if(result.Consultar == false){            
               this.$router.push('dashboard')               
            }            
            this.actions.editar =result.Editar
             this.actions.agregar =result.Crear
             this.actions.cancelar =result.Eliminar
        })
    },
    getCierres () {
      this.tabledata = []    
      let vm = this
      let fechainicio =moment(this.fechaInicio).format('YYYY-MM-DD').replace('-','').replace('-','')     
      let usuarioId = (this.usuarioId)? this.usuarioId: 0
      let sucursal = (this.sucursal) ? this.sucursal:0
      let params ={
        fecha: fechainicio,
        folio:(this.id)?this.id:0,
        usuarioId:usuarioId,  
        sucursalId:sucursal ,
        userId2:Vue.localStorage.get('USER_ID')
      }
      axios.post('/CierreVenta/GetCierreVenta',params)
      .then((res) => {
        console.log(res)
         res.data.GetCierreVentaResult.forEach(function(el) {
           let obj= {
            id: el.id,
            Fecha: el.fechaCorta, 
            estatus:el.estatus,
           // Estatus: el.estatus,          
           // Sucursal: '',//el.caja.sucursal.nombre,
            Usuario:(el.usuario)?el.usuario.nombre:'',
            Cantidad: el.monto
          }
          vm.tabledata.push(obj) 
        }) 
      }
    
      )}
  },
  components: {
    titleBar,
    tablecomponent,
    imprimeticket,
    Datepicker ,
    modalcancela,
    modalreporte
  }

}
</script>

<style>

</style>
