<template>
<div class="devolucion card" >
    <title-bar :title="title" :subtitle="subtitle"></title-bar>
    <div class="card-body">
   <form novalidate  @submit.prevent="validate">

     <div class="row">
         <div class="col-md-2">
           <label>Sucursal</label>
                <select class="form-control input-sm"
                 v-model="entrega.sucursalId"
                 :disabled="$route.params.id > 0"
                    @change="getUsuarios()">
                   <option value=""> -- Selecciona  -- </option>
                  <option v-for="option in sucursales"  v-bind:value="option.id"  :key="option.id">{{option.nombre}}</option>
                </select>

         </div>
        <div class="col-md-4">
          <label>Cajero / usuario</label>
          <select class="form-control input-sm" :disabled="$route.params.id > 0" v-model="entrega.usuarioId">
            <option value="">selecciona</option>
            <option v-for="option in usuarios" :key="option.id" v-bind:value="option.id">{{option.nombre}}</option>
          </select>
        </div> 
       <div class="col-md-4">
          <label>Referencia</label>
           <input type="text" class="form-control" v-model="entrega.referencia">         
        </div>       

  </div> 
<hr>
<div class="row">
    <div class="col-md-3">      
         <div class="row">
    <h4>BILLETES</h4>
</div>

        <div class="row">
             <div class="col-md-2">
          <label>B1000</label>
        </div>
        <div class="col-md-5">
          
        <input type="number" class="form-control input-sm"  @input="calculaMontos" min=0 oninput="validity.valid||(value='');" v-model.number="entrega.b1000">
        </div>
        <div class="col-md-5">
           <label>{{entrega.b1000 * 1000 |   currency }}</label>
        </div>
        </div>
       
        <div class="row">
    <div class="col-md-2">
          <label>B500</label>
        </div>
         <div class="col-md-5">
          
            <input type="number" class="form-control input-sm" min=0 oninput="validity.valid||(value='');"   @input="calculaMontos" v-model.number="entrega.b500">
          </div>
          <div class="col-md-5">
           <label>{{entrega.b500 * 500 |   currency }}</label>
        </div>
        </div>
    
      <div class="row">

          <div class="col-md-2">
            <label>B200</label>
          </div>
          <div class="col-md-5">
          
            <input type="number" class="form-control input-sm" min=0 oninput="validity.valid||(value='');"   @input="calculaMontos" v-model.number="entrega.b200">
          </div>
          <div class="col-md-5">
           <label>{{entrega.b200 * 200 |   currency }}</label>
        </div>
      </div>
        
<div class="row">
 <div class="col-md-2">
            <label>B100</label>
          </div>
          <div class="col-md-5">
          
            <input type="number" class="form-control input-sm" min=0 oninput="validity.valid||(value='');"  @input="calculaMontos" v-model.number="entrega.b100">
          </div>
          <div class="col-md-5">
            <label>{{entrega.b100 * 100 |   currency }}</label>
        </div>

</div>
         
      <div class="row">
<div class="col-md-2">
          <label>B50</label>
        </div>
        <div class="col-md-5">
        
          <input type="number" class="form-control input-sm" min=0 oninput="validity.valid||(value='');"  @input="calculaMontos" v-model.number="entrega.b50">
        </div>
        <div class="col-md-5">
         <label>{{entrega.b50 * 50  |   currency}}</label>

      </div>
</div>

        <div class="row">
        <div class="col-md-2">
           <label>B20</label>
        </div>
        <div class="col-md-5">
          <input type="number" class="form-control input-sm" min=0 oninput="validity.valid||(value='');"  @input="calculaMontos" v-model.number="entrega.b20">
        </div>
        <div class="col-md-5">
           <label>{{entrega.b20 * 20  |   currency}}</label>
        </div>
        
        </div>
       
          

    </div>

<div class="col-md-3">
 <div class="row">
   <div class="row">
    <h4>MONEDAS</h4>
</div>

<div class="col-md-2">
           <label>M20</label>
        </div>
        <div class="col-md-5">
          <input type="number" class="form-control input-sm"  min=0 oninput="validity.valid||(value='');" @input="calculaMontos" v-model.number="entrega.m20">
        </div>
        <div class="col-md-5">
         <label>{{entrega.m20 * 20 |   currency }}</label>
        </div>

 </div>
        
<div class="row">
<div class="col-md-2">
           <label>M10</label>
        </div>
        <div class="col-md-5">
          <input type="number" class="form-control input-sm" min=0 oninput="validity.valid||(value='');"  @input="calculaMontos" v-model.number="entrega.m10">
        </div>
        <div class="col-md-5">
          <label>{{entrega.m10 * 10 |   currency }}</label>
         
        </div>
</div>

       <div class="row">
         <div class="col-md-2">
           <label>M5</label>
        </div>
        <div class="col-md-5">
          <input type="number" class="form-control input-sm" min=0 oninput="validity.valid||(value='');"  @input="calculaMontos" v-model.number="entrega.m5">
        </div>
        <div class="col-md-5">
           <label>{{entrega.m5 * 5 |   currency }}</label>
         
        </div>
         
         
         </div>  

        <div class="row">

<div class="col-md-2">
           <label>M2</label>
        </div>
        <div class="col-md-5">
          <input type="number" class="form-control input-sm" min=0 oninput="validity.valid||(value='');"  @input="calculaMontos" v-model.number="entrega.m2">
        </div>
        <div class="col-md-5">
           <label>{{entrega.m2 * 2 |   currency }}</label>
        
        </div>
        </div>

        
      <div class="row">
 <div class="col-md-2">
           <label>M1</label>
        </div>
        <div class="col-md-5">
          <input type="number" class="form-control input-sm" min=0 oninput="validity.valid||(value='');"  @input="calculaMontos"
           v-model.number="entrega.m1">
        </div>
        <div class="col-md-5">
          <label>{{entrega.m1 * 1  |   currency}}</label>
          
        </div>
      </div>

         <div class="row">
 <div class="col-md-2">
           <label>M050</label>
        </div>
        <div class="col-md-5">
          <input type="number" class="form-control input-sm"  min=0 oninput="validity.valid||(value='');"  @input="calculaMontos" v-model.number="entrega.m050">
        </div>
        <div class="col-md-5">
          <label>{{entrega.m050 * 0.50 |   currency  }}</label>
        </div>
         </div>

        <div class="row"> 
                    <div class="col-md-6">
                      <label>Total de Efectivo</label>
                    </div>
                    <div class="col-md-6">
                      {{entrega.totalEfectivo | currency}}
                    </div>
                </div>

    </div>
    <div class="col-md-3">
        <div class="row">
            <h4>PAGOS CON TARJETA </h4>
        </div>
         <div class="row">         
        <div class="col-md-6">
          <label>Tarjeta de Débito</label>
        </div>
        <div class="col-md-6">
          <money v-model="entrega.montoTarjetaDebito"  v-on:keyup.native="calculaMontos()" class="form-control " v-bind="money"></money>
          <!--  <input type="number" class="form-control input-sm"  @input="calculaMontos" v-model.number="entrega.montoTarjetaDebito"> -->
        </div>
         </div>


<div class="row">         
        <div class="col-md-6">
          <label>Tarjeta de Crédito</label>
        </div>
        <div class="col-md-6">
          <money v-model="entrega.montoTarjetaCredito" v-on:keyup.native="calculaMontos()" class="form-control " v-bind="money"></money>
           <!-- <input type="number" class="form-control input-sm"  @input="calculaMontos" v-model.number="entrega.montoTarjetaCredito"> -->
        </div>
         </div>

         <div class="row">         
        <div class="col-md-6">
          <label>Vales de despensa</label>
        </div>
        <div class="col-md-6">
            <money v-model="entrega.montoTarjetaVales" v-on:keyup.native="calculaMontos()" class="form-control " v-bind="money"></money>
          <!--  <input type="number" class="form-control input-sm"  @input="calculaMontos" v-model.number="entrega.montoTarjetaVales"> -->
        </div>
         </div>
     

           <div class="row"> 
                    <div class="col-md-6">
                      <label>Total de Tarjetas </label>
                    </div>
                    <div class="col-md-6">
                      {{entrega.totalTarjetas | currency}}
                    </div>
                </div>


        </div> 
        <div class="col-md-3">
          <div class="row">
            <h4>PAGOS CON TRANSFERENCIA </h4>
        </div>
        <div class="row">         
        <div class="col-md-6">
          <label>Tarjeta transferencia</label>
        </div>
        <div class="col-md-6">
          <money v-model="entrega.montoTransferencia" v-on:keyup.native="calculaMontos()" class="form-control " v-bind="money"></money>
           <!-- <input type="number" class="form-control input-sm"  @input="calculaMontos" v-model.number="entrega.montoTarjetaCredito"> -->
        </div>
         </div>

        </div>
             

      </div>
      <hr>
         <div class="row">
            <div class="col-md-6 col-md-offset-3 card" >
                  <div class="row"> 
                    <div class="col-md-6">
                      <h3>Total a Entregar</h3>
                    </div>
                    <div class="col-md-6">
                       <h3>{{entrega.totalEntregar | currency}}</h3>
                       
                    </div>
                </div>


            </div>
         </div>
      
         <div class="row text-right">
                 <div class="col-md-12">
                        <button class="btn btn-success" type="submit"> <i class="fa fa-hdd-o" aria-hidden="true"></i>  Guardar</button>
                       <button class="btn btn-default" type="button"><router-link to="/cierreventa"> <i class="fa fa-window-close" aria-hidden="true"></i> Cancelar</router-link></button>
                 </div>
              </div>
    </form>
    </div>
 

   

</div>
</template>
<script>
import titleBar from '../../components/titleBar'
import { EventBus } from '../../../event-bus'
import {Money} from 'v-money'
import axios from 'axios'
import Vue from 'vue'
export default {
  name: 'bancos',
  data () {
    return {
      sucursales:[],
      usuarios:[],
      venta: null,     
      referencia: '',
      motivo: '',      
      title : 'Nuevo cierre de venta',
      subtitle : 'Ventas',
      entrega:{
        id:0,
        b1000:0,
        b500:0,
        b200:0,
        b100:0,
        b50:0,
        b20:0,
        m20:0,
        m10:0,
        m5:0,
        m2:0,
        m1:0,
        m050:0,
        montoTarjetaCredito:0,
        montoTarjetaDebito:0,
        montoTarjetaVales:0,
        montoTransferencia: 0,        
        usuarioId:Vue.localStorage.get('USER_ID'),
        sucursalId:'',
        totalEfectivo:0,
        totalTarjetas:0,    
        totalEntregar:0     
      },
             
        money: {
        decimal: '.',
        thousands: ',',
        prefix: '$ ',
        suffix: '',
        precision: 2,
        masked: false /* doesn't work with directive */
      } 
    }
  },
  mounted () {
    this.getSucursales()  
    this.getUsuarios ()
    if(this.$route.params.id) {
      this.getcierreVenta(this.$route.params.id)
      this.title = 'Editar Cierre de Venta #' + this.$route.params.id
    }
  },
  
  methods: {
    getSucursales() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
     },    
    
    getcierreVenta ( id){
      let vm = this
       axios.get('/CierreVenta/GetCierreVentaById?id='+ id)
       .then((res) => {       
          vm.entrega = res.data.GetCierreVentaByIdResult          
       })
    },
    validate () {
      let vm = this;
      this.$validator.validateAll().then(result => {
        if (result) {
           console.log(vm.entrega)
          if(this.entrega.sucursalId == '' ){
            this.$snotify.error('Selecciona una sucursal', '¡Atención!') 
            return
          }

          if(vm.entrega.totalEntregar <= 0 )  {
               this.$snotify.error('No se puede realizar un cierre de venta con un monto menor o igual a 0', '¡Atención!') 
               return
          }

          if(this.entrega.id > 0){ 

             
              axios.post('/CierreVenta/UpdateCierreVenta',JSON.stringify({ entrega: vm.entrega }))
              .then((res) => {       
                  this.$snotify.success('Cierre de venta Editada correctamente', '¡Atención!') 
                  this.$router.push('/cierreventa')
              })

          }else {

             
              axios.post('/CierreVenta/AddCierreVenta',JSON.stringify({ entrega: vm.entrega }))
              .then((res) => {   
                if (res.data.AddCierreVentaResult.ErrorCode == 0){
                   this.$snotify.success('El cierre de venta se guardó correctamente', '¡Atención!') 
                  this.$router.push('/cierreventa')
                }else{
                   this.$snotify.error(res.data.AddCierreVentaResult.Message, '¡Atención!') 

                }
                    

              })
          }         
        }
      })
  },
  getUsuarios () {
      let vm = this
       let sucursal = (this.sucursal) ? this.sucursal:0
       axios.get('/usuario/GetUsuario?sucursalId='+sucursal +'&tipoUsuarioId=0&login=&email=&usuarioId='+Vue.localStorage.get('USER_ID')).then( (res) => {
       vm.usuarios = res.data.GetUsuarioResult
      })    
    },
  calculaMontos(){
    
   this.entrega.b1000 =  (this.entrega.b1000 ) ?this.entrega.b1000:0
  this.entrega.b500 = (this.entrega.b500)? this.entrega.b500  :0
   this.entrega.b200 = (this.entrega.b200)?this.entrega.b200:0
   this.entrega.b100= (this.entrega.b100)?this.entrega.b100:0
    this.entrega.b50= (this.entrega.b50)?this.entrega.b50:0
    this.entrega.b20= (this.entrega.b20)?this.entrega.b20:0

    this.entrega.m20 = (this.entrega.m20) ? this.entrega.m20:0
    this.entrega.m10 = (this.entrega.m10) ? this.entrega.m10:0
    this.entrega.m5 = (this.entrega.m5) ? this.entrega.m5:0

    this.entrega.m2 = (this.entrega.m2) ? this.entrega.m2:0
    this.entrega.m1 = (this.entrega.m1) ? this.entrega.m1:0
    this.entrega.m050 = (this.entrega.m050) ? this.entrega.m050:0
   this.entrega.totalEfectivo = this.entrega.b1000 *1000 + this.entrega.b500 * 500 
   + this.entrega.b200 *200 + this.entrega.b100 *100 + this.entrega.b50 *50
    + this.entrega.m20 *20 + this.entrega.b20 *20 + this.entrega.m10 *10 +this.entrega.m5 *5 +this.entrega.m2 *2
    +this.entrega.m1 *1 +this.entrega.m050 *0.5;

      
   this.entrega.totalTarjetas = this.entrega.montoTarjetaCredito + this.entrega.montoTarjetaDebito + this.entrega.montoTarjetaVales
   /* this.entrega.totalSalidaEfectivo =  this.entrega.montosPagoProveedor + this.entrega.montoGastos;
   this.entrega.totalEntregaParcial = this.entrega.montoEntregaParcial; */
   this.entrega.totalEntregar = this.entrega.totalEfectivo +  this.entrega.totalTarjetas + this.entrega.montoTransferencia;
   

},
  },
  components: {
    titleBar,
    Money
  }


}
</script>
<style>
.input-cantidad{
  width: 80px;
}
.totales{
  background-color: grey;  
}
</style>
