<template>
<div class="devolucion card" >
    <title-bar :title="title" :subtitle="subtitle"></title-bar>
    <form novalidate  @submit.prevent="validate">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="col-md-12">
            <label><b>Ingresa la referencia de compra o  escanea el ticket de compra</b></label>
            <input type="text" class="form-control" v-model="referencia" v-on:keyup.enter="getVenta" >
        </div>
        <div class="col-md-12 " v-if="venta">
          <label>Detalle de venta</label>
          <label>Fecha de venta: {{venta.fecha2}}</label><br>
          <label>Referencia: {{venta.referencia}}</label><br>
          <label>Serie Y Folio:{{venta.sucursal.serie}}-{{venta.id}}</label><br>
          <label>Sucursal: {{venta.sucursal.nombre}}</label><br>
          <label>Cajero: {{venta.usuarioCajero.nombre}}</label><br>
        </div>  
      </div>
      <div class="col-md-6">
        <div class="col-md-12">
            <label>Selecciona el motivo de la devolución</label>
                <select class="form-control" v-model="motivo"  name="motivo" >
                   <option value="">Selecciona</option>
                  <option v-for="option in motivos" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
        </div>     
         <div class="col-md-12">
            <label>Comentarios</label>
            <textarea cols="3" class="form-control" v-model="comentarios"></textarea>
        </div> 
        
      </div>
    </div>
    
        
         
        <div class="col-md-12">
          <label>Selecciona los artículos a cambiar </label>
          <table class="table">
            <thead>
              <tr>
              <td>UPC</td>
              <td>Articulo</td>
              <td>Cantidad</td>
              <td>Precio</td>
              <td>Total</td>
              <td>Cant a devolver</td>
            </tr>
            </thead>
            <tbody>
              <tr v-for="item in articulosVenta" :key="item.id">
              <td>{{item.upc}}</td>
              <td>{{item.nombre}}</td>
              <td>{{item.cantidad}}</td>
              <td>{{item.precio}}</td>            
              <td>{{item.total}}</td> 
              <td><input type="number" class="form-control" @input="actualizaMontos(item)" name="cen-devolucion" v-validate="'required'" v-model.number="item.cantdev"></td>            
               <!-- v-validate="'min_value:1'" -->
              </tr>
            </tbody>
          </table>
        </div>
    <div class="col-md-12">
        <h3>Total </h3>
    </div>
    <div class="col-md-12" >
          <div class="card-body text-right">

           <button class="btn btn-success" type="submit" > <i class="bi bi-box-arrow-down"></i> Guardar</button>
                       <router-link class="btn btn-default" to="/devoluciones"> <i class="bi bi-x-lg"></i> Cancelar</router-link>
            </div>
          </div>
    </form>
</div>
</template>
<script>
import titleBar from '../../components/titleBar'
import tablecomponent from '../../components/table'
import { EventBus } from '../../../event-bus'
import axios from 'axios'
export default {
  name: 'bancos',
  data () {
    return {
      venta: null,     
      referencia: '',
      cantdev:0,
      motivos: [],
      motivo:'',
      comentarios: '',
      articulosVenta:[],
      articulosDevolucion :[],
      title : 'Devolución Ventas',
      subtitle : 'Ventas'
    }
  },
  mounted () {
   this.getMotivos()
  },

  methods: {
      actualizaMontos(item) {
        console.log(item)
      },
      validate () {
      this.$validator.validateAll().then(result => {
       console.loig('valido')
      })
    },
    getMotivos () {

       axios.get('/Motivo/GetMotivo?tipo=D').then((res) => {     
       this.motivos = res.data.GetMotivoResult;
      })

    },
    getVenta () { 
      axios.get('/Venta/GetVentaByReferencia?id=' + this.referencia)
      .then( res => {
        console.log(res)        
        this.venta = res.data.GetVentaByReferenciaResult
        if(this.venta.estatus === 'COMPLETA') {
        /*   this.venta.referencia = venta.referencia
          this.venta.sucursal = venta.sucursal.nombre
          this.venta.id = venta.id          */
          this.getItemsVenta(this.venta.id)
        }
        else {
           this.$snotify.error('La venta no esta con estatus de pagada', '¡Atención!')
        }
        
      })
    },
    getItemsVenta (ventaId) {
      axios.post('/Venta/GetItemsVenta',JSON.stringify({ventaId:ventaId }))
      .then( res => {
         console.log(res)
        this.articulosVenta = res.data.GetItemsVentaResult
      }) 
    },

  },
  components: {
    titleBar,
    tablecomponent
  }

}
</script>
<style>
.input-cantidad{
  width: 80px;
}
</style>