<template>
<div class="devolucion card" >
    <title-bar :title="title" :subtitle="subtitle"></title-bar>
   <div class="card-body">
      <div class="col-md-12">
          <div class="col-md-3">
            <label for="">Sucursal</label>                
                <select class="form-control input-sm" v-model="sucursalId"  name="sucursal">
                   <option value="">Todas</option>
                  <option v-for="option in sucursales" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>    
          </div>
          <div class="col-md-2">
             <label>Fecha</label>
             <input type="date" v-model="fechaInicio" class="form-control input-sm" >
                 
            </div>         
          <div class="col-md-2">
            <label for="">Número Orden</label>
             <input type="number" v-model.number="id" class="form-control input-sm"  >
          </div>
          <div class="col-md-2">
            <br>
            <button class="btn btn-sm btn-default" @click="getRecepciones"> <i class="bi bi-search"></i> Buscar</button>
          </div>
          <div class="col-md-2">
            <br>
           <button class="btn btn-sm btn-success"><router-link to="/devolucion/nueva"> <i class="bi bi-plus-lg"></i> Nueva devolución</router-link></button>
          </div>
        </div> 


   </div>
    
</div>
</template>
<script>
import titleBar from '../../components/titleBar'
import tablecomponent from '../../components/table'
import { EventBus } from '../../../event-bus'
import axios from 'axios'
export default {
  name: 'devolucion',
  data () {
    return {
      venta: null,     
      referencia: '',
      motivo: '',
      comentarios: '',
      articulosVenta:[],
      articulosDevolucion :[],
      title : 'Devolución Ventas',
      subtitle : 'Ventas'
    }
  },
  mounted () {
   
  },
  methods: {
    

  },
  components: {
    titleBar,
    tablecomponent
  }

}
</script>
<style>
.input-cantidad{
  width: 80px;
}
</style>
