<template>
  <div id="bancos" class="card">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
      <div class="card-body">
        <div class="row">
               
              <div class="col-md-2">
           <label>Sucursal</label>
                <select class="form-control input-sm" v-model="sucursal"    @change="getEntregas();getUsuarios()">
                   <option value=""> -- Selecciona  -- </option>
                  <option v-for="option in sucursales"  v-bind:value="option.id"  :key="option.id">{{option.nombre}}</option>
                </select>

         </div>
          <div class="col-md-2">
              <label>Usuarios</label>
              <select class="form-control" v-model="usuarioId" @change="getEntregas()">
                  <option value="">Selecciona</option>
                  <option v-for="option in cajeros" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
              </select>
            </div>
           <div class="col-md-2">
                 <label>Fecha</label>
                 <input type="date" class="form-control "  v-model="fechaInicio"  @change="asignaFecha()" >
                 
             </div>           
           
            <div class="col-md-2">
              <label># entrega</label>
              <input type="text" class="form-control" v-model="id">
            </div>
            
            <div class="col-md-2">
              <br>
              <button class="btn btn-sm btn-default" @click="getEntregas" ><i class="bi bi-search"></i> Buscar</button>
            </div>
             <div class="col-md-2">
              <button  v-if="actions.agregar"  class="btn btn-success"><router-link to="/entregaparcial/nuevo"> <i class="bi bi-plus-lg" aria-hidden="true"></i> Nueva Entrega</router-link></button>
            </div>
        </div>
        <div class="row">        
          <tablecomponent  :headers="headers"  :tabledata="tabledata" :actions="actions"></tablecomponent>
       </div>
      </div>
    <modal name="modal-cancela" :width="350" :height="180" :clickToClose="true" >
      <cancelaentrega :id="idCancela" :mensaje="'¿Estas seguro de cancelar la entrega parcial ? #' + idCancela"></cancelaentrega>      
   </modal>
     <modal name="modal-reporte" :width="500" :height="600" :clickToClose="true" >
      <modalreporte :src="src" ></modalreporte>      
   </modal>
   
  </div>
</template>

<script>
import Vue from 'vue'
import titleBar from '../../components/titleBar'
import tablecomponent from '../../components/table'
import imprimeticket from '../../components/imprimeTicket'
import cancelaentrega from '../../components/modals/modal_cancelaEntregaParcial'
import modalreporte from '../../components/modals/modal_imprimeReporte'
import { EventBus } from '../../../event-bus'
import axios from 'axios'
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import {en, es} from 'vuejs-datepicker/dist/locale'
import global from '../../globals'
export default {
  name: 'ventas',
  data () {
    return {
      tabledata: [],  
      cajeros : [],
      sucursales:[],
      title: 'Listado de Entregas Parciales',
      subtitle: 'Ventas',
      src: '',
      es: es,
      fechaInicio: '01/01/1900',
      fechaFin:'01/01/2100',
      usuarioId: '',
      id:0,      
      sucursal: '',
      idCancela: 0,
      headers: [
        '# Entrega',        
        'Fecha',
        'Estatus',        
        'Sucursal',
        'Cajero',
        'Total'
      ],
      actions: {
        editar:true,
        imprimir: true,
        cancelar:true,
         agregar:true,
        
      }
    }
  },
   beforeDestroy(){
    EventBus.$off('cancelar')
    EventBus.$off('imprimir')
     EventBus.$off('confirm_cancela_entrega')
  },
  mounted () {
  this.permissions()
  this.getSucursales()
  this.getEntregas()  
   let vm = this
   EventBus.$on('editar', data => {  
       console.log(data)
       if(data.Estatus == 'CANCELADO'){
          this.$snotify.error('El estatus actual de la entrega parcial no permite editar', '¡Atención!') 
        return
       }
       this.$router.push({ path: `/entregaparcial/edita/${data.id}` }) 
    })
    EventBus.$on('cancelar', data => {      
       vm.idCancela =  data.id
       if(data.Estatus == 'CANCELADO'){
          this.$snotify.error('El estatus actual de la entrega parcial no permite cancelar', '¡Atención!') 
        return
       } 
        vm.$modal.show('modal-cancela')            
    }) 

     EventBus.$on('imprimir', data => { 
       axios.post('/Reportes/GetReporteEntregaParcial', {id: data.id}).then((res)=> {
         vm.src = global.URL_REPORTS + res.data.GetReporteEntregaParcialResult
        vm.$modal.show('modal-reporte')  
       })
           
    })    
    EventBus.$on('confirm_cancela_entrega', id => {        
      axios.post('/EntregaParcial/DeleteEntregaParcial',{
        id:id,
        usuarioId: Vue.localStorage.get('USER_ID')
      })
      .then((res) => {
         
           if(res.data.DeleteEntregaParcialResult.ErrorCode == 0){

                  this.$snotify.success(
                  "Entrega Parcial se canceló correctamente",
                  "¡Atención!"
                );
                this.$modal.hide('modal-cancela')   
        this.getEntregas()

                }else{
                  this.$snotify.error(
                  res.data.DeleteEntregaParcialResult.Message,
                  "¡Atención!"
                );

                }

         
        
      })      
    }) 
  },
  methods: {   
    customFormatter(date) {     
      return  moment(date).format('L')
    },
    asignaFecha () {

     if (this.fechaInicio) {
       this.fechaFin = this.fechaInicio
     }
     else{
       this.fechaInicio = '01/01/1900'
       this.fechaFin = '01/01/2100'
     }

    },
    permissions(){
          let params = {
        tipoUsuario: Vue.localStorage.get("USER_TYPE"),
        componente:this.$route.name
      }
       axios.post('/Usuario/GetPermisoAccesoUsuario',params).then((res) => {
            let result =res.data.GetPermisoAccesoUsuarioResult          
            if(result.Consultar == false){            
               this.$router.push('dashboard')               
            }            
            this.actions.editar =result.Editar
             this.actions.agregar =result.Editar
        })
    },
    getSucursales() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
    },
   getUsuarios () {
      let vm = this
       let sucursal = (this.sucursal) ? this.sucursal:0
       axios.get('/usuario/GetUsuario?sucursalId='+sucursal +'&tipoUsuarioId=0&login=&email=&usuarioId=' + Vue.localStorage.get('USER_ID')).then( (res) => {
       vm.cajeros = res.data.GetUsuarioResult
      })    
    },        
    getEntregas () {

       if (!this.fechaInicio){
          this.fechaInicio = '01/01/1900'
         this.fechaFin =  '01/01/2020'
      }
      this.tabledata = []    
      let vm = this
      let fechainicio =moment(this.fechaInicio).format('YYYY-MM-DD').replace('-','').replace('-','')
      let fechafin =moment(this.fechaFin).format('YYYY-MM-DD').replace('-','').replace('-','') 
      let usuarioId = (this.usuarioId)? this.usuarioId: 0
       let sucursal = (this.sucursal) ? this.sucursal:0
       let id =(this.id)? this.id:0 
      axios.get('/EntregaParcial/GetEntregaParcial?sucursalId='+sucursal+' &fechaInicio='+ fechainicio +'&fechafin='+ fechafin + '&usuarioId=' + usuarioId +'&id='+ id +'&userId2=' + Vue.localStorage.get('USER_ID'))
      .then((res) => {
        console.log(res)
         res.data.GetEntregaParcialResult.forEach(function(el) {
           let obj= {
            id: el.id,
            Fecha: el.fecha2, 
            Estatus: el.estatus,          
            Sucursal: '',//el.caja.sucursal.nombre,
            Usuario:el.usuario.nombre,
            Cantidad: el.cantidadC
          }
          vm.tabledata.push(obj) 
        }) 
      }
    
      )}
  },
  components: {
    titleBar,
    tablecomponent,
    imprimeticket,
    Datepicker ,
    cancelaentrega,
    modalreporte
  }

}
</script>

<style>

</style>
