<template>
<div class="devolucion card">
    <title-bar :title="title" :subtitle="subtitle"></title-bar>
    <div class="card-body">
        <form novalidate  @submit.prevent="validate">

       <div class="col-md-4">
       
        <div class="col-md-12">
          <label>Cajero / usuario</label>
          <input type="text" class="form-control" :disabled="true" v-model="nombreUsuario">
        </div> 
       <div class="col-md-12">
          <label>Referencia</label>
           <input type="text" class="form-control" v-model="entrega.referencia">         
        </div>
       <div class="col-md-12">
          <label>Observaciones</label>
          <textarea class="form-control" rows="5" v-model="entrega.observaciones">
          </textarea>
             
        </div>

       </div> 


    <div class="col-md-8">
     
       
        <div class="col-md-3">
            <div class="col-md-12">BILLETES </div>
            <div class="col-md-12">
          <label>B1000</label>
            <input type="number" class="form-control input-sm"  min=0 oninput="validity.valid||(value='');"  @input="calculaMontos"  v-model.number="entrega.b1000">
          </div>
          <div class="col-md-12">
          <label>B500</label>
            <input type="number" class="form-control input-sm" min=0 oninput="validity.valid||(value='');"    @input="calculaMontos" v-model.number="entrega.b500">
          </div>
          <div class="col-md-12">
          <label>B200</label>
            <input type="number" class="form-control input-sm"  min=0 oninput="validity.valid||(value='');"   @input="calculaMontos" v-model.number="entrega.b200">
          </div>
          <div class="col-md-12">
          <label>B100</label>
            <input type="number" class="form-control input-sm" min=0 oninput="validity.valid||(value='');"   @input="calculaMontos" v-model.number="entrega.b100">
          </div>
          <div class="col-md-12">
          <label>B50</label>
            <input type="number" class="form-control input-sm" min=0 oninput="validity.valid||(value='');"   @input="calculaMontos" v-model.number="entrega.b50">
          </div>
          <div class="col-md-12">
          <label>B20</label>
            <input type="number" class="form-control input-sm" min=0 oninput="validity.valid||(value='');"  @input="calculaMontos" v-model.number="entrega.b20">
          </div>

         </div>
         <div class="col-md-4">
          <div class="col-md-12">Monedas </div>
         <div class="col-md-12">
          <label>M20</label>
            <input type="number" class="form-control input-sm"  min=0 oninput="validity.valid||(value='');"  @input="calculaMontos" v-model.number="entrega.m20">
          </div>

          <div class="col-md-12">
          <label>M10</label>
            <input type="number" class="form-control input-sm"  min=0 oninput="validity.valid||(value='');"  @input="calculaMontos" v-model.number="entrega.m10">
          </div>

          <div class="col-md-12">
          <label>M5</label>
            <input type="number" class="form-control input-sm" min=0 oninput="validity.valid||(value='');"   @input="calculaMontos" v-model.number="entrega.m5">
          </div>

          <div class="col-md-12">
          <label>M2</label>
            <input type="number" class="form-control input-sm" min=0 oninput="validity.valid||(value='');"   @input="calculaMontos" v-model.number="entrega.m2">
          </div>

          <div class="col-md-12">
          <label>M1</label>
            <input type="number" class="form-control input-sm" min=0 oninput="validity.valid||(value='');"   @input="calculaMontos" v-model.number="entrega.m1">
          </div>

           <div class="col-md-12">
          <label>M050</label>
            <input type="number" class="form-control input-sm" min=0 oninput="validity.valid||(value='');"  @input="calculaMontos" v-model.number="entrega.m050">
          </div>
         </div>         

        <div class="col-md-12">
          <h3><b>Total: </b>{{entrega.cantidad | currency}}</h3>
       </div>     
    </div>
 <div class="row">
                 <div class="col-md-12 text-right">
                        <button class="btn btn-success" type="submit" > <i class="fa fa-hdd-o" aria-hidden="true"></i>  Guardar</button>
                       <button class="btn btn-default" type="button"><router-link to="/entregaparcial"> <i class="fa fa-window-close" aria-hidden="true"></i> Cancelar</router-link></button>
                 </div>
              </div>
    </form>

    </div>
    
</div>
</template>
<script>
import titleBar from "../../components/titleBar";
import { EventBus } from "../../../event-bus";
import { Money } from "v-money";
import axios from "axios";
import Vue from 'vue'
export default {
  name: "bancos",
  data() {
    return {
      usuarios: [],
      venta: null,
      referencia: "",
      motivo: "",
      title: "Entrega Parcial de Efectivo",
      subtitle: "Ventas",
      nombreUsuario:'',
      entrega: {
        id: 0,
        b1000: 0,
        b500: 0,
        b200: 0,
        b100: 0,
        b50: 0,
        b20: 0,
        m20: 0,
        m10: 0,
        m5: 0,
        m2: 0,
        m1: 0,
        m050: 0,        
        usuarioId: parseInt(Vue.localStorage.get('USER_ID')),
        referencia: "",
        cantidad: 0,
        autorizadorId: 1,
        observaciones: "",
        autorizado: true,
        Editable:true
      }
    };
  },
  mounted() {
   // this.getUsuarios();
    if (this.$route.params.id) {
      
      this.getEntregaParcial(this.$route.params.id);
      this.title = "Editar Entrega Parcial #" + this.$route.params.id;
    }else{
      this.nombreUsuario= Vue.localStorage.get('USER_NAME')
    }
  },

  methods: {
    getEntregaParcial(id) {
      let vm = this;
      axios.get("/EntregaParcial/GetEntregaParcialById?id=" + id).then(res => {
        vm.entrega = res.data.GetEntregaParcialByIdResult;
        vm.entrega.autorizadorId = 1;
        vm.entrega.autorizado = true;
        vm.nombreUsuario = vm.entrega.usuario.nombre
      });
    },
    validate() {
      let vm = this;
      this.$validator.validateAll().then(result => {
        if (result) {
          if (this.entrega.id > 0) {
            if (vm.entrega.cantidad <= 0) {
              this.$snotify.error(
                "No se puede realizar una entrega parcial con un monto menor o igual a 0",
                "¡Atención!"
              );
              return;
            }
            axios
              .post(
                "/EntregaParcial/UpdateEntregaParcial",
                JSON.stringify({ entrega: vm.entrega })
              )
              .then(res => {

                if(res.data.UpdateEntregaParcialResult.ErrorCode == 0){

                  this.$snotify.success(
                  "Entrega Parcial Editada correctamente",
                  "¡Atención!"
                );

                }else{
                  this.$snotify.error(
                  res.data.UpdateEntregaParcialResult.Message,
                  "¡Atención!"
                );

                }
                
                this.$router.push("/entregaparcial");
              });
          } else {
            if (vm.entrega.cantidad <= 0) {
              this.$snotify.error(
                "No se puede realizar una entrega parcial con un monto menor o igual a 0",
                "¡Atención!"
              );
              return;
            }
            axios
              .post(
                "/EntregaParcial/AddEntregaParcial",
                JSON.stringify({ entrega: vm.entrega })
              )
              .then(res => {

                if(res.data.AddEntregaParcialResult.ErrorCode == 0){

                  this.$snotify.success(
                  "Entrega Parcial Editada correctamente",
                  "¡Atención!"
                );

                }else{
                  this.$snotify.error(
                  res.data.AddEntregaParcialResult.Message,
                  "¡Atención!"
                );

                }               
                this.$router.push("/entregaparcial");
              });
          }
        }
      });
    },
    getUsuarios() {
      axios.get("/usuario/GetUsuario").then(res => {
        this.usuarios = res.data.GetUsuarioResult;
      });
    },
    calculaMontos() {
      let b1000 = this.entrega.b1000 ? this.entrega.b1000 * 1000 : 0;
      let b500 = this.entrega.b500 ? this.entrega.b500 * 500 : 0;
      let b200 = this.entrega.b200 ? this.entrega.b200 * 200 : 0;
      let b100 = this.entrega.b100 ? this.entrega.b100 * 100 : 0;
      let b50 = this.entrega.b50 ? this.entrega.b50 * 50 : 0;
      let b20 = this.entrega.b20 ? this.entrega.b20 * 20 : 0;

      let m20 = this.entrega.m20 ? this.entrega.m20 * 20 : 0;
      let m10 = this.entrega.m10 ? this.entrega.m10 * 10 : 0;
      let m5 = this.entrega.m5 ? this.entrega.m5 * 5 : 0;

      let m2 = this.entrega.m2 ? this.entrega.m2 * 2 : 0;
      let m1 = this.entrega.m1 ? this.entrega.m1 * 1 : 0;
      let m050 = this.entrega.m050 ? this.entrega.m050 * 0.5 : 0;
      this.entrega.cantidad =
        b1000 +
        b500 +
        b200 +
        b100 +
        b50 +
        b20 +
        m20 +
        m10 +
        m5 +
        m2 +
        m1 +
        m050;
    }
  },
  components: {
    titleBar,
    Money
  }
};
</script>
<style>
.input-cantidad {
  width: 80px;
}
</style>
