<template>
  <div id="bancos" class="card">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
      <div class="card-body">
        <div class="row">
                  
              <div class="col-md-2">
           <label>Sucursal</label>
                <select class="form-control input-sm" v-model="sucursal"    @change="getVentas();getUsuarios()">
                   <option value=""> -- Selecciona  -- </option>
                  <option v-for="option in sucursales"  v-bind:value="option.id"  :key="option.id">{{option.nombre}}</option>
                </select>

         </div>
           
             <div class="col-md-2">
                 <label>Fecha</label>
                 <input type="date" class="form-control "  v-model="fechaInicio"  @change="asignaFecha()">                 
             </div> 
            <div class="col-md-2">
              <label>Razón Social</label>
              <input type="text" class="form-control" v-model="referencia">
            </div>
            <div class="col-md-2">
              <label>RFC</label>
              <input type="text" class="form-control" v-model="rfc">
            </div>
             
            <div class="col-md-1">
               <label>Serie</label>
              <input type="text" class="form-control" v-model="serie">
            </div>
            <div class="col-md-1">
               <label>Folio</label>
              <input type="number" class="form-control" v-model.number="ventaId">
            </div>
            <div class="col-md-2">
              <br>
              <button class="btn btn-sm btn-default" @click="getVentas" ><i  class="bi bi-search"></i> Buscar</button>
            </div>
        </div>
                <div class="row">
 <table class="table">
      <thead>
        
        <th class="" >Sucursal</th>
        <th class="" >Fecha</th>
        <th class="" >Estatus</th>
        <th class="" >Serie</th>
        <th class="" >Folio</th>
        <th class="" >RFC</th>
        <th class="" >Cliente</th>
        <th class="" >Total</th>
        <th class="" >Imprimir</th>
        <th class="" >Cancelar</th>
        <th class="" >Enviar</th>
      </thead>
      <tbody>
         <tr v-for="item in data" :key="item.ventaId"  >
          
          <td>{{item.venta.sucursal.nombre}}</td>
          <td>{{item.fechaFormato}}</td>
           <td>{{item.status}}</td>
          <td>{{item.serie}}</td>
          <td>{{item.folio}}</td>
          
          <td>{{item.cliente.rfc}}</td>
          <td>{{item.cliente.razonSocial}}</td>
          <td>{{item.totalFormato}}</td>
          <td><button class="btn btn-info btn-sm" @click="imprimir(item.identificador)">Imprimir</button></td>
          <td><button  v-if="item.status== 'valid' " class="btn btn-danger btn-sm" @click="CancelaFactura(item.identificador)">Cancelar</button></td>
           <td><button v-if="item.status== 'valid' "  @click="enviar(item.identificador,item.cliente.id)" class="btn btn-success btn-sm">Enviar Email</button></td>
         </tr>
      </tbody>
  </table>
</div>
<div class="row ">
 <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item "  :class="{ 'disabled':(currentPage==1)}">
      <a class="page-link" href="#" tabindex="-1"   @click="previous()"   >Anterior</a>
    </li>
     <li class="page-item" :key="value" v-for="value in totalPages" :class="{ 'active':(currentPage==value)}">
        <a class="page-link"  href="#" @click="paginate(value)" >{{value}}</a>
    </li>
    <li class="page-item" :class="{ 'disabled':(currentPage==totalPages)}" >
      <a class="page-link" href="#"  @click="next()">Siguiente</a>
    </li>
  </ul>
</nav>
    </div>
     
      </div>
    <modal name="modal-reporte" :width="600" :height="700" :clickToClose="true" >
      <imprimereporte :src="srcfactura"></imprimereporte>      
   </modal>
  </div>
</template>

<script>
import titleBar from '../../components/titleBar'
import imprimereporte from '../../components/modals/modal_imprimeReporte'
import { EventBus } from '../../../event-bus'
import axios from 'axios'
import moment from 'moment'
import global from '../../globals'
import Vue from 'vue'
export default {
  name: 'ventas',
  data () {
    return {
      tabledata: [], 
      data:[],
       totalPages: 0,
      total: 0,
      currentPage: 0,      
      title: 'Listado de Facturas',
      subtitle: 'Ventas',
      srcticket: '',
      fechaInicio: '01/01/1900',
      fechaFin:'01/01/2100',
      serie:'',  
      srcfactura:'',    
      ventaId: 0,
      rfc:'',
      sucursal:'',
      referencia:'',    
      sucursales:[],    
      actions: {
        imprimir: true,
        cancelar:true,
        //agregar:true,
      }
    }
  },
  mounted () {
  this.permissions()
  this.getSucursales()  
  this.getVentas()  

  },
  methods: {
     enviar(id,cliente){
       axios.post("/Factura/GetEnviaFactura",{clienteId:cliente,facturaId:id}).then(res => {
         this.$snotify.success(
                "se envió la factura correctamente",
                "¡Atención!"
            ); 
       })
    },
    CancelaFactura(id){
      axios.post("/Factura/GetCancelaFactura",{FacturaId:id,usuarioId:Vue.localStorage.get('USER_ID')}).then(res => {
         if(res.data.GetCancelaFacturaResult.key == "0"){
           this.$snotify.success(
                "La factura esta en proceso de cancelación",
                "¡Atención!"
            ); 
         }else{
           this.$snotify.error(
                res.data.GetCancelaFacturaResult.description,
                "¡Atención!"
            ); 
         }
       })
    },
    imprimir(id){
       axios.post("/Factura/GetDescargaFactura",{op:0,id:id}).then(res => {
        this.srcfactura = global.URL_REPORTS + res.data.GetDescargaFacturaResult.description;
        this.$modal.show('modal-reporte') 
       })
    },
    asignaFecha () {

     if (this.fechaInicio){
       this.fechaFin = this.fechaInicio
     }
     else{
       this.fechaFin = '01/01/2100'
     }

    },
    getUsuarios () {
      let vm = this
       let sucursal = (this.sucursal) ? this.sucursal:0
       axios.get('/usuario/GetUsuario?sucursalId='+sucursal +'&tipoUsuarioId=0&login=&email=&usuarioId=' + Vue.localStorage.get('USER_ID')).then( (res) => {
       vm.cajeros = res.data.GetUsuarioResult
      })    
    },    
     getSucursales() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
    },
    permissions(){
          let params = {
        tipoUsuario: Vue.localStorage.get("USER_TYPE"),
        componente:this.$route.name
      }
       axios.post('/Usuario/GetPermisoAccesoUsuario',params).then((res) => {
            let result =res.data.GetPermisoAccesoUsuarioResult          
            if(result.Consultar == false){            
               this.$router.push('dashboard')               
            }            
            
             this.actions.agregar =result.Consultar
             this.actions.cancelar = result.Eliminar
        })
    },
    getVentas () {

      if (!this.fechaInicio){
         this.fechaInicio = '01/01/1900'
         this.fechaFin =  '01/01/2020'
      }

      this.tabledata = []    
      let vm = this

       
      let params = {
        rfc: this.rfc,      
        fecha:moment(this.fechaInicio).format('YYYY-MM-DD').replace('-','').replace('-',''),  
        serie: this.serie,
        folio: this.ventaId,
        nombre: this.referencia,  
        op:0, 
        usuarioId:Vue.localStorage.get("USER_ID"),
        sucursalId:0
      }    
      axios.post('/Factura/GetFacturas', JSON.stringify(params)).then((res) => {
        
       vm.data=  res.data.GetFacturasResult
      }
    
      )}
  },
     paginate: function (PageNumber) {
      const paginateCollection = paginate(this.data, PageNumber, 15)     
      this.totalPages = paginateCollection.totalPages
      this.total = paginateCollection.total
      this.currentPage = paginateCollection.currentPage
      this.data = paginateCollection.data     
      
    },
    next () {
      this.paginate(this.currentPage + 1)
    },
    previous () {
      this.paginate(this.currentPage - 1)
    },
  components: {
    titleBar,  
    imprimereporte 
  }

}
</script>

<style>

</style>
