<template>
  <div id="bancos" class="card">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
      <div class="card-body">
        <div class="row">
             <div class="col-md-2">
           <label>Sucursal</label>
                <select class="form-control input-sm" v-model="sucursal"    @change="getCierres();getUsuarios()">
                   <option value=""> -- Selecciona  -- </option>
                  <option v-for="option in sucursales"  v-bind:value="option.id"  :key="option.id">{{option.nombre}}</option>
                </select>

         </div>
          <div class="col-md-2">
              <label>Cajero</label>
              <select class="form-control" v-model="usuarioId">
                  <option value="">Selecciona</option>
                  <option v-for="option in cajeros" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
              </select>
            </div>

           <div class="col-md-2">
                 <label>Fecha</label>
                 <input  type="date" v-model="fechaInicio"  class="form-control">
             </div>
            
           
            <div class="col-md-2">
              <label># entrega</label>
              <input type="text" class="form-control" v-model="id">
            </div>
            
            <div class="col-md-2">
              <br>
              <button class="btn btn-sm btn-default" @click="getCierres" ><i class="bi bi-search"></i> Buscar</button>
            </div>
             <div class="col-md-2 text-right">
              <button v-if="actions.agregar" class="btn btn-success"><router-link to="/salidaefectivo/nuevo"> <i class="bi bi-plus-lg" aria-hidden="true"></i> Nueva Salida</router-link></button>
            </div>
        </div>
        <div class="row">        
          <tablecomponent  :headers="headers"  :tabledata="tabledata" :actions="actions"></tablecomponent>
       </div>
      </div>
    <modal name="modal-cancela" :width="350" :height="180" :clickToClose="true" >
      <cancelasalida :id="idCancela" :mensaje="'¿Estas seguro de cancelar la salida  ? #' + idCancela"></cancelasalida>      
   </modal>
   
  </div>
</template>

<script>
import Vue from 'vue'
import titleBar from '../../components/titleBar'
import tablecomponent from '../../components/table'
import imprimeticket from '../../components/imprimeTicket'
import cancelasalida from '../../components/modals/modal_cancelaSalida'
import modalreporte from '../../components/modals/modal_imprimeReporte'
import { EventBus } from '../../../event-bus'
import axios from 'axios'
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import {en, es} from 'vuejs-datepicker/dist/locale'
import global from '../../globals'
export default {
  name: 'ventas',
  data () {
    return {
      tabledata: [],  
      cajeros : [],
      sucursales:[],
      title: 'Listado de Salida de Efectivo',
      subtitle: 'Ventas',
      srcticket: '',
      es: es,
      sucursal:'',
      fechaInicio: '01/01/1900',        
      usuarioId: '',
      id:0,      
      idCancela: 0,
      headers: [
        '# Salida',        
        'Fecha', 
         'Estatus',
         'Cantidad' ,     
        'Usuario'        
      ],
      actions: {
        editar:true,
        cancelar:true,
        agregar:true,
      }
    }
  },
   beforeDestroy(){
    EventBus.$off('confirm_cancela_salida')
  },
  mounted () {
  this.permissions()
  this.getSucursales()
  this.getCierres()  
   let vm = this
   EventBus.$on('editar', data => {  
       console.log(data)
       if(data.Estatus == 'CANCELADO'){
          this.$snotify.error('El estatus actual de la entrega parcial no permite editar', '¡Atención!') 
        return
       }
       this.$router.push({ path: `/salidaefectivo/edita/${data.id}` }) 
    })
    EventBus.$on('cancelar', data => {
        console.log(data);
       vm.idCancela =  data.id
       if(data.estatus == 'CANCELADO'){
          this.$snotify.error('El estatus actual del proceso no permite cancelar', '¡Atención!') 
        return
       } 
        vm.$modal.show('modal-cancela')   
         
    }) 
     EventBus.$on('confirm_cancela_salida', id => {        
      axios.post('/SalidaEfectivo/GetSalidaEfectivoCancela',{
        id:id,
        usuarioId: Vue.localStorage.get('USER_ID')
      })
      .then((res) => {

        if(res.data.GetSalidaEfectivoCancelaResult.ErrorCode == 0){
                this.$snotify.success('La salida de efectivo se canceló correctamente', '¡Atención!') 
                vm.$modal.hide('modal-cancela')   
                this.getCierres()
              }else{
                this.$snotify.error(res.data.GetSalidaEfectivoCancelaResult.Message, '¡Atención!') 
              }
      })      
    })  
  },
  methods: {   
    permissions(){
          let params = {
        tipoUsuario: Vue.localStorage.get("USER_TYPE"),
        componente:this.$route.name
      }
       axios.post('/Usuario/GetPermisoAccesoUsuario',params).then((res) => {
            let result =res.data.GetPermisoAccesoUsuarioResult          
            if(result.Consultar == false){            
               this.$router.push('dashboard')               
            }            
            this.actions.editar =result.Editar
             this.actions.agregar =result.Editar
        })
    },
      getSucursales() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
    },
    customFormatter(date) {     
      return  moment(date).format('L')
    },
     getUsuarios () {
      let vm = this
       let sucursal = (this.sucursal) ? this.sucursal:0
       axios.get('/usuario/GetUsuario?sucursalId='+sucursal +'&tipoUsuarioId=0&login=&email=&usuarioId=' + Vue.localStorage.get('USER_ID')).then( (res) => {
       vm.cajeros = res.data.GetUsuarioResult
      })    
    }, 
    getCierres () {
      this.tabledata = []    
      let vm = this
      let fechainicio =moment(this.fechaInicio).format('YYYY-MM-DD').replace('-','').replace('-','')     
      let usuarioId = (this.usuarioId)? this.usuarioId: 0
      let params ={
        fecha: fechainicio,
        folio:this.id,
        cajeroId:usuarioId,
        userId2: Vue.localStorage.get('USER_ID')
        
      }
      axios.post('/SalidaEfectivo/GetSalidaEfectivo',params)
      .then((res) => {
        console.log(res)
         res.data.GetSalidaEfectivoResult.forEach(function(el) {
           let obj= {
            id: el.id,
            Fecha: el.fechaCorta, 
            estatus: el.estatus,
            cantidad: el.cantidadC,
           //Estatus: el.estatus,          
           // Sucursal: '',//el.caja.sucursal.nombre,
            Usuario:el.usuario.nombre,
           // Cantidad: el.cantidadC
          }
          vm.tabledata.push(obj) 
        }) 
      }
    
      )}
  },
  components: {
    titleBar,
    tablecomponent,
    imprimeticket,
    Datepicker ,
    cancelasalida,
  }

}
</script>

<style>

</style>
