<template>
<div class="salidaEfectivo card">
    <title-bar :title="title" :subtitle="subtitle"></title-bar>
    <div class="card-body">
<form novalidate  @submit.prevent="validate">
        <div class="row">

               <div class="col-md-4 col-md-offset-2">
            <div class="col-md-12">
           <label>Sucursal</label>
                <select class="form-control input-sm" v-model.number="salida.sucursalId"  v-validate="'required'"  
                 @change="getUsuarios()" name="sucursal" :disabled="salida.id > 0">
                   <option value=""> -- Selecciona  -- </option>
                  <option v-for="option in sucursales"  v-bind:value="option.id"  :key="option.id">{{option.nombre}}</option>
                </select>
                 <span v-show="errors.has('sucursal')" class="invalid-feedback">{{ errors.first('sucursal') }}</span>
         </div>
          <div class="col-md-12">
          <label>Cajero / usuario</label>         
          <select class="form-control" :disabled="salida.id > 0" v-model.number="salida.cajeroId" v-validate="'required'" name="usuario">
            <option value="">selecciona</option>
            <option v-for="option in cajeros" :key="option.id" v-bind:value="option.id">{{option.nombre}}</option>
          </select> 
           <span v-show="errors.has('usuario')" class="invalid-feedback">{{ errors.first('usuario') }}</span>
        </div> 
           <div class="col-md-12">
          <label>Tipo de Salida</label>
          <select class="form-control" v-model="salida.tipoSalidaId" v-validate="'required'" name="tipo">
            <option value="">selecciona</option>
            <option v-for="option in Salidas" :key="option.id" v-bind:value="option.id">{{option.descripcion}}</option>
          </select>
          <span v-show="errors.has('tipo')" class="invalid-feedback">{{ errors.first('tipo') }}</span>
            </div>
             
        

      

        

        </div>
        <div class="col-md-3">
            <div class="col-md-12">
                <label>Monto</label>
                 <money v-model="salida.cantidad" class="form-control " v-bind="money" v-validate="'required'" name="monto"  ></money>    
                   <span v-show="errors.has('monto')" class="invalid-feedback">{{ errors.first('monto') }}</span>          
            </div>

            <div class="col-md-12">
                <label>Observaciones</label>
                <textarea type="text" class="form-control" v-model="salida.observaciones"></textarea>
            </div>
        </div>


        </div>
        <div class="row">
                 <div class="col-md-12 text-right">
                        <button class="btn btn-success  " type="submit"> <i class="fa fa-hdd-o" aria-hidden="true"></i> 
 Guardar</button>
                       <button class="btn btn-default " type="button"><router-link to="/salidaefectivo"> <i class="fa fa-window-close" aria-hidden="true"></i> Cancelar</router-link></button>
                 </div>
              </div>
     
    </form>


    </div>
    
</div>
</template>
<script>
import titleBar from '../../components/titleBar'
import { EventBus } from '../../../event-bus'
import {Money} from 'v-money'
import axios from 'axios'
import Vue from 'vue'
export default {
  name: 'salidaEfectivo',
  data () {
    return {
     cajeros:[],
      usuarios:[],    
      sucursales:[], 
      Salidas:[],
      title : 'Salida de Efectivo',
      subtitle : 'Ventas',
        money: {
          decimal: '.',
          thousands: ',',
          prefix: '$ ',
          suffix: '',
          precision: 2,
          masked: false /* doesn't work with directive */
        },
       salida:{
          id:0,
          cajero:Vue.localStorage.get('USER_NAME'),
          tipoSalidaId:'',
          sucursalId:'',
          cajeroId:Vue.localStorage.get('USER_ID'),
          observaciones:'',
          cantidad:0
      }   
    }
  },

  mounted () {
    this.getSucursales()
    if(this.$route.params.id> 0) {    
      this.title = 'Editar Salida de Efectivo #' + this.$route.params.id
    
      this.GetSalidaEfectivoById(this.$route.params.id);
    }else{
       this.title = 'Nueva Salida de Efectivo'
        
           this.getTipoSalida()
          
    }




 
  /*   if(this.$route.params.id) {
      this.getEntregaParcial(this.$route.params.id)
      this.title = 'Editar Entrega Parcial #' + this.$route.params.id
    } */
  },  
  methods: {    
    validate () {
      let vm = this;
      this.$validator.validateAll().then(result => {
        if (result) {

          if(this.salida.cantidad <= 0){
            this.$snotify.error(
            'Ingresa un monto superior a $0', '¡Atención!')
            return
          }
           
          if(this.salida.id > 0){ 

            console.log(this.salida)
            axios.post('/SalidaEfectivo/UpdateSalidaEfectivo',{salidaEfectivo: this.salida }).then((res)=> {

              if(res.data.UpdateSalidaEfectivoResult.ErrorCode == 0){
                this.$snotify.success('La salida de efectivo se editó correctamente', '¡Atención!') 
                this.$router.push('/salidaefectivo')
              }else{
                this.$snotify.error(res.data.UpdateSalidaEfectivoResult.Message, '¡Atención!') 
              }
              
            })

          }else{
            console.log(this.salida)
          axios.post('/SalidaEfectivo/AddSalidaEfectivo',{salidaEfectivo: this.salida }).then((res)=> {
            
            if(res.data.AddSalidaEfectivoResult.ErrorCode == 0){
                this.$snotify.success('La salida de efectivo se guardó correctamente', '¡Atención!') 
                this.$router.push('/salidaefectivo')
              }else{
                this.$snotify.error(res.data.AddSalidaEfectivoResult.Message, '¡Atención!') 
              }
          })
          }

          
          
        }
      })
  },
  getUsuarios () {
      let vm = this
       let sucursal = (this.salida.sucursal) ? this.salida.sucursal:0
       axios.get('/usuario/GetUsuario?sucursalId='+sucursal +'&tipoUsuarioId=0&login=&email=&usuarioId='+Vue.localStorage.get('USER_ID')).then( (res) => {
       vm.cajeros = res.data.GetUsuarioResult
      })    
    },
   getSucursales (){
     axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
  },
    getTipoSalida (){
     axios.get('/tipoSalidaEfectivo/GettipoSalidaEfectivo').then( (res) => {
         this.Salidas = res.data.GettipoSalidaEfectivoResult     
      })
  },
  GetSalidaEfectivoById(id){
    let vm = this
    axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        vm.sucursales = res.data.GetSucursalResult;
        
       axios.get('/usuario/GetUsuario?sucursalId=0&tipoUsuarioId=0&login=&email=').then( (response) => {
       vm.cajeros = response.data.GetUsuarioResult
       
       axios.get('/tipoSalidaEfectivo/GettipoSalidaEfectivo').then( (resp) => {
         vm.Salidas = resp.data.GettipoSalidaEfectivoResult     
         axios.get('/SalidaEfectivo/GetSalidaEfectivoById?id=' + id).then( (result) => {
           vm.salida = result.data.GetSalidaEfectivoByIdResult   
          
           })
      })
        
      
        })    
    
      });

      
  }
  },
  components: {
    titleBar,
    Money
  }
}
</script>
<style>
.input-cantidad{
  width: 80px;
}
</style>
