<template>
  <div id="bancos" class="card">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
      <div class="card-body">
        <div class="row">
                  
              <div class="col-md-2">
           <label>Sucursal</label>
                <select class="form-control input-sm" v-model="sucursal"    @change="getVentas();getUsuarios()">
                   <option value=""> -- Selecciona  -- </option>
                  <option v-for="option in sucursales"  v-bind:value="option.id"  :key="option.id">{{option.nombre}}</option>
                </select>

         </div>
            <div class="col-md-2">
              <label>Usuario</label>
              <select class="form-control" v-model="cajero" @change="getVentas()">
                  <option value="">Selecciona</option>
                  <option v-for="option in cajeros" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
              </select>
            </div>
             <div class="col-md-2">
                 <label>Fecha</label>
                 <input type="date" class="form-control "  v-model="fechaInicio"  @change="asignaFecha()">                 
             </div> 
            <div class="col-md-2">
              <label>Referencia</label>
              <input type="text" class="form-control" v-model="referencia">
            </div>
             <div class="col-md-1">
               <label>Folio</label>
              <input type="number" class="form-control" v-model.number="ventaId">
            </div>
            <div class="col-md-1">
               <label>Serie</label>
              <input type="text" class="form-control" v-model="serie">
            </div>
            <div class="col-md-2">
              <br>
              <button class="btn btn-sm btn-default" @click="getVentas" ><i  class="bi bi-search"></i> Buscar</button>
            </div>
        </div>
        <div class="row table-responsive">
 <table class="table table-responsive">
      <thead>
        <th class="text-left" ># venta</th>
        <th class="text-left" >Fecha</th>
        <th class="text-left" >Serie Y Folio</th>
        <th class="text-left" >Sucursal</th>
        <th class="text-left" >Referencia</th>
        <th class="text-left" >Cajero</th>
        <th class="text-left" >Total</th>
        <th class="text-left" >Imprimir</th>
        <th class="text-left" >Enviar</th>
        <th class="text-left" >Cancelar</th>
        <th class="text-left" >Facturar</th>
      </thead>
      <tbody>
         <tr v-for="item in data" :key="item.ventaId"  >
          <td>{{item.id}}</td>
          <td>{{item.fecha2}}</td>
          <td>{{item.serie}}</td>
          <td>{{item.sucursal.nombre}}</td>
          <td>{{item.referencia}}</td>
          <td>{{item.usuarioCajero.nombre}}</td>
          <td>{{item.totalC}}</td>
          <td><button class="btn btn-info btn-sm" @click="imprimir(item.id)"><i class="bi bi-printer"></i> Imprimir</button></td>
          <td><button :disabled="!envioticket" class="btn btn-default btn-sm" @click="enviar(item.id)"><i class="bi bi-envelope" aria-hidden="true"></i> Enviar</button></td>
          <td><button :disabled="item.facturaId != '' || item.estatus == 'CANCELADA'" class="btn btn-danger btn-sm" @click="cancelar(item.id)"><i class="bi bi-trash"></i> Cancelar</button></td>
           <td><button v-if="facturacion" :disabled="item.facturaId != '' || item.estatus == 'CANCELADA' " @click="facturar(item.id)" class="btn btn-success btn-sm">Facturar</button></td>
         </tr>
      </tbody>
  </table>
</div>


    <div class="row ">
 <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item "  :class="{ 'disabled':(currentPage==1)}">
      <a class="page-link" href="#" tabindex="-1"   @click="previous()"   >Anterior</a>
    </li>
     <li class="page-item" :key="value" v-for="value in totalPages" :class="{ 'active':(currentPage==value)}">
        <a class="page-link"  href="#" @click="paginar(value)" >{{value}}</a>
    </li>
    <li class="page-item" :class="{ 'disabled':(currentPage==totalPages)}" >
      <a class="page-link" href="#"  @click="next()">Siguiente</a>
    </li>
  </ul>
</nav>
</div>
      </div>
    <modal name="modal-ticket" :width="400" :height="700" :clickToClose="false" >
      <imprimeticket :srcticket="srcticket"></imprimeticket>      
   </modal>
    <modal name="modal-cancela" :width="350" :height="180" :clickToClose="true" >
      <modalcancelaventa :ventaId="ventaId"></modalcancelaventa>      
   </modal>
   <modal name="modal-autorizacion" :width="500" :height="300" :clickToClose="true">
    <autorizacion></autorizacion>
</modal>
<modal name="modal-motivos" :width="400" :height="150" :clickToClose="true">
  <modalmotivos :tipo="tipo" :ventaId="ventaId"></modalmotivos>
</modal>
<modal name="modal-envioticket" :width="500" :height="300" :clickToClose="true">
    <envioticket :ventaId="ventaIdEnviar"></envioticket>
</modal>
  </div>
</template>

<script>
import titleBar from '../../components/titleBar'

import imprimeticket from '../../components/imprimeTicket'
import modalcancelaventa from '../../components/modals/modal_cancelaVenta'
import autorizacion from '../../components/modals/modal_autoriza'
import modalmotivos from '../../components/modals/modal_motivo'
import { EventBus } from '../../../event-bus'
import envioticket from '../../components/modals/modal_enviaticket'
import axios from 'axios'
import moment from 'moment'
import Datepicker from 'vuejs-datepicker';
import {en, es} from 'vuejs-datepicker/dist/locale'
import global from '../../globals'
import Vue from 'vue'
const paginate = require('paginate-array')
export default {
  name: 'ventas',
  data () {
    return {
      data:[],
       totalPages: 0,
      total: 0,
      currentPage: 0,
      tabledata: [],  
      cajeros : [],
      title: 'Listado de Ventas',
      USER_CANCELA_VENTA: Vue.localStorage.get('USER_CANCELA_VENTA'),
      USER_REIMPRIME_VENTA: Vue.localStorage.get('USER_REIMPRIME_VENTA'),
      subtitle: 'Ventas',
      srcticket: '',
      es: es,
      fechaInicio: '01/01/1900',
      fechaFin:'01/01/2100',
      serie:'',
      cajero: '',
      ventaId: 0,
      sucursal:'',
      ventaIdCancelar:0,
      ventaIdReimprimir:0,
      ventaIdEnviar:0,
      referencia:'',
      esCancelacion:false,
      sucursales:[],
      tipo:'',
      facturacion:false,
      envioticket:false,
      actions: {
        imprimir: true,
        cancelar:true,
        facturar:true,
      }
    }
  },
   beforeDestroy(){
    
    EventBus.$off('cancelar')
    EventBus.$off('imprimir')
    EventBus.$off('CANCELA_VENTA')
EventBus.$off('AUTORIZADO')
    

    
  },
  mounted () {
  this.permissions()
  this.getSucursales()
  this.ActivaFacturacion()
  this.getVentas()  
   let vm = this
  
  EventBus.$on("CLOSE_ENVIOTICKET", data => {
      this.$modal.hide('modal-envioticket')
       
    });

     EventBus.$on('accept_modal_motivo', data => {
      if (data.tipo == 'R') {
        vm.$modal.show('modal-ticket')  
        axios.post('/Venta/GetVentaTicket',{'ventaId': data.ventaId,usuarioId:Vue.localStorage.get('USER_ID'),reimpresion:1,motivoId:data.motivoId}).then((res) => {
          vm.srcticket = global.URL_REPORTS + res.data.GetVentaTicketResult
          vm.$modal.hide('modal-motivos')  
        })
      }
        if (data.tipo == 'C') {   
             let params = {
          'ventaId': data.ventaId,
          'usuarioId': Vue.localStorage.get('USER_ID'),
            motivoId:data.motivoId
        }       
             vm.$modal.hide('modal-motivos') 
             axios.post('/Venta/GetCancelaVenta', params)
             .then((res) => {

            this.$snotify.success('La venta se canceló correctamente', '¡Atención!')
               vm.$modal.hide('modal-cancela')
               vm.getVentas();
            }) 
            // vm.$modal.show('modal-cancela')          
        }

     })
    
     EventBus.$on('close_modal_motivo',data => {
          vm.tipo =''
         vm.$modal.hide('modal-motivos') 
     })      
     
    EventBus.$on('CLOSE_TICKET' , data =>{
        vm.$modal.hide('modal-ticket')
     })
     

     EventBus.$on("AUTORIZADO", data => {      
      vm.$modal.show('modal-motivos')       
    });

     EventBus.$on("NO_AUTORIZADO", data => {
      this.$modal.hide('modal-autorizacion')  
    });

  

    
  },
  methods: { 
    enviar(id){
      this.ventaIdEnviar =id;
      this.$modal.show('modal-envioticket')
    },
    ActivaFacturacion(){
      let vm = this;
      axios.get('SistemaGeneral/GetSistemaGeneral').then(function(res){
     
         vm.facturacion = res.data.GetSistemaGeneralResult.facturacion;   
         vm.envioticket = res.data.GetSistemaGeneralResult.envioticket     
      });
    }, 
    facturar(id){
          axios.post('/Factura/AddFactura',{id: id,usuarioId:Vue.localStorage.get('USER_ID')}).then((res) => {
           if(res.data.AddFacturaResult.key == "0"){
              this.$snotify.error(
                "Problema al generar factura",
                "¡Atención!"
            );

           }else{
              this.$snotify.success(
                "se genero la factura correctamente",
                "¡Atención!"
            );
           }

           this.getVentas() 
        }) 
    }, 
    imprimir (id){
      let vm=this
      vm.ventaId =  id
      this.esCancelacion = false
      if(this.USER_REIMPRIME_VENTA  == 'true') {
      this.tipo ='R'
      vm.$modal.show('modal-motivos')    
      }
      if(this.USER_REIMPRIME_VENTA  == 'false') {
      this.tipo ='R'
      this.$modal.show('modal-autorizacion')
      }
    },
    cancelar(id){
      let vm= this;
       vm.ventaId =  id
        this.esCancelacion = true
        if(this.USER_CANCELA_VENTA  == 'true') {

           this.tipo ='C'
           vm.$modal.show('modal-motivos') 
             
           }
           if(this.USER_CANCELA_VENTA  == 'false') {
             this.tipo ='C'
              this.$modal.show('modal-autorizacion')
           } 
    },
    asignaFecha () {
     if (this.fechaInicio){
       this.fechaFin = this.fechaInicio
     }
     else{
       this.fechaFin = '01/01/2100'
     }
    },
    getUsuarios () {
      let vm = this
       let sucursal = (this.sucursal) ? this.sucursal:0
       axios.get('/usuario/GetUsuario?sucursalId='+sucursal +'&tipoUsuarioId=0&login=&email=&usuarioId=' + Vue.localStorage.get('USER_ID')).then( (res) => {
       vm.cajeros = res.data.GetUsuarioResult
      })    
    },    
     getSucursales() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
    },
    permissions(){
          let params = {
        tipoUsuario: Vue.localStorage.get("USER_TYPE"),
        componente:this.$route.name
      }
       axios.post('/Usuario/GetPermisoAccesoUsuario',params).then((res) => {
            let result =res.data.GetPermisoAccesoUsuarioResult          
            if(result.Consultar == false){            
               this.$router.push('dashboard')               
            }            
            
             this.actions.agregar =result.Consultar
             this.actions.cancelar = result.Eliminar
        })
    },
    
    getVentas () {

      if (!this.fechaInicio){
         this.fechaInicio = '01/01/1900'
         this.fechaFin =  '01/01/2020'
      }

      this.tabledata = []    
      let vm = this
      let params = {
        cajeroId: (vm.cajero)?vm.cajero:0,        
        sucursalId: (this.sucursal) ? this.sucursal:0,
        referencia: this.referencia,
        IdVenta: (this.ventaId)? this.ventaId:0,
        fechaInicio:moment(this.fechaInicio).format('YYYY-MM-DD').replace('-','').replace('-',''),
        fechaFin: moment(this.fechaFin).format('YYYY-MM-DD').replace('-','').replace('-',''),
        serie: vm.serie,
        usuarioId:Vue.localStorage.get("USER_ID")
      }    
      axios.post('/Venta/GetVenta', JSON.stringify(params)).then((res) => {     
        this.data = res.data.GetVentaResult
        this.tabledata= res.data.GetVentaResult
        this.paginar(1)
      }
    
      )},      
      paginar (PageNumber) {
      const paginateCollection = paginate(this.tabledata, PageNumber, 10)     
      console.log('paginateCollection',paginateCollection)
      this.totalPages = paginateCollection.totalPages
      this.total = paginateCollection.total
      this.currentPage = paginateCollection.currentPage
      this.data = paginateCollection.data     
      
    },
    next () {
      this.paginar(this.currentPage + 1)
    },
    previous () {
      this.paginar(this.currentPage - 1)
    },
  },
  components: {
    titleBar,
    imprimeticket,
    Datepicker ,
    modalcancelaventa,
    autorizacion,
    modalmotivos,
    envioticket
  }

}
</script>

<style>

</style>
