<template>
<div id="articuloinventariofiltro">
  
           <div class="col-md-3">              
                <label>Departamento</label>
                <select class="form-control input-sm" v-model="departamentoId" name="categoria" @change="getArticulos">
                   <option value="">Selecciona</option>
                  <option v-for="option in departamentos" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
           </div>
            <div class="col-md-2">              
                <label>Categoria</label>
                <select class="form-control input-sm" v-model="categoriaId" name="categoria" @change="getArticulos">
                   <option value="">Selecciona</option>
                  <option v-for="option in categorias" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>             
           </div>
           <div class="col-md-3">              
                <label>UPC</label> 
                <input type="text" class="form-control input-sm" v-model="upc" >                          
           </div>
           <div class="col-md-2">              
                <label>Nombre</label> 
                <input type="text" class="form-control input-sm" v-model="nombre" >                          
           </div>
           <div class="col-md-2">       
               <br>       
                <button @click="getArticulos" class="btn btn-default btn-sm" type="button"><i  class="bi bi-search" ></i> Buscar</button>                  
           </div> 
         
    
</div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios'
import { EventBus } from "../../../event-bus";
export default {
  name: 'articuloinventariofiltro',
  template: '#articuloinventariofiltro',
  props: ['vendedorId','sucursalId','tipo'],
  data: function() {
    return {   
      departamentos: [],
      categorias:[],
      upc: '',
      nombre: '',
      departamentoId: '',
      categoriaId: '',
    }
  }, 
   mounted () {   
    this.getDepartamentos()
    this.getCategorias()
    this.getArticulos()
  },
  methods: {

      getDepartamentos () {
      let vm = this
      axios.get('/Departamento/GetDepartamento').then((res) => {       
        vm.departamentos = res.data.GetDepartamentoResult
      })
    },
    getCategorias () {
      let vm = this
      axios.get(`/Categoria/GetCategoria?departamentoId=${(this.departamentoId) ? this.departamentoId: 0 }&nombre=`).then((res) => {    
       vm.categorias =  res.data.GetCategoriaResult
      })
    },
    getArticulos () {
      console.log('TIPO',this.tipo)
      if(this.tipo == 'S'){
        axios.get(`/Articulo/GetArticuloInventario?upc=${this.upc}&nombre=${this.nombre}&departamentoId=${(this.departamentoId)? this.departamentoId: 0 }&categoriaId=${(this.categoriaId)?this.categoriaId:0 }&vendedorId=0&sucursalId=${(this.sucursalId)?this.sucursalId:0 }`).then((res) => {
        EventBus.$emit('FILTRO_ARTICULOS_INVENTARIO', res.data.GetArticuloInventarioResult)  
      })
      }else{

         axios.get(`/Articulo/GetArticuloInventario?upc=${this.upc}&nombre=${this.nombre}&departamentoId=${(this.departamentoId)? this.departamentoId: 0 }&categoriaId=${(this.categoriaId)?this.categoriaId:0 }&vendedorId=${(this.vendedorId)?this.vendedorId:0 }&sucursalId=0`).then((res) => {
        EventBus.$emit('FILTRO_ARTICULOS_INVENTARIO', res.data.GetArticuloInventarioResult)  
      })

      }
      
    }    
  } 
};
</script>

<style>
</style>