<template>
    <div>
          <div class="col-md-3">
            <label>Nombre(s):</label>
            <input type="text" class="form-control input-sm" v-model="nombre">
        </div>
        <div class="col-md-3">
            <label>Apellidos:</label>
            <input type="text" class="form-control input-sm" v-model="apellidos">
        </div>
        <div class="col-md-3">
            <label>RFC:</label>
            <input type="text" class="form-control input-sm" v-model="rfc">
        </div>
        <div class="col-md-3">
            <br>
            <button @click="GetClienteList" class="btn btn-default btn-sm" type="button"><i class="bi bi-search"></i> Buscar</button>
        </div> 
    </div>
</template>
<script>
    import Vue from 'vue';
    import axios from 'axios'
    import { EventBus } from "../../../event-bus";
    export default {
        name: 'clientefiltro',
        template: '#articulofiltro',
        props: [],
        data: function() {
            return {
                id: 0,
                nombre: '',
                apellidos: '',
                rfc:''
            }
        },
        mounted() {
            this.GetClienteList();
        },
        methods: {
            GetClienteList(){
                let cliente = {
                    'id': this.id,
                    'nombre': this.nombre,
                    'apellidos': this.apellidos,
                    'rfc':this.rfc
                }
                axios.post('/cliente/cliente_filtro', {'cliente': cliente}).then((res) => {
                    EventBus.$emit("CLIENTE_FILTRO", res.data.cliente_filtroResult);
                }) 
            }
        },
    };
</script>
<style>
</style>