<template>
  <div id="cajas" class="card">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>
      <div class="card-body">     
  <vue-tabs>
    <v-tab title="Configuración Avanzada"> 
      <div class="row">
         <div class="col-md-6 col-md-offset-3">
          <form novalidate  @submit.prevent="GurdaConfiguracion">
          <h3>Configuración Avanzada</h3>
          <hr>
            <div class="row">
            <label>Empresa</label>
            <input type="text" v-model="sistema.empresa" class="form-control">
        </div> 
        <div class="row">
            <label>Nombre del Sistema</label>
            <input type="text" v-model="sistema.nombreSistema" class="form-control">
        </div>
         <div class="row">
            <label>Numero maximo de sucursales</label>
            <input type="number" v-model="sistema.sucursalesSistema" class="form-control">
        </div>
         <div class="row">
            <label>Numero maximo de usuarios</label>
            <input type="number" v-model="sistema.usuariosSistema" class="form-control">
        </div>
               
          </form>
          
             
          </div>
         

      </div>
         <hr>
         <div class="row text-right">
           <button class="btn btn-sm btn-success"><i class="bi bi-box-arrow-down"></i> Guardar</button>
         </div>
          

    </v-tab>
    <v-tab title="Personalizacion"> 
       
        <h3>Personalización</h3>
          <hr>
          <div class="row">
              <div class="col-md-4 col-md-offset-2 text-center">
                <h4>Logotipo Aplicación</h4>
                <div id="preview">
                   <img v-if="LogoAplicacion" :src="LogoAplicacion" width="100" height="100" />
                </div>   
              
                    <input type="file" name="image" @change="onFileChangeLogoAplicacion" /> 
             
                </div>
                 <div class="col-md-4 text-center">
                <h4>Logotipo Reportes</h4>
                <div id="preview">
                   <img v-if="LogoReportes" :src="LogoReportes" width="100" height="100" />
                </div>                 
                 <input type="file" name="image" @change="onFileChangeLogoReportes" />            
              

              </div>
              </div>

    </v-tab>
      <v-tab title="Facturación"> 
        <form novalidate   @submit.prevent="GurdaConfiguracion">
      <h3>Opciones en Facturación</h3>
      <hr>
      <div class="row text-center">
        <label>Activar Generación de Facturas</label>
        <div class="pretty p-svg p-curve">
                  <input type="checkbox" v-model="sistema.facturacion" />
                  <div class="state p-success">
                  <!-- svg path -->
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                  </svg>
                  <label></label>
                  </div>
                  </div> 
      </div>
       
     <br>
      <div class="row text-center">
        <label>Activar Envio de tickets por email</label>
        <div class="pretty p-svg p-curve">
                  <input type="checkbox" v-model="sistema.envioticket" />
                  <div class="state p-success">
                  <!-- svg path -->
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                  </svg>
                  <label></label>
                  </div>
                  </div> 
      </div>
       
      <br>
      <div class="row text-center">
        <label>Activar Venta a Credito</label>
        <div class="pretty p-svg p-curve">
                  <input type="checkbox" v-model="sistema.ventaCredito" />
                  <div class="state p-success">
                  <!-- svg path -->
                  <svg class="svg svg-icon" viewBox="0 0 20 20">
                    <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                  </svg>
                  <label></label>
                  </div>
                  </div> 
      </div>
      <hr>
      <div class="row text-right">
      <button class="btn  btn-primary">Guardar</button>
      </div>
        </form>
      </v-tab>
 <v-tab title="Correo Electrónico">       
   
         <h3>Correo Electrónico</h3>
      <hr>
      <div class="row">
        <div class="col-md-12">
            <label>Configuración de correo electrónico</label>
        </div>
        <div class="col-md-3">
          <label>Email</label>
          <input class="form-control" v-model="correo.email">
        </div>
        <div class="col-md-3">
          <label>Password</label>
          <input  type="password" class="form-control" v-model="correo.password">
        </div>
        <div class="col-md-2">
           <label>SMTP</label>
           <input class="form-control" v-model="correo.smtp">
        </div>
        <div class="col-md-2">
           <label>Puerto</label>
           <input class="form-control" v-model="correo.puerto">
        </div>
        <div class="col-md-2">
          <button @click="guardaCorreo"
          class="btn btn-success"><i class="bi bi-box-arrow-down"></i> Guardar</button>
        </div>
         
      </div>
      </v-tab>
      <v-tab title="Impresora de tickets">

          <div class="row text-center">
              
              <label class="radio-inline radio-styled radio-success">
														<input type="radio" v-model="sistema.ticket" checked="" value="58"><span>58 mm</span>
													</label>

                          <label class="radio-inline radio-styled radio-success">
														<input type="radio" checked="" v-model="sistema.ticket" value="80"><span>80 mm</span>
													</label>
          </div>
          <hr>
          <div class="row text-right">
            <button @click="GurdaConfiguracion"
          class="btn btn-success"><i class="bi bi-box-arrow-down"></i> Guardar</button>
          </div>
      </v-tab>
     <v-tab title="Notificaciones SMS Mensajes de Texto"> 
         
         <button class="btn btn-success" @click="envioSMSPrueba">Probar Servicio</button>
     </v-tab>
     <v-tab title="Notificaciones Email"> 
          <h3>Configura las alertas por email</h3>
          <hr>
          <div class="row">
              <div class="col-md-4 col-md-offset-4">
                 
           <label>Sucursal</label>
                <select class="form-control input-sm" v-model="sucursal"    @change="getUsuarios">
                   <option value=""> -- Selecciona  -- </option>
                  <option v-for="option in sucursales"  v-bind:value="option.id"  :key="option.id">{{option.nombre}}</option>
                </select> 

           
          </div>
          </div>
          <div class="row">

              <div class="col-md-4 col-md-offset-4">
          <label>usuarios</label>
                  <select class="form-control" v-model="cajero">
                   <option value="">--Todos--</option>
                  <option v-for="option in cajeros" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>

         </div>
               

          </div>
          
             <hr>
          <div class="row">
             <div class="col-md-4 col-md-offset-4">
                <h4>Reporte de ventas Diario</h4>
                <button class="btn btn-success btn-sm text-right" @click="addNotificacion(1)"><i class="bi bi-plus-lg"></i> Agregar</button>
               <table class="table table-bordered">
                 <thead>
                   <th>Usuario</th>
                   <th>Email</th>
                   <th>Opciones</th>
                 </thead>
                 <tbody>
                    <tr v-for="x in cortes" :key="x.id">
                      <td>{{x.nombre}}</td>
                      <td>{{x.email}}</td>
                      <td><button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button></td>
                   </tr>
                  </tbody>
               </table>
             </div>  
          </div>
           <hr>
          <div class="row">
              <div class="col-md-4 col-md-offset-4">
                 <h4>Reporte de Inventario</h4>
                 <button class="btn btn-success btn-sm text-right"  @click="addNotificacion(2)"><i class="bi bi-plus-lg"></i> Agregar</button>
                <table class="table table-bordered">
                 <thead>
                  
                   <th>Usuario</th>
                   <th>Email</th>
                   <th>Opciones</th>
                 </thead>
                 <tbody>
                     <tr v-for="x in inventarios" :key="x.id">
                        <td>{{x.nombre}}</td>
                      <td>{{x.email}}</td>
                      <td><button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button></td>
                   </tr>
                  </tbody>
               </table>
               
             </div>
          </div>
           <hr>
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
               <h4>Reporte de Bajas Existencias</h4>  
               <button class="btn btn-success btn-sm text-right"  @click="addNotificacion(3)" ><i class="bi bi-plus-lg"></i> Agregar</button>
               <table class="table table-bordered">
                 <thead>
                   <th>Usuario</th>
                   <th>Email</th>
                   <th>Opciones</th>
                 </thead>
                 <tbody>
                    <tr v-for="x in bajasexistecias" :key="x.id"> 
                      <td>{{x.nombre}}</td>
                      <td>{{x.email}}</td>
                      <td><button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button></td>
                   </tr>
                  </tbody>
               </table>          
             </div>
          </div>

       
     </v-tab>
    <!--    <v-tab title="Notificaciones SMS Mensajes de Texto"> 
         <div class="row">
            
           
           
            <div class="col-md-3">
               <label>To Number</label>
               <input type="text" class="form-control " v-model="to">
                  
               
            </div>
               <div class="col-md-3">
               <label>Mensaje</label>
               <input type="text" class="form-control " v-model="message">            
            </div>
             
             
            <div class="col-md-3">
              <br>
                <button class="btn btn-success" @click="envioSMSPrueba">Probar Servicio</button>
            </div>
         </div>
       
      </v-tab> -->


 </vue-tabs>
     
        </div>  
         
           
  </div>
</template>

<script>
import titleBar from '../../components/titleBar'
import { EventBus } from '../../../event-bus'
import axios from 'axios'
import global from '../../globals'
import Vue from 'vue'
export default {
  name: 'cajas',
  data () {
    return {     
      LogoAplicacion: null,
      LogoReportes: null,
      sistema:{
        empresa: '',
        nombreSistema: '',
        sucursalesSistema:0,
        usuariosSistema: 0,
        emailSistema:'',
        facturacion: false,
        envioticket:false,
        ventaCredito:false,
        ticket:'58'
      },
      to:'',
      message:'',
      correo:{
        sucursalId:0,
        email:'',
        smtp:'',
        puerto:'',
        password:''
      },
      cajero:'',
      sucursales:[],
      cajeros:[],
      cortes:[],
      inventarios:[],
      bajasexistecias:[],
      headers:{ headers: {'Content-Type': 'multipart/form-data'} },
      title: 'Configuración del Sistema',
      subtitle: 'Configuración',      
      actions: {
        editar: true
      }
    }
  },
  mounted () {       
   this.ObtenConfiguracion()
   this.getCorreo()
   this.getSucursales()
  },
  methods: {  
    addNotificacion(op){
      let cajero = this.cajeros.filter(x=> x.id == this.cajero)[0]
      console.log(cajero)
     if(op== 1){
       this.cortes.push(cajero)
     }
     if(op== 2){
       this.inventarios.push(cajero)
     }
     if(op== 3){
       this.bajasexistecias.push(cajero)
     }

    },    
    getUsuarios () {
      let vm = this
       let sucursal = (this.sucursal) ? this.sucursal:0
       axios.get('/usuario/GetUsuario?sucursalId='+sucursal +'&tipoUsuarioId=0&login=&email=&usuarioId='+Vue.localStorage.get('USER_ID')).then( (res) => {
       vm.cajeros = res.data.GetUsuarioResult
      })    
    },
     getSucursales() {
      axios.get("/Sucursal/GetSucursal?usuarioId="+ Vue.localStorage.get('USER_ID')).then(res => {
        this.sucursales = res.data.GetSucursalResult;
      });
     }, 
    onFileChangeLogoAplicacion(e) {
      const file = e.target.files[0];
      this.LogoAplicacion = URL.createObjectURL(file);

       let formData = new FormData();
       formData.append('image',file);
       formData.append('tipo',1);
       axios.post( global.URL_SERVICE + '/Archivo/saveLogoApp', formData,this.headers)
       .then(function(res){
          this.ObtenConfiguracion()
          console.log('SUCCESS!!');
        })
      
      
    },
    onFileChangeLogoReportes(e) {
      const file = e.target.files[0];
      this.LogoReportes = URL.createObjectURL(file);
       let formData = new FormData();
       formData.append('image',file);
        formData.append('tipo',2);

       axios.post(global.URL_SERVICE + '/Archivo/saveLogoApp', formData,this.headers)
       .then(function(){
          console.log('SUCCESS!!');
          this.ObtenConfiguracion()
        })
    },
    envioSMSPrueba(){
      let vm = this;
     axios.post('SistemaGeneral/EnvioSMS',{op:0,number_to:this.to,  number_from:'', message_body:this.message}).then(function(res){
        if(res.data.EnvioSMSResult.ErrorCode == 1){
           vm.$snotify.error(res.data.EnvioSMSResult.Message)
        }else{
           vm.$snotify.success('El SMS se ha enviado correctamente', '¡Correcto!')
        }
        
      });
    },
    ObtenConfiguracion(){
      let vm = this;
      axios.get('SistemaGeneral/GetSistemaGeneral').then(function(res){
         vm.sistema = res.data.GetSistemaGeneralResult;
         vm.LogoAplicacion = global.URL_IMAGE_LOGOS + res.data.GetSistemaGeneralResult.logoSistema
          vm.LogoReportes = global.URL_IMAGE_LOGOS + res.data.GetSistemaGeneralResult.logoReportes
      });
    },
    getCorreo(){
       let vm = this;
       axios.get('SistemaGeneral/GetCorreo').then(function(res){
        vm.correo.email= res.data.GetCorreoResult[0].email
        vm.correo.password= res.data.GetCorreoResult[0].password
        vm.correo.smtp= res.data.GetCorreoResult[0].smtp
        vm.correo.puerto= res.data.GetCorreoResult[0].puerto
      });
    },
    guardaCorreo(){
      let vm = this
       axios.post('SistemaGeneral/AddCorreo',{'correo':this.correo}).then(function(res){
         this.$snotify.success('El email se ha registrado correctamente', '¡Correcto!')
      });
    },
    GurdaConfiguracion(){
       this.$validator.validateAll().then(result => {
         console.log(this.sistema)
        axios.post('/SistemaGeneral/UpdateSistemaGeneral',{ 'sistema': this.sistema})
        .then((res)=> {
           this.$snotify.success('La configuración se ha registrado', '¡Correcto!')

        });

       });

    }
     
  },
  components: {
    titleBar       

    }

}
</script>

<style>
#preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

</style>
