<template>
  <div id="login">
  <!--   <div class="row">
      <div class="card login col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
        <div class="card-body text-center">
          <div class="col-md-10 col-md-offset-1 ">
            <form novalidate  @submit.prevent="login" >
               <img class="img" src="https://www.facturaticket.mx/wp-content/uploads/2017/08/PAPELERIA-TONY-FACTURACION-LOGO-V.png">
              <h4>Accesa al sistema de Ventas</h4>
               <input type="text" class="form-control input-lg" v-validate="'required'" placeholder="Usuario" name="usuario" v-model="usuario">
                <span v-show="errors.has('usuario')" class="invalid-feedback">{{ errors.first('usuario') }}</span>
               <input type="password" class="form-control input-lg" v-validate="'required'" placeholder="Contraseña" name="password" v-model="password">
                <span v-show="errors.has('password')" class="invalid-feedback">{{ errors.first('password') }}</span>
                <div class="row">
                    <button type="submit" class="btn btn-warning btn-lg ">Accesar</button>
               </div>
            </form>
          </div>
        </div>
      </div>
    </div> -->
       <div class="container" >  
            <div class="col-lg-4 col-md-3 col-sm-2"></div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="logo">
                  <img  src="../assets/undraw_Login_re_4vu2.svg" />
                </div>
                <div class="row loginbox">  
                   <form novalidate  @submit.prevent="login" >                  
                    <div class="col-lg-12">
                        <span class="singtext" >Acceso al sistema </span>   
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <input class="form-control" type="text" v-validate="'required'" name="usuario" v-model="usuario" placeholder="Por favor, ingresa tu nombre de usuario" > 
                       <span v-show="errors.has('usuario')" class="invalid-feedback">{{ errors.first('usuario') }}</span>
                    </div>
                    <div class="col-lg-12  col-md-12 col-sm-12">
                        <input class="form-control" type="password" v-validate="'required'"  name="password" v-model="password" placeholder="Por favor, ingresa tu contraseña" >
                    </div>
                    <div class="col-lg-12  col-md-12 col-sm-12">
                        <button type="submit" class="btn  submitButton">Ingresar </button> 
                   <span v-show="errors.has('password')" class="invalid-feedback">{{ errors.first('password') }}</span>
                    </div>                     
                   </form>
                </div>
                <div class="row forGotPassword">
                     
                </div>
                <br>                
                <br>
             

            </div>
            <div class="col-lg-4 col-md-3 col-sm-2"></div>
        </div>
</div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import global from '../globals'

export default {
  name: 'login',
  data () {
    return {
      usuario: '',
      password: ''
    }
  },
  created () {
    if (Vue.localStorage.get('ACCESS_TOKEN')) {
              this.$router.push('dashboard')
    }
  },
  methods: {
    login () {
      this.$validator.validateAll().then(result => {
        let vm = this;
        if (result) {
           let encoded = btoa(this.usuario + ":" + this.password)
           let data = { email: this.usuario, password: this.password }
           axios.post('/Usuario/GetAutentificaUsuario', data)
           .then((res) => {
             
             let user = res.data.GetAutentificaUsuarioResult[0]
             if (user){
                global.createSession(Vue, user)
              location.reload( )
             }else{
                this.$snotify.error('El usuario y contraseña  proporcionado no tiene acceso al sistema', '¡Atención!')
             }
             
             /* if (Vue.localStorage.get('ACCESS_TOKEN')) {
               vm.$router.push('dashboard')                  
             }      */       
           
           })      
        }
      })
    }  
  }
}
</script>
<style scoped>
.login{
  background-color: white;
  margin-top: 100px;
}

 /*bootstrap class override for login page only*/
            .form-control{
                border-radius: 0px;
                margin: 12px 3px;
                height: 40px;
            }
            .logo{
                margin: auto;
                text-align: center;
                padding-top: 20%;
            }
            .logo img{
                height: 120px;
            }
            /*footer*/ 
            .footer a{
                color: #000;
                text-decoration: none;
            }
            .footer{
                color: #000;
                text-align: center;
            }
            /*footer end*/ 


            /*for logintemplate blue*/
            .grayBody{
                background-color: #E9E9E9;
            }
            .loginbox{
                margin-top: 5%;
                border-top: 6px solid #312E57;
                background-color:#fff;
                padding: 20px;
                box-shadow: 0 10px 10px -2px rgba(0,0,0,0.12),0 -2px 10px -2px rgba(0,0,0,0.12);    
            }
            .singtext{    
                font-size: 28px;  
                color: #0088D8;
                font-weight: 500;
                letter-spacing: 1px;
            }
            .submitButton{
                background-color: #312E57;
                color: #fff;
                margin-top: 12px;
                margin-bottom: 10px;
                padding: 10px 0px;
                width: 100%;
                margin-left: 2px;
                font-size: 16px;
                border-radius: 0px;
                outline: none;
            }
            .submitButton:hover,.submitButton:focus{
                color: #fff;  
                outline: none;
            }
            .forGotPassword{
                background-color: #F2F2F2; 
                padding: 15px 0px;
                text-align: center;

            }
            .forGotPassword:hover{
                 box-shadow: 0 10px 10px -2px rgba(0,0,0,0.12);    
            }
            .forGotPassword a{
                color: #000;
                outline: none;
            }
            .forGotPassword a:hover, .forGotPassword a:active,.forGotPassword a:focus{  
                text-decoration: none; 
                outline: none;
            }
</style>
