<template>
<div id="busqueda-articulo-inventario">

  <div class="col-md-12 ">
    <div class="col-md-8 col-xs-12">
      <input type="text" 
      class="form-control" 
      v-model="upc"  
       v-on:keydown.enter.prevent="getArticulo"
      autocomplete="off" 
      placeholder="Escanea articulo o ingresa clave de articulo" 
     >
  </div>
  <div class="col-md-4 col-xs-12">
    <button class="btn btn-block btn-default" type="button" @click="buscar()"><i class="bi bi-search"></i> Buscar</button>
  </div>

  </div>
   <modal name="size-modal"
        transition="nice-modal-fade"
        classes="demo-modal-class"
        :min-width="200"
        :min-height="200"
        :pivot-y="0.5"
        :adaptive="true"
        :scrollable="true"
        :reset="true"
        width="50%"
        height="auto"
        @before-open="beforeOpen"
        @opened="opened"
        @closed="closed"
        @before-close="beforeClose">
        <div class="size-modal-content">
           <div slot="top-right"> x </div>
            <div class="col-md-12">
               <articulofiltro :vendedorId="vendedorId" :sucursalId="sucursalId" :tipo="tipo"/>
           </div> 
           <div class="col-md-12 table-responsive">
             <table class="table">
          <thead>
              <th>UPC</th>
              <th>NOMBRE</th>
              <th>CANTIDAD EN INVENTARIO</th>
              <th>OPCIONES</th>
          </thead>
          <tbody> 
              <tr v-for="s in articulos_busqueda" :key="s.id" >
                  <td>{{s.upc}}</td>
                  <td>{{s.nombre}}</td>
                  <td>{{s.cantidad}}</td>
                  <td><button type="button" class="btn btn-default btn-sm " @click="agregaItem(s);" >Agregar</button></td>
              </tr>

          </tbody>
      </table>

           </div>
           <div class="col-md-12">
             <button class="btn btn-block btn-default" type="button" @click="$modal.hide('size-modal');">Cerrar</button>
           </div>
          
           
        </div>
    </modal>

</div>

</template>
<script>

import { EventBus } from "../../event-bus"
import  articulofiltro  from '../components/filtros/articuloinventario.filtro'
import axios from 'axios'
import Vue from 'vue';



export default {
  name: "busqueda-articulo-inventario",
  template: "#busqueda-articulo-inventario",
  props: ["vendedorId","sucursalId","tipo"],
  data: function() {
    return {
      upc: '',
      token: Vue.localStorage.get('currentUserToken'),
      search : '',
      articulos_busqueda: [],   
       paragraphs: [true],
            timer: null
    };
  },
  mounted () {
     EventBus.$on("FILTRO_ARTICULOS_INVENTARIO", data => {
      this.articulos_busqueda = data
    });

  },
   beforeDestroy() {  
  
},
  methods: {  
     getArticulo() {
      axios.get('/Articulo/GetArticuloUPC?upc=' + this.upc).then((res) => {       
          if(res.data.GetArticuloUPCResult){
              EventBus.$emit('BUSQUEDA_UPC', res.data.GetArticuloUPCResult);
          }
          else{
           this.$snotify.error('No se encontró ningun artículo con la clave proporcionada', '¡Atención!')
          }          
          this.upc = '';   
      })
       
    },
    buscar(){
      this.$modal.show('size-modal')
    },   
    agregaItem (item) {
      EventBus.$emit('BUSQUEDA_UPC', item);
    }
   
  },
  components:{
    articulofiltro
  }
}
</script>

<style>

.tblbusqueda{
 
  max-height: 350px;
  overflow-y: scroll;
}
.btns1{
  min-width:150px;
  background:#E91E63;
  color: white;
}
.btns1:hover {  
  background:#ca235c;
}
#busquedaupc {
  padding: 15px;
  display: flex;
  align-items:center;
  flex-direction: row;
  justify-content:center;
}
.size-modal-content {
    padding: 10px;
    font-style: 13px;
}

.v--modal-overlay[data-modal="size-modal"] {
    background: rgba(0, 0, 0, 0.5);
}

.demo-modal-class {
    border-radius: 5px;
    background: #F7F7F7;
    box-shadow: 5px 5px 30px 0px rgba(46,61,73, 0.6);
}
</style>
