<template>
<div id="articulobusqueda">      
           <basic-select :options="options"
                v-model="upc"   
                focus              
                :selected-option="item"
                id="searchDescription"  
                placeholder="...... Escanea o busca artículo ....."
                @select="onSelect">
      </basic-select>
    </div>      
</div>
</template>

<script>
import Vue from 'vue';
//import { EventBus } from "../event-bus";
import { BasicSelect } from 'vue-search-select';
Vue.directive('focus', {
    inserted: function (el) {
        el.focus();
    },
    update: function (el) {
        Vue.nextTick(function() {
              el.focus();
        })
    }
})

export default {
  name: 'articulobusqueda',
  template: '#articulobusqueda',
  props: [''],
  data: function() {
    return {
      options: [],
      searchText: '',
      upc: '',
      token: Vue.localStorage.get('ACCESS_TOKEN'),
      item: {
        value: '',
        text: ''
      },
      filters: {
        upc: '',
        nombre: '',
        departamentoId: 0
      }
    };
  },
  mounted: function() {   
    this.getArticulos();
  },
  methods: {
    onSelect(item) {
      this.item = item;
      EventBus.$emit("elige_articulo", item.articulo);
      this.item = {}; 
    },
    getArticulos() {
    let vm=this;      
     let articulos=http.post('/Articulo/GetArticulo?upc=&nombre=&departamentoId=0',this.filters)
     .then((res)=> {
       console.log(res)
       let items= res.data.GetArticuloResult
       items.forEach((item) => {

          vm.options.push({
          value: item.upc,
          text: item.upc + " | " + item.nombre,
          articulo: item
          })

       })
       
     })
    }
  },
  components: {
    BasicSelect
  }
};
</script>

<style>
#app {
  text-align: left;
}
</style>
