<template>
<div id="busquedaavanzada">      
   <button class="btn btn-success" @click="close"
   type="button"
    style="position:fixed; bottom:50px; right:90px;z-index:1000">Agregar({{seleccion.length}} articulos)</button>

    <button class="btn btn-default" @click="closeall"
   type="button"
    style="position:fixed; bottom:50px; right:10px;z-index:1000"><i class="fa fa-close"></i>Salir</button>
       <div class="row">
       
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3">

              </div>

            </div>
 <div class="col-sm-3 text-center " v-for="s in articulos_busqueda" :key="s.id" >
     <div class="card card-price"  >
    <div class="card-img">
      <a href="#">
        <img width="150" height="100" :src="url_articulo + s.imagenPrincipal" >
        <div class="card-caption">
          <h4>{{s.nombre}}</h4>
          <p>{{s.precioLista | currency}}</p>
        </div>
      </a>
    </div>
    <div class="card-body">   
      <button v-if="!s.exists" href="#" class="btn btn-default buy-now" @click="add(s)">
        Agregar <i class="bi bi-plus-lg"></i>
      </button>
     <button v-if="s.exists" class="btn btn-success"> <i  class="fa fa-check"></i></button> 
    </div>
  </div>
</div>
            
            
</div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios'
import { EventBus } from "../../event-bus"
import global from '../globals'
import  articulofiltro  from '../components/filtros/articulo.filtro'
export default {
  name: 'busquedaavanzada',
  template: '#busquedaavanzada',
  props: ['ventaId'],
  data: function() {
    return {
        url_articulo:global.URL_DOCUMENTOS_ARTICULOS,
        articulos_busqueda:[],
        seleccion:[]
    }
    
  },
  mounted () {
    this.getArticulos()
  },
  methods: {
    getArticulos () {     
      axios.get(`/Articulo/GetArticulo?upc=&nombre=&departamentoId=0&categoriaId=0`).then((res) => {
        this.articulos_busqueda= res.data.GetArticuloResult
        this.articulos_busqueda.forEach(i=>{
        i.exists= false
        const Exists = this.seleccion.some(articulo => articulo.id === i.id);
        if (Exists){
          i.exists = true;        
        }
      })
      })
    },
    add(s){
    s.articuloId=s.id
     s.ventaId = this.ventaId;
     s.precio =0;
     s.cantidad=0;
     s.unidadId=0;
     this.seleccion.push(s)  
     this.getArticulos()   
    },
    close(){
      let vm=this;
     
      axios.post('/Venta/AgregaItemVentaLista',{'articulos': this.seleccion,opo:0}).then((res) => {
           this.$emit('closePanel', {});
           
      })
      
   
   },
    closeall(){
      let vm=this;    
      this.$emit('closePanel', {});   
   }
  },
  

  components: {
    articulofiltro
  }
};
</script>

<style>
#app {
  text-align: left;
}
</style>
