<template>
  <div id="ventasfooter">
      <div class="ventas-footer">
      </div>
</div>
</template>

<script>
export default {
  name: 'ventasfooter',
  data () {
    return {
    }
  },
  mounted () {
  },
  methods: {
  }
}
</script>

<style>
.ventas-footer{
    width:auto;
    height:80px;
    border: 1px solid red;
    background: red;
}
</style>
