<template>
  <div class="menuVenta">
      <div class="brand">
          <img class="img" src="https://lyccomercioluiscar.files.wordpress.com/2013/12/bic-logo.jpg">
      </div>
    <div class="menu-container">
     <ul>
          <li class="menu-principal"><i class="fas fa-book-open"></i> Catálogos </li>
          <li class="menu-child"><router-link to="/catalogo/sucursal"> <i class="icon fas fa-building"></i> Sucursales</router-link></li>
          <li class="menu-child"><router-link to="/catalogo/proveedor"> <i class="icon fas fa-id-badge"></i> Proveedores</router-link></li>
          <li class="menu-child"><router-link to="/cliente"> <i class="icon fas fa-id-badge"></i> Clientes</router-link></li>
          <li class="menu-child"><router-link to="/catalogo/banco"> <i class="icon fas fa-university"></i> Bancos</router-link></li>
          <li class="menu-child"><router-link to="/catalogo/motivo"> <i class="icon fas fa-ban"></i> Motivos</router-link></li>          
          <li class="menu-child"><router-link to="/catalogo/departamento"> <i class="icon fas fa-print"></i> Departamento</router-link> </li>
          <li class="menu-child"><router-link to="/catalogo/categoria"> <i class="icon fas fa-print"></i>Categorias</router-link> </li>
          <li class="menu-child"><router-link to="/catalogo/articulo"> <i class="icon fas fa-print"></i>  Articulos</router-link> </li>
          <li class="menu-principal"><i class="fas fa-money-check-alt"></i> Procesos</li>
          <li class="menu-child"><router-link to="/recepcion"> Recepción de Mercancia</router-link></li>
           <li class="menu-principal"><i class="fas fa-money-check-alt"></i> Reportes</li>
            <li class="menu-child"><router-link to="/reporteinventario">Inventario Sucursal</router-link></li>
            <li class="menu-child"><router-link to="/reportemovimientoarticulo">Movimientos Artículos</router-link></li>
           <li class="menu-child"><router-link to="/reportecortes"> Cortes de ventas</router-link></li>
           <li class="menu-child"><router-link to="/reporteventa"> Ventas por Clasificación</router-link></li>           
           <li class="menu-child"><router-link to="/reportesalidaefectivo">Reporte Salida Efectivo</router-link></li>
           <li class="menu-child"><router-link to="/reporteentregaparcial">Reporte Entrega Parcial</router-link></li>
          <li class="menu-principal"><i class="fas fa-money-check-alt"></i> ventas</li>          
            <li class="menu-child"><router-link to="/ventas"> Ventas(tickets)</router-link></li>
            <li class="menu-child"><router-link to="/entregaparcial"> Entrega Parcial</router-link></li>
            <li class="menu-child"><router-link to="/salidaefectivo"> Salida de Efectivo</router-link></li>
            <li class="menu-child"><router-link to="/cierreventa"> Cierre de Venta</router-link></li>
            <li class="menu-child"><router-link to="/devoluciones"> Devoluciones y Cambios</router-link></li>
          <li class="menu-principal"><i class="fas fa-cog"></i> Configuración</li>
          <li class="menu-child"><router-link to="/usuario"> <i class=" icon fas fa-id-card"></i> Usuarios</router-link></li>
      </ul>
     </div>
  </div>
</template>
<script>
export default {
   name: 'menuVenta'
}
</script>
<style>


.menuVenta{     
    bottom: -100px;
    width: 220px;
    padding: 15px;
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color:white ;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
 
}
.menu-container{
    overflow-y: scroll;
    max-height: 1000px;
}
.menuVenta ul{     
    list-style: none;
    margin-left: -30px;
    overflow-y: scroll;
    height: 500px;
    overflow-x: hidden;
}
.router-link-active{
  font-weight: bolder; 
}

.brand{
    height: 70px;
    border-bottom: 1px solid  #e4e4e4;
    text-align: center;
}

.brand img{
    
    height: 50px;
    max-width: 200px;
}
.menu-principal{
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
    color: rgba(0,0,0,.654);
    padding: 10px;
    margin-bottom: 10px;    
}
.menu-child{     
    list-style: none;
     cursor: pointer;
    color: rgba(0,0,0,.654);
     font-size: 14px;
     margin-left: 10px;
    margin-bottom: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
}

.menu-child .icon{
     font-size: 16px;
     margin-right: 8px;
}

.menu-child a {
    display: block;
    width: 100%;
    color: rgba(0,0,0,.654);
    text-decoration: none;
}
.menuVenta li:hover {
   background-color: #dde2e6;
}

.menuVenta li:hover .icon {
   color:black;
}

.menuVenta li:hover a {
   background-color: #dde2e6;
   color:black;
   
}

</style>


