<template>
  <div id="opcionesVenta">        
        <div class="col-md-12 col-xs-12 text-center">
           <!--  <div class="col-md-6 col-xs-12">

                 <img width="200" height="300" src="../assets/undraw_add_to_cart_vkjp.svg" />
            </div> -->
            <div class="col-md-6 col-xs-12">
             <h4><b>¿Que deseas realizar?</b></h4>
            <button class="btn btn-success btn-block" @click="iniciaVenta()"><i class="fa fa-credit-card"></i> Venta Contado</button>
            <button class="btn btn-success btn-block" @click="iniciaVentaCredito()"><i class="fa fa-credit-card"></i> Venta Crédito</button>
            <button class="btn btn-default btn-block" @click="logout()"><i class="fa fa-hand-holding-usd"></i> Cerrar Sesión</button>

            </div>
           
            
        </div>
</div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import global from '../globals'
import { EventBus } from '../../event-bus'


export default {
  name: 'opcionesVenta',
  data () {
    return {
         sucursal: 0,
         sucursales: [],
         USER_ID: Vue.localStorage.get('USER_ID'),
         showSucursal: true    
    }
  },
  mounted () {  
  },
  methods: {
      iniciaVenta () {           
          EventBus.$emit('INICIA_VENTA')          
      },      
     iniciaVentaCredito(){
         EventBus.$emit('INICIA_VENTA_CREDITO')   
     },
      logout(){          
         global.ClearSession(Vue)
         location.reload()        
      }
  },
  components:{      
            
  }
}
</script>

<style>
.ov-btn{
    width: 250px;
    height: 70px;
    font-size: 24px;
    margin-top: 15px;
}
.ov-container{
    display: flex;
    width: auto;
    height: -webkit-fill-available;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #001417;
    padding: 20px;
}
.ov-title{
    font-size: 25px;
    margin: 20px;
    color: white;
    text-align: center;
}
.v--modal-overlay{
    background: rgba(0, 0, 0, 0.58);
}
</style>