<template>
  <div class="pagoVenta" >    
      <div class="row">
        
       <h4 class="text-center text-info"><b>Total A Pagar: </b></h4>
       <h1 class="text-center">{{total | currency}}</h1>
      </div>
      <div class="col-md-12">
    <vue-tabs v-if="tipoVenta == 1">
    <v-tab title="Efectivo">
        <div class="col-md-12">
           <div class="col-md-4">
               <label class="labelpago"><b>Efectivo:</b></label>
           </div>
           <div class="col-md-8">
               <money v-model="efectivo" id="txtefectivo" class="form-control"  v-on:keyup.native="calculaCambio()" v-bind="money"></money>
                
           </div>
       </div>
    </v-tab>

    <v-tab title="Tarjetas">
        <div class="col-md-12 col-sm-12">
           <br>
           <div class="col-md-4 col-sm-6">
               <label class="labelpago"><b>Tipo Tarjeta:</b></label>
           </div>
           <div class="col-md-8 col-sm-6">
               <select v-model="tipoTarjeta" class="form-control " >
                   <option value="">Selecciona</option>
                    <option value="C">CREDITO</option>
                    <option value="D">DEBITO</option>
                    <option value="V">VALES DESPENSA</option>              
              </select>                
           </div>
       </div>
       <div class="col-md-12 col-sm-12">          
           <div class="col-md-4 col-sm-6">
               <label class="labelpago"><b>Tarjeta:</b></label>
           </div>
           <div class="col-md-8 col-sm-6">
               <money v-model="tarjeta" v-on:keyup.native="calculaCambio()" class="form-control " v-bind="money"></money>                
           </div>
       </div>

       <div class="col-md-12 col-sm-12">          
           <div class="col-md-4 col-sm-6">
               <label class="labelpago" ><b>Banco:</b></label>
           </div>
           <div class="col-md-8 col-sm-6">
                <select class="form-control " v-model="banco" v-validate="'required'" name="banco" :class="(errors.has('banco')) ? 'is-invalid':'is-valid'">
                   <option value="">Selecciona</option>
                  <option v-for="option in bancos" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
           </div>
      </div>
      <div class="col-md-12 col-sm-12">      
           <div class="col-md-4 col-sm-6">
               <label class="labelpago"><b>Referencia:</b></label>
           </div>
           <div class="col-md-8 col-sm-6">
               <input type="number" v-model="tarjetaReferencia" class="form-control " >
           </div>
      </div>
       <div class="col-md-12 col-sm-12">       
           <div class="col-md-4 col-sm-6">
               <label class="labelpago"><b>Autorización:</b></label>
           </div>
           <div class="col-md-8 col-sm-6">
               <input type="number" v-model.number="tarjetaAutorizacion" class="form-control " >
           </div>
      </div>
    </v-tab>
    <v-tab title="Transferencia">
        <div class="col-md-12 col-sm-12">      
           <div class="col-md-4 col-sm-6">
               <label class="labelpago"><b>Referencia:</b></label>
           </div>
           <div class="col-md-8 col-sm-6">
               <input type="number" v-model="ReferenciaTrans" class="form-control " >
           </div>
      </div>
       <div class="col-md-12 col-sm-12">          
           <div class="col-md-4 col-sm-6">
               <label class="labelpago"><b>Monto:</b></label>
           </div>
           <div class="col-md-8 col-sm-6">
               <money v-model="transferencia" v-on:keyup.native="calculaCambio()" class="form-control " v-bind="money"></money>                
           </div>
       </div>

       <div class="col-md-12 col-sm-12">          
           <div class="col-md-4 col-sm-6">
               <label class="labelpago" ><b>Banco:</b></label>
           </div>
           <div class="col-md-8 col-sm-6">
                <select class="form-control " v-model="bancoTrans" v-validate="'required'" name="banco" :class="(errors.has('banco')) ? 'is-invalid':'is-valid'">
                   <option value="">Selecciona</option>
                  <option v-for="option in bancos" :key="option.id" v-bind:value="option.id" >{{option.nombre}}</option>
                </select>
           </div>
      </div>
      
       <div class="col-md-12 col-sm-12">       
           <div class="col-md-4 col-sm-6">
               <label class="labelpago"><b>Autorización:</b></label>
           </div>
           <div class="col-md-8 col-sm-6">
               <input type="number" v-model="AutorizacionTrans" class="form-control " >
           </div>
      </div>

    </v-tab>
</vue-tabs>
      </div>  
       
      <div class="col-md-12 col-sm-12" v-if="tipoVenta == 1">
           <br>
           <div class="col-md-8 col-sm-6">
               <label class="labelpago"><b>Cambio:</b></label>
           </div>
           <div class="col-md-4 col-sm-6" >
                <label class="labelpago"  >{{cambio | currency}}</label>             
           </div>
      </div>
       <div class="col-md-12 col-sm-12" v-if="tipoVenta == 1">        
           <div class="col-md-8 col-sm-6" >
               <label class="labelpago"><b>Total Pagado:</b></label>
           </div>
           <div class="col-md-4 col-sm-6">
                <label class="labelpago"  >{{cobro | currency}}</label>             
           </div>
      </div>
      <div class="col-md-12 col-sm-12" v-if="tipoVenta == 1">
           
           <div class="col-md-8 col-sm-6">
               <label class="labelpago"><b>Restante:</b></label>
           </div>
           <div class="col-md-4 col-sm-6">
                <label class="labelpago"  >{{restante | currency}}</label>             
           </div>
      </div>
    <div class="row">  
       <div class="col-md-5 col-sm-6" v-if="tipoVenta == 1">
          <button class="btn btn-success btn-block" :disabled="cobro<total" @click="terminarVenta()">Pagar Venta</button>
       </div>
       <div class="col-md-5 col-sm-6"  v-if="tipoVenta == 2">
          <button class="btn btn-success btn-block"  @click="terminarVenta()">Venta A Crédito</button>
       </div>
       <div class="col-md-5 col-sm-6" >          
           <button class="btn btn-default btn-block" @click="$modal.hide('modal-pago')">Salir</button>
       </div>
   
     </div>

  </div>
</template>
<script>
import { EventBus } from "../../event-bus";
import { Money } from "v-money";
import axios from "axios";
export default {
  name: "tablecomponent",
  template: "#table-component",
  props: ["ventaId", "IDCliente","tipoVenta","vendedorId","comision","descuento"],
  data: function() {
    return {
      tarjeta: 0,
      efectivo: 0,
      banco: '',
      tarjetaReferencia: 0,
      tarjetaAutorizacion: 0,
      cambio: 0,
      pagado: 0,
      restante: 0,
      cobro: 0,     
      ReferenciaTrans: 0,
      transferencia: 0,
      bancoTrans: '',
      AutorizacionTrans: 0,
      bancos: [],
      tipoTarjeta:'',
      total: 0,
      money: {
        decimal: ".",
        thousands: ",",
        prefix: "$ ",
        suffix: "",
        precision: 2,
        masked: false /* doesn't work with directive */
      }
    };
  },
  mounted() {
    console.log('descuento',this.descuento)
    document.getElementById("txtefectivo").focus();
    let vm = this;
    let params = {
      ventaId: this.ventaId
    };
    //vm.descuento = 
    axios.post("/Venta/GetVentaTotal", params).then(res => {
      vm.total = res.data.GetVentaTotalResult;
      vm.total = vm.total 
      console.log('total=====>',vm.total)
      this.getBanco();
    });
  },
  methods: {
    getBanco() {
      axios.get("/Banco/GetBanco").then(res => {
        this.bancos = res.data.GetBancoResult;
      });
    },
    calculaCambio() {
      this.cambio = 0;
      if (!this.efectivo) {
        this.efectivo = 0;
      }
      if (!this.tarjeta) {
        this.tarjeta = 0;
      }
      if (!this.transferencia) {
        this.transferencia = 0;
      }
      this.cobro = this.efectivo + this.tarjeta + this.transferencia;

      if (this.cobro - this.total < 0) {
        this.cambio = 0;
      } else {
        this.cambio = this.cobro - this.total;
      }
      if (this.total <= this.cobro) {
        this.restante = 0;
      }
      if (this.total > this.cobro) {
        this.restante = this.total - this.cobro;
      }
    },
    terminarVenta() {
      if(this.tipoVenta == 2 && this.IDCliente == 0){
        this.$snotify.error(
            "Venta a credito necesita asignar un cliente",
            "¡Error!"
          );
        return
      }

      if (this.tipoVenta == 1){
            if (this.transferencia > 0) {
        if (this.ReferenciaTrans.toString().length == 0) {
          this.$snotify.error(
            "Ingresa la referencia de la transferencia",
            "¡Error!"
          );
          return;
        }
        if (!this.bancoTrans) {
          this.$snotify.error(
            "Ingresa el banco que se realizó la transferencia",
            "¡Error!"
          );
          return;
        }
        if (this.AutorizacionTrans.toString().length < 4) {
          this.$snotify.error(
            "Ingresa el número de autorización de la transferencia al menos 4 digitos",
            "¡Error!"
          );
          return;
        }
      }
      if (this.tarjeta > 0) {
        if (this.tarjetaReferencia.toString().length < 4) {
          this.$snotify.error(
            "Ingresa los ultimos 4 digitos de la tarjeta ",
            "¡Error!"
          );
          return;
        }
        if (this.tarjetaReferencia.toString().length > 4) {
          this.$snotify.error(
            "Ingresa solo los ultimos 4 digitos de la tarjeta ",
            "¡Error!"
          );
          return;
        }
        if (!this.banco) {
          this.$snotify.error("Selecciona Banco de la Tarjeta", "¡Error!");
          return;
        }
        if (!this.tipoTarjeta) {
          this.$snotify.error("Selecciona Tipo de Tarjeta", "¡Error!");
          return;
        }
      }

      let params = {
        venta: {
          id: this.ventaId,
          metodoPagoId: 1,
          clienteId: this.IDCliente,
          descuento: this.descuento ? this.descuento:0,
          bancoId: (this.banco)?this.banco:0,
          tarjetaReferencia: (this.tarjetaReferencia)?this.tarjetaReferencia:0,
          cambio: this.cambio,
          pagoEfectivo: this.efectivo,
          pagoTarjeta: this.tarjeta,
          tipoTarjeta: this.tipoTarjeta ? this.tipoTarjeta : 0,
          pagoTransferencia: (this.transferencia)?this.transferencia:0,
          bancoTrans: this.bancoTrans ? this.bancoTrans : 0,
          ReferenciaTrans: this.ReferenciaTrans,
          AutorizacionTrans: this.AutorizacionTrans,
          tarjetaAutorizacion: (this.tarjetaAutorizacion)? this.tarjetaAutorizacion:0,
          tipoVenta:this.tipoVenta,
          vendedorId: this.vendedorId ? this.vendedorId:0,
          comision: this.comision ? this.comision: 0
        }
      };
      console.log(params);
      axios.post("/Venta/GetVentaTerminar", params).then(res => {
        EventBus.$emit("TERMINA_VENTA", {
          cambio: this.cambio,
          ventaId: res.data.GetVentaTerminarResult
        });
      });

      }else{


           let params = {
        venta: {
          id: this.ventaId,
          metodoPagoId: 1,
          clienteId: this.IDCliente,
          descuento: this.descuento ? this.descuento:0,
          bancoId: 0,
          tarjetaReferencia: 0,
          cambio:0,
          pagoEfectivo: 0,
          pagoTarjeta: 0,
          tipoTarjeta:  0,
          pagoTransferencia: 0,
          bancoTrans:  0,
          ReferenciaTrans: 0,
          AutorizacionTrans: 0,
          tarjetaAutorizacion: 0,
          tipoVenta:this.tipoVenta,
          vendedorId: this.vendedorId ? this.vendedorId:0,
          comision: this.comision ? this.comision: 0
        }
      };
      console.log(params);
      axios.post("/Venta/GetVentaTerminar", params).then(res => {
        EventBus.$emit("TERMINA_VENTA", {
          cambio: this.cambio,
          ventaId: res.data.GetVentaTerminarResult
        });
      });


      }

    
    }
  },
  components: {
    Money
  }
};
</script>
<style>
.labelpago {
  font-size: 14px;
}
.pv-btn {
  font-size: 16px;
  width: 150px !important;
  height: 50px;
}
.pagoVenta{
    padding: 20px;
    background: white;
}
</style>
