<template>
<div id="table-component">
  <div class="row">
   <div class="col-md-2">
        <label class="text-muted">{{searchLabel}}</label>
    </div>    
    <div v-if="actions.filter" class="col-md-3">       
        <input type="text" class="form-control input-sm" placeholder="Buscar .." v-model="searchString"  v-on:keyup="filterdata()" >
    </div>
    
</div>
<div class="row">
 <table class="table table-responsive">
      <thead>
        <th class="text-left" v-for="head in headers" :key="head" >{{head}} </th>
        <th class="text-left" v-show="(actions.editar)?true:false">Editar</th>
        <th class="text-left" v-show="(actions.eliminar)?true:false">Eliminar</th>
        <th class="text-left" v-show="(actions.detalle)?true:false">Detalle</th>
        <th class="text-left" v-show="(actions.descargar)?true:false">Descargar</th>
        <th class="text-left" v-show="(actions.recibir)?true:false">Recibir</th>
        <th class="text-left" v-show="(actions.cancelar)?true:false">Cancelar</th>
        <th class="text-left" v-show="(actions.imprimir)?true:false">Imprimir</th>
        <th class="text-left" v-show="(actions.facturar)?true:false">Facturar</th>
      </thead>
      <tbody>
         <tr v-for="item in data" :key="item" @click="selectedRow(item)" >
            <td class="text-left" v-for="prop in item" :key="prop">{{prop}}</td>
            <td class="text-left" v-show="(actions.editar )? true:false"><button type="button" @click="editar(item)" class="btn btn-warning btn-sm"><i class="bi bi-pencil"></i> Editar</button></td>
            <td class="text-left" v-show="(actions.eliminar  )?true:false"><button type="button" @click="eliminar(item)" class="btn btn-danger btn-sm"><i class="bi bi-trash-alt"></i> Eliminar</button></td>
            <td class="text-left" v-show="(actions.detalle)?true:false"><button type="button" @click="detalle(item)" class="btn btn-light btn-sm"><i class="bi bi-eye"></i></button></td>
            <td class="text-left" v-show="(actions.descargar)?true:false"><button type="button" @click="descargar(item)" class="btn btn-secondary btn-sm"> <i class="fas fa-download"></i> </button></td>
            <td class="text-left" v-show="(actions.recibir)?true:false"><button type="button" @click="recibir(item)" class="btn btn-success btn-sm"> <i class="fa fa-box"></i> Recibir </button></td>
            <td class="text-left" v-show="(actions.cancelar)?true:false"><button type="button" @click="cancelar(item)" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Cancelar</button></td>
            <td class="text-left" v-show="(actions.imprimir)?true:false"><button type="button" @click="imprimir(item)" class="btn btn-default btn-sm"><i class="bi bi-printer"></i> Imprimir</button></td>    
            <td class="text-left" v-show="(actions.facturar)?true:false"><button type="button" @click="facturar(item)" class="btn btn-info btn-sm"> Facturar</button></td>            
         </tr>
      </tbody>
  </table>
</div>
<div class="row ">
 <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item "  :class="{ 'disabled':(currentPage==1)}">
      <a class="page-link" href="#" tabindex="-1"   @click="previous()"   >Anterior</a>
    </li>
     <li class="page-item" :key="value" v-for="value in totalPages" :class="{ 'active':(currentPage==value)}">
        <a class="page-link"  href="#" @click="paginate(value)" >{{value}}</a>
    </li>
    <li class="page-item" :class="{ 'disabled':(currentPage==totalPages)}" >
      <a class="page-link" href="#"  @click="next()">Siguiente</a>
    </li>
  </ul>
</nav>
</div>
</div>
</template>
<script>
import { EventBus } from '../../event-bus'
const paginate = require('paginate-array')
export default {
  name: 'tablecomponent',
  template: '#table-component',
  props: ['tabledata', 'headers', 'actions','searchLabel', 'filterOptions'],
  data: function () {
    return {
      totalPages: 0,
      total: 0,
      currentPage: 0,
      data: [],
       searchString: ""
    }
  },
  watch: {
    tabledata: function (value) {
      this.obtenDatos(value)
    }
  },
  mounted () {},
  methods: {
     filterdata() {
      let vm = this
      console.log(this.filterOptions)
      vm.data = this.datosTabla.filter((item) => item[vm.filterOptions].toLowerCase().includes(this.searchString.toLowerCase()) );     
    },
    obtenDatos (value) {
      this.datosTabla = value
      this.paginate(1)
    },
    paginate: function (PageNumber) {
      const paginateCollection = paginate(this.datosTabla, PageNumber, 15)
      console.log('paginateCollection',paginateCollection)
      this.totalPages = paginateCollection.totalPages
       console.log('totalPages', this.totalPages)
      this.total = paginateCollection.total
      console.log('total',this.total)
      this.currentPage = paginateCollection.currentPage
      console.log('currentPage',this.currentPage)
      this.data = paginateCollection.data     
      
    },
    next () {
      this.paginate(this.currentPage + 1)
    },
    previous () {
      this.paginate(this.currentPage - 1)
    },
    editar (item) {
      console.log('editar',item)
      EventBus.$emit('editar', item)
    },
    eliminar (item) {
      EventBus.$emit('eliminar', item)
    },
    detalle (item) {
      EventBus.$emit('detalle', item)
    },
    descargar (item) {
      EventBus.$emit('descargar', item)
    },
    recibir (item) {
      EventBus.$emit('recibir', item)
    },
    cancelar (item) {
      EventBus.$emit('cancelar', item)
    },
    imprimir (item) {
      EventBus.$emit('imprimir', item)
    },
    facturar (item) {
      EventBus.$emit('emite_factura', item)
    },
    selectedRow (item) {
      EventBus.$emit('selectrow', item)
    }
  }
}
</script>

<style>
#app {
  text-align: left;
}
.table td,
.table th {
   padding:1rem;
    font-size: 14px;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
}
</style>
