<template>
  <div id="titleBar" >
      <div class="title-container gradient-border" @click="$modal.show('modal-usuario')">
       <div class="info">
            <h6 class="subtitle"><a>{{subtitle}}</a></h6>
            <span class="separador">|</span>
            <h5 class="title">{{title}}</h5>
       </div>

       <div class="info2">
            <h6 class="subtitle"><a>{{USER_NAME}}</a></h6>          
            <avatar :username="this.USER_NAME" :lighten="100" :size="50" ></avatar>
       </div>
      
          <!-- <div class="avatar">
           <img class="img" data-target="modal-usuario" @click="$modal.show('modal-usuario')" src="https://i.pinimg.com/originals/3b/7d/6f/3b7d6f60e2d450b899c322266fc6edfd.png" >
       </div> -->
      </div>
 <modal name="modal-usuario" :width="300" :height="380" :clickToClose="true">
    <userinfo ></userinfo>
</modal>
     
</div>
</template>
<script>
import userinfo from '../components/userInfo'
import Vue from 'vue'
import Avatar from 'vue-avatar'
export default {
  name: 'titleBar',
  props: ['title', 'subtitle'],
  data () {
    return {
        USER_NAME:''
    }
  },
  mounted () {
      this.USER_NAME = Vue.localStorage.get('USER_NAME')
  },
  methods: {
  },
  components: {
    userinfo,
    Avatar
  }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
#titleBar{
    display: flex;
    justify-content:flex-end;
}
.title-container{
   padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    height: 70px;
    background: #333966;
    border: 1px solid #e6e6e6;
    border-bottom: 5px solid #c3c3c3;
    overflow: hidden;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.info2{
    display: flex;
    align-items:center;
    justify-content: flex-start;
}

.title-container:hover{
    border-bottom: 5px solid #8bc52c;
}
.subtitle{
    margin-right: 10px;
}
.subtitle a{
    color: white;
    font-size: 1.5rem;
    margin-left: 50px;
    cursor: pointer;
}
.title{
    color: white;
    font-size: 2rem;
    animation-name:animaciontitulo;
    animation-duration: 0.5s;
    animation-timing-function:ease-in;
}
.separador{
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bolder;
     font-size: 2rem;
}

@keyframes animaciontitulo {
       0%{
            left:-100px;
            opacity: 0;
        }
        25%{
            left:-50px;
            opacity: 0;
        }
        50%{
            left:-25px;
            opacity: 0;
        }
        75%{
            left:-10px;
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
}

</style>
