<template>
<div id="userInfo" class="col-md-12 ">

           
      
     <div class="col-md-12 text-center"  style="margin-top:50px">
      <avatar :username="this.USER_NAME" :size="100" style="display:inline-block"></avatar>
       <h2><b>Usuario: </b>{{USER_NAME}}</h2> 
       <h4><b>Email: </b> {{USER_EMAIL}}</h4> 
     </div>    
    <div class="col-md-12 text-center">
         <button style="margin-top:20px" class="btn btn-sm btn-danger" @click="logout"><i class="fa fa-sign-out-alt"></i> Cerrar Sesión</button>    
    </div>
   

    
</div>
</template>

<script>
import Vue from 'vue'
import global from '../globals'
import Avatar from 'vue-avatar'
export default {
  name: 'userInfo',
  props: ['userId'],
  data () {
    return {
        USER_NAME:'',
        USER_EMAIL: '',
       }
  },
  mounted () {
    this.USER_NAME = Vue.localStorage.get('USER_NAME')
    this.USER_EMAIL= Vue.localStorage.get('USER_EMAIL')  
  },
  methods: {
    logout () {
        global.ClearSession(Vue)
        location.reload()
    }
  },
  components: {
     Avatar
  }
}
</script>
