<template>
  <div id="app">
    <router-view/>
    <BlockUI :message="'Espere..'" v-if="block" ></BlockUI>
    <vue-snotify></vue-snotify>
    <vue-progress-bar></vue-progress-bar>
    <slideout-panel></slideout-panel>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'App',
  data () {
    return {
      block: false
    }
  },
  created () {
   let vm = this
  
    axios.interceptors.request.use(function (config) {
      vm.block = true
      vm.$Progress.start()
      return config
    },
    function (error) {
      
      let message = ''
      if (error.response) {
        message = error.response.data
      
      } else if (error.request) {
         message = error.request
       } else {
         message = error.message   
     
       }

      vm.block = false
      vm.$Progress.fail()
      vm.$snotify.error(error.message, '¡Error!', {
      timeout: 5000,
      showProgressBar: false,
      closeOnClick: false,
      pauseOnHover: true
    });
      return Promise.reject(error)
    })

    axios.interceptors.response.use(function (response) {
      vm.block = false
      vm.$Progress.finish()
      return response
    },
    function (error) {
     let message = ''
      if (error.response) {
        message = error.response.data
      
      } else if (error.request) {
         message = error.request
       } else {
         message = error.message   
     
       }

      vm.block = false
      vm.$Progress.fail()
      vm.$snotify.error(message, '¡Error!', {
      timeout: 5000,
      showProgressBar: false,
      closeOnClick: false,
      pauseOnHover: true
    });
      return Promise.reject(error)
    })
  }
}
</script>

<style>
@import '../node_modules/vue-snotify/styles/material.css'
</style>

