 
<template>
 <div id="menubar" style="z-index:999" class="menubar-inverse">
    <div class="menubar">
      <div>
        <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>
    <div class="menubar-scroll-panel">
      <ul id="main-menu" class="gui-controls">
        <li class="gui-folder" v-if="m.SubModulos.length > 0" v-for="m in menu" :key="m.Id" >             
        <a>
            <div class="gui-icon">
              <div v-html="m.Icono">
              </div>            
            </div>
            <span class="title">{{m.nombre}}</span>
         </a>         
          <!--start submenu -->
          <ul style="overflow: hidden; height: 308px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
            <li v-for="sm in m.SubModulos" :key="sm.Id">
              <router-link   :to="`/${sm.componente}`" >{{sm.nombre}}</router-link>                  
            </li>           
          </ul>          
        </li>
      </ul>
      <div class="menubar-foot-panel">
        <small class="no-linebreak hidden-folded">
          <span class="opacity-75">Copyright &copy; 2019</span>
          <strong></strong>
        </small>
      </div>
    </div>
    <!--end .menubar-scroll-panel-->
  </div>

</template>
<style scoped>
.router-link-active {
  color: rgb(38, 12, 129);
  font-weight: bolder;
}

#menubar .menubar-scroll-panel {
    position: relative;
    padding-top: 40px;
    z-index: 2;
    min-height: 100%;
}
</style>

<script>
import Vue from "vue";
import axios from "axios";
export default {
  name: "app_menu",
  data() {
    return {
      menu: [],
      token: Vue.localStorage.get("token"),
      tipoUsuario: Vue.localStorage.get("USER_TYPE"),
      header: {
        headers: {
          Authorization: "Basic " + this.token
        }
      }
    };
  },
  components: {},
  created() {
    let vm= this;
     let body = {
      tipoUsuario: Vue.localStorage.get("USER_TYPE"),
      op:1
    };
    axios
      .post("/Usuario/GetObtenModulosUsuario", body, this.header)
      .then(res => {
        vm.menu = res.data.GetObtenModulosUsuarioResult
        console.log(res);
      }); 
  },
  methods: {},
  props: {
    msg: String
  }
};
</script>