 <template>
  <div class="headerbar-right">
      <ul class="header-nav header-nav-profile">
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
            <img src="../assets/logo.png" alt="" width="50" />
            <span class="profile-info">             
              <small>{{correo}}</small>
            </span>
          </a>
          <ul class="dropdown-menu animation-dock">
            <li @click="logout">
              <a  >
                <i class="fa fa-fw fa-power-off text-danger"></i> Logout</a>
            </li>
            <li>
              <a >
                <i class="fa fa-fw fa-key text-danger"></i> Cambiar contraseña</a>
            </li>
          </ul>        
        </li>       
      </ul>    
    </div>
</template>
<script>
import Vue from 'vue';
import global from '../globals'
export default {
  name: 'app_usermenu',
   data () {
    return {
      correo:  Vue.localStorage.get('correo'),    
    }
  },
  methods: {
    logout(){
      global.ClearSession(Vue)
      location.reload();
    }
  },
  props: {
    msg: String
  }
}
</script>