<template>
  <div id="dashboard">
      <title-bar :title="title" :subtitle="subtitle"></title-bar>       
       <div class="card">

         <div class="card-body">
           <!--  v-if="USER_TYPE== 'SUPERVISOR'" -->
           <div class="col-md-4 text-center">
                <img :src="LogoAplicacion" width="200" height="150">
                <h4><b>{{sistema.nombreSistema}}</b></h4>
           </div>
            <div class="col-md-4" >
               <div class="col-md-12 card tarjeta">
                 <div class="card-body">
                 <div class="col-md-8">
                   <img width="200" height="100" src="../assets/undraw_Credit_card_re_blml.svg">
                 </div>
                 <div class="col-md-4 ">
                   <router-link  class="titulo-ds"  to="/venta">  Realizar Venta</router-link>
                 </div>
                 </div>
               </div>
               <div class="col-md-12 card  tarjeta">
                 <div class="card-body">
                  <div class="col-md-8">
                   <img width="200" height="100" src="../assets/undraw_attached_file_n4wm.svg">
                 </div>
                 <div class="col-md-4">
                   <router-link  class="titulo-ds"  to="/resumenventas"> Reporte de Ventas</router-link>
                 </div>
                 </div>
               </div>
               <div class="col-md-12 card tarjeta">
                 <div class="card-body">
                  <div class="col-md-8">
                   <img width="200" height="100" src="../assets/undraw_web_shopping_dd4l.svg">
                 </div>
                 <div class="col-md-4">
                    <router-link  class="titulo-ds"  to="/articulo/nuevo"> Registrar Producto</router-link>
                 </div>
               </div>
              </div>
            </div>
            <!-- v-if="USER_TYPE== 'SUPERVISOR'" -->
            <div class="col-md-4" >
               <div class="col-md-12 card tarjeta">
                 <div class="card-body">
                 <div class="col-md-8">
                   <img width="200" height="100" src="../assets/undraw_credit_card_payment_yb88.svg">
                 </div>
                 <div class="col-md-4">
                   <router-link  class="titulo-ds"  to="/cliente/nuevo"> Registrar Cliente</router-link>
                 </div>
                 </div>
               </div>
               <div class="col-md-12 card tarjeta">
                 <div class="card-body">
                  <div class="col-md-8">
                   <img width="200" height="100" src="../assets/undraw_Note_list_re_r4u9.svg">
                 </div>
                 <div class="col-md-4">
                   <router-link  class="titulo-ds"  to="/ventas"> Listado de Ventas</router-link>
                 </div>
                 </div>
               </div>
               <div class="col-md-12 card tarjeta">
                 <div class="card-body">
                  <div class="col-md-8">
                   <img width="200" height="100" src="../assets/undraw_report_mx0a.svg">
                 </div>
                 <div class="col-md-4">
                   <router-link  class="titulo-ds"  to="/reporteInventario"> Reporte de Inventario</router-link>
                 </div>
                 </div>
               </div>

            </div>
          
         </div>
       </div>
  </div>
</template>

<script>
import titleBar from '../components/titleBar'
import dscard from '../components/ds-card'
import Vue from 'vue'
import axios from 'axios'
import global from '../globals'
export default {
  name: 'dashboard',
  data () {
    return {
      title: 'Administración',
      subtitle: '',
      LogoAplicacion:'',
      sistema:'',
      USER_TYPE: Vue.localStorage.get('USER_NAME')      
    }
  }, 
  mounted(){
    console.log(this.USER_TYPE)
    this.ObtenConfiguracion()
  } ,
  methods:{
    ObtenConfiguracion(){
      let vm = this;
      axios.get('SistemaGeneral/GetSistemaGeneral').then(function(res){
         vm.sistema = res.data.GetSistemaGeneralResult;
         vm.LogoAplicacion = global.URL_IMAGE_LOGOS + res.data.GetSistemaGeneralResult.logoSistema
          vm.LogoReportes = global.URL_IMAGE_LOGOS + res.data.GetSistemaGeneralResult.logoReportes
      });
    },
  },
  components: {
    titleBar,
    dscard
  }

}
</script>

<style>
.titulo-ds{
  font-size: 20px;
  font-weight: bold;;
  text-align: center;
  text-decoration: none;
}
.titulo-ds:hover{
  color: #743094;
  text-decoration: none;
}
.tarjeta:hover{
  background-color: #efefef;
}
</style>