<template>
  <div class="home">
     <!-- <app-Header></app-Header>  -->
  <div id="base">
    <div id="content">
      <section>
         <router-view></router-view>
      </section>     
      </div>
    </div>
  
  <app-menu></app-menu>  
    <vue-progress-bar></vue-progress-bar>    
 </div>  
</template>

<script>
import appHeader from './app_header' 
import appMenu from './app_menu'
import Vue from 'vue'
export default {
  name: 'home',
  data () {
    return { 
    
    }
  },
  mounted () {
    if (!Vue.localStorage.get('ACCESS_TOKEN')) {
      this.$router.push('/')     
    }
  },
   components: {   
    appMenu,
    appHeader
  }
}
</script>

<style>
#content{
  padding-top: 30px !important;
}
</style>


