<template>
<div class="venta" @click.ctrl.exact="submit">
 <div class="row">
   <div class="card">
  <!--     <div class="col-md-2"><b>No. Venta:</b> {{referencia}}</div>
      <div class="col-md-2"><b>Fecha:</b> {{fecha}}</div>
      <div class="col-md-3"><b>Sucursal:</b> {{SUCURSAL}}</div>
      <div class="col-md-2"><b>Cajero:</b> {{USER_NAME}}</div> -->
           
        <div class="col-md-12 col-sm-12">
       
    <div class="col-md-8 col-xs-12">
      <input type="text" 
      class="form-control" 
      v-model="upc"  
      autocomplete="off" 
      placeholder="Escanea articulo o ingresa clave de articulo" 
      v-on:keydown.enter.prevent="getArticulo">
  </div>
  <div class="col-md-4 col-xs-12">
    <button class="btn btn-block btn-default-dark" type="button" @click="buscar()"><i class="bi bi-search"></i> Buscar</button>
 
  </div>


     </div>
    

   </div>

 </div>

 <div class="card bg-white">
     <div class="card-body">
        <div class="col-md-8"> 
          <div class="row">
          <div class="table-responsive">       
           <table class="table table-responsive">
             <thead>
                <th>UPC</th>
                <th>DESCRIPCION</th>
                <th>CANT</th>
                <th>PRECIO</th>
                <th>TOTAL</th>
                <th ></th>
                <th ></th>
             </thead>
             <tbody>
               <tr v-for="x in articulos" :key="x.id">
                <td>{{x.upc}}</td>
                <td>{{x.nombre}}</td>
                <td>{{x.cantidad}}</td>
                <td>{{x.precio}}</td>
                <td>{{x.total}}</td>
                <td>
                    <button class="btn btn-info btn-sm" @click="reduceItem(x.id,2)" ><i class="fa fa-minus"></i></button>
                    <button class="btn btn-success btn-sm" @click="agregaItemVenta(x.id)"><i class="bi bi-plus-lg"></i></button>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm"  @click="muestraPregunta(1,x)" ><i class="bi bi-trash"></i></button>
                </td>
               </tr>
             </tbody>
         </table>
       </div>
        </div>
        <hr>
        <div class="row">
          
        <div class="col-md-4">
          <br>
         <button class="btn btn-success  btn-block" :disabled="total==0" @click="muestraOpcion(4)"><i class="fa fa-credit-card"></i> Pagar venta</button>
       </div>
       <div class="col-md-4">
         <br>
            <button class="btn btn-danger  btn-block " :disabled="total==0" @click="muestraOpcion(6)"><i class="bi bi-trash"></i> Cancelar Venta</button>
       </div>

        </div>
       
     </div>
      <div class="col-md-4 ">
        <div class="col-md-12 venta-precio">
          <img src="../assets/credit-card.png">
             <span>Total {{total | currency}}</span>         
        </div>
        
            <div class="col-md-12 col-xs-12 " style="margin-top:60px">
              
          </div>
          <div class="col-md-12 col-xs-12">
           
          </div>
        
    </div>
     </div>
    
 </div>

<modal name="modal-iniciaVenta" 
:adaptive="true"
:clickToClose="false" >
<opcionesventa />
</modal>

<modal name="elimina-articulo">
  <div class="col-md-8 col-md-offset-2">
       <h1 class="text-center text-danger">Atención</h1>
       <h2><b>{{mensaje}}</b> </h2>
  </div>
 <div class="col-md-12">
   <div class="col-md-6 col-md-offset-6">
       <div class="col-md-4">
          <button class="btn btn-success btn-xl " @click="ok(1)">Aceptar</button>
       </div>
       <div class="col-md-4">
           <button class="btn btn-default btn-xl " @click="$modal.hide('elimina-articulo')">Cancelar</button>
       </div>
   </div>
 </div>
</modal>

<modal name="modal-pago"
  transition="nice-modal-fade"
        classes="demo-modal-class"
        :min-width="200"
        :min-height="200"
        :max-width="500"
        :pivot-y="0.5"
        :adaptive="true"
        :scrollable="true"
        :reset="true"
        width="90%"
        height="auto"
 >
  <pagoventa :ventaId="ventaId" :IDCliente="IDCliente" :tipoVenta="tipoVenta"></pagoventa>      
</modal>

<modal name="modal-ticket" :width="400" :height="700" :clickToClose="false" >
  <imprimeticket :srcticket="srcticket"></imprimeticket>      
</modal>

<modal name="modal-eligeSucursal" :width="500" :height="200" :clickToClose="false">
    <eligesucursal></eligesucursal>
</modal>

<modal name="modal-cancelaVenta" :width="500" :height="180" :clickToClose="true">
    <cancelaventa :ventaId="ventaId"></cancelaventa>
</modal>

<modal name="modal-autorizacion" :width="500" :height="300" :clickToClose="true">
    <autorizacion></autorizacion>
</modal>

<modal name="modal-envioticket" :width="500" :height="300" :clickToClose="true">
    <envioticket :ventaId="ventaId"></envioticket>
</modal>



<modal name="modal-cambio"  :width="600"  :height="400" :clickToClose="false" >
  <div class="modalcambio">
     <h1>Venta Terminada </h1> 
    <h2>CAMBIO:</h2>
    <h2>{{cambio | currency}}</h2> 
    <br>
    <button class="btn btn-default  btn-pagar  btn-xl" onclick="location.reload()"> Aceptar</button>
  </div>
</modal>

<modal name="busqueda-cliente" :width="800"  :height="500" :clickToClose="true">
    <busquedaCliente :ventaId="ventaId"></busquedaCliente>
</modal> 

<modal name="consulta-precio" :width="500"  :height="500" :clickToClose="true">
    <consultaprecio></consultaprecio>
</modal> 
<modal name="modal-precio-credito" :width="500"  :height="500" :clickToClose="true">

  <modalpreciocredito :ventaId="ventaId" :articuloId="articuloId"></modalpreciocredito>
</modal>


</div>  
</template>

<script>



import Vue from 'vue'
import axios from 'axios'
import articulobusqueda from '../components/busquedaArticulo'
import articulobusquedaupc from '../components/busquedaArticuloUPC'
import opcionesventa from '../components/opcionesVenta'
import pagoventa from '../components/pagoVenta'
import imprimeticket from '../components/imprimeTicket'
import eligesucursal from '../components/modals/modal_eligeSucursal'
import cancelaventa from '../components/modals/modal_cancelaVenta'
import busquedaCliente from '../components/modals/modal_busquedaCliente'
import consultaprecio from '../components/modals/modal_consultaPrecio'
import autorizacion from '../components/modals/modal_autoriza'
import envioticket from '../components/modals/modal_enviaticket'
import busquedaavanzada from '../components/busquedaavanzada'
import modalpreciocredito from '../components/modals/modal_precioCredito.vue'
import { EventBus } from '../../event-bus'
import {Money} from 'v-money'
import global from '../globals'


export default {
  name: 'venta',
  data () {
    return {
        USER_NAME:Vue.localStorage.get('USER_NAME'),      
        MACHINE_NAME: '',        
        SUCURSAL:Vue.localStorage.get('USER_SUCURSAL_NOMBRE') ,
        CAJA: '',
        SUCURSAL_ID: 0,
        CAJA_ID: 1,
        USER_ID: Vue.localStorage.get('USER_ID'),
         USER_CANCELA_VENTA: Vue.localStorage.get('USER_CANCELA_VENTA'),
        fecha:'',
        referencia:'',
        total: 0,
        ventaId: 0,
        articulos: [],
        articuloEliminar: {},
        mensaje:'',
        cambio: 0,
        selected:{} ,
        srcticket:'' ,
        IDCliente: 0,
        razonsocial:'Publico en General',
        tipoVenta:1,
        envioticket:false,
        articuloId:0,
        upc: '',
         search : '',
      articulos_busqueda: []
    }
  },

  created () {
    if (!Vue.localStorage.get('ACCESS_TOKEN')) {
       this.$router.push('/')
    }
  },
  mounted () {

/*    window.addEventListener('mousemove',function(event){
       console.log(event)
   }); */
   let vm = this;
 /*   window.addEventListener('keydown', function(event) {
       console.log(event )
   }
   ) */
   window.addEventListener("keydown", function(event) {
       console.log(event )
      if(event.code == "Space" ){
          vm.$modal.show('consulta-precio');
             return false;
      }
      

  });

    window.addEventListener("keydown", function(event) {
      if(event.code == "ShiftRight" ){
        vm.muestraOpcion(4)
             return false;
      }
      
  
  });

    window.addEventListener("keydown", function(event) {
       console.log(event )
      if(event.code == "ShiftLeft" ){
         vm.muestraOpcion(4)
          return false;
      }
      
     
  });



    
    EventBus.$on("SETCLIENTE", data => {
      console.log(data);
      this.IDCliente = data.id;
      this.razonsocial = data.razonSocial
      console.log(this.IDCliente);
    });

    this.$modal.show('modal-iniciaVenta')

   


     EventBus.$on("accept_modal_precioCredito", data => {

      this.agregaItemCredito(data)
      this.$modal.hide('modal-precio-credito')
    });

    
   EventBus.$on("CANCELA_VENTA", data => {
      this.$modal.hide('modal-cancelaVenta')
      this.iniciaVenta()  
    });
    EventBus.$on("CLOSE_ENVIOTICKET", data => {
      this.$modal.hide('modal-envioticket')
       
    });
    

     EventBus.$on("AUTORIZADO", data => {
      this.$modal.show('modal-cancelaVenta')
      
    });

     EventBus.$on("NO_AUTORIZADO", data => {
      this.$modal.hide('modal-autorizacion')
  
    });

    
     EventBus.$on("INICIA_VENTA", data => {
       this.tipoVenta=1;
     this.iniciaVenta()     
     });
      EventBus.$on("INICIA_VENTA_CREDITO", data => {
        this.tipoVenta=2;
     this.iniciaVenta()     
     });
     EventBus.$on("TERMINA_VENTA", data => {
         this.cambio = data.cambio;
         this.$modal.hide('modal-pago')
         this.$modal.show('modal-ticket')
         if(this.envioticket == true){
            this.$modal.show('modal-envioticket')
         }
        
         //this.$modal.show('modal-cambio')         
         axios.post('/Venta/GetVentaTicket',{'ventaId': data.ventaId,usuarioId:0,reimpresion:0,motivoId:0}).then((res) => {
             this.srcticket = global.URL_REPORTS + res.data.GetVentaTicketResult
             this.limpiaVariables()
             
         });
        
    }); 

    EventBus.$on('CLOSE_TICKET' , data =>{
        this.$modal.hide('modal-ticket')
        this.$modal.show('modal-iniciaVenta')
        //this.iniciaVenta()
     })
    // this.iniciaVenta()   
    //this.$modal.show('modal-iniciaVenta')  
    this.getBanco()

    axios.get('SistemaGeneral/GetSistemaGeneral').then(function(res){
       this.envioticket = res.data.GetSistemaGeneralResult.envioticket;
     });
  },
    beforeDestroy() {  
   EventBus.$off('accept_modal_precioCredito')
},
  updated(){
  
  },
  methods: { 
      submit() {
        
         this.$modal.show('consulta-precio');
         
      },     
      getArticulo() {
      axios.get('/Articulo/GetArticuloUPC?upc=' + this.upc).then((res) => {       
          if(res.data.GetArticuloUPCResult){
              this.agregaItem(res.data.GetArticuloUPCResult.id)
          }
          else{
           this.$snotify.error('No se encontró ningun artículo con la clave proporcionada', '¡Atención!')
          }          
          this.upc = '';   
      })
       
    },
       
     showPanel() {
    const panel1Handle = this.$showPanel({
      component :busquedaavanzada,
      openOn:'right',
      disableBgClick:true,
      props: {
        ventaId:this.ventaId
      }
    })

    panel1Handle.promise
      .then(result => {
        console.log(result)
        this.getItems()
      });
  },
      limpiaVariables(){
        this.referencia=''
        this.total= 0
        this.ventaId= 0
        this.articulos=0
        this.articuloEliminar={}
        this.mensaje=''
        this.cambio= 0
        this.selected={}        
        this.IDCliente= 0

      },
      iniciaVenta () {

          if(Vue.localStorage.get('USER_SUCURSAL')) {

             this.$modal.hide('modal-eligeSucursal')
              this.SUCURSAL = Vue.localStorage.get('USER_SUCURSAL_NOMBRE')
              let req = {
              sucursalId: Vue.localStorage.get('USER_SUCURSAL'),
              cajeroId: this.USER_ID,
              }

            axios.post('/Venta/GetIniciaVenta',JSON.stringify(req)).then((res) => { 
                this.$modal.hide('modal-iniciaVenta')           
                this.fecha=res.data.GetIniciaVentaResult.fecha2
                this.referencia= res.data.GetIniciaVentaResult.referencia
                this.ventaId = res.data.GetIniciaVentaResult.id
                this.getItems()
            })            

          }
           else {

               this.$modal.show('modal-eligeSucursal')
          }
        


          
      }, 
      agregaItemCredito(data){
        var params={
          ventaId:data.ventaId,  
          articuloId:data.articuloId, 
           meses:data.mes,  
           precio: data.precio
        }
        axios.post('/Venta/AgregaItemVentaCredito',params).then((res) => {          
          this.getItems()     
                       
        })
      },
      agregaItemVenta(articuloId){
          let params={
            ventaId: this.ventaId,
            articuloId:articuloId
          }
          axios.post('/Venta/AgregaItemVenta',params).then((res) => {          
          this.getItems()               
          })
      },
      agregaItem (articuloId) {
         this.$modal.hide('consulta-precio'); 
        if(this.tipoVenta == 2){
            this.articuloId = articuloId           
            this.$modal.show('modal-precio-credito')
            
        }
        else{

          let params={
            ventaId: this.ventaId,
            articuloId:articuloId
          }
          axios.post('/Venta/AgregaItemVenta',params).then((res) => {          
          this.getItems()               
          })
       }
        
      },
      reduceItem (articuloId,op) {
        let params={
            ventaId: this.ventaId,
            articuloId:articuloId,
            op:op
        }       
         axios.post('/Venta/DeleteItemVenta',params).then((res) => {
          this.getItems()
         
        })   
      },
      getItems () {
          let vm = this
          let params = {
              ventaId: this.ventaId
          }
          axios.post('/Venta/GetItemsVenta',params).then((res) => {           
           vm.articulos = res.data.GetItemsVentaResult
           vm.obtenTotal()
          })
      },
      muestraPregunta (op,articulo) {          
         if(op==1){
             this.selected = articulo
             this.mensaje='¿Estas seguro de eliminar el siguiente articulo de la venta? ' + articulo.descripcion
             this.$modal.show('elimina-articulo');
         }
      },
    
    ok (op) {
        if(op == 1) {
            this.reduceItem(this.selected.id, 1);
            this.$modal.hide('elimina-articulo')
        }        
    },
    obtenTotal () {
        let vm= this
        let params= {
            ventaId:this.ventaId
        }
       axios.post('/Venta/GetVentaTotal',params).then((res) => {
            vm.total=res.data.GetVentaTotalResult
        })
       
    },      
    muestraOpcion(op){
       if(op==4){
           this.$modal.show('modal-pago')
       }
        if(op==6){
            console.log(this.USER_CANCELA_VENTA )
           if(this.USER_CANCELA_VENTA  == 'true') {
               this.$modal.show('modal-cancelaVenta')
           }
           if(this.USER_CANCELA_VENTA  == 'false') {
               this.$modal.show('modal-autorizacion')
           }
           
           
        }
    },
    muestraBusquedaCliente () {
        this.$modal.show('busqueda-cliente');
    },
    consultaPrecio(){

      this.$modal.show('consulta-precio');

    },
    
  },
  components:{
      articulobusqueda,
      articulobusquedaupc,
      Money,
      opcionesventa,
      pagoventa,
      imprimeticket,
      eligesucursal,
      cancelaventa,
      autorizacion,
      busquedaCliente,
      consultaprecio,
      busquedaavanzada,
      envioticket,
      modalpreciocredito
}
}
</script>

<style>
.venta-opciones{
    padding: 15px;
    border: solid 3px #6e4caf;
    border-top: none;
    -webkit-box-shadow: 2px -16px 20px -10px rgba(81,37,199,1);
    -moz-box-shadow: 2px -16px 20px -10px rgba(81,37,199,1);
    box-shadow: 2px -16px 20px -10px #4b1354;

}
.venta-precio{
    padding: 20px;
    background: #6e4caf;
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.btn-accion-venta {
    font-size: 15px;
    width: auto !important;
    height: 50px;
}


.btn-servicio{
    width: 500px !important;
}
.modaliniciaVenta{
    background: rgb(23, 0, 150);;
    color: white;
    padding: 50px;
    text-align: center;
    min-height: 400px;
}
.modalcambio{
    background: rgb(27, 181, 21);
    color: white;
    padding: 50px;
    text-align: center;
    min-height: 400px;
}
.modalcambio h2{
    font-size: 50px;
}
.tblbusqueda{
    margin-top: 30px;
   max-height: 400px;
   overflow-y: scroll;
}
.formbusqueda{
    padding: 20px;
}
.panel-venta{
 max-height: 500px;
 overflow-y: scroll;
}
.panel-opciones{
 max-height: 500px;
}
.colorPrincipalVenta{
background-color: #3F51B5;
}
.informacion-venta{
    color: black;
   /*  padding: 10px; */
}
</style>


