<template v-on:keyup="keymonitor">
  <div class="ventarapida card col-md-8 col-md-offset-2" style="margin-top:30px" >
      <div class="card-body text-center">
<div class="row">
    <h3 style=" color:crimson;"><b>PAPELERIA CARLITOS</b></h3></div>
                  <div class="row">
   <input type="text" 
      class="form-control" 
      v-model="upc"  
      autocomplete="off" 
      placeholder="Escanea articulo o ingresa clave de articulo" 
      v-on:keydown.enter.prevent="getArticulo">
    </div>
    <hr>
    <div class="row">
          <h2>Nombre: {{nombre}}</h2>
          <h3>Descripción: {{descripcion}}</h3>
          <h2>Precio: {{precio | currency}}</h2>

    </div>
    <hr>
    <div class="row">
        <button class="btn btn-block btn-success">Vender</button>
    </div>

      </div>
      

 </div>  
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
export default {
  name: 'ventarapida',
  data () {
    return { 
        upc:'',
    nombre:'',
    descripcion:'',
    precio:''
    }
  },
  mounted () {
    
  },
   methods: {
       keymonitor: function(event) {
        console.log(event.key);
       if(event.key == "Enter")
       {
         console.log("enter key was pressed!");
       }
       },
      getArticulo() {
            this.nombre='',
          this.descripcion='',
           this.precio=''  
      axios.get('/Articulo/GetArticuloUPC?upc=' + this.upc).then((res) => {       
          if(res.data.GetArticuloUPCResult){
             console.log(res.data)
             this.nombre =  res.data.GetArticuloUPCResult.nombre
             this.precio =  res.data.GetArticuloUPCResult.precioLista
             this.descripcion =  res.data.GetArticuloUPCResult.descripcion
          }
          else{
           this.$snotify.error('No se encontró ningun artículo con la clave proporcionada', '¡Atención!')
          }          
          this.upc = ''; 
        
      })
       
    }
  },
   components: {  
  }
}
</script>

<style>
#content{
  padding-top: 30px !important;
}
</style>